Solutions/TDG_NOP_Flows/unpack/Workflows/ProcessFollow-Ups-8E207C9A-065D-EC11-8F8E-000D3A843476.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseLegacyServicePrinciple"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "2b68f1a4-59c6-49ba-8688-743fc536f10a"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "ovs_cdnopid": {
                            "title": "NOP",
                            "type": "string",
                            "format": "guid"
                          },
                          "_ovs_cdfiscalyearid_value": {
                            "title": "Fiscal Year",
                            "type": "string",
                            "format": "guid"
                          }
                        },
                        "required": [
                          "ovs_cdnopid",
                          "_ovs_cdfiscalyearid_value"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataservice']['connectionId']"
              }
            },
            "operationId": "GetOnNewItems_V2",
            "parameters": {
              "dataset": "default.cds",
              "table": "ovs_cdnops"
            }
          }
        }
      },
      "actions": {
        "Get_Regional_NOPs": {
          "runAfter": {
            "Set_GC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "361925d7-ca2e-46e6-a5a8-b175cf6fc0e2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_cdregionalnops",
              "$select": "ovs_cdregionalnopid,ownerid",
              "$filter": "(_ovs_cdnopid_value eq '@{triggerBody()?['entity']?['ovs_cdnopid']}')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "For_Each_Regional_NOP": {
          "foreach": "@outputs('Get_Regional_NOPs')?['body/value']",
          "actions": {
            "List_Work_Order_Candidates_By_Region_-_CG_IPT_Type": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "54ce380d-7864-4f3e-bab9-37a62e0f8c14"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_workordercandidates",
                  "$filter": "(_ovs_regionalnop_value eq '@{items('For_Each_Regional_NOP')?['ovs_cdregionalnopid']}' and _ovs_oversighttype_value eq '@{variables('GCIPTOversightType')}') and (ovs_operationid/ovs_followupind eq true and ovs_operationid/statecode eq 0)",
                  "$expand": "ovs_operationid($select=ovs_hubind,ovs_name)"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "For_Each_WOC": {
              "foreach": "@outputs('List_Work_Order_Candidates_By_Region_-_CG_IPT_Type')?['body/value']",
              "actions": {
                "Condition": {
                  "actions": {
                    "Apply_to_each": {
                      "foreach": "@outputs('Get_Q2')?['body/value']",
                      "actions": {
                        "Clone_WOC_for_Q2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "022c3101-bf1a-4ed9-9649-0b227ea83be7"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "ovs_workordercandidates",
                              "item/ovs_site@odata.bind": "/accounts/@{items('For_Each_WOC')?['_ovs_site_value']}",
                              "item/statuscode": 1,
                              "item/ovs_hqflag": true,
                              "item/ovs_initialrecommendation": 918640000,
                              "item/ovs_name": "WOC - @{items('For_Each_WOC')?['ovs_operationid/ovs_name']}",
                              "item/ovs_operationid@odata.bind": "/ovs_mocregistrations/@{items('For_Each_WOC')?['_ovs_operationid_value']}",
                              "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('HubOversightType')}",
                              "item/ownerid@odata.bind": "/teams/@{items('For_Each_Regional_NOP')?['_ownerid_value']}",
                              "item/ovs_plannedfiscalyear@odata.bind": "/tc_tcfiscalyears/@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}",
                              "item/ovs_plannedquarter@odata.bind": "/tc_tcfiscalquarters/@{variables('Q2 Id')}",
                              "item/ovs_regionflag": true,
                              "item/ovs_regionalnop@odata.bind": "/ovs_cdregionalnops/@{items('For_Each_WOC')?['_ovs_regionalnop_value']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ef31727d-5517-48bb-bc4c-5fcb284c679c"
                      },
                      "type": "Foreach"
                    },
                    "Apply_to_each_2": {
                      "foreach": "@outputs('Get_Q3')?['body/value']",
                      "actions": {
                        "Clone_WOC_for_Q3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "52454c7d-00bb-427a-a016-8cf4f58442b8"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "ovs_workordercandidates",
                              "item/ovs_site@odata.bind": "/accounts/@{items('For_Each_WOC')?['_ovs_site_value']}",
                              "item/statuscode": 1,
                              "item/ovs_hqflag": true,
                              "item/ovs_initialrecommendation": 918640000,
                              "item/ovs_name": "WOC - @{items('For_Each_WOC')?['ovs_operationid/ovs_name']}",
                              "item/ovs_operationid@odata.bind": "/ovs_mocregistrations/@{items('For_Each_WOC')?['_ovs_operationid_value']}",
                              "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('HubOversightType')}",
                              "item/ownerid@odata.bind": "/teams/@{items('For_Each_Regional_NOP')?['_ownerid_value']}",
                              "item/ovs_plannedfiscalyear@odata.bind": "/tc_tcfiscalyears/@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}",
                              "item/ovs_plannedquarter@odata.bind": "/tc_tcfiscalquarters/@{variables('Q3 Id')}",
                              "item/ovs_regionflag": true,
                              "item/ovs_regionalnop@odata.bind": "/ovs_cdregionalnops/@{items('For_Each_WOC')?['_ovs_regionalnop_value']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Apply_to_each": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b67ee295-68c8-43f9-a47f-e7867760e05f"
                      },
                      "type": "Foreach"
                    },
                    "Clear_Operation_Flags_+_Set_Hub_Flag": {
                      "runAfter": {
                        "Apply_to_each_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c81638ac-b933-4c96-98d1-dbb74180fffe"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ovs_mocregistrations",
                          "recordId": "@items('For_Each_WOC')?['_ovs_operationid_value']",
                          "item/ovs_accidentind": false,
                          "item/ovs_cepind": false,
                          "item/ovs_followupind": false,
                          "item/ovs_hubind": true,
                          "item/ovs_targetedind": false
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Apply_to_each_3": {
                      "foreach": "@outputs('Get_Q1')?['body/value']",
                      "actions": {
                        "Clone_WOC_for_Q1": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ee37e5e7-6256-4aec-bc0d-7e91d6a96bd9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "ovs_workordercandidates",
                              "item/ovs_site@odata.bind": "/accounts/@{items('For_Each_WOC')?['_ovs_site_value']}",
                              "item/statuscode": 1,
                              "item/ovs_hqflag": true,
                              "item/ovs_initialrecommendation": 918640000,
                              "item/ovs_name": "WOC - @{items('For_Each_WOC')?['ovs_operationid/ovs_name']}",
                              "item/ovs_operationid@odata.bind": "/ovs_mocregistrations/@{items('For_Each_WOC')?['_ovs_operationid_value']}",
                              "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('HubOversightType')}",
                              "item/ownerid@odata.bind": "/teams/@{items('For_Each_Regional_NOP')?['_ownerid_value']}",
                              "item/ovs_plannedfiscalyear@odata.bind": "/tc_tcfiscalyears/@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}",
                              "item/ovs_plannedquarter@odata.bind": "/tc_tcfiscalquarters/@{variables('Q1 Id')}",
                              "item/ovs_regionflag": true,
                              "item/ovs_regionalnop@odata.bind": "/ovs_cdregionalnops/@{items('For_Each_WOC')?['_ovs_regionalnop_value']}"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d4504616-10dc-4183-a97c-862851921fb2"
                      },
                      "type": "Foreach"
                    },
                    "Set_Oversight_Type_To_Targeted": {
                      "runAfter": {
                        "Clear_Operation_Flags_+_Set_Hub_Flag": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "79165ae9-d4f2-4182-b6c9-91eca7b39ecf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ovs_workordercandidates",
                          "recordId": "@items('For_Each_WOC')?['ovs_workordercandidateid']",
                          "item/ovs_hqflag": true,
                          "item/ovs_initialrecommendation": 918640000,
                          "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('HubOversightType')}",
                          "item/ovs_plannedquarter@odata.bind": "/tc_tcfiscalquarters/@{variables('Q4 Id')}",
                          "item/ovs_regionflag": true
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Clear_Operation_Flags_+_Set_Follow-Up_Flag": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e9238127-f783-4d11-9b88-6b0a1e2926d9"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ovs_mocregistrations",
                            "recordId": "@items('For_Each_WOC')?['_ovs_operationid_value']",
                            "item/ovs_accidentind": false,
                            "item/ovs_cepind": false,
                            "item/ovs_followupind": true,
                            "item/ovs_hubind": false,
                            "item/ovs_targetedind": false
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      },
                      "Set_Oversight_Type_To_Follow-Up": {
                        "runAfter": {
                          "Clear_Operation_Flags_+_Set_Follow-Up_Flag": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "79165ae9-d4f2-4182-b6c9-91eca7b39ecf"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ovs_workordercandidates",
                            "recordId": "@items('For_Each_WOC')?['ovs_workordercandidateid']",
                            "item/ovs_hqflag": true,
                            "item/ovs_initialrecommendation": 918640000,
                            "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('FollowUpOversightType')}",
                            "item/ovs_regionflag": true
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('For_Each_WOC')?['ovs_operationid/ovs_hubind']",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "687c99a3-de5c-41d2-9be5-2705413c4168"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_Work_Order_Candidates_By_Region_-_CG_IPT_Type": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5e0cad0d-94ae-4d04-9634-a88a8980c92d"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Get_Regional_NOPs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8acc5924-dd9f-4d60-9841-530cd6b8c3b3"
          },
          "type": "Foreach"
        },
        "Get_Q1": {
          "runAfter": {
            "Initialize_Q4_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9410109d-fa89-4d27-a5ba-f39329eaf1f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalquarters",
              "$select": "tc_tcfiscalquarterid",
              "$filter": "(_tc_tcfiscalyearid_value eq '@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}' and tc_name eq 'Q1')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Q2": {
          "runAfter": {
            "Get_Q1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "423cd40a-e139-4798-bfdd-12242300458b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalquarters",
              "$select": "tc_tcfiscalquarterid",
              "$filter": "(_tc_tcfiscalyearid_value eq '@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}' and tc_name eq 'Q2')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Q3": {
          "runAfter": {
            "Get_Q2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ba090fa-02a8-431d-beb2-3c775fc57b48"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalquarters",
              "$select": "tc_tcfiscalquarterid",
              "$filter": "(_tc_tcfiscalyearid_value eq '@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}' and tc_name eq 'Q3')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Q4": {
          "runAfter": {
            "Get_Q3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "930da312-6bd1-4641-b884-96193de84877"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalquarters",
              "$select": "tc_tcfiscalquarterid",
              "$filter": "(_tc_tcfiscalyearid_value eq '@{triggerBody()?['entity']?['_ovs_cdfiscalyearid_value']}' and tc_name eq 'Q4')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Oversight_Type_-_Follow-Up_Inspection": {
          "runAfter": {
            "Initialize_GC_IPT_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "689bd39b-071f-4265-8af9-3a238f303208"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_oversighttypes",
              "$select": "ovs_oversighttypeid",
              "$filter": "(ovs_oversighttypenameenglish eq 'GC Follow-up')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_Oversight_Type_-_Targeted": {
          "runAfter": {
            "Get_Oversight_Type_-_Follow-Up_Inspection": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9228e412-eb9a-40cd-a2f7-86feccd6da17"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_oversighttypes",
              "$select": "ovs_oversighttypeid",
              "$filter": "(ovs_oversighttypenameenglish eq 'GC Targeted')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_Q1_Id": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dd14ff82-896c-4275-8a5b-9509ecd0632c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Q1 Id",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Q2_Id": {
          "runAfter": {
            "Initialize_Q1_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a22f85fb-2371-427d-9b10-e5066ac53181"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Q2 Id",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Q3_Id": {
          "runAfter": {
            "Initialize_Q2_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b99eb31f-d6fc-4f45-97a1-48f0c8c36633"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Q3 Id",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Q4_Id": {
          "runAfter": {
            "Initialize_Q3_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "249a3c28-dbc7-4465-b59d-cb528f25300a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Q4 Id",
                "type": "string"
              }
            ]
          }
        },
        "Set_Q1_Id": {
          "runAfter": {
            "Get_Q4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "745e672f-c5ce-4cfa-b506-44c5e1029cb5"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Q1 Id",
            "value": "@{first(outputs('Get_Q1')?['body/value'])?['tc_tcfiscalquarterid']}"
          }
        },
        "Set_Q12_Id": {
          "runAfter": {
            "Set_Q1_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a276e31-14cc-42e0-aa8f-e69ae806840e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Q2 Id",
            "value": "@{first(outputs('Get_Q2')?['body/value'])?['tc_tcfiscalquarterid']}"
          }
        },
        "Set_Q3_Id": {
          "runAfter": {
            "Set_Q12_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2180000a-f0c1-4e29-a244-7bd47e722b6d"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Q3 Id",
            "value": "@{first(outputs('Get_Q3')?['body/value'])?['tc_tcfiscalquarterid']}"
          }
        },
        "Set_Q4_Id": {
          "runAfter": {
            "Set_Q3_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2f491485-715c-4003-a31b-23aa48bf21dd"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Q4 Id",
            "value": "@{first(outputs('Get_Q4')?['body/value'])?['tc_tcfiscalquarterid']}"
          }
        },
        "Initialize_Follow-Up_Oversight_Type": {
          "runAfter": {
            "Set_Q4_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e7dc138-1cd7-453c-b6cf-03842120dcc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FollowUpOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Hub_Oversight_Type": {
          "runAfter": {
            "Initialize_Follow-Up_Oversight_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e5f00368-a3ad-4550-9bf3-3c31d0a6b770"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HubOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Set_Follow-Up_Oversight_Type": {
          "runAfter": {
            "Get_Oversight_Type_-_GC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77873698-468c-4132-9c7f-e05394183a3e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "FollowUpOversightType",
            "value": "@{first(outputs('Get_Oversight_Type_-_Follow-Up_Inspection')?['body/value'])?['ovs_oversighttypeid']}"
          }
        },
        "Set_Hub_Oversight_Type": {
          "runAfter": {
            "Set_Follow-Up_Oversight_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cc92eeb7-3143-4861-8012-f47ed8b15b31"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "HubOversightType",
            "value": "@{first(outputs('Get_Oversight_Type_-_Targeted')?['body/value'])?['ovs_oversighttypeid']}"
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "For_Each_Regional_NOP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ba12680e-e843-4822-804b-85d0ac7ebee2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "item/subject": "Follow-Up Flow Ran Successfully",
              "item/objectid_ovs_cdnop@odata.bind": "/ovs_cdnops/@{triggerBody()?['entity']?['ovs_cdnopid']}"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_GC_IPT_Type": {
          "runAfter": {
            "Initialize_Hub_Oversight_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e7dc138-1cd7-453c-b6cf-03842120dcc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GCIPTOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Get_Oversight_Type_-_GC_IPT": {
          "runAfter": {
            "Get_Oversight_Type_-_Targeted": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "689bd39b-071f-4265-8af9-3a238f303208"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_oversighttypes",
              "$select": "ovs_oversighttypeid",
              "$filter": "(ovs_oversighttypenameenglish eq 'GC IPT')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Set_GC_IPT": {
          "runAfter": {
            "Set_Hub_Oversight_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77873698-468c-4132-9c7f-e05394183a3e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "GCIPTOversightType",
            "value": "@{first(outputs('Get_Oversight_Type_-_GC_IPT')?['body/value'])?['ovs_oversighttypeid']}"
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}