Solutions/TDG_NOP_Flows/unpack/Workflows/TDGInspections-GenerateWorkOrderCandidates-577EA3A9-7B4C-EC11-8F8E-000D3AE8E96E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"4d2088cc-780b-472b-87ef-ffd89df806a7"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"ovs_cdregionalnop","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"c8918218-8097-4942-8c5c-58f099f3bf4a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_mocregistrations","$select":"ovs_name,_ovs_siteid_value,ovs_mocregistrationid,ovs_cdriskscore,ovs_cdpriorityscore,ovs_cdriskcategory","$filter":"(statecode eq 0) and (ovs_SiteId/_territoryid_value eq @{triggerOutputs()?['body/_ovs_cdregionid_value']})"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Add_a_new_row":{"runAfter":{},"metadata":{"operationMetadataId":"0b54c7b5-6639-4362-b9d1-bd47f9dbd9a0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_workordercandidates","item/ovs_name":"WOC - @{items('Apply_to_each')?['ovs_name']}","item/ovs_site@odata.bind":"/accounts/@{items('Apply_to_each')?['_ovs_siteid_value']}","item/statuscode":1,"item/ovs_operationid@odata.bind":"/ovs_mocregistrations/@{items('Apply_to_each')?['ovs_mocregistrationid']}","item/ovs_oversighttype@odata.bind":"/ovs_oversighttypes/@{outputs('Get_a_row_by_ID')?['body/ovs_oversighttypeid']}","item/ovs_cdpriorityscore":"@items('Apply_to_each')?['ovs_cdpriorityscore']","item/ovs_regionalnop@odata.bind":"/ovs_cdregionalnops/@{triggerOutputs()?['body/ovs_cdregionalnopid']}","item/ovs_cdriskcategory":"@items('Apply_to_each')?['ovs_cdriskcategory']","item/ovs_cdriskscore":"@items('Apply_to_each')?['ovs_cdriskscore']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_a_row_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"ecb78762-a632-4892-9f7c-175e0d3f648c"},"type":"Foreach"},"Get_a_row_by_ID":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"6ba361ca-ccda-455e-8d3f-7163af8c0eb7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_oversighttypes","recordId":"50d0bdf1-269e-eb11-b1ac-000d3ae924d1"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}