Solutions/TDG_NOP_Flows/unpack/Workflows/TDGInspections-GenerateWorkOrderCandidates-577EA3A9-7B4C-EC11-8F8E-000D3AE8E96E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"4d2088cc-780b-472b-87ef-ffd89df806a7"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"ovs_cdregionalnop","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"For_Each_Operation":{"foreach":"@outputs('Get_All_Active_Operations_By_Region')?['body/value']","actions":{"Get_Current_WOCs_For_Operation":{"runAfter":{},"metadata":{"operationMetadataId":"a86c06ae-3473-4e5a-867d-26e466619ee8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_workordercandidates","$filter":"(_ovs_operationid_value eq '@{items('For_Each_Operation')['ovs_mocregistrationid']}'  and _ovs_plannedfiscalyear_value eq '@{triggerOutputs()?['body/_ovs_cdfiscalyearid_value']}')"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"For_Each_WOC":{"foreach":"@outputs('Get_Current_WOCs_For_Operation')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"operationMetadataId":"e76b849a-b6f7-4f60-8ebe-5609225113f6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_workordercandidates","recordId":"@items('For_Each_WOC')?['ovs_workordercandidateid']","item/ovs_regionalnop@odata.bind":"/ovs_cdregionalnops/@{triggerOutputs()?['body/ovs_cdregionalnopid']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"cd250bfb-fe2a-4daa-a46f-20624729a2fd"},"type":"Foreach"}},"runAfter":{"Get_Current_WOCs_For_Operation":["Succeeded"]},"else":{"actions":{"Add_a_new_row":{"runAfter":{},"metadata":{"operationMetadataId":"0b54c7b5-6639-4362-b9d1-bd47f9dbd9a0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_workordercandidates","item/ovs_name":"WOC - @{items('For_Each_Operation')?['ovs_name']}","item/ovs_plannedfiscalyear@odata.bind":"/tc_tcfiscalyears/@{triggerOutputs()?['body/_ovs_cdfiscalyearid_value']}","item/ovs_site@odata.bind":"/accounts/@{items('For_Each_Operation')?['_ovs_siteid_value']}","item/statuscode":1,"item/ovs_operationid@odata.bind":"/ovs_mocregistrations/@{items('For_Each_Operation')?['ovs_mocregistrationid']}","item/ovs_oversighttype@odata.bind":"/ovs_oversighttypes/@{variables('GCIPTOversightType')}","item/ovs_cdpriorityscore":"@items('For_Each_Operation')?['ovs_cdpriorityscore']","item/ovs_regionalnop@odata.bind":"/ovs_cdregionalnops/@{triggerOutputs()?['body/ovs_cdregionalnopid']}","item/ovs_cdriskcategory":"@items('For_Each_Operation')?['ovs_cdriskcategory']","item/ovs_cdriskscore":"@items('For_Each_Operation')?['ovs_cdriskscore']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('Get_Current_WOCs_For_Operation')?['value'])",0]},"metadata":{"operationMetadataId":"a08f5106-b107-4d7d-a2b8-9e72f3bf39b2"},"type":"If"}},"runAfter":{"Get_All_Active_Operations_By_Region":["Succeeded"]},"metadata":{"operationMetadataId":"ecb78762-a632-4892-9f7c-175e0d3f648c"},"type":"Foreach"},"Get_All_Active_Operations_By_Region":{"runAfter":{"Set_GC_IPT":["Succeeded"]},"metadata":{"operationMetadataId":"c8918218-8097-4942-8c5c-58f099f3bf4a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_mocregistrations","$select":"ovs_name,_ovs_siteid_value,ovs_mocregistrationid,ovs_cdriskscore,ovs_cdpriorityscore,ovs_cdriskcategory","$filter":"(statecode eq 0) and (ovs_SiteId/_territoryid_value eq @{triggerOutputs()?['body/_ovs_cdregionid_value']})"},"authentication":"@parameters('$authentication')"}},"Initialize_GC_IPT_Type":{"runAfter":{},"metadata":{"operationMetadataId":"9e7dc138-1cd7-453c-b6cf-03842120dcc9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"GCIPTOversightType","type":"string"}]}},"Get_Oversight_Type_-_GC_IPT":{"runAfter":{"Initialize_GC_IPT_Type":["Succeeded"]},"metadata":{"operationMetadataId":"689bd39b-071f-4265-8af9-3a238f303208"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_oversighttypes","$select":"ovs_oversighttypeid","$filter":"(ovs_oversighttypenameenglish eq 'GC IPT')"},"authentication":"@parameters('$authentication')"}},"Set_GC_IPT":{"runAfter":{"Get_Oversight_Type_-_GC_IPT":["Succeeded"]},"metadata":{"operationMetadataId":"77873698-468c-4132-9c7f-e05394183a3e"},"type":"SetVariable","inputs":{"name":"GCIPTOversightType","value":"@{first(outputs('Get_Oversight_Type_-_GC_IPT')?['body/value'])?['ovs_oversighttypeid']}"}}}}},"schemaVersion":"1.0.0.0"}