Oversight_Base/Workflows/UpdatesActualcountonUnplannedForecastEntity-03DE7D27-FF0E-EB11-A813-000D3AF3AC0D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":7,"subscriptionRequest/entityname":"msdyn_workorder","subscriptionRequest/scope":3,"subscriptionRequest/filteringattributes":"msdyn_serviceterritory,ovs_fiscalyear,ovs_fiscalquarter,ovs_rational,"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_Unplanned_Forecasts_records":{"runAfter":{"Apply_to_each_Rational":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_unplannedforecasts","$filter":"_ovs_fiscalyear_value eq @{triggerOutputs()?['body/_ovs_fiscalyear_value']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Unplanned_Forecast":{"foreach":"@outputs('List_Unplanned_Forecasts_records')?['body/value']","actions":{"List_Work_Orders_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","$filter":"_ovs_rational_value eq '47f438c7-c104-eb11-a813-000d3af3a7a7'  and _msdyn_serviceterritory_value eq @{items('Apply_to_each_Unplanned_Forecast')?['_ovs_region_value']} and\n_ovs_fiscalquarter_value eq @{items('Apply_to_each_Unplanned_Forecast')?['_ovs_quarter_value']}"},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Set_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_unplannedforecasts","recordId":"@items('Apply_to_each_Unplanned_Forecast')?['ovs_unplannedforecastid']","item/ovs_actual":"@variables('unplannedCount')"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"List_Work_Orders_records":["Succeeded"]},"type":"SetVariable","inputs":{"name":"unplannedCount","value":"@length(outputs('List_Work_Orders_records')?['body/value'])"}}},"runAfter":{"List_Unplanned_Forecasts_records":["Succeeded"]},"type":"Foreach"},"Initialize_variable_unplannedCount":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"unplannedCount","type":"integer","value":0}]}},"Initialize_variable":{"runAfter":{"Initialize_variable_unplannedCount":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"rationalType","type":"string"}]}},"List_Rationals_records":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_tyrationals","$filter":"ovs_name eq 'Unplanned'"},"authentication":"@parameters('$authentication')"},"description":"get only unplanned record"},"Apply_to_each_Rational":{"foreach":"@outputs('List_Rationals_records')?['body/value']","actions":{"Set_rationalType":{"runAfter":{},"type":"SetVariable","inputs":{"name":"rationalType","value":"@items('Apply_to_each_Rational')?['ovs_tyrationalid']"}}},"runAfter":{"List_Rationals_records":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}}}}},"schemaVersion":"1.0.0.0"}