Oversight_Base/Workflows/WorkOrderCancellationRequest-70A64311-6B20-EB11-A813-000D3AF3A7A7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Work_Order_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnUpdatedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"msdyn_workorders","scope":"Organization","subscriptionRequest/AttributeFilters":["ovs_requestcancellation"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Work_Order_Owner":{"runAfter":{"Get_User_that_last_Modified_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Check_if_Cancellation_Requested":{"actions":{"Check_if_Requested_Cancellation_Approved":{"actions":{"Update_Work_Order_to_reflect_Approved_Cancellation":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@triggerOutputs()?['body/msdyn_workorderid']","item/msdyn_systemstatus":690970005,"item/ovs_requestcancellationcomment":"@null"},"authentication":"@parameters('$authentication')"}},"Set_Approval_Result_-_Approved":{"runAfter":{"Update_Work_Order_to_reflect_Approved_Cancellation":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Approval Result","value":"Approved"}}},"runAfter":{"Apply_to_each_approval_response":["Succeeded"]},"else":{"actions":{"Update_Work_Order_to_reflect_Rejected_Cancellation*":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@triggerOutputs()?['body/msdyn_workorderid']","item/ovs_requestcancellationcomment":"@null","item/ovs_requestcancellation":"@null"},"authentication":"@parameters('$authentication')"}},"Set_Approval_Result_-_Rejected":{"runAfter":{"Update_Work_Order_to_reflect_Rejected_Cancellation*":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Approval Result","value":"Rejected"}}}},"expression":{"equals":["","Approve"]},"type":"If"},"Start_and_wait_for_an_approval":{"runAfter":{"Create_Cancellation_Request_as_Note_in_Work_Order_Timeline":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Work Order @{triggerOutputs()?['body/msdyn_name']} - Request for Cancellation","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Work_Order_Owner')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"*Rational*: @{triggerOutputs()?['body/_ovs_requestcancellation_label']}\n*Comment*: @{triggerOutputs()?['body/ovs_requestcancellationcomment']}","WebhookApprovalCreationInput/itemLink":"@{variables('Base Work Order URL')}@{triggerOutputs()?['body/msdyn_workorderid']}","WebhookApprovalCreationInput/itemLinkDescription":"Click here to view Work Order","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Apply_to_each_approval_response":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Request Cancellation Response","item/notetext":"@items('Apply_to_each_approval_response')?['comments']","item/objectid_msdyn_workorder@odata.bind":"msdyn_workorders(@{triggerOutputs()?['body/msdyn_workorderid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Foreach"},"Apply_to_each_approval_response_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_User_that_last_Modified_Work_Order')?['body/internalemailaddress']","emailMessage/Subject":"Request for Cancellation @{variables('Approval Result')}","emailMessage/Body":"<p>Work Order @{outputs('Update_Work_Order_to_reflect_Approved_Cancellation')?['body/msdyn_name']} has been @{variables('Approval Result')} for Cancellation.<br>\n<br>\nComments: @{items('Apply_to_each_approval_response_2')?['comments']}<br>\n<br>\n<a href=\"@{variables('Base Work Order URL')}@{triggerOutputs()?['body/msdyn_workorderid']}\">Link to Work Order</a>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Remove_Cancellation_Requested_Substatus_from_Work_Order":["Succeeded"]},"type":"Foreach"},"Update_Substatus_of_Work_Order":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@triggerOutputs()?['body/msdyn_workorderid']","item/msdyn_substatus@odata.bind":"msdyn_workordersubstatuses(@{variables('Cancellation Requested Substatus GUID')})"},"authentication":"@parameters('$authentication')"}},"Remove_Cancellation_Requested_Substatus_from_Work_Order":{"runAfter":{"Check_if_Requested_Cancellation_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workordersubstatuses","recordId":"@variables('Cancellation Requested Substatus GUID')","associationEntityRelationship":"msdyn_msdyn_workordersubstatus_msdyn_workorder_Status","$id":"@triggerOutputs()?['body/msdyn_workorderid']"},"authentication":"@parameters('$authentication')"}},"Create_Cancellation_Request_as_Note_in_Work_Order_Timeline":{"runAfter":{"Update_Substatus_of_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Cancellation Request","item/notetext":"@triggerOutputs()?['body/ovs_requestcancellationcomment']","item/objectid_msdyn_workorder@odata.bind":"msdyn_workorders(@{triggerOutputs()?['body/msdyn_workorderid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Work_Order_Owner":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/ovs_requestcancellation']","@null"]}},"type":"If"},"Get_User_that_last_Modified_Work_Order":{"runAfter":{"Initialize_Approval_Result":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_modifiedby_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_Approval_Result":{"runAfter":{"Initialize_Cancellation_Requested_GUID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approval Result","type":"string","value":"Rejected"}]}},"Initialize_Base_Work_Order_URL":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Base Work Order URL","type":"string","value":"https://rom-dev-tcd365.crm3.dynamics.com/main.aspx?appid=692b6903-2003-eb11-a813-000d3af3a7a7&pagetype=entity&etn=msdyn_workorder&id="}]}},"Initialize_Cancellation_Requested_GUID":{"runAfter":{"Initialize_Base_Work_Order_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Cancellation Requested Substatus GUID","type":"string","value":"225f520f-4320-eb11-a813-000d3af3ac0d"}]}}}}},"schemaVersion":"1.0.0.0"}