Solutions/TDGFlowInspectionReport/unpack/Workflows/TDGInspections-InspectionReport-78E8155F-C6A9-EB11-9442-000D3AE99322.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceSharepointTDGCoreUser"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_wordonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceWordOnlineTDGCoreUser"
        },
        "api": {
          "name": "shared_wordonlinebusiness"
        }
      },
      "shared_commondataservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseLegacyServicePrinciple"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_azureblob": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceBlobSASKey"
        },
        "api": {
          "name": "shared_azureblob"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "410bd6ad-e4fd-499c-8dac-f2e144a5b91a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ovs_tdginspectionreport",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['statuscode'],1)"
            }
          ]
        }
      },
      "actions": {
        "Booking_StartTime": {
          "runAfter": {
            "Remote_boolean_based_on_language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "20f3097a-327f-44b4-bebb-6a13789ce381"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "bookingStartTime",
                "type": "string"
              }
            ]
          }
        },
        "Violations": {
          "runAfter": {
            "Is_COC_exist": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82756547-fe36-4921-bc4c-01baec7acf23"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "violations",
                "type": "array"
              }
            ]
          }
        },
        "Get_Primary_Inspector": {
          "runAfter": {
            "Activity_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "988c728f-28b4-41dc-b60a-afe6e932016e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bookableresources",
              "recordId": "@outputs('Get_a_WO._All_fields')?['body/_ovs_primaryinspector_value']",
              "$select": "bookableresourceid,ovs_badgenumber,ovs_registeredinspectornumberrin",
              "$expand": "UserId($select=lastname,firstname,systemuserid,fullname,address1_telephone1,domainname,internalemailaddress)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Bookings": {
          "runAfter": {
            "Second_Inspector_Badge": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5098c71f-8780-407e-ab46-c6999681b271"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "bookableresourcebookings",
              "$select": "bookableresourcebookingid,_bookingstatus_value,starttime,endtime",
              "$filter": "(statecode eq 0 and _msdyn_workorder_value eq @{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})",
              "$orderby": "starttime asc"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Violations(Results)": {
          "runAfter": {
            "Set_EndTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b73accbe-d5f3-4bd0-9c03-48fd2401e68e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_syresults",
              "$select": "qm_violationdisplaylabel,qm_referenceid,qm_externalcomments,_qm_workorderid_value,qm_violationdisplayfrenchlabel,qm_syresultid,ovs_duedate,qm_violationdisplaytextfrench,qm_violationdisplaytextenglish,qm_confirmationrequestedchk,qm_justificationfornotcoc",
              "$filter": "(_qm_rclegislationid_value ne null and statuscode eq 1 and _qm_workorderid_value eq @{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']}) and (qm_rclegislationId/qm_rclegislationid ne null)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Loop_Violations": {
          "foreach": "@outputs('Get_Violations(Results)')?['body/value']",
          "actions": {
            "Append_to_array_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6c66130a-4221-47a2-910c-7d4aab70aedf"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "violations",
                "value": {
                  "Violation Display Label": "@if(variables('isFrench'),items('Loop_Violations')?['qm_violationdisplayfrenchlabel'],items('Loop_Violations')?['qm_violationdisplaylabel'])",
                  "Violation Display Text": "@if(variables('isFrench'),items('Loop_Violations')?['qm_violationdisplaytextfrench'],items('Loop_Violations')?['qm_violationdisplaytextenglish'])",
                  "Reference ID": "@{items('Loop_Violations')?['qm_referenceid']}",
                  "Violation External Comments ": "@{items('Loop_Violations')?['qm_externalcomments']}",
                  "Confirmation of Compliance Due Date": "@if(items('Loop_Violations')?['qm_confirmationrequestedchk'],first(split(items('Loop_Violations')?['ovs_duedate'],'T')),'')"
                }
              }
            }
          },
          "runAfter": {
            "Get_Violations(Results)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "33dd5b22-00c0-4c10-bfd3-0bca52b9d337"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Is_Violations": {
          "runAfter": {
            "Loop_Violations": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "27da83fa-466a-442f-8a5b-b5bd0556ffcb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isViolations",
                "type": "boolean",
                "value": "@greater(length(variables('violations')), 0)"
              }
            ]
          }
        },
        "Clean_WO_guid": {
          "runAfter": {
            "Is_Violations": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ce06e126-6f21-4a2f-aa59-3d630b0d0211"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WOid",
                "type": "string",
                "value": "@{toUpper(replace(triggerOutputs()?['body/_ovs_workorderid_value'], '-', ''))}"
              }
            ]
          }
        },
        "SP_Folder_Path": {
          "runAfter": {
            "Clean_WO_guid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "93ddf22f-7a42-4be9-b04b-5a913177257f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SPfolderPath",
                "type": "string",
                "value": "/@{outputs('Get_a_WO._All_fields')?['body/msdyn_name']}_@{variables('WOid')}"
              }
            ]
          }
        },
        "File_Name_SharePoint": {
          "runAfter": {
            "SP_Folder_Path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "514831f0-9707-4267-b3c7-5283662b89f3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "fileNameSP",
                "type": "string",
                "value": "@{outputs('Get_Inspection_Report')?['body/ovs_name']}.docx"
              }
            ]
          }
        },
        "Is_French": {
          "runAfter": {
            "Location_Condition": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "2c9f9de7-297b-476a-a368-ffcdca2b6207"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isFrench",
                "type": "boolean",
                "value": "@equals(outputs('Get_Inspection_Report')?['body/ovs_reportlanguage'],918640002)"
              }
            ]
          }
        },
        "Activity_Id": {
          "runAfter": {
            "Enabling_Act_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2c59ee49-ac04-497e-873a-7ae4dbe047c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "activityid",
                "type": "string"
              }
            ]
          }
        },
        "removeLocation": {
          "runAfter": {
            "Get_Site_and_Primary_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "40b19b2c-6c0a-41c2-b7fe-202ddc1e27be"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isAddressEqLocation",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Location_Condition": {
          "actions": {
            "Set_Location_flag": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "62faeedd-cc53-4970-8566-5f4e93805873"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "isAddressEqLocation",
                "value": "@false"
              }
            }
          },
          "runAfter": {
            "removeLocation": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']",
                  "@outputs('Get_a_WO._All_fields')?['body/msdyn_address1']"
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Site_and_Primary_Contact')?['body/address1_city']",
                  "@outputs('Get_a_WO._All_fields')?['body/msdyn_city']"
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']",
                  "@outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']"
                ]
              },
              {
                "equals": [
                  "@outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']",
                  "@outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0eb8dfff-e065-4c03-8fd8-fa63b8d02f6a"
          },
          "type": "If"
        },
        "Second_Inspector_Name": {
          "runAfter": {
            "Primary_Inspector_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3c95ec14-dc80-4f0c-9eba-ed56bb437b9e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "scndInspectorName",
                "type": "string",
                "value": "---"
              }
            ]
          }
        },
        "Second_Inspector_Email": {
          "runAfter": {
            "Second_Inspector_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a5b75b8-7d8d-4d8e-bc6d-0e54826d8fba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "scndInspectorEmail",
                "type": "string",
                "value": "---"
              }
            ]
          }
        },
        "Second_Inspector_Phone": {
          "runAfter": {
            "Second_Inspector_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d13cec9c-e147-4241-a819-ddddd35926ca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "scndInspectorPhone",
                "type": "string",
                "value": "---"
              }
            ]
          }
        },
        "Second_Inspector__RIN": {
          "runAfter": {
            "Second_Inspector_Phone": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48a97b10-4b54-44cf-990f-e50732faf629"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "scndInspectorRIN",
                "type": "string",
                "value": "---"
              }
            ]
          }
        },
        "Second_Inspector_Badge": {
          "runAfter": {
            "Second_Inspector__RIN": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d3ef9fab-9f45-4625-a530-aa8cbbb84605"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "scndInspectorBadge",
                "type": "string",
                "value": "---"
              }
            ]
          }
        },
        "File_Path_Blob": {
          "runAfter": {
            "File_Name_SharePoint": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46c35936-746d-4ce1-a76b-79885a4897e2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "filePathBlob",
                "type": "string",
                "value": "@{outputs('Get_a_WO._All_fields')?['body/msdyn_name']}_@{variables('WOid')}/Inspection Report-Rapport d'inspection/@{outputs('Get_Inspection_Report')?['body/ovs_name']}.pdf"
              }
            ]
          }
        },
        "Get_Site_and_Primary_Contact": {
          "runAfter": {
            "Get_a_WO._All_fields": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a085ccba-f8f5-4e34-975b-54c40cf51030"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@outputs('Get_a_WO._All_fields')?['body/_msdyn_serviceaccount_value']",
              "$select": "name,emailaddress1,accountid,address1_composite, address1_city,address1_stateorprovince,address1_line1,address1_postalcode,address1_country,ovs_legalname",
              "$expand": "primarycontactid($select=jobtitle,fullname,emailaddress1,telephone1),parentaccountid($select=ovs_legalname)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_WO._All_fields": {
          "runAfter": {
            "Get_Inspection_Report": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48233c89-f8b9-4d6e-bc39-2742201c0799"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_workorders",
              "recordId": "@outputs('Get_Inspection_Report')?['body/_ovs_workorderid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "try": {
          "actions": {
            "Create_new_folder__in_SharePoint": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "85c941dc-2e88-49e0-99df-be6d6eaa05d8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateNewFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "table": "ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395",
                  "parameters/path": "/Reports@{variables('SPfolderPath')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Email:_FR_or_EN": {
              "actions": {
                "Email_Fr": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "642e7942-feb5-4a58-b37e-c4709bc36ad4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "item/activitypointer_activity_parties": [
                        {
                          "participationtypemask": 1,
                          "partyid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})"
                        },
                        {
                          "participationtypemask": 2,
                          "partyid@odata.bind": "/msdyn_workorders(@{triggerOutputs()?['body/_ovs_workorderid_value']})"
                        },
                        {
                          "participationtypemask": 3,
                          "partyid@odata.bind": "/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})"
                        }
                      ],
                      "item/description": "<p>Bonjour,</p>\n<p>Veuillez trouver ci-joint une copie du rapport d’inspection relatif à une inspection qui a eu lieu le @{variables('bookingStartTime')} par l'Inspecteur TMD @{outputs('Get_Primary_Inspector')?['body/userid/lastname']}. Le rapport détaille les observations faites lors de l'inspection et comprend toutes les mesures qui doivent être prises par @{outputs('Get_Site_and_Primary_Contact')?['body/name']}.</p>\n<p>Si vous avez des questions ou des préoccupations, veuillez contacter l'Inspecteur @{outputs('Get_Primary_Inspector')?['body/userid/lastname']} aux coordonnées ci-dessous.</p>\n</br>\nCordialement,",
                      "item/ownerid_email@odata.bind": "/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})",
                      "item/regardingobjectid_msdyn_workorder_email@odata.bind": "/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})",
                      "item/subject": "Rapport d'inspection"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_email_Id_fr": {
                  "runAfter": {
                    "Email_Fr": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "643c5fc7-5df4-4fbd-ba47-5750e9eafdbd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "activityid",
                    "value": "@outputs('Email_Fr')?['body/activityid']"
                  }
                }
              },
              "runAfter": {
                "Create_new_folder__in_SharePoint": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_email_id_en": {
                    "runAfter": {
                      "Email_En": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "099a0247-57e8-4eff-8283-41f6c9ed6bed"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "activityid",
                      "value": "@outputs('Email_En')?['body/activityid']"
                    }
                  },
                  "Email_En": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1d282e65-c79a-4be2-8b0e-d771a368c481"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "emails",
                        "item/activitypointer_activity_parties": [
                          {
                            "participationtypemask": 1,
                            "partyid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})"
                          },
                          {
                            "participationtypemask": 2,
                            "partyid@odata.bind": "/msdyn_workorders(@{outputs('Get_Inspection_Report')?['body/_ovs_workorderid_value']})"
                          },
                          {
                            "participationtypemask": 3,
                            "partyid@odata.bind": "/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})"
                          }
                        ],
                        "item/description": "<p>Good day, </p>\n<p>Please find attached a copy of the report resulting from an inspection that took place on @{variables('bookingStartTime')} by TDG Inspector @{outputs('Get_Primary_Inspector')?['body/userid/lastname']}. The report details the findings of the inspection and includes any necessary actions that need to be taken by @{outputs('Get_Site_and_Primary_Contact')?['body/name']}.</p>\n<p> Should you have any questions or concerns, please contact Inspector  @{outputs('Get_Primary_Inspector')?['body/userid/lastname']} at the information found below.</p>\n\n</br>\nRegards,",
                        "item/ownerid_email@odata.bind": "/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})",
                        "item/regardingobjectid_msdyn_workorder_email@odata.bind": "/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})",
                        "item/subject": "Inspection Report"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('isFrench')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "7814bf25-98e7-49cb-80fd-6a361a0f4cc8"
              },
              "type": "If"
            },
            "Secondary_Inspector_condition": {
              "actions": {},
              "runAfter": {
                "Email:_FR_or_EN": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_Secondary_Inspector": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "f5974873-07a5-4d43-a781-2ee0b6fa9e05"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "bookableresources",
                        "recordId": "@outputs('Get_a_WO._All_fields')?['body/_ovs_secondaryinspector_value']",
                        "$select": "bookableresourceid,ovs_badgenumber,ovs_registeredinspectornumberrin",
                        "$expand": "UserId($select=lastname,firstname,systemuserid,fullname,address1_telephone1,domainname,internalemailaddress)"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_Name": {
                    "runAfter": {
                      "Get_Secondary_Inspector": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "37af33b2-6126-4ac9-85c3-a14e924221d4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scndInspectorName",
                      "value": "@outputs('Get_Secondary_Inspector')?['body/userid/fullname']"
                    }
                  },
                  "Set_Badge": {
                    "runAfter": {
                      "Set_Name": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a3fc62c0-51ea-489f-adec-8cf8827a5c15"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scndInspectorBadge",
                      "value": "@outputs('Get_Secondary_Inspector')?['body/ovs_badgenumber']"
                    }
                  },
                  "Set_RIN": {
                    "runAfter": {
                      "Set_Badge": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d775df44-ffd1-4cc9-abbb-a3dd2b184504"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scndInspectorRIN",
                      "value": "@outputs('Get_Secondary_Inspector')?['body/ovs_registeredinspectornumberrin']"
                    }
                  },
                  "Set_Email": {
                    "runAfter": {
                      "Set_RIN": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "66a37e76-487d-4fea-a08a-6e1c13110a8f"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scndInspectorEmail",
                      "value": "@outputs('Get_Secondary_Inspector')?['body/userid/domainname']"
                    }
                  },
                  "Set_Phone": {
                    "runAfter": {
                      "Set_Email": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fbff1fd9-e147-4fd1-afc2-58a6e3e99c5f"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "scndInspectorPhone",
                      "value": "@outputs('Get_Secondary_Inspector')?['body/userid/address1_telephone1']"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_a_WO._All_fields')?['body/_ovs_secondaryinspector_value']",
                  "@null"
                ]
              },
              "metadata": {
                "operationMetadataId": "ad7300cf-25ce-42d6-9640-f745ecd3c4a0"
              },
              "type": "If"
            },
            "Populate._Is_French": {
              "actions": {
                "FR.Location": {
                  "actions": {
                    "FR.Location.Violations": {
                      "actions": {
                        "Populate_a_Microsoft_Word_template_FR.Location.Violation": {
                          "runAfter": {},
                          "metadata": {
                            "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                            "01QZYBJ7A3PUOERLOYTFD3NGVNHKLSWOZL": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                            "01QZYBJ7GJORJ436KLSRA3LPP32PWWITK6": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx",
                            "01QZYBJ7CCQBVEJTDN5RC2IATQIJOVZT4H": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx",
                            "01QZYBJ7HJO2BNG4U2VNHJLHKERITF3NWL": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx",
                            "01QZYBJ7GFLKQTPAJCA5B3LVZMTSZZ4DYR": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx",
                            "01QZYBJ7ADE4ONZSBVVZB2XFOTKIRRYC4P": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx",
                            "operationMetadataId": "ad831287-7e7f-4867-9c0c-7c30cc2ac389",
                            "01QZYBJ7COMYUKO6LHORG35DGOU6WFLATD": "/Inspection Report Templates/Report - Substitute Version/FR/FR - NOMC Revised Inspection Violations Location.docx"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_wordonlinebusiness",
                              "operationId": "CreateFileItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                            },
                            "parameters": {
                              "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                              "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                              "file": "01QZYBJ7COMYUKO6LHORG35DGOU6WFLATD",
                              "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                              "dynamicFileSchema/270129255": "@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']",
                              "dynamicFileSchema/275383476": "@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']",
                              "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                              "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                              "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                              "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                              "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                              "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                              "dynamicFileSchema/1705523509": "@variables('violations')",
                              "dynamicFileSchema/1895699130": "@variables('Remote')",
                              "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                              "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                              "dynamicFileSchema/2092892383": "@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}",
                              "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                              "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                              "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                              "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                              "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                              "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                              "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                              "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                              "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                              "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                              "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                              "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                              "dynamicFileSchema/-138117494": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                              "dynamicFileSchema/-820736929": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Create_file_in_SP_FR.Location.Violation": {
                          "runAfter": {
                            "Populate_a_Microsoft_Word_template_FR.Location.Violation": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "ee9d1b8f-048f-4486-b8c5-aab5567ca865"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "CreateFile",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                              "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                              "name": "@variables('fileNameSP')",
                              "body": "@outputs('Populate_a_Microsoft_Word_template_FR.Location.Violation')?['body']"
                            },
                            "authentication": "@parameters('$authentication')"
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Populate_a_Microsoft_Word_template_FR.Location.NoViolation": {
                            "runAfter": {},
                            "metadata": {
                              "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7AKBQYQIZOAEBHL42GI5XVV7YI6": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                              "01QZYBJ7AVG4KP4SNSJ5DL4GY4E3A6PK42": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                              "01QZYBJ7B3IVQC6V5IGJCJJG3MRND4IKAD": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx",
                              "01QZYBJ7APND6QFPQNUNGY7ORWVCFU3TRG": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx",
                              "01QZYBJ7BLSZX4VFKBYNGIXOP6NCQOEXU5": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx",
                              "01QZYBJ7ABJIWU5MWEK5BYHHG2KTZWHMPI": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx",
                              "operationMetadataId": "000fe70c-5806-4108-88c1-798156fb8baa",
                              "01QZYBJ7DAFT2VHOPCFJGIE5RXJ7U5PT77": "/Inspection Report Templates/Report - Substitute Version/FR/FR - NOMC Revised Inspection Report NoV Location.docx"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_wordonlinebusiness",
                                "operationId": "CreateFileItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                              },
                              "parameters": {
                                "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                "file": "01QZYBJ7DAFT2VHOPCFJGIE5RXJ7U5PT77",
                                "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/270129255": "@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']",
                                "dynamicFileSchema/275383476": "@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']",
                                "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                "dynamicFileSchema/1895699130": "@variables('Remote')",
                                "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                "dynamicFileSchema/2092892383": "@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}",
                                "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                "dynamicFileSchema/-236401837": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/-1507894255": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Create_file_in_SP_FR.Location.NoViolation": {
                            "runAfter": {
                              "Populate_a_Microsoft_Word_template_FR.Location.NoViolation": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "930cdaca-3356-41a6-b633-c4ac3de8b671"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "CreateFile",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                "name": "@variables('fileNameSP')",
                                "body": "@outputs('Populate_a_Microsoft_Word_template_FR.Location.NoViolation')?['body']"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@variables('isViolations')",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "554acd57-6536-4dec-8d2b-61ad6f279421"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "FR.NoLocation.Violations": {
                        "actions": {
                          "Populate_a_Microsoft_Word_template_FR.NoLocation.Violation": {
                            "runAfter": {},
                            "metadata": {
                              "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7DALPYQWWC36VD3WDAWZ4KBZDDY": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                              "01QZYBJ7C2LL5VVAXLOZFJ3PIRWB5YLK2C": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                              "01QZYBJ7CXEMGYSZ7V2FHK4BYLSQSDSENW": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx",
                              "01QZYBJ7ENL3BBKDBTHZCYAINSR6I7UE6A": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx",
                              "01QZYBJ7H2ZU7NC3GBYFBI3WYKMCHT6OXN": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx",
                              "01QZYBJ7AU7OA4BQYDKRBZWRB2JRZBPSHZ": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx",
                              "01QZYBJ7AYNTRDBGNFJNBLWK4PXTRPJRCA": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx",
                              "operationMetadataId": "79acb83f-5a2a-4785-9f89-838d2ce485a1",
                              "01QZYBJ7CKABB7EOJ4NZFIBGDMH5ORD524": "/Inspection Report Templates/Report - Substitute Version/FR/FR - NOMC Revised Inspection Violations NoLocation.docx"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_wordonlinebusiness",
                                "operationId": "CreateFileItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                              },
                              "parameters": {
                                "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                "file": "01QZYBJ7CKABB7EOJ4NZFIBGDMH5ORD524",
                                "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                "dynamicFileSchema/1705523509": "@variables('violations')",
                                "dynamicFileSchema/1895699130": "@variables('Remote')",
                                "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                "dynamicFileSchema/-1864437220": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/-2145267778": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Create_file_in_SP_FR.NoLocation.Violation": {
                            "runAfter": {
                              "Populate_a_Microsoft_Word_template_FR.NoLocation.Violation": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "a398857a-5f7a-4546-9a7d-b8430fa9cca4"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "CreateFile",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                "name": "@variables('fileNameSP')",
                                "body": "@outputs('Populate_a_Microsoft_Word_template_FR.NoLocation.Violation')?['body']"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_": {
                              "runAfter": {},
                              "metadata": {
                                "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                                "01QZYBJ7FG4MD6T7ZSBRCIHCC62OVLVA62": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                "01QZYBJ7F7RTRFIWMZG5HYP53KQKLUIMTJ": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                "01QZYBJ7HLUMXAAIOQQBG3KX47S6XKNPKI": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx",
                                "01QZYBJ7BOLZPJOTMGSRF3NXO6UQDQTIR5": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx",
                                "01QZYBJ7HQ2ZAB42FAPJBLJQMPU2JIN4UO": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx",
                                "01QZYBJ7AOVLZTMR7XLFG3UI434W227RW4": "/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx",
                                "operationMetadataId": "2e018629-df97-48c5-b9e2-8f043c692bbe",
                                "01QZYBJ7BERKHEG67QIFFLWUEADKIUHQRU": "/Inspection Report Templates/Report - Substitute Version/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_wordonlinebusiness",
                                  "operationId": "CreateFileItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                                },
                                "parameters": {
                                  "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                  "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                  "file": "01QZYBJ7BERKHEG67QIFFLWUEADKIUHQRU",
                                  "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                  "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                  "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                  "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                  "dynamicFileSchema/1026907303": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                  "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                  "dynamicFileSchema/1895699130": "@variables('Remote')",
                                  "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                  "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                  "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                  "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                  "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                  "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                  "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                  "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                  "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                  "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                  "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                  "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                  "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                  "dynamicFileSchema/-899662700": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Create_file_in_SP_FR.NoLocation.NoViolation": {
                              "runAfter": {
                                "Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "d731db2d-0df2-4818-8be9-f5533c878b93"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "CreateFile",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                  "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                  "name": "@variables('fileNameSP')",
                                  "body": "@outputs('Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_')?['body']"
                                },
                                "authentication": "@parameters('$authentication')"
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@variables('isViolations')",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5ee82e15-0ffe-47a5-87e3-06b5021c723a"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isAddressEqLocation')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2cba3802-5e40-4e70-ac26-9ba37891bf0c"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Secondary_Inspector_condition": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "EN.Location": {
                    "actions": {
                      "EN.Location.Violation": {
                        "actions": {
                          "Populate_a_Microsoft_Word_template_EN.Location.Violation": {
                            "runAfter": {},
                            "metadata": {
                              "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7A3PUOERLOYTFD3NGVNHKLSWOZL": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7FMKBDJHUNRZNC3B5SDN47OK6ZX": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7GMRKWCNQWUHJGYUXOZOAPTQRZI": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7CWKLAE5VUOIVDZR6QILB7BCUD4": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7BVODBPDRLT4REYIHKZVVUZVUYQ": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7ETYZ3MFGY2CVD2UXQLSYT3IMSX": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "01QZYBJ7CYK5UCQ7WXINHZRGMY23I34QKV": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                              "operationMetadataId": "4fa1b6b4-347e-4d90-95f6-b5a763337322",
                              "01QZYBJ7DNAHRG7X5QVBFLNZ3QZZECVIME": "/Inspection Report Templates/Report - Substitute Version/EN/NOMC Inspection Report  Violations Location EN.docx"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_wordonlinebusiness",
                                "operationId": "CreateFileItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                              },
                              "parameters": {
                                "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                "file": "01QZYBJ7DNAHRG7X5QVBFLNZ3QZZECVIME",
                                "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/270129255": "@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']",
                                "dynamicFileSchema/275383476": "@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']",
                                "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                "dynamicFileSchema/1317528207": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                "dynamicFileSchema/1705523509": "@variables('violations')",
                                "dynamicFileSchema/1895699130": "@variables('Remote')",
                                "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                "dynamicFileSchema/2092892383": "@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}",
                                "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                "dynamicFileSchema/-290821859": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Create_file_in_SP_EN.Location.Violation": {
                            "runAfter": {
                              "Populate_a_Microsoft_Word_template_EN.Location.Violation": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "d0a5c7e4-49af-48e1-b5f4-a19305507149"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "CreateFile",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                "name": "@variables('fileNameSP')",
                                "body": "@outputs('Populate_a_Microsoft_Word_template_EN.Location.Violation')?['body']"
                              },
                              "authentication": "@parameters('$authentication')"
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Populate_a_Microsoft_Word_template_EN.Location.NoViolation": {
                              "runAfter": {},
                              "metadata": {
                                "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                                "01QZYBJ7AKBQYQIZOAEBHL42GI5XVV7YI6": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7AVG4KP4SNSJ5DL4GY4E3A6PK42": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7GR52FLVKSKPNGK2M6JSJQQPTRH": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7GZSAEF2GBCKBEZ74LMEYJI4L5S": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7AMZYHHLGAEL5E2FSIIDY4GCN5U": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7DTPKBVI56SYVCIAUNK4YFJXZOW": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "01QZYBJ7BWT6E45MFMBFAL7RHTYPAR2HEJ": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx",
                                "operationMetadataId": "ed0519d5-fbba-4cb5-99b6-9aa12841b7c6",
                                "01QZYBJ7FVDDT2ZR5OQRH3RKY4XAM6VSEF": "/Inspection Report Templates/Report - Substitute Version/EN/NOMC Inspection Report  NoV Location EN .docx"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_wordonlinebusiness",
                                  "operationId": "CreateFileItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                                },
                                "parameters": {
                                  "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                  "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                  "file": "01QZYBJ7FVDDT2ZR5OQRH3RKY4XAM6VSEF",
                                  "dynamicFileSchema/127295357": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/270129255": "@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']",
                                  "dynamicFileSchema/275383476": "@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']",
                                  "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                  "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                  "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                  "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                  "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                  "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                  "dynamicFileSchema/1895699130": "@variables('Remote')",
                                  "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                  "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                  "dynamicFileSchema/2092892383": "@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}",
                                  "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                  "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                  "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                  "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                  "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                  "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                  "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                  "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                  "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                  "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                  "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                  "dynamicFileSchema/-1668390056": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Create_file_in_SP_EN.Location.NoViolation": {
                              "runAfter": {
                                "Populate_a_Microsoft_Word_template_EN.Location.NoViolation": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8032d5df-8b78-4d50-9676-dfda19594858"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "CreateFile",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                  "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                  "name": "@variables('fileNameSP')",
                                  "body": "@outputs('Populate_a_Microsoft_Word_template_EN.Location.NoViolation')?['body']"
                                },
                                "authentication": "@parameters('$authentication')"
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@variables('isViolations')",
                            "@true"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f13bc462-a33a-4a96-97d3-1a6dcf424952"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "EN.NoLocation.Violations": {
                          "actions": {
                            "Populate_a_Microsoft_Word_template_EN.NoLocation.Violation": {
                              "runAfter": {},
                              "metadata": {
                                "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                                "01QZYBJ7DALPYQWWC36VD3WDAWZ4KBZDDY": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7C2LL5VVAXLOZFJ3PIRWB5YLK2C": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7GP6NJXXOYEKREIICJOT6EDF5LG": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7E2YBPSP7QUENBYNF4LX4CW5VIN": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7HZFUXP5SPZWRHIWH54FTJRTTKP": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7APUYRQDPV5NRCZIWQ4DOQOL5PU": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "01QZYBJ7CLRN4UT5P6MVEZGWJOOWGDOKQN": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx",
                                "operationMetadataId": "fe853f5b-1daa-44a1-a5cd-d83f2f8698fc",
                                "01QZYBJ7DYJTGIQEUDIBCZTDCAP3EYC4TP": "/Inspection Report Templates/Report - Substitute Version/EN/NOMC Inspection Report  Violations NoLocation EN.docx"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_wordonlinebusiness",
                                  "operationId": "CreateFileItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                                },
                                "parameters": {
                                  "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                  "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                  "file": "01QZYBJ7DYJTGIQEUDIBCZTDCAP3EYC4TP",
                                  "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                  "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                  "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                  "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                  "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                  "dynamicFileSchema/1432782631": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                  "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                  "dynamicFileSchema/1648855167": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/1705523509": "@variables('violations')",
                                  "dynamicFileSchema/1895699130": "@variables('Remote')",
                                  "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                  "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                  "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                  "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                  "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                  "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                  "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                  "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                  "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                  "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                  "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                  "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                  "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                  "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Create_file_in_SP_EN.NoLocation.Violation": {
                              "runAfter": {
                                "Populate_a_Microsoft_Word_template_EN.NoLocation.Violation": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "85704731-5b61-4747-941d-d80547f223c2"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "CreateFile",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                  "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                  "name": "@variables('fileNameSP')",
                                  "body": "@outputs('Populate_a_Microsoft_Word_template_EN.NoLocation.Violation')?['body']"
                                },
                                "authentication": "@parameters('$authentication')"
                              },
                              "runtimeConfiguration": {
                                "contentTransfer": {
                                  "transferMode": "Chunked"
                                }
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation": {
                                "runAfter": {},
                                "metadata": {
                                  "01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE": "/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx",
                                  "01QZYBJ7FG4MD6T7ZSBRCIHCC62OVLVA62": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7F7RTRFIWMZG5HYP53KQKLUIMTJ": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7BJLZ33T4QVTVC2RQM6LMS4HLNL": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7EUCG3P4H7DE5BYVMFJQSUJB7RS": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7CQNDW6GGO2XBHIG47EDYFRIJDT": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7AU36EHAFNTYNAZZWNEFZXZ6KSG": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "01QZYBJ7ETZ3CR32UHOZC2EADOJH2F7CEZ": "/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx",
                                  "operationMetadataId": "b562f3c8-a7df-4dd1-bb9d-a69b5af26792",
                                  "01QZYBJ7B5Q4TNL724XBBJ3CXXGBICA3FN": "/Inspection Report Templates/Report - Substitute Version/EN/NOMC Inspection Report  NoV NoLocation EN.docx"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_wordonlinebusiness",
                                    "operationId": "CreateFileItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                                  },
                                  "parameters": {
                                    "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                                    "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                                    "file": "01QZYBJ7B5Q4TNL724XBBJ3CXXGBICA3FN",
                                    "dynamicFileSchema/195427893": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                    "dynamicFileSchema/383832492": "@variables('scndInspectorEmail')",
                                    "dynamicFileSchema/458229815": "@variables('bookingStartTime')",
                                    "dynamicFileSchema/684555900": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')",
                                    "dynamicFileSchema/795868948": "@variables('scndInspectorBadge')",
                                    "dynamicFileSchema/980343006": "@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}",
                                    "dynamicFileSchema/1102927297": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                    "dynamicFileSchema/1401091317": "@variables('scndInspectorName')",
                                    "dynamicFileSchema/1600681763": "@variables('scndInspectorPhone')",
                                    "dynamicFileSchema/1895699130": "@variables('Remote')",
                                    "dynamicFileSchema/1966544364": "@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']",
                                    "dynamicFileSchema/2014261285": "@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']",
                                    "dynamicFileSchema/2117092899": "@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']",
                                    "dynamicFileSchema/-2132464357": "@outputs('Get_Site_and_Primary_Contact')?['body/parentaccountid/ovs_legalname']",
                                    "dynamicFileSchema/-96106577": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']",
                                    "dynamicFileSchema/-638495335": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']",
                                    "dynamicFileSchema/-1131555099": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']",
                                    "dynamicFileSchema/-1099405683": "@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']",
                                    "dynamicFileSchema/-1367443116": "@outputs('Get_Primary_Inspector')?['body/userid/fullname']",
                                    "dynamicFileSchema/-217049391": "@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']",
                                    "dynamicFileSchema/-722680123": "@variables('scndInspectorRIN')",
                                    "dynamicFileSchema/-1231235283": "@variables('prmInspectorEmail')",
                                    "dynamicFileSchema/-1452475705": "@outputs('Get_a_WO._All_fields')?['body/msdyn_name']",
                                    "dynamicFileSchema/-1807610976": "@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              },
                              "Create_file_in_SP_EN.NoLocation.NoViolation": {
                                "runAfter": {
                                  "Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "48c508d4-e20b-4a75-9792-efca55fc8c86"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "CreateFile",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                  },
                                  "parameters": {
                                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                    "folderPath": "@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']",
                                    "name": "@variables('fileNameSP')",
                                    "body": "@outputs('Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation')?['body']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                },
                                "runtimeConfiguration": {
                                  "contentTransfer": {
                                    "transferMode": "Chunked"
                                  }
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@variables('isViolations')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "aa29b5e1-39d3-4c70-b828-93835f170266"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@variables('isAddressEqLocation')",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bd1e7285-20d5-47f2-8850-4dbe86c75834"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('isFrench')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "827f1ecb-af2c-48f1-bb84-f22728a5a2ed"
              },
              "type": "If"
            },
            "Create_activity_attachment": {
              "runAfter": {
                "Populate._Is_French": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d20e6ab-82c4-4104-bf83-5853b4f44963"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataservice",
                  "operationId": "PostItem_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice"
                },
                "parameters": {
                  "dataset": "default.cds",
                  "table": "activitymimeattachments",
                  "item/_attachmentid_value": "@null",
                  "item/objecttypecode": "email",
                  "item/_objectid_value": "@variables('activityid')",
                  "item/_objectid_type": "emails"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Convert_Word_Document_to_PDF": {
              "runAfter": {
                "Create_activity_attachment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "31f7e402-71cc-423c-a436-a09d1d25b52f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_wordonlinebusiness",
                  "operationId": "GetFilePDF",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
                },
                "parameters": {
                  "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                  "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                  "file": "/Reports@{variables('SPfolderPath')}/@{variables('fileNameSP')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_PDF_file_blob": {
              "runAfter": {
                "Convert_Word_Document_to_PDF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0794b977-907a-419e-9cb2-826bac9e4391"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azureblob",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
                },
                "parameters": {
                  "folderPath": "/msdynworkorder",
                  "name": "@variables('filePathBlob')",
                  "body": "@outputs('Convert_Word_Document_to_PDF')?['body']",
                  "Content-Type": "application/pdf"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Update_attachment": {
              "runAfter": {
                "Update_booking_resources": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "808dcd7c-0881-42a8-acad-78e03e6ccaf6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "activitymimeattachments",
                  "recordId": "@outputs('Create_activity_attachment')?['body/activitymimeattachmentid']",
                  "item/body": "@base64(outputs('Convert_Word_Document_to_PDF')?['body'])",
                  "item/filename": "@{outputs('Get_Inspection_Report')?['body/ovs_name']}.pdf",
                  "item/mimetype": "application/pdf",
                  "item/subject": "@if(variables('isFrench'),'Rapport inspection','Inspection Report')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_Violation": {
              "foreach": "@outputs('Get_Violations(Results)')?['body/value']",
              "actions": {
                "Check_if_COC_exists": {
                  "actions": {
                    "Set_COC_count_to_0": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b230440-a0f7-496b-94b3-dde7ba804b24"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "isCOCexist",
                        "value": 0
                      }
                    }
                  },
                  "runAfter": {
                    "Set_COC_count": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Create_a_Confirmation_User": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "745420a8-7edc-447f-b070-463ce9c59ab3"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ovs_confirmationofcompliances",
                            "item/ovs_daterequested": "@utcNow()",
                            "item/statuscode": "@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],4,918640004)",
                            "item/ovs_Violation_ovs_confirmationofcompliance@odata.bind": "/qm_syresults(@{items('Apply_to_each_Violation')?['qm_syresultid']})",
                            "item/statecode": "@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],3,1)",
                            "item/scheduledend": "@items('Apply_to_each_Violation')?['ovs_duedate']",
                            "item/ovs_justificationtxt": "@items('Apply_to_each_Violation')?['qm_justificationfornotcoc']",
                            "item/ownerid_ovs_confirmationofcompliance@odata.bind": "/systemusers(@{outputs('Get_a_WO._All_fields')?['body/_ownerid_value']})",
                            "item/regardingobjectid_msdyn_workorder_ovs_confirmationofcompliance@odata.bind": "/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Create_a_Confirmation_Team": {
                        "runAfter": {
                          "Create_a_Confirmation_User": [
                            "Failed",
                            "Skipped"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c98957c5-93d8-4586-9db2-0ff9078abcab"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "ovs_confirmationofcompliances",
                            "item/ovs_daterequested": "@utcNow()",
                            "item/statuscode": "@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],4,918640004)",
                            "item/ovs_Violation_ovs_confirmationofcompliance@odata.bind": "/qm_syresults(@{items('Apply_to_each_Violation')?['qm_syresultid']})",
                            "item/statecode": "@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],3,1)",
                            "item/subject": "Confirmation of Compliance - @{items('Apply_to_each_Violation')?['qm_rclegislationid/qm_legislationlbl']}",
                            "item/scheduledend": "@items('Apply_to_each_Violation')?['ovs_duedate']",
                            "item/ownerid_ovs_confirmationofcompliance@odata.bind": "/teams(@{outputs('Get_a_WO._All_fields')?['body/_ownerid_value']})",
                            "item/regardingobjectid_msdyn_workorder_ovs_confirmationofcompliance@odata.bind": "/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@variables('isCOCexist')",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b0c21db5-1f07-4c19-a5a2-979653bd4c67"
                  },
                  "type": "If"
                },
                "Get_Violation_COCs": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0b91f2b8-b07c-46b0-a35f-ccb385aee7ed"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ovs_confirmationofcompliances",
                      "$select": "activityid",
                      "$filter": "(_ovs_violation_value eq @{items('Apply_to_each_Violation')?['qm_syresultid']})"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_COC_count": {
                  "runAfter": {
                    "Get_Violation_COCs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dc334d47-24df-4b52-9a12-c1de460b9a61"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isCOCexist",
                    "value": "@length(outputs('Get_Violation_COCs')?['body/value'])"
                  }
                }
              },
              "runAfter": {
                "Set_report_Inactive": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "16070e9b-75fe-49a6-9734-8b26b46ed151"
              },
              "type": "Foreach"
            },
            "Set_report_Inactive": {
              "runAfter": {
                "Update_attachment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97276a5c-8e91-4e6b-b8ec-d62d091ccbd9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_tdginspectionreports",
                  "recordId": "@outputs('Get_Inspection_Report')?['body/ovs_tdginspectionreportid']",
                  "item/statuscode": 2,
                  "item/statecode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_booking_resources": {
              "foreach": "@outputs('Get_Bookings')?['body/value']",
              "actions": {
                "Set_ID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b7adf761-7eac-46a7-b9d5-3d59184add63"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "BookingId",
                    "value": "@items('Update_booking_resources')?['bookableresourcebookingid']"
                  }
                },
                "Is_Booking_update_needed": {
                  "actions": {
                    "Update_Booking_to_complete": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "6c2a5fd7-39a1-4831-aaad-1cdf0a6bb504"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "bookableresourcebookings",
                          "recordId": "@variables('BookingId')",
                          "item/BookingStatus@odata.bind": "/bookingstatuses(c33410b9-1abe-4631-b4e9-6e4a1113af34)",
                          "item/endtime": "@if(greater(items('Update_booking_resources')?['endtime'], utcnow()),utcnow(),items('Update_booking_resources')?['endtime'])"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_Booking_status_condition": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Just_a_void_action_to_prevent_loop_error": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3b1f3fc2-306c-4677-a92f-fe8f5b880b85"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "isBookingComplete",
                          "value": "@true"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isBookingComplete')",
                      "@false"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cbc44b14-56e8-44e7-83d7-698a8e1e4558"
                  },
                  "type": "If"
                },
                "Set_Booking_status_condition": {
                  "runAfter": {
                    "Set_ID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c12e98d1-e858-4141-8d00-1a2761475f9c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "isBookingComplete",
                    "value": "@equals(items('Update_booking_resources')?['_bookingstatus_value'],'c33410b9-1abe-4631-b4e9-6e4a1113af34')"
                  }
                }
              },
              "runAfter": {
                "Delete_word_from_SharePoint": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2320ca05-a5ec-442d-aa19-b8d3c837215b"
              },
              "type": "Foreach"
            },
            "Delete_word_from_SharePoint": {
              "runAfter": {
                "Create_PDF_file_blob": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "metadata": {
                "operationMetadataId": "aed3d8db-f390-43a2-b62d-6baaccfe0781"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "DeleteItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "table": "Documents",
                  "id": "@outputs('Create_new_folder__in_SharePoint')?['body/ID']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Notification_lang": {
              "actions": {
                "Notify_about_success_FR": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0436f517-ae24-4347-98f1-e98f106d4074"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "appnotifications",
                      "item/title": "Rapport d’inspection émis",
                      "item/body": "Le rapport d'inspection pour l'ordre de travail nº  @{outputs('Get_a_WO._All_fields')?['body/msdyn_name']} a été émis et peut être consulté avec le lien ci-dessous.",
                      "item/data": "       {\n  \"actions\": [\n        {\n        \"title\": \" Ouvrir l'Ordre de Travail \",\n        \"data\" : \n{ \"url\" :\"?&pagetype=entityrecord&etn=msdyn_workorder&id=@{variables('WOid')}\",\n        \"navigationTarget\": \"dialog\"\n      }        \n        }\n      ]\n     }",
                      "item/ttlinseconds": 300,
                      "item/icontype": 100000001,
                      "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                      "item/priority": 200000001,
                      "item/toasttype": 200000000
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_Violation": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Notify_about_success_EN": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "fdd81fc6-cecb-4575-85cb-b6ab838e7673"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "appnotifications",
                        "item/title": "Inspection Report Issued",
                        "item/body": "The Inspection Report for  was issued and can be accessed with the below link.",
                        "item/data": "       {\n  \"actions\": [\n        {\n        \"title\": \"Open Work Order\",\n        \"data\" : \n{ \"url\" :\"?&pagetype=entityrecord&etn=msdyn_workorder&id=@{variables('WOid')}\",\n        \"navigationTarget\": \"dialog\"\n      }        \n        }\n      ]\n     }",
                        "item/ttlinseconds": 300,
                        "item/icontype": 100000001,
                        "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                        "item/priority": 200000001,
                        "item/toasttype": 200000000
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('isFrench')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "e38533d4-d2c8-495a-8b90-88fcedce6366"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "File_Path_Blob": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d68c380-1507-43af-88ce-306913340e5b"
          },
          "type": "Scope"
        },
        "catch": {
          "actions": {
            "Get_errors": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2db31d7d-cd8a-4a1b-bd43-53d3f52fd5a0"
              },
              "type": "Compose",
              "inputs": "@result('try')"
            },
            "Filter_array": {
              "runAfter": {
                "Get_errors": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2e5afb44-8507-4fdb-8fc5-c42079943410"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_errors')",
                "where": "@equals(item()?['status'], 'Failed')"
              }
            },
            "Is_error": {
              "actions": {
                "Error_Lang": {
                  "actions": {
                    "Notify_about_error_FR": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7605a0b7-dd3f-4fb4-97f5-ea081a3559d4"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "appnotifications",
                          "item/title": "Erreur du rapport d’inspection",
                          "item/body": "Le rapport d'inspection n'a pas pu être généré. Veuillez réessayer dans quelques minutes ou contacter votre équipe d'assistance pour obtenir de l'aide. Veuillez inclure les détails suivants dans votre demande de support :  @{body('Filter_array')}",
                          "item/ttlinseconds": 300,
                          "item/icontype": 100000003,
                          "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                          "item/priority": 200000001
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Notify_about_error_EN": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b848a555-f09c-4c86-b080-2487a95d2a27"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "appnotifications",
                            "item/title": "Inspection Report Error",
                            "item/body": "The inspection report was unable to generate . Please try again in a few minutes or contact your support team for assistance. Please include the following details in your support request:  @{body('Filter_array')}",
                            "item/ttlinseconds": 300,
                            "item/icontype": 100000003,
                            "item/ownerid@odata.bind": "/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})",
                            "item/priority": 200000001
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('isFrench')",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "777a9cfa-a76c-491d-9880-e0844ef66d3c"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Filter_array": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(body('Filter_array'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "3d73a1ac-56d1-4898-ad4c-356d888ba1f3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a812a77-e3d4-4b09-b21a-5b0123170ffa"
          },
          "type": "Scope"
        },
        "Get_Inspection_Report": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b941d99e-255a-4fa0-9902-33b728f68abd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_tdginspectionreports",
              "recordId": "@triggerOutputs()?['body/ovs_tdginspectionreportid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Booking_ID": {
          "runAfter": {
            "Booking_EndTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47faf765-ee6f-465a-b292-d027d68aaefe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BookingId",
                "type": "string"
              }
            ]
          }
        },
        "Is_Booking_complete": {
          "runAfter": {
            "Booking_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ec6842bf-05f8-4223-baa5-88e460033d98"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isBookingComplete",
                "type": "boolean"
              }
            ]
          }
        },
        "Remote_boolean_based_on_language": {
          "runAfter": {
            "Is_French": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4303a103-a5a8-4485-bd52-d1f8a59218a6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Remote",
                "type": "string",
                "value": "@{if(variables('isFrench'),if(outputs('Get_a_WO._All_fields')?['body/qm_remote'],'Oui','Non'),if(outputs('Get_a_WO._All_fields')?['body/qm_remote'],'Yes','No'))}"
              }
            ]
          }
        },
        "Primary_Inspector_Email": {
          "runAfter": {
            "Get_Primary_Inspector": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9aafaa33-c2e1-4a9c-94d5-4437fc5a2fa2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "prmInspectorEmail",
                "type": "string",
                "value": "@{if(empty(outputs('Get_Primary_Inspector')?['body/userid/internalemailaddress']),outputs('Get_Primary_Inspector')?['body/userid/domainname'],outputs('Get_Primary_Inspector')?['body/userid/internalemailaddress'])}"
              }
            ]
          }
        },
        "Violation_Text": {
          "runAfter": {
            "Violations": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a40548d-c156-44ff-906e-de1b89cd0f1e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ViolationText",
                "type": "string"
              }
            ]
          }
        },
        "Enabling_Regulation_Text": {
          "runAfter": {
            "Violation_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "66311860-3f8c-4854-a156-7955e82648d2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "enblRegulation",
                "type": "string"
              }
            ]
          }
        },
        "Enabling_Act_Text": {
          "runAfter": {
            "Enabling_Regulation_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c8332157-d4a0-49a8-832f-f0f27647d873"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "enblAct",
                "type": "string"
              }
            ]
          }
        },
        "Set_StartTime": {
          "runAfter": {
            "Get_Bookings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1a41948-dc6e-4408-99b1-0e3a635a06ef"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "bookingStartTime",
            "value": "@{first(split(first(outputs('Get_Bookings')?['body/value'])?['starttime'],'T'))}"
          }
        },
        "Booking_EndTime": {
          "runAfter": {
            "Booking_StartTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ce300c1-9fe9-4268-b651-58baefc8cbfa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "bookingEndTime",
                "type": "string"
              }
            ]
          }
        },
        "Set_EndTime": {
          "runAfter": {
            "Set_StartTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35c7658c-185b-4658-a012-543621152720"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "bookingEndTime",
            "value": "@first(outputs('Get_Bookings')?['body/value'])?['endtime']"
          }
        },
        "Is_COC_exist": {
          "runAfter": {
            "Is_Booking_complete": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6613fba3-0ba8-4cda-a44b-2ffe61a210ab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isCOCexist",
                "type": "integer",
                "value": 0
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}