Solutions/TDGFlowInspectionReport/unpack/Workflows/TDGInspections-InspectionReport-78E8155F-C6A9-EB11-9442-000D3AE99322.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceSharepointTDGCoreUser"},"api":{"name":"shared_sharepointonline"}},"shared_wordonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceWordOnlineTDGCoreUser"},"api":{"name":"shared_wordonlinebusiness"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseLegacyServicePrinciple"},"api":{"name":"shared_commondataservice"}},"shared_azureblob":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceBlobSASKey"},"api":{"name":"shared_azureblob"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"inspection_report_id":{"type":"string"},"wo_id":{"type":"string"},"triggering_user_id":{"type":"string"},"triggering_user_name":{"type":"string"}}}}}},"actions":{"Booking_StartTime":{"runAfter":{"Remote_boolean_based_on_language":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"bookingStartTime","type":"string"}]}},"Violations":{"runAfter":{"Is_Booking_complete":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"violations","type":"array"}]}},"Get_Primary_Inspector":{"runAfter":{"Activity_Id":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bookableresources","recordId":"@outputs('Get_a_WO._All_fields')?['body/_ovs_primaryinspector_value']","$select":"bookableresourceid,ovs_badgenumber,ovs_registeredinspectornumberrin","$expand":"UserId($select=lastname,firstname,systemuserid,fullname,address1_telephone1,domainname,internalemailaddress)"},"authentication":"@parameters('$authentication')"}},"Get_Bookings":{"runAfter":{"Second_Inspector_Badge":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bookableresourcebookings","$select":"bookableresourcebookingid,_bookingstatus_value,starttime,endtime","$filter":"(statecode eq 0 and _msdyn_workorder_value eq @{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})","$orderby":"starttime asc"},"authentication":"@parameters('$authentication')"}},"Get_Violations(Results)":{"runAfter":{"Set_EndTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"qm_syresults","$select":"qm_violationdisplaylabel,qm_referenceid,qm_externalcomments,_qm_workorderid_value,qm_violationdisplayfrenchlabel,qm_syresultid,ovs_duedate,qm_violationdisplaytextfrench,qm_violationdisplaytextenglish,qm_confirmationrequestedchk","$filter":"(_qm_rclegislationid_value ne null and statuscode eq 1 and _qm_workorderid_value eq @{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']}) and (qm_rclegislationId/qm_rclegislationid ne null)"},"authentication":"@parameters('$authentication')"}},"Loop_Violations":{"foreach":"@outputs('Get_Violations(Results)')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"violations","value":{"Violation Display Label":"@if(variables('isFrench'),items('Loop_Violations')?['qm_violationdisplayfrenchlabel'],items('Loop_Violations')?['qm_violationdisplaylabel'])","Violation Display Text":"@if(variables('isFrench'),items('Loop_Violations')?['qm_violationdisplaytextfrench'],items('Loop_Violations')?['qm_violationdisplaytextenglish'])","Reference ID":"@{items('Loop_Violations')?['qm_referenceid']}","Violation External Comments ":"@{items('Loop_Violations')?['qm_externalcomments']}","Confirmation of Compliance Due Date":"@first(split(items('Loop_Violations')?['ovs_duedate'],'T'))"}}}},"runAfter":{"Get_Violations(Results)":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Is_Violations":{"runAfter":{"Loop_Violations":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isViolations","type":"boolean","value":"@greater(length(variables('violations')), 0)"}]}},"Clean_WO_guid":{"runAfter":{"Is_Violations":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"WOid","type":"string","value":"@{toUpper(replace(triggerBody()?['wo_id'], '-', ''))}"}]}},"SP_Folder_Path":{"runAfter":{"Clean_WO_guid":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SPfolderPath","type":"string","value":"/@{outputs('Get_a_WO._All_fields')?['body/msdyn_name']}_@{variables('WOid')}"}]}},"File_Name_SharePoint":{"runAfter":{"SP_Folder_Path":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"fileNameSP","type":"string","value":"@{outputs('Get_Inspection_Report')?['body/ovs_name']}.docx"}]}},"Is_French":{"runAfter":{"Location_Condition":["Succeeded","Failed","Skipped","TimedOut"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isFrench","type":"boolean","value":"@equals(outputs('Get_Inspection_Report')?['body/ovs_reportlanguage'],918640002)"}]}},"Activity_Id":{"runAfter":{"Enabling_Act_Text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"activityid","type":"string"}]}},"removeLocation":{"runAfter":{"Get_Site_and_Primary_Contact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isAddressEqLocation","type":"boolean","value":"@true"}]}},"Location_Condition":{"actions":{"Set_Location_flag":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isAddressEqLocation","value":"@false"}}},"runAfter":{"removeLocation":["Succeeded"]},"expression":{"and":[{"equals":["@outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']","@outputs('Get_a_WO._All_fields')?['body/msdyn_address1']"]},{"equals":["@outputs('Get_Site_and_Primary_Contact')?['body/address1_city']","@outputs('Get_a_WO._All_fields')?['body/msdyn_city']"]},{"equals":["@outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']","@outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']"]},{"equals":["@outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']","@outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']"]}]},"type":"If"},"Second_Inspector_Name":{"runAfter":{"Primary_Inspector_Email":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"scndInspectorName","type":"string","value":"---"}]}},"Second_Inspector_Email":{"runAfter":{"Second_Inspector_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"scndInspectorEmail","type":"string","value":"---"}]}},"Second_Inspector_Phone":{"runAfter":{"Second_Inspector_Email":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"scndInspectorPhone","type":"string","value":"---"}]}},"Second_Inspector__RIN":{"runAfter":{"Second_Inspector_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"scndInspectorRIN","type":"string","value":"---"}]}},"Second_Inspector_Badge":{"runAfter":{"Second_Inspector__RIN":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"scndInspectorBadge","type":"string","value":"---"}]}},"File_Path_Blob":{"runAfter":{"File_Name_SharePoint":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"filePathBlob","type":"string","value":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_name']}_@{variables('WOid')}/Inspection Report-Rapport d'inspection/@{outputs('Get_Inspection_Report')?['body/ovs_name']}.pdf"}]}},"Get_Site_and_Primary_Contact":{"runAfter":{"Get_a_WO._All_fields":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_WO._All_fields')?['body/_msdyn_serviceaccount_value']","$select":"name,emailaddress1,accountid,address1_composite, address1_city,address1_stateorprovince,address1_line1,address1_postalcode,address1_country,ovs_legalname","$expand":"primarycontactid($select=jobtitle,fullname,emailaddress1,telephone1)"},"authentication":"@parameters('$authentication')"}},"Get_a_WO._All_fields":{"runAfter":{"Get_Inspection_Report":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@outputs('Get_Inspection_Report')?['body/_ovs_workorderid_value']"},"authentication":"@parameters('$authentication')"}},"try":{"actions":{"Create_new_folder__in_SharePoint":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateNewFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","table":"ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395","parameters/path":"/Reports@{variables('SPfolderPath')}"},"authentication":"@parameters('$authentication')"}},"Email:_FR_or_EN":{"actions":{"Email_Fr":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"/systemusers(@{triggerBody()?['triggering_user_id']})"},{"participationtypemask":2,"partyid@odata.bind":"/accounts(@{outputs('Get_Site_and_Primary_Contact')?['body/accountid']})"},{"participationtypemask":3,"partyid@odata.bind":"/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})"}],"item/description":"<p>Bonjour,</p>\n<p>Veuillez trouver ci-joint une copie du rapport d’inspection relatif à une inspection qui a eu lieu le @{variables('bookingStartTime')} par l'Inspecteur TMD @{outputs('Get_Primary_Inspector')?['body/userid/lastname']}. Le rapport détaille les observations faites lors de l'inspection et comprend toutes les mesures qui doivent être prises par @{outputs('Get_Site_and_Primary_Contact')?['body/name']}.</p>\n<p>Si vous avez des questions ou des préoccupations, veuillez contacter l'Inspecteur @{outputs('Get_Primary_Inspector')?['body/userid/lastname']} aux coordonnées ci-dessous.</p>\n</br>\nCordialement,","item/ownerid_email@odata.bind":"/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})","item/regardingobjectid_msdyn_workorder_email@odata.bind":"/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})","item/subject":"Rapport d'inspection"},"authentication":"@parameters('$authentication')"}},"Set_email_Id_fr":{"runAfter":{"Email_Fr":["Succeeded"]},"type":"SetVariable","inputs":{"name":"activityid","value":"@outputs('Email_Fr')?['body/activityid']"}}},"runAfter":{"Create_new_folder__in_SharePoint":["Succeeded"]},"else":{"actions":{"Set_email_id_en":{"runAfter":{"Email_En":["Succeeded"]},"type":"SetVariable","inputs":{"name":"activityid","value":"@outputs('Email_En')?['body/activityid']"}},"Email_En":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"/systemusers(@{triggerBody()?['triggering_user_id']})"},{"participationtypemask":2,"partyid@odata.bind":"/accounts(@{outputs('Get_Site_and_Primary_Contact')?['body/accountid']})"},{"participationtypemask":3,"partyid@odata.bind":"/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})"}],"item/description":"<p>Good day, </p>\n<p>Please find attached a copy of the report resulting from an inspection that took place on @{variables('bookingStartTime')} by TDG Inspector @{outputs('Get_Primary_Inspector')?['body/userid/lastname']}. The report details the findings of the inspection and includes any necessary actions that need to be taken by @{outputs('Get_Site_and_Primary_Contact')?['body/name']}.</p>\n<p> Should you have any questions or concerns, please contact Inspector  @{outputs('Get_Primary_Inspector')?['body/userid/lastname']} at the information found below.</p>\n\n</br>\nRegards,","item/ownerid_email@odata.bind":"/systemusers(@{outputs('Get_Primary_Inspector')?['body/userid/systemuserid']})","item/regardingobjectid_msdyn_workorder_email@odata.bind":"/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})","item/subject":"Inspection Report"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('isFrench')","@true"]},"type":"If"},"Secondary_Inspector_condition":{"actions":{},"runAfter":{"Email:_FR_or_EN":["Succeeded"]},"else":{"actions":{"Get_Secondary_Inspector":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bookableresources","recordId":"@outputs('Get_a_WO._All_fields')?['body/_ovs_secondaryinspector_value']","$select":"bookableresourceid,ovs_badgenumber,ovs_registeredinspectornumberrin","$expand":"UserId($select=lastname,firstname,systemuserid,fullname,address1_telephone1,domainname,internalemailaddress)"},"authentication":"@parameters('$authentication')"}},"Set_Name":{"runAfter":{"Get_Secondary_Inspector":["Succeeded"]},"type":"SetVariable","inputs":{"name":"scndInspectorName","value":"@outputs('Get_Secondary_Inspector')?['body/userid/fullname']"}},"Set_Badge":{"runAfter":{"Set_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"scndInspectorBadge","value":"@outputs('Get_Secondary_Inspector')?['body/ovs_badgenumber']"}},"Set_RIN":{"runAfter":{"Set_Badge":["Succeeded"]},"type":"SetVariable","inputs":{"name":"scndInspectorRIN","value":"@outputs('Get_Secondary_Inspector')?['body/ovs_registeredinspectornumberrin']"}},"Set_Email":{"runAfter":{"Set_RIN":["Succeeded"]},"type":"SetVariable","inputs":{"name":"scndInspectorEmail","value":"@outputs('Get_Secondary_Inspector')?['body/userid/domainname']"}},"Set_Phone":{"runAfter":{"Set_Email":["Succeeded"]},"type":"SetVariable","inputs":{"name":"scndInspectorPhone","value":"@outputs('Get_Secondary_Inspector')?['body/userid/address1_telephone1']"}}}},"expression":{"equals":["@outputs('Get_a_WO._All_fields')?['body/_ovs_secondaryinspector_value']","@null"]},"type":"If"},"Populate._Is_French":{"actions":{"FR.Location":{"actions":{"FR.Location.Violations":{"actions":{"Populate_a_Microsoft_Word_template_FR.Location.Violation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7A3PUOERLOYTFD3NGVNHKLSWOZL":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7GJORJ436KLSRA3LPP32PWWITK6":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx","01QZYBJ7CCQBVEJTDN5RC2IATQIJOVZT4H":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx","01QZYBJ7HJO2BNG4U2VNHJLHKERITF3NWL":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx","01QZYBJ7GFLKQTPAJCA5B3LVZMTSZZ4DYR":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx","01QZYBJ7ADE4ONZSBVVZB2XFOTKIRRYC4P":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations Location.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7ADE4ONZSBVVZB2XFOTKIRRYC4P","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/270129255":"@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']","dynamicFileSchema/275383476":"@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1705523509":"@variables('violations')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2092892383":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-138117494":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-820736929":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_FR.Location.Violation":{"runAfter":{"Populate_a_Microsoft_Word_template_FR.Location.Violation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_FR.Location.Violation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"else":{"actions":{"Populate_a_Microsoft_Word_template_FR.Location.NoViolation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7AKBQYQIZOAEBHL42GI5XVV7YI6":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7AVG4KP4SNSJ5DL4GY4E3A6PK42":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7B3IVQC6V5IGJCJJG3MRND4IKAD":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx","01QZYBJ7APND6QFPQNUNGY7ORWVCFU3TRG":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx","01QZYBJ7BLSZX4VFKBYNGIXOP6NCQOEXU5":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx","01QZYBJ7ABJIWU5MWEK5BYHHG2KTZWHMPI":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV Location.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7ABJIWU5MWEK5BYHHG2KTZWHMPI","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/270129255":"@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']","dynamicFileSchema/275383476":"@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2092892383":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-236401837":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1507894255":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_FR.Location.NoViolation":{"runAfter":{"Populate_a_Microsoft_Word_template_FR.Location.NoViolation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_FR.Location.NoViolation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@variables('isViolations')","@true"]},"type":"If"}},"runAfter":{},"else":{"actions":{"FR.NoLocation.Violations":{"actions":{"Populate_a_Microsoft_Word_template_FR.NoLocation.Violation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7DALPYQWWC36VD3WDAWZ4KBZDDY":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7C2LL5VVAXLOZFJ3PIRWB5YLK2C":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7CXEMGYSZ7V2FHK4BYLSQSDSENW":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx","01QZYBJ7ENL3BBKDBTHZCYAINSR6I7UE6A":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx","01QZYBJ7H2ZU7NC3GBYFBI3WYKMCHT6OXN":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx","01QZYBJ7AU7OA4BQYDKRBZWRB2JRZBPSHZ":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx","01QZYBJ7AYNTRDBGNFJNBLWK4PXTRPJRCA":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Violations NoLocation.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7AYNTRDBGNFJNBLWK4PXTRPJRCA","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1705523509":"@variables('violations')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-1864437220":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-2145267778":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_FR.NoLocation.Violation":{"runAfter":{"Populate_a_Microsoft_Word_template_FR.NoLocation.Violation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_FR.NoLocation.Violation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"else":{"actions":{"Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7FG4MD6T7ZSBRCIHCC62OVLVA62":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7F7RTRFIWMZG5HYP53KQKLUIMTJ":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7HLUMXAAIOQQBG3KX47S6XKNPKI":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx","01QZYBJ7BOLZPJOTMGSRF3NXO6UQDQTIR5":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx","01QZYBJ7HQ2ZAB42FAPJBLJQMPU2JIN4UO":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx","01QZYBJ7AOVLZTMR7XLFG3UI434W227RW4":"/Inspection Report Templates/FR/FR - NOMC Revised Inspection Report NoV NoLocation.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7AOVLZTMR7XLFG3UI434W227RW4","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1026907303":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-899662700":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_FR.NoLocation.NoViolation":{"runAfter":{"Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_FR.NoLocation.NoViolation_')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@variables('isViolations')","@true"]},"type":"If"}}},"expression":{"equals":["@variables('isAddressEqLocation')","@true"]},"type":"If"}},"runAfter":{"Secondary_Inspector_condition":["Succeeded"]},"else":{"actions":{"EN.Location":{"actions":{"EN.Location.Violation":{"actions":{"Populate_a_Microsoft_Word_template_EN.Location.Violation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7A3PUOERLOYTFD3NGVNHKLSWOZL":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7FMKBDJHUNRZNC3B5SDN47OK6ZX":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7GMRKWCNQWUHJGYUXOZOAPTQRZI":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7CWKLAE5VUOIVDZR6QILB7BCUD4":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7BVODBPDRLT4REYIHKZVVUZVUYQ":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7ETYZ3MFGY2CVD2UXQLSYT3IMSX":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7CYK5UCQ7WXINHZRGMY23I34QKV":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7CYK5UCQ7WXINHZRGMY23I34QKV","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/270129255":"@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']","dynamicFileSchema/275383476":"@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1317528207":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1705523509":"@variables('violations')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2092892383":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-290821859":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_EN.Location.Violation":{"runAfter":{"Populate_a_Microsoft_Word_template_EN.Location.Violation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_EN.Location.Violation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"else":{"actions":{"Populate_a_Microsoft_Word_template_EN.Location.NoViolation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7AKBQYQIZOAEBHL42GI5XVV7YI6":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7AVG4KP4SNSJ5DL4GY4E3A6PK42":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7GR52FLVKSKPNGK2M6JSJQQPTRH":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7GZSAEF2GBCKBEZ74LMEYJI4L5S":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7AMZYHHLGAEL5E2FSIIDY4GCN5U":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7DTPKBVI56SYVCIAUNK4YFJXZOW":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx","01QZYBJ7BWT6E45MFMBFAL7RHTYPAR2HEJ":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV Location EN .docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7BWT6E45MFMBFAL7RHTYPAR2HEJ","dynamicFileSchema/127295357":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/270129255":"@outputs('Get_a_WO._All_fields')?['body/msdyn_latitude']","dynamicFileSchema/275383476":"@outputs('Get_a_WO._All_fields')?['body/msdyn_longitude']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2092892383":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_address1']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_city']}, @{outputs('Get_a_WO._All_fields')?['body/msdyn_stateorprovince']}. @{outputs('Get_a_WO._All_fields')?['body/msdyn_postalcode']}","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-1668390056":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_EN.Location.NoViolation":{"runAfter":{"Populate_a_Microsoft_Word_template_EN.Location.NoViolation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_EN.Location.NoViolation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@variables('isViolations')","@true"]},"type":"If"}},"runAfter":{},"else":{"actions":{"EN.NoLocation.Violations":{"actions":{"Populate_a_Microsoft_Word_template_EN.NoLocation.Violation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7DALPYQWWC36VD3WDAWZ4KBZDDY":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7C2LL5VVAXLOZFJ3PIRWB5YLK2C":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7GP6NJXXOYEKREIICJOT6EDF5LG":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7E2YBPSP7QUENBYNF4LX4CW5VIN":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7HZFUXP5SPZWRHIWH54FTJRTTKP":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7APUYRQDPV5NRCZIWQ4DOQOL5PU":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx","01QZYBJ7CLRN4UT5P6MVEZGWJOOWGDOKQN":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations NoLocation EN.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7CLRN4UT5P6MVEZGWJOOWGDOKQN","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1432782631":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1648855167":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/1705523509":"@variables('violations')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_EN.NoLocation.Violation":{"runAfter":{"Populate_a_Microsoft_Word_template_EN.NoLocation.Violation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_EN.NoLocation.Violation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{},"else":{"actions":{"Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation":{"runAfter":{},"metadata":{"01QZYBJ7AGKW353TY5MRBLALEQ2KXLIUXE":"/Inspection Report Templates/EN/NOMC Inspection Report  Violations Location EN.docx","01QZYBJ7FG4MD6T7ZSBRCIHCC62OVLVA62":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7F7RTRFIWMZG5HYP53KQKLUIMTJ":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7BJLZ33T4QVTVC2RQM6LMS4HLNL":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7EUCG3P4H7DE5BYVMFJQSUJB7RS":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7CQNDW6GGO2XBHIG47EDYFRIJDT":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7AU36EHAFNTYNAZZWNEFZXZ6KSG":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx","01QZYBJ7ETZ3CR32UHOZC2EADOJH2F7CEZ":"/Inspection Report Templates/EN/NOMC Inspection Report  NoV NoLocation EN.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7ETZ3CR32UHOZC2EADOJH2F7CEZ","dynamicFileSchema/195427893":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/383832492":"@variables('scndInspectorEmail')","dynamicFileSchema/458229815":"@variables('bookingStartTime')","dynamicFileSchema/684555900":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')","dynamicFileSchema/795868948":"@variables('scndInspectorBadge')","dynamicFileSchema/980343006":"@{outputs('Get_Site_and_Primary_Contact')?['body/address1_line1']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_city']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_stateorprovince']}, @{outputs('Get_Site_and_Primary_Contact')?['body/address1_postalcode']}","dynamicFileSchema/1102927297":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/1401091317":"@variables('scndInspectorName')","dynamicFileSchema/1600681763":"@variables('scndInspectorPhone')","dynamicFileSchema/1895699130":"@variables('Remote')","dynamicFileSchema/1966544364":"@outputs('Get_Primary_Inspector')?['body/ovs_badgenumber']","dynamicFileSchema/2014261285":"@outputs('Get_Primary_Inspector')?['body/userid/address1_telephone1']","dynamicFileSchema/2117092899":"@outputs('Get_Inspection_Report')?['body/ovs_generalcomments']","dynamicFileSchema/-2132464357":"@outputs('Get_Site_and_Primary_Contact')?['body/ovs_legalname']","dynamicFileSchema/-96106577":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/fullname']","dynamicFileSchema/-638495335":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/jobtitle']","dynamicFileSchema/-1131555099":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1099405683":"@outputs('Get_Site_and_Primary_Contact')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-1367443116":"@outputs('Get_Primary_Inspector')?['body/userid/fullname']","dynamicFileSchema/-217049391":"@outputs('Get_Primary_Inspector')?['body/ovs_registeredinspectornumberrin']","dynamicFileSchema/-722680123":"@variables('scndInspectorRIN')","dynamicFileSchema/-1231235283":"@variables('prmInspectorEmail')","dynamicFileSchema/-1452475705":"@outputs('Get_a_WO._All_fields')?['body/msdyn_name']","dynamicFileSchema/-1807610976":"@convertFromUtc(utcNow(), 'Eastern Standard Time','yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"Create_file_in_SP_EN.NoLocation.NoViolation":{"runAfter":{"Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder__in_SharePoint')?['body/{FullPath}']","name":"@variables('fileNameSP')","body":"@outputs('Populate_a_Microsoft_Word_template_EN.NoLocation.NoViolation')?['body']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@variables('isViolations')","@true"]},"type":"If"}}},"expression":{"equals":["@variables('isAddressEqLocation')","@true"]},"type":"If"}}},"expression":{"equals":["@variables('isFrench')","@true"]},"type":"If"},"Create_activity_attachment":{"runAfter":{"Populate._Is_French":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"activitymimeattachments","item/_attachmentid_value":"@null","item/objecttypecode":"email","item/_objectid_value":"@variables('activityid')","item/_objectid_type":"emails"},"authentication":"@parameters('$authentication')"}},"Convert_Word_Document_to_PDF":{"runAfter":{"Create_activity_attachment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"GetFilePDF","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"/Reports@{variables('SPfolderPath')}/@{variables('fileNameSP')}"},"authentication":"@parameters('$authentication')"}},"Create_PDF_file_blob":{"runAfter":{"Convert_Word_Document_to_PDF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azureblob","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_azureblob"},"parameters":{"folderPath":"/msdynworkorder","name":"@variables('filePathBlob')","body":"@outputs('Convert_Word_Document_to_PDF')?['body']","Content-Type":"application/pdf"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_attachment":{"runAfter":{"Update_booking_resources":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"activitymimeattachments","recordId":"@outputs('Create_activity_attachment')?['body/activitymimeattachmentid']","item/body":"@base64(outputs('Convert_Word_Document_to_PDF')?['body'])","item/filename":"@{outputs('Get_Inspection_Report')?['body/ovs_name']}.pdf","item/mimetype":"application/pdf","item/subject":"@if(variables('isFrench'),'Rapport inspection','Inspection Report')"},"authentication":"@parameters('$authentication')"}},"Update_the_Work_Order":{"runAfter":{"Update_attachment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']","item/msdyn_systemstatus":690970003},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Violation":{"foreach":"@outputs('Get_Violations(Results)')?['body/value']","actions":{"Create_a_Confirmation_Team":{"runAfter":{"Create_a_Confirmation_User":["Failed","Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_confirmationofcompliances","item/ovs_daterequested":"@utcNow()","item/statuscode":4,"item/ovs_Violation_ovs_confirmationofcompliance@odata.bind":"/qm_syresults(@{items('Apply_to_each_Violation')?['qm_syresultid']})","item/statecode":3,"item/scheduledend":"@items('Apply_to_each_Violation')?['ovs_duedate']","item/ownerid_ovs_confirmationofcompliance@odata.bind":"/teams(@{outputs('Get_a_WO._All_fields')?['body/_ownerid_value']})","item/regardingobjectid_msdyn_workorder_ovs_confirmationofcompliance@odata.bind":"/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})","item/subject":"Confirmation of Compliance - @{items('Apply_to_each_Violation')?['qm_rclegislationid/qm_legislationlbl']}"},"authentication":"@parameters('$authentication')"}},"Create_a_Confirmation_User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_confirmationofcompliances","item/ovs_daterequested":"@utcNow()","item/statuscode":"@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],4,918640004)","item/ovs_Violation_ovs_confirmationofcompliance@odata.bind":"/qm_syresults(@{items('Apply_to_each_Violation')?['qm_syresultid']})","item/statecode":"@if(items('Apply_to_each_Violation')?['qm_confirmationrequestedchk'],3,1)","item/scheduledend":"@items('Apply_to_each_Violation')?['ovs_duedate']","item/ownerid_ovs_confirmationofcompliance@odata.bind":"/systemusers(@{outputs('Get_a_WO._All_fields')?['body/_ownerid_value']})","item/regardingobjectid_msdyn_workorder_ovs_confirmationofcompliance@odata.bind":"/msdyn_workorders(@{outputs('Get_a_WO._All_fields')?['body/msdyn_workorderid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_report_Inactive":["Succeeded"]},"type":"Foreach"},"Response":{"runAfter":{"Apply_to_each_Violation":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"ContentType":"application/json"},"body":{"string64":"@base64(outputs('Convert_Word_Document_to_PDF')?['body'])","container":"msdynworkorder","name_guid":"@{outputs('Get_a_WO._All_fields')?['body/msdyn_name']}_@{variables('WOid')}/InspectionReport","file_name":"@{outputs('Get_Site_and_Primary_Contact')?['body/name']}_@{formatDateTime(utcNow(),'yyyy-MM-dd')}.pdf"},"schema":{"type":"object","properties":{"container":{"type":"string"},"name_guid":{"type":"string"},"file_name":{"type":"string"}}}}},"Set_report_Inactive":{"runAfter":{"Update_the_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_tdginspectionreports","recordId":"@outputs('Get_Inspection_Report')?['body/ovs_tdginspectionreportid']","item/statuscode":2,"item/statecode":1},"authentication":"@parameters('$authentication')"}},"Update_booking_resources":{"foreach":"@outputs('Get_Bookings')?['body/value']","actions":{"Set_ID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"BookingId","value":"@items('Update_booking_resources')?['bookableresourcebookingid']"}},"Is_Booking_update_needed":{"actions":{"Update_Booking_to_complete":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bookableresourcebookings","recordId":"@variables('BookingId')","item/BookingStatus@odata.bind":"/bookingstatuses(c33410b9-1abe-4631-b4e9-6e4a1113af34)","item/endtime":"@variables('bookingEndTime')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_Booking_status_condition":["Succeeded"]},"expression":{"equals":["@variables('isBookingComplete')","@false"]},"type":"If"},"Set_Booking_status_condition":{"runAfter":{"Set_ID":["Succeeded"]},"type":"SetVariable","inputs":{"name":"isBookingComplete","value":"@equals(items('Update_booking_resources')?['_bookingstatus_value'],'c33410b9-1abe-4631-b4e9-6e4a1113af34')"}}},"runAfter":{"Delete_word_from_SharePoint":["Succeeded"]},"type":"Foreach"},"Delete_word_from_SharePoint":{"runAfter":{"Create_PDF_file_blob":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","table":"Documents","id":"@outputs('Create_new_folder__in_SharePoint')?['body/ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"File_Path_Blob":["Succeeded"]},"type":"Scope"},"catch":{"actions":{"Get_errors":{"runAfter":{},"type":"Compose","inputs":"@result('try')"},"Internal_Error_Response":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@if(greater(length(body('Filter_array')), 0),500,200)","headers":{"ContentType":"application/json"},"body":"@body('Filter_array')"}},"Filter_array":{"runAfter":{"Get_errors":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_errors')","where":"@equals(item()?['status'], 'Failed')"}}},"runAfter":{"try":["Failed","TimedOut"]},"type":"Scope"},"Get_Inspection_Report":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_tdginspectionreports","recordId":"@triggerBody()?['inspection_report_id']"},"authentication":"@parameters('$authentication')"}},"Booking_ID":{"runAfter":{"Booking_EndTime":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"BookingId","type":"string"}]}},"Is_Booking_complete":{"runAfter":{"Booking_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isBookingComplete","type":"boolean"}]}},"Remote_boolean_based_on_language":{"runAfter":{"Is_French":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Remote","type":"string","value":"@{if(variables('isFrench'),if(outputs('Get_a_WO._All_fields')?['body/qm_remote'],'Oui','Non'),if(outputs('Get_a_WO._All_fields')?['body/qm_remote'],'Yes','No'))}"}]}},"Primary_Inspector_Email":{"runAfter":{"Get_Primary_Inspector":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"prmInspectorEmail","type":"string","value":"@{if(empty(outputs('Get_Primary_Inspector')?['body/userid/internalemailaddress']),outputs('Get_Primary_Inspector')?['body/userid/domainname'],outputs('Get_Primary_Inspector')?['body/userid/internalemailaddress'])}"}]}},"Violation_Text":{"runAfter":{"Violations":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ViolationText","type":"string"}]}},"Enabling_Regulation_Text":{"runAfter":{"Violation_Text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"enblRegulation","type":"string"}]}},"Enabling_Act_Text":{"runAfter":{"Enabling_Regulation_Text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"enblAct","type":"string"}]}},"Set_StartTime":{"runAfter":{"Get_Bookings":["Succeeded"]},"type":"SetVariable","inputs":{"name":"bookingStartTime","value":"@{first(split(first(outputs('Get_Bookings')?['body/value'])?['starttime'],'T'))}"}},"Booking_EndTime":{"runAfter":{"Booking_StartTime":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"bookingEndTime","type":"string"}]}},"Set_EndTime":{"runAfter":{"Set_StartTime":["Succeeded"]},"type":"SetVariable","inputs":{"name":"bookingEndTime","value":"@first(outputs('Get_Bookings')?['body/value'])?['endtime']"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}