Solutions/TC_GlobalCore/unpack/Workflows/TDGInspections-SendanotificationwhenOperationsetto-47A895F4-7C17-ED11-B83E-000D3A0C8551.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_powerplatformforadmins": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ovs_sharedpowerplatformforadmins_bd483"
        },
        "api": {
          "name": "shared_powerplatformforadmins"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceOutlookTDGCoreUser"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceMSTeamsTDGCoreUser"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "07590f44-7910-47fa-a4cf-34d23544c2b4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ovs_mocregistration",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ovs_followupind",
              "subscriptionRequest/filterexpression": "ovs_followupind eq true"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows:_Users_and_SecurityRoles": {
          "runAfter": {
            "Initialize_variable:_Environment_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0c10da16-12c0-427c-861e-6e170b3d62cd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "fetchXml": "<fetch>\n  <entity name=\"systemuser\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"domainname\" />\n    <attribute name=\"internalemailaddress\" />\n    <filter>\n      <condition attribute=\"isdisabled\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"domainname\" operator=\"not-begin-with\" value=\"TDG\" />\n    </filter>\n    <link-entity name=\"systemuserroles\" from=\"systemuserid\" to=\"systemuserid\" link-type=\"inner\" alias=\"role\">\n      <link-entity name=\"role\" from=\"roleid\" to=\"roleid\" link-type=\"inner\" alias=\"rolename\" intersect=\"true\">\n        <filter>\n          <condition attribute=\"name\" operator=\"eq\" value=\"TDG Planner\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Apply_to_each": {
              "foreach": "@outputs('List_rows:_Users_and_SecurityRoles')?['body/value']",
              "actions": {
                "Append_to_string_variable:_Planners_Emails_String_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f026c76b-e27c-423c-b2c6-ce2e37ab6a10"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "Planners emails",
                    "value": ";@{items('Apply_to_each')?['internalemailaddress']}"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8b4d062c-d2a1-4d04-bfca-b1888326527f"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_rows:_Users_and_SecurityRoles": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@empty(outputs('List_rows:_Users_and_SecurityRoles')?['body/value'])",
                    "@true"
                  ]
                }
              },
              {
                "greater": [
                  "@length(outputs('List_rows:_Users_and_SecurityRoles')?['body/value'])",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0a2d1070-41c5-44f1-9edf-372bcf9578db"
          },
          "type": "If"
        },
        "Get_Modified_User_email": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "302200e7-9fe2-4133-a73b-7da775522ffb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_modifiedby_value']",
              "$select": "domainname"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable:_modifiedUserEmail": {
          "runAfter": {
            "Get_Modified_User_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a43806f2-df7b-4d03-8cc0-15a29ac80d31"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "modifiedUserEmail",
                "type": "string",
                "value": "@outputs('Get_Modified_User_email')?['body/domainname']"
              }
            ]
          }
        },
        "Initialize_variable:_All_Planners_emails": {
          "runAfter": {
            "Initialize_variable:_modifiedUserEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a0cc527-6afa-4b34-9ab0-dc687a7a7d76"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Planners emails",
                "type": "string",
                "value": "@outputs('Get_Modified_User_email')?['body/domainname']"
              }
            ]
          }
        },
        "Initialize_variable:_D365_Operation_URL_": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d8ece02-aab5-42b4-9830-9f87333e489a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "D365 Operation URL",
                "type": "string",
                "value": "@{concat('https://',variables('Environment Name'),'.crm3.dynamics.com/main.aspx?pagetype=entityrecord&etn=ovs_mocregistration&id=', triggerOutputs()?['body/ovs_mocregistrationid'])}"
              }
            ]
          }
        },
        "Initialize_variable:_Environment_Name": {
          "runAfter": {
            "Get_Environment_as_Admin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "775d6e44-0dd0-4dda-9277-05c30311025e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment Name",
                "type": "string",
                "value": "@{body('Get_Environment_as_Admin')?['properties']?['displayName']}"
              }
            ]
          }
        },
        "Get_Environment_as_Admin": {
          "runAfter": {
            "Initialize_variable:_All_Planners_emails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "21e13561-c80a-4c1e-9910-13dacabd670e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerplatformforadmins",
              "operationId": "GetSingleEnvironment",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"
            },
            "parameters": {
              "environment": "@workflow()['tags']['environmentName']",
              "api-version": "2018-10-01"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose_Operation_Link": {
          "runAfter": {
            "Initialize_variable:_D365_Operation_URL_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd6c001b-0ca7-4960-b9a3-eedc4797f60f"
          },
          "type": "Compose",
          "inputs": "<a href = \"@{variables('D365 Operation URL')}\">@{triggerOutputs()?['body/ovs_name']}</a><br>"
        },
        "Set_Operation_Link": {
          "runAfter": {
            "Compose_Operation_Link": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1afe0047-2a55-4c00-b832-6552ee2aa3aa"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Operation Link",
                "type": "string",
                "value": "@{outputs('Compose_Operation_Link')}"
              }
            ]
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('List_rows:_Users_and_SecurityRoles')?['body/value']",
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ed5686c1-db76-4630-bc73-81f8cf49c006"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@items('Apply_to_each_2')?['internalemailaddress']",
                  "emailMessage/Subject": "@concat('Operation ', triggerOutputs()?['body/ovs_name'], ' has been flagged for follow-up')",
                  "emailMessage/Body": "<p>Hello/Bonjour &nbsp;@{items('Apply_to_each_2')?['fullname']},<br>\n<br>\nOperation @{triggerOutputs()?['body/ovs_name']} follow up inspection required.<br>\nPlease use the following link to navigate directly to the flagged operation: @{variables('Operation Link')}<br>\n___________________________________________________________________________________<br>\n<br>\nOpération @{triggerOutputs()?['body/ovs_name']} inspection de suivi requise.<br>\nVeuillez utiliser le lien suivant pour accéder directement à l’opération signalée: @{variables('Operation Link')}<br>\n<br>\n</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_message_in_a_chat_or_channel": {
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b55c90c-b3ae-44ff-8ec6-8fa8a9cae738"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@{items('Apply_to_each_2')?['internalemailaddress']};",
                  "body/messageBody": "<p><u><strong></strong></u><u><strong>@{concat('Operation ', triggerOutputs()?['body/ovs_name'], ' has been flagged for follow-up')}</strong></u><u><strong></strong></u><strong><br>\n<br>\n</strong>Hello/Bonjour @{items('Apply_to_each_2')?['fullname']},<br>\n<br>\nOperation @{triggerOutputs()?['body/ovs_name']} follow up inspection required.<br>\nPlease use the following link to navigate directly to the flagged operation: @{variables('Operation Link')}<br>\n___________________________________________________________________________________<br>\n<br>\nOpération @{triggerOutputs()?['body/ovs_name']} inspection de suivi requise.<br>\nVeuillez utiliser le lien suivant pour accéder directement à l’opération signalée: @{variables('Operation Link')}<br>\n</p>",
                  "body/isAlert": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Set_Operation_Link": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc8fa600-cf5f-4738-bd18-101fb7eac553"
          },
          "type": "Foreach"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}