Solutions/FDR_Flows/unpack/Workflows/FDR-OperationExpirationNotification-1FF9B03D-6030-ED11-9DB0-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_conref_dataverse_fdrsp"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_sharedoffice365_e53ce"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence_-_Nightly": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2022-09-10T07:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "6452dcd9-8b00-49b6-bb1c-54b5d48c565f"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Parent_Site": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "43f98a44-a472-42c8-9f9a-21187f3b1789"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ParentSite",
                "type": "string"
              }
            ]
          }
        },
        "Current_Region_Name": {
          "runAfter": {
            "Parent_Site": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bcbf45c3-eb18-460f-a4f4-2d57a9da5475"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentRegionName",
                "type": "string"
              }
            ]
          }
        },
        "List_of_operations_expiring_today": {
          "runAfter": {
            "Queue_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "604bdefd-6710-47a0-8a67-86d34559a501"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_mocregistrations",
              "$select": "ovs_mocregistrationname,ovs_registrationexpiry,ovs_name,ovs_mocregistrationid,_ovs_siteid_value",
              "$filter": "(ovs_mocregistrationname ne null and ovs_registrationexpiry ne null and Microsoft.Dynamics.CRM.OlderThanXDays(PropertyName='ovs_registrationexpiry',PropertyValue=30) and _ovs_siteid_value ne null) and (ovs_SiteId/_parentaccountid_value ne null)",
              "$expand": "ovs_SiteId($select=accountid,_parentaccountid_value)",
              "$top": 10000
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Iterate_expiring_-_single_thread": {
          "foreach": "@outputs('List_of_operations_expiring_today')?['body/value']",
          "actions": {
            "Set_current_Parent_Org_id": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d945a8e4-2c8e-4da5-bf30-9d8c84329de8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ParentSite",
                "value": "@{items('Iterate_expiring_-_single_thread')?['ovs_siteid/_parentaccountid_value']}"
              }
            },
            "Get_a_Parent_org": {
              "runAfter": {
                "Set_current_Parent_Org_id": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8321b85f-5c61-4ed5-b17c-a7986ce075e4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@variables('ParentSite')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_current_Region_Name": {
              "runAfter": {
                "Get_a_Parent_org": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "22c0d48a-6a44-4866-a452-13f9eaa1979c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "CurrentRegionName",
                "value": "@{concat(outputs('Get_a_Parent_org')?['body/_territoryid_value@OData.Community.Display.V1.FormattedValue'], ' FDR')}"
              }
            },
            "Get_queue_by_name": {
              "runAfter": {
                "Set_current_Region_Name": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "72adaa4a-503d-413b-a84b-f5f9ef94367d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "queues",
                  "$select": "queueid,emailaddress",
                  "$filter": "(contains(name, '@{variables('CurrentRegionName')}'))"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Queue_Found": {
              "actions": {
                "Set_email": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e122e24c-6d27-4b60-9efb-367e376d6e4a"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "QueueEmail",
                    "value": "@{first(outputs('Get_queue_by_name')?['body/value'])?['emailaddress']}"
                  }
                }
              },
              "runAfter": {
                "Get_queue_by_name": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_default_queue": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e68bc49a-bee2-44ca-b11d-c38559b8a936"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "queues",
                        "$select": "queueid,emailaddress",
                        "$filter": "(name eq 'Default FDR')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_default_email": {
                    "runAfter": {
                      "Get_default_queue": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "51789c87-f390-4aff-ba15-d94d483ebef8"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "QueueEmail",
                      "value": "@{first(outputs('Get_default_queue')?['body/value'])?['emailaddress']}"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Get_queue_by_name')?['body/value'])",
                      0
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@trim(variables('CurrentRegionName'))",
                        "FDR"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d22f42c0-6cf3-498c-aacc-f4310b7437b3"
              },
              "type": "If"
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Queue_Found": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5de3400-7254-402a-bf51-3286cf6defdd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@variables('QueueEmail')",
                  "emailMessage/Subject": "Opportunity @{items('Iterate_expiring_-_single_thread')?['ovs_name']} expired",
                  "emailMessage/Body": "<p>Hello,<br>\nThis is an auto reminder about operation expiration.<br>\nOperation @{items('Iterate_expiring_-_single_thread')?['ovs_name']} related to @{outputs('Get_a_Parent_org')?['body/ovs_legalname']} expired 30 days ago.<br>\n<br>\n<br>\n</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_of_operations_expiring_today": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "804aed47-3ba9-4c0e-ad1b-618ce12b41b0"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Queue_Email": {
          "runAfter": {
            "Current_Region_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25fc6c20-72a0-44a2-8980-ec64ba0342c2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "QueueEmail",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}