Solutions/FDR_Flows/unpack/Workflows/FDR-SPAPIIntegration-UpdateAdjustment-1851A964-1339-ED11-9DB0-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_conref_dataverse_fdrsp"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_tc-5fspapiconnector-5f5cf23ef0bee9f3b2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_conref_spapi"
        },
        "api": {
          "name": "shared_tc-5Fspapiconnector-5F5cf23ef0bee9f3b2",
          "logicalName": "tc_5Fspapiconnector"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_service_request_performance_adjustment_is_made": {
          "metadata": {
            "operationMetadataId": "64af40f0-dde4-45bb-90b5-bfb979d732c4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "fdr_servicerequestperformance",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "fdr_adjustmentjustificationtxt,fdr_adjustmentnbr,fdr_servicerequestperformanceid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Associated_Service_Request": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "53137c5b-d6a5-4b32-8aa0-8e9d46ae0771"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "fdr_servicerequests",
              "$select": "fdr_name,fdr_mtoa_sr_id",
              "$filter": "_fdr_servicerequestperformance_value eq @{triggerOutputs()?['body/fdr_servicerequestperformanceid']}",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_Service_Request": {
          "foreach": "@outputs('Get_Associated_Service_Request')?['body/value']",
          "actions": {
            "Adjust_a_service_request_performance_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4aea12e5-a315-4cd3-9efa-37bffff7701b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_tc-5fspapiconnector-5f5cf23ef0bee9f3b2",
                  "operationId": "servicerequestcontrollervAdjustPerformance",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_tc-5Fspapiconnector-5F5cf23ef0bee9f3b2"
                },
                "parameters": {
                  "serviceRequestId": "@items('Apply_to_each_Service_Request')?['fdr_mtoa_sr_id']",
                  "body/AdjustmentNbr": "@triggerOutputs()?['body/fdr_adjustmentnbr']",
                  "body/AdjustmentJustificationTxt": "@triggerOutputs()?['body/fdr_adjustmentjustificationtxt']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Associated_Service_Request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c94adc7-8dd9-496d-91ee-8d2b06b05c0e"
          },
          "type": "Foreach",
          "description": "Should only be one service request for a specific performance"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}