Solutions/FDR_Flows/unpack/Workflows/FDR-OperationExpirationNotification-1FF9B03D-6030-ED11-9DB0-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_conref_dataverse_fdrsp"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_sharedoffice365_e53ce"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ALL Regions  Operation Expiry Email notebox (fdr_alllRegionsOperationsExpiry)": {
          "defaultValue": "tdg-field-service-qa@034gc.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "fdr_alllRegionsOperationsExpiry",
            "description": "Email to send all notification for MOC Registration(Operations) expiration "
          }
        },
        "CrmBaseUrl (ovs_CrmBaseUrl)": {
          "defaultValue": "tdgcore-dev-tcd365.crm3.dynamics.com",
          "type": "String",
          "metadata": {
            "schemaName": "ovs_CrmBaseUrl",
            "description": "Provides current environment base url. No back slash ending."
          }
        }
      },
      "triggers": {
        "Recurrence_-_Nightly": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2022-09-10T07:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "6452dcd9-8b00-49b6-bb1c-54b5d48c565f"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_of_operations_expired_30_days_ago": {
          "runAfter": {
            "Initialize_variable_ActivityPartStringList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "604bdefd-6710-47a0-8a67-86d34559a501"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_mocregistrations",
              "$select": "ovs_mocregistrationname,ovs_registrationexpiry,ovs_name,ovs_mocregistrationid,_ovs_siteid_value",
              "$filter": "(ovs_mocregistrationname ne null and ovs_registrationexpiry ne null and statecode eq 0 and (Microsoft.Dynamics.CRM.On(PropertyName='ovs_registrationexpiry',PropertyValue='@{formatDateTime(addDays(utcnow(),-30),'yyyy-MM-dd')}')) and _ovs_siteid_value ne null) and (ovs_SiteId/_parentaccountid_value ne null)",
              "$expand": "ovs_SiteId($select=accountid,_parentaccountid_value)",
              "$top": 10000
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Iterate_expired_-_single_thread": {
          "foreach": "@outputs('List_of_operations_expired_30_days_ago')?['body/value']",
          "actions": {
            "Add_a_new_row_-_Email_Message": {
              "runAfter": {
                "MessageText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9d476d7a-607f-455b-9c69-58c1ccbdc857"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "item/activitypointer_activity_parties": [
                    {
                      "participationtypemask": 1,
                      "partyid@odata.bind": "\\queues\\@{outputs('queueid')}"
                    },
                    {
                      "participationtypemask": 2,
                      "partyid@odata.bind": "\\queues\\@{outputs('queueid')}"
                    }
                  ],
                  "item/description": "@outputs('MessageText')",
                  "item/regardingobjectid_ovs_mocregistration_email@odata.bind": "@concat('\\ovs_mocregistrations\\',items('Iterate_expired_-_single_thread')?['ovs_mocregistrationid'])",
                  "item/subject": "Operation @{items('Iterate_expired_-_single_thread')?['ovs_name']} expired"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "MessageText": {
              "runAfter": {
                "add_condition_to_prevent_out_look_send": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d71adb36-01ce-495f-9c18-ec3863997adb"
              },
              "type": "Compose",
              "inputs": "Hello/Bonjour,\n\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']} expired 30 days ago.\n\nPlease use the following link to navigate directly to the operation:\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']}\n___________________________________________________________________________________\n\nOpération @{items('Iterate_expired_-_single_thread')?['ovs_name']} a expiré il y a 30 jours.\n\nVeuillez utiliser le lien suivant pour accéder directement à l’opération:\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']}\n\n\n"
            },
            "add_condition_to_prevent_out_look_send": {
              "actions": {
                "Send_an_email_(V2)_-expired": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a5de3400-7254-402a-bf51-3286cf6defdd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@parameters('ALL Regions  Operation Expiry Email notebox (fdr_alllRegionsOperationsExpiry)')",
                      "emailMessage/Subject": "Operation @{items('Iterate_expired_-_single_thread')?['ovs_name']} expired",
                      "emailMessage/Body": "<p>Hello/Bonjour,<br>\n<br>\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']} expired 30 days ago.<br>\n<br>\nPlease use the following link to navigate directly to the operation:<br>\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']}<br>\n___________________________________________________________________________________<br>\n<br>\nOpération @{items('Iterate_expired_-_single_thread')?['ovs_name']} a expiré il y a 30 jours.<br>\n<br>\nVeuillez utiliser le lien suivant pour accéder directement à l’opération:<br>\nOperation @{items('Iterate_expired_-_single_thread')?['ovs_name']}<br>\n<br>\n<br>\n</p>",
                      "emailMessage/From": "@parameters('ALL Regions  Operation Expiry Email notebox (fdr_alllRegionsOperationsExpiry)')",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  1,
                  2
                ]
              },
              "metadata": {
                "operationMetadataId": "715c9f64-3010-4005-89e0-cc81fd0425d4"
              },
              "type": "If"
            },
            "check_if_production_send_expire_email": {
              "actions": {
                "Perform_a_bound_action_-_Send_Email_Message": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "003c56ba-5e0e-4c2a-bba5-1c8c9640f77f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "emails",
                      "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                      "recordId": "@outputs('Add_a_new_row_-_Email_Message')?['body/activityid']",
                      "item/IssueSend": false
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Add_a_new_row_-_Email_Message": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@variables('isProd')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "8c4a2ae1-1bb7-4a66-845b-01be6e7eeca9"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_of_operations_expired_30_days_ago": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "804aed47-3ba9-4c0e-ad1b-618ce12b41b0"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Primary_Contact_Site_-_Required": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9320eca-8eb5-4b2a-8cea-8574732e1d95"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "primaryContactSite",
                "type": "array"
              }
            ]
          }
        },
        "Contact_for_Operation": {
          "runAfter": {
            "Primary_Contact_Site_-_Required": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "110e00a0-3700-439f-8874-cc6be122791f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "contactOperation",
                "type": "array"
              }
            ]
          }
        },
        "Primary_Contact_Company": {
          "runAfter": {
            "Contact_for_Operation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4458b98e-c2a8-403f-b8ce-d68424acb564"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "primaryContactCompany",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c2844a82-8e37-44ab-8530-8def661a9f32"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isProd",
                "type": "boolean",
                "value": "@equals(trim(toLower(parameters('CrmBaseUrl (ovs_CrmBaseUrl)'))),trim(toLower('rom-prod-tdg-tcd365.crm3.dynamics.com')))"
              }
            ]
          }
        },
        "FDR_Company_Primary_Contact_Role": {
          "runAfter": {
            "Primary_Contact_Company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a82bd09-9768-4ef8-a4cb-9373974ae3b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CompanyPrimaryContactRole",
                "type": "string"
              }
            ]
          }
        },
        "FDR_Site_Primary_Contact_Role": {
          "runAfter": {
            "FDR_Company_Primary_Contact_Role": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "217c5e0f-3adc-4457-94ba-972ec8cb77d7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SitePrimaryContactRole",
                "type": "string"
              }
            ]
          }
        },
        "Try_-_Get_Connection_Role_ID_by_Name_": {
          "actions": {
            "Get_Connection_Role_By_Name:_FDR_Company_Primary_Contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "33c3fa9b-fab5-43bf-aea1-9b72a8242b7a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "connectionroles",
                  "$select": "name,connectionroleid,category",
                  "$filter": "name eq 'FDR Company Primary Contact' "
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Connection_Role_By_Name:_FDR_Site_Primary_Contact": {
              "runAfter": {
                "Condition:_Company_Role": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f33f72eb-d543-4ed9-8c8c-9a62329bdc4e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "connectionroles",
                  "$select": "name,connectionroleid,category",
                  "$filter": "name eq 'FDR Site Primary Contact'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition:_Company_Role": {
              "actions": {
                "Company_Primary_Contact_Role": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5f6e6e15-161a-4328-add3-a01096e98577"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CompanyPrimaryContactRole",
                    "value": "@{first(body('Get_Connection_Role_By_Name:_FDR_Company_Primary_Contact')?['value'])?['connectionroleid']}"
                  }
                }
              },
              "runAfter": {
                "Get_Connection_Role_By_Name:_FDR_Company_Primary_Contact": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Connection_Role_By_Name:_FDR_Company_Primary_Contact')?['body/value']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@length(outputs('Get_Connection_Role_By_Name:_FDR_Company_Primary_Contact')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "a3e4b1fd-86da-4b32-9f9e-e36931467639"
              },
              "type": "If"
            },
            "Condition:_Site_Role_": {
              "actions": {
                "Site_Primary_Contact_Role": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fad087bd-6480-4ad4-b076-b561b54d6645"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SitePrimaryContactRole",
                    "value": "@{first(body('Get_Connection_Role_By_Name:_FDR_Site_Primary_Contact')?['value'])?['connectionroleid']}"
                  }
                }
              },
              "runAfter": {
                "Get_Connection_Role_By_Name:_FDR_Site_Primary_Contact": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Connection_Role_By_Name:_FDR_Site_Primary_Contact')?['body/value']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@length(outputs('Get_Connection_Role_By_Name:_FDR_Site_Primary_Contact')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "141307f3-6f07-4d20-b9b0-825746f995c3"
              },
              "type": "If"
            },
            "Get_Connection_Role_By_Name:_FDR_Site_Secondary_Contact": {
              "runAfter": {
                "Condition:_Site_Role_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "33c3fa9b-fab5-43bf-aea1-9b72a8242b7a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "connectionroles",
                  "$select": "name,connectionroleid,category",
                  "$filter": "name eq 'FDR Site Secondary Contact' "
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition:_Site_Secondary_Role": {
              "actions": {
                "Site_Secondary_Contact_Role": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fad087bd-6480-4ad4-b076-b561b54d6645"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SiteSecondaryContactRole",
                    "value": "@{first(body('Get_Connection_Role_By_Name:_FDR_Site_Secondary_Contact')?['value'])?['connectionroleid']}"
                  }
                }
              },
              "runAfter": {
                "Get_Connection_Role_By_Name:_FDR_Site_Secondary_Contact": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Connection_Role_By_Name:_FDR_Site_Secondary_Contact')?['body/value']",
                        "@null"
                      ]
                    }
                  },
                  {
                    "greater": [
                      "@length(outputs('Get_Connection_Role_By_Name:_FDR_Site_Secondary_Contact')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "141307f3-6f07-4d20-b9b0-825746f995c3"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "queueid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "abdbfe54-9ad0-4a5e-8102-04914b058a0e"
          },
          "type": "Scope"
        },
        "Array_In_Days_sent_email": {
          "runAfter": {
            "FDR_Site_Secondary_Contact_Role": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f23066bc-04c0-4ea1-ab1a-9ae7777324d8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ArrayInDays",
                "type": "array",
                "value": [
                  "0",
                  "120"
                ]
              }
            ]
          }
        },
        "Iterate_In_Days__-_single_thread": {
          "foreach": "@variables('ArrayInDays')",
          "actions": {
            "List_of_operations_expiring_today": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "604bdefd-6710-47a0-8a67-86d34559a501"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_mocregistrations",
                  "$select": "ovs_name,ovs_mocregistrationid,ovs_mocregistrationname,ovs_registrationexpiry,_ovs_siteid_value",
                  "$filter": "(Microsoft.Dynamics.CRM.On(PropertyName='ovs_registrationexpiry',PropertyValue='@{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}') and ovs_SiteId/_parentaccountid_value ne null and ovs_registrationexpiry ne null  and statecode eq 0 and ovs_mocregistrationname ne null and fdr_registrationtype/_fdr_standard_value ne null) and (ovs_SiteId/accountid ne null) and (fdr_registrationtype/fdr_containertypeid ne null)",
                  "$expand": "ovs_SiteId($select=address1_composite,_parentaccountid_value,_primarycontactid_value),fdr_registrationtype($select=fdr_frenchname,fdr_englishname,_fdr_standard_value)",
                  "$top": 10000
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Iterate_expiring_-_single_thread": {
              "foreach": "@outputs('List_of_operations_expiring_today')?['body/value']",
              "actions": {
                "Get_Parent": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9306435a-cdf3-4334-8405-c7fb422b10ab"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Iterate_expiring_-_single_thread')?['ovs_siteid/_parentaccountid_value']",
                      "$select": "ovs_legalname,ovs_legalnamefr, accountid",
                      "$expand": "primarycontactid($select=emailaddress1)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Standard": {
                  "runAfter": {
                    "_Join_Email_List": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ab2888ed-b050-4967-9f7a-97c2426be260"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "qm_tylegislationsources",
                      "recordId": "@items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/_fdr_standard_value']",
                      "$select": "qm_legislationsourceetxt,qm_legislationsourceftxt"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "isThereOperationContact": {
                  "actions": {
                    "Iterate_expiring_Operation_Contacts_from_Connections_-_single_thread": {
                      "foreach": "@outputs('Get_Operation_Contacts_from_connections')?['body/value']",
                      "actions": {
                        "Check_Operation_Contact_Email": {
                          "actions": {
                            "Set_Operation_contact": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "9f379d80-17fe-44d0-a871-840b15966751"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "contactOperation",
                                "value": "@items('Iterate_expiring_Operation_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1']"
                              }
                            },
                            "Append_to_string_variable_operation_contact": {
                              "runAfter": {
                                "Set_Operation_contact": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9683c998-ab84-462f-899d-fc8659228a76"
                              },
                              "type": "AppendToStringVariable",
                              "inputs": {
                                "name": "ActivityPartStringList",
                                "value": ", {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{items('Iterate_expiring_Operation_Contacts_from_Connections_-_single_thread')?['record1id_contact/contactid']}\"\n  }"
                              }
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "equals": [
                              "@empty(items('Iterate_expiring_Operation_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1'])",
                              "@false"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a251b076-775d-411b-8fa5-fbba195344ec"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2698c52f-eada-4244-b8b2-2bf7b25d824f"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Get_Operation_Contacts_from_connections": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_Operation_Contacts_from_connections')?['body/value']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@empty(outputs('Get_Operation_Contacts_from_connections')?['body/value'])",
                          "@false"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b7be41d4-5128-47c9-bd9b-69afa3048d26"
                  },
                  "type": "If"
                },
                "Company_primary_contact": {
                  "actions": {
                    "Set_company_contact": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "fdaba686-68ee-498c-8ea7-aef3cf890156"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "primaryContactCompany",
                        "value": "@outputs('Get_Parent')['body/primarycontactid']['emailaddress1']"
                      }
                    },
                    "Append_to_string_Activity_part_variable": {
                      "runAfter": {
                        "Set_company_contact": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c2246889-8a59-49c3-bfbd-7c6d09e1add3"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "ActivityPartStringList",
                        "value": ",{  \"participationtypemask\": 2, \"partyid@odata.bind\": \"\\\\contacts\\\\@{outputs('Get_Parent')['body/primarycontactid']['contactid']}\"} \n"
                      }
                    }
                  },
                  "runAfter": {
                    "check_if_site_email_is_empty__to_add_to_activity_party_if_note_empty": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Get_Company_Contacts_By_Company_primary_connection_role": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "6efe8734-f4f9-4f03-a7cb-69e274437ba3"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "connections",
                            "$select": "_record1id_value",
                            "$filter": "_record1roleid_value eq '@{variables('CompanyPrimaryContactRole')}' and _record2id_value eq @{outputs('Get_Parent')?['body/accountid']}",
                            "$expand": "record1id_contact($select=emailaddress1)"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Connections_-_Company_-_Primary_Contacts": {
                        "actions": {
                          "Iterate_expiring_Contacts_from_Connections_-_single_thread": {
                            "foreach": "@outputs('Get_Company_Contacts_By_Company_primary_connection_role')?['body/value']",
                            "actions": {
                              "Check_contact_email": {
                                "actions": {
                                  "Set_Company_Primary_Contacts": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "270155be-6c8d-478c-ba08-cd0ac9b05154"
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "primaryContactCompany",
                                      "value": "@items('Iterate_expiring_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1']"
                                    }
                                  },
                                  "Append_to_string_variable_primary_contact": {
                                    "runAfter": {
                                      "Set_Company_Primary_Contacts": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "d2a0213c-0430-4471-94de-8da165e82e63"
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                      "name": "ActivityPartStringList",
                                      "value": ",{\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{items('Iterate_expiring_Contacts_from_Connections_-_single_thread')?['record1id_contact/contactid']}\"\n  }"
                                    }
                                  }
                                },
                                "runAfter": {},
                                "expression": {
                                  "equals": [
                                    "@empty(items('Iterate_expiring_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1'])",
                                    "@false"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "12292ecc-693f-43db-ba12-2d73182d0ab0"
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "156cc44d-c392-4cd5-a97f-ded46e1bd798"
                            },
                            "type": "Foreach"
                          }
                        },
                        "runAfter": {
                          "Get_Company_Contacts_By_Company_primary_connection_role": [
                            "Succeeded"
                          ]
                        },
                        "expression": {
                          "and": [
                            {
                              "not": {
                                "equals": [
                                  "@outputs('Get_Company_Contacts_By_Company_primary_connection_role')?['body/value']",
                                  "@null"
                                ]
                              }
                            },
                            {
                              "greater": [
                                "@length(outputs('Get_Company_Contacts_By_Company_primary_connection_role')?['body/value'])",
                                0
                              ]
                            }
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e5528f58-ee7a-4077-a0b5-bb705948b47d"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@empty(outputs('Get_Parent')?['body/primarycontactid'])",
                          "@false"
                        ]
                      },
                      {
                        "equals": [
                          "@empty(outputs('Get_Parent')['body/primarycontactid']['emailaddress1'])",
                          "@false"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c5d83592-f26a-4f19-8e5a-c8d5a719ee7d"
                  },
                  "type": "If"
                },
                "_Join_Email_List": {
                  "runAfter": {
                    "Compose_Email_List": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "212be8cd-a13a-445c-bf58-80955b8611f4"
                  },
                  "type": "Join",
                  "inputs": {
                    "from": "@outputs('Compose_Email_List')",
                    "joinWith": ";"
                  }
                },
                "Compose_Email_List": {
                  "runAfter": {
                    "isThereOperationContact": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9384380c-b072-48ff-aa82-d25f19b3ba9c"
                  },
                  "type": "Compose",
                  "inputs": "@union(variables('primaryContactSite'), variables('primaryContactCompany'), variables('contactOperation'))"
                },
                "Check_if_site_has_Primary_Contact": {
                  "actions": {
                    "Get_Primary_Site_Contacts_-_Required": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "bdd95035-18d6-4c92-a5d1-a1439ef2abde"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "GetItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "contacts",
                          "recordId": "@items('Iterate_expiring_-_single_thread')?['ovs_siteid/_primarycontactid_value']",
                          "$select": "emailaddress1"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_Contact_Site": {
                      "runAfter": {
                        "Get_Primary_Site_Contacts_-_Required": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7cb03ee4-0eb1-4893-b575-dce7c5836e43"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "primaryContactSite",
                        "value": "@outputs('Get_Primary_Site_Contacts_-_Required')?['body/emailaddress1']"
                      }
                    },
                    "check_if_site_email_is_empty": {
                      "actions": {
                        "Update_a_row_-_account_email": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "200927d1-3b02-4921-8933-726debdab5ba"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "accounts",
                              "recordId": "@items('Iterate_expiring_-_single_thread')['ovs_siteid']['accountid']",
                              "item/emailaddress1": "  @{outputs('Get_Primary_Site_Contacts_-_Required')?['body/emailaddress1']}"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Append_to_string_variable_activity_party_list_Site_contact_2": {
                          "runAfter": {
                            "Update_a_row_-_account_email": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a3f853ef-e4a8-486e-b86d-1f6e0bde2410"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "ActivityPartStringList",
                            "value": " , {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\accounts\\\\@{items('Iterate_expiring_-_single_thread')['ovs_siteid']['accountid']}\"\n  } "
                          }
                        }
                      },
                      "runAfter": {
                        "Set_Contact_Site": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Append_to_string_variable_activity_party_list_Site_contact": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "a3f853ef-e4a8-486e-b86d-1f6e0bde2410"
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                              "name": "ActivityPartStringList",
                              "value": " , {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{outputs('Get_Primary_Site_Contacts_-_Required')?['body/contactid']}\"\n  } "
                            }
                          }
                        }
                      },
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@empty(outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1'])",
                              "@true"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1']",
                              "@null"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1fee7676-a39d-4c14-8755-4529fa7bfbf7"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Company_primary_contact": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@items('Iterate_expiring_-_single_thread')?['ovs_siteid/_primarycontactid_value']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@empty(items('Iterate_expiring_-_single_thread')?['ovs_siteid/_primarycontactid_value'])",
                          "@false"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "86399b2d-2990-49e8-8428-cd1ae38a7959"
                  },
                  "type": "If"
                },
                "Get_Operation_Contacts_from_connections": {
                  "runAfter": {
                    "Connections_-_Site-_Primary_Contacts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a68c9e30-81cf-4837-b7a6-b2a38b2711a0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "connections",
                      "$select": "_record1id_value",
                      "$filter": "(_record1roleid_value eq '@{variables('SitePrimaryContactRole')}' or  _record1roleid_value eq '@{variables('SiteSecondaryContactRole')}' ) and _record2id_value eq  '@{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationid']}'",
                      "$expand": "record1id_contact($select=emailaddress1)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Switch": {
                  "runAfter": {
                    "Parse_JSON_-_Activity_party": [
                      "Succeeded"
                    ]
                  },
                  "cases": {
                    "Case_expiring": {
                      "case": 0,
                      "actions": {
                        "EmailText": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8d300540-5d10-44c1-840d-6992dd035040"
                          },
                          "type": "Compose",
                          "inputs": "Your registration under number @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} expired on @{formatDateTime(utcnow(), 'yyyy-MM-dd')}. \nYou are no longer registered, and any registered mark associated to this registration, shall no longer be applied.\n\nPlease advise us if you would like to close your file. To renew your registration, you must submit a renewal request .\n\nOperation Type:  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_englishname']}\nStandard:  @{outputs('Get_Standard')?['body/qm_legislationsourceetxt']}\nCompany Name:  @{outputs('Get_Parent')?['body/ovs_legalname']}\nSite address:  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}\n\nIf you have already submitted an application to renew your registration, please disregard this notice.\n________________________________________________________________________\n\nVotre inscription sous le numéro @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} a expiré le @{formatDateTime(utcnow(), 'dd-MM-yyyy')}.  Vous n'êtes plus inscrit, et toute marque enregistrée associée à cet inscription, ne doit plus être appliquée.\n\nVeuillez nous aviser si vous désirez fermer votre dossier. Pour renouveler votre inscription, vous devez soumettre une demande de renouvellement .\n\nType d’opération:  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_frenchname']}\nNorme:  @{outputs('Get_Standard')?['body/qm_legislationsourceftxt']}\nNom d’entreprise:  @{if(empty(outputs('Get_Parent')?['body/ovs_legalnamefr']),outputs('Get_Parent')?['body/ovs_legalname'],outputs('Get_Parent')?['body/ovs_legalnamefr'])}\nLocalisation:  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}\n\nSi vous avez déjà soumis une demande de renouvellement, aucune action n’est requise de votre part.\n"
                        },
                        "check_if_production_environment": {
                          "actions": {
                            "Perform_a_bound_action_-_send_expiring_email": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "a68b2645-9619-4a4f-8b3a-7d9817757540"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_Email_Message')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Add_a_new_row_Email_Message": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@variables('isProd')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "3eb223e6-4533-41f6-965b-f46d799a97f1"
                          },
                          "type": "If"
                        },
                        "EmailBodyExpiredNotfication": {
                          "runAfter": {
                            "EmailText": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6aed55aa-e637-41d6-bea8-e6988918850b"
                          },
                          "type": "Compose",
                          "inputs": "Your registration under number @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} expired on @{formatDateTime(utcnow(), 'yyyy-MM-dd')}. <br><br>\n\nYou are no longer registered, and any registered mark associated with this registration shall no longer be applied. Please advise us if you would like to close your file by responding to this email.<br><br>\n\nTo renew your registration, you must submit a <a href=\"https://tc.canada.ca/en/dangerous-goods/containers/applying-renewing-amending-your-means-containment-facility-registration\">renewal request</a> and send it to <a href=\"mailto:MOCregister-registrecontenant@tc.gc.ca.\">MOCregister-registrecontenant@tc.gc.ca</a>. <br><br>\n\n<b>Operation Type:</b>  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_englishname']}<br>\n<b>Standard:</b>  @{outputs('Get_Standard')?['body/qm_legislationsourceetxt']}<br>\n<b>Company Name:</b>  @{outputs('Get_Parent')?['body/ovs_legalname']} <br>\n<b>Site address:</b>  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}<br><br>\n\nIf you have already applied to renew your registration, please disregard this notice. <br><br>\n________________________________________________________________________ <br><br>\n\nVotre inscription sous le numéro @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} a expiré le @{formatDateTime(utcnow(), 'yyyy-MM-dd')}. <br><br>\n\nVous n'êtes plus inscrit, et toute marque enregistrée associée à cette inscription, ne doit plus être appliquée. Veuillez nous aviser si vous désirez fermer votre dossier en répondant à ce courriel.<br><br>\n\nPour renouveler votre inscription, vous devez soumettre une <a href=\"https://tc.canada.ca/fr/marchandises-dangereuses/contenants/demande-initiale-renouvellement-modification-votre-inscription-installation-contenant\">demande de renouvellement</a> par courriel à <a href=\"mailto:MOCregister-registrecontenant@tc.gc.ca.\">MOCregister-registrecontenant@tc.gc.ca</a>. <br><br>\n\n<b>Type d’opération:</b>  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_frenchname']}<br>\n<b>Norme:</b>  @{outputs('Get_Standard')?['body/qm_legislationsourceftxt']}<br>\n<b>Nom d’entreprise:</b>  @{if(empty(outputs('Get_Parent')?['body/ovs_legalnamefr']),outputs('Get_Parent')?['body/ovs_legalname'],outputs('Get_Parent')?['body/ovs_legalnamefr'])}<br>\n<b>Localisation:</b>  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']} <br><br>\n\nSi vous avez déjà soumis une demande de renouvellement, aucune action n’est requise de votre part.\n"
                        },
                        "Add_a_new_row_Email_Message": {
                          "runAfter": {
                            "EmailBodyExpiredNotfication": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2e465070-eb88-49b1-bf84-3644babca708"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "item/activitypointer_activity_parties": "@body('Parse_JSON_-_Activity_party')",
                              "item/description": "@outputs('EmailBodyExpiredNotfication')",
                              "item/regardingobjectid_ovs_mocregistration_email@odata.bind": "\\ovs_mocregistrations\\@{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationid']}",
                              "item/subject": "Transport Canada – Expiry Notice / Transports Canada – Avis d’expiration "
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "Case_120": {
                      "case": 120,
                      "actions": {
                        "Case120EmailText": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "7b1d2b3e-0803-451e-b5aa-f1fbdfb92af5"
                          },
                          "type": "Compose",
                          "inputs": "Your registration under number @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} will expire on @{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}.\n\nPlease advise us if you would like to close your file. To renew your registration, you must submit a renewal request .\n\nOperation Type:  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_englishname']}\nStandard:  @{outputs('Get_Standard')?['body/qm_legislationsourceetxt']}\nCompany Name:  @{outputs('Get_Parent')?['body/ovs_legalname']}\nSite address:  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}\n\nIf you have already submitted an application to renew your registration, please disregard this notice.\n________________________________________________________________________\n\nVotre inscription sous le numéro @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} vient a échéance le @{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}.\n\nVeuillez nous aviser si vous désirez fermer votre dossier. Pour renouveler votre inscription, vous devez soumettre une demande de renouvellement .\n\nType d’opération:  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_frenchname']}\nNorme:  @{outputs('Get_Standard')?['body/qm_legislationsourceftxt']}\nNom d’entreprise:  @{if(empty(outputs('Get_Parent')?['body/ovs_legalnamefr']),outputs('Get_Parent')?['body/ovs_legalname'],outputs('Get_Parent')?['body/ovs_legalnamefr'])}\nLocalisation:  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}\n\nSi vous avez déjà soumis une demande de renouvellement, aucune action n’est requise de votre part.\n"
                        },
                        "Add_a_new_row_Email_Message2": {
                          "runAfter": {
                            "EmailBody": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "e57c3ae2-5470-4708-aa3b-5d66078bd0ec"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "emails",
                              "item/activitypointer_activity_parties": "@body('Parse_JSON_-_Activity_party')",
                              "item/description": "@outputs('EmailBody')",
                              "item/regardingobjectid_ovs_mocregistration_email@odata.bind": "\\ovs_mocregistrations\\@{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationid']}",
                              "item/subject": "Transport Canada –Renewal Notice / Transports Canada – Avis de renouvellement "
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "check_if_production_environment_before_sending_email": {
                          "actions": {
                            "Perform_a_bound_action_-_send_120_days_email": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "52ee78e0-1450-4db6-bfc2-e25f4b423d1b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('Add_a_new_row_Email_Message2')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Add_a_new_row_Email_Message2": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@variables('isProd')",
                              "@true"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "6be9c212-0fa2-4b48-8b95-3dd98c429445"
                          },
                          "type": "If"
                        },
                        "EmailBody": {
                          "runAfter": {
                            "Case120EmailText": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "aeef71f6-669a-4902-ba14-a0afc85c52dd"
                          },
                          "type": "Compose",
                          "inputs": "Your registration under number @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} will expire on  @{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}. <br><br>@{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}\n\nPlease advise us if you would like to close your file by responding to this email.<br><br>\n\nTo renew your registration, you must submit a <a href=\"https://tc.canada.ca/en/dangerous-goods/containers/applying-renewing-amending-your-means-containment-facility-registration\">renewal request</a> and send it to <a href=\"mailto:MOCregister-registrecontenant@tc.gc.ca\">MOCregister-registrecontenant@tc.gc.ca.</a>. <br><br>\n\n<b>Operation Type:</b>  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_englishname']}<br>\n<b>Standard:</b>  @{outputs('Get_Standard')?['body/qm_legislationsourceetxt']}<br>\n<b>Company Name:</b>  @{outputs('Get_Parent')?['body/ovs_legalname']} <br>\n<b>Site address:</b>  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']}<br><br>\n\nIf you have already applied to renew your registration, please disregard this notice. <br><br>\n________________________________________________________________________ \n<br><br>\nVotre inscription sous le numéro @{items('Iterate_expiring_-_single_thread')?['ovs_mocregistrationname']} vient à échéance le @{formatDateTime(addDays(utcnow(),variables('InDays')),'yyyy-MM-dd')}. <br><br>\n\nVeuillez nous aviser si vous désirez fermer votre dossier en répondant à ce courriel.<br><br>\n\nPour renouveler votre inscription, vous devez soumettre une <a href=\"https://tc.canada.ca/fr/marchandises-dangereuses/contenants/demande-initiale-renouvellement-modification-votre-inscription-installation-contenant\">demande de renouvellement</a> par courriel à <a href=\"mailto:MOCregister-registrecontenant@tc.gc.ca.\">MOCregister-registrecontenant@tc.gc.ca</a>. <br><br>\n\n<b>Type d’opération:</b>  @{items('Iterate_expiring_-_single_thread')?['fdr_registrationtype/fdr_frenchname']}<br>\n<b>Norme:</b>  @{outputs('Get_Standard')?['body/qm_legislationsourceftxt']}<br>\n<b>Nom d’entreprise:</b>  @{if(empty(outputs('Get_Parent')?['body/ovs_legalnamefr']),outputs('Get_Parent')?['body/ovs_legalname'],outputs('Get_Parent')?['body/ovs_legalnamefr'])}<br>\n<b>Localisation:</b>  @{items('Iterate_expiring_-_single_thread')?['ovs_siteid/address1_composite']} <br><br>\n\nSi vous avez déjà soumis une demande de renouvellement, aucune action n’est requise de votre part."
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "expression": "@variables('InDays')",
                  "metadata": {
                    "operationMetadataId": "6e844c46-0751-4d35-ad84-6c16c5291ab3"
                  },
                  "type": "Switch"
                },
                "Connections_-_Site-_Primary_Contacts": {
                  "actions": {
                    "Iterate_expiring_Site_Contacts_from_Connections_-_single_thread": {
                      "foreach": "@outputs('Get_Site_Contacts_By_Site_primary_connection_role')?['body/value']",
                      "actions": {
                        "Check_Site_contact_email": {
                          "actions": {
                            "Set_Contact_Site_from_Connection": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "d66e2b83-64d5-4895-a3ee-554392dfcd18"
                              },
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "primaryContactSite",
                                "value": "@items('Iterate_expiring_Site_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1']"
                              }
                            },
                            "check_if_site_email_is_empty_to_update_email_in_site": {
                              "actions": {
                                "Update_a_row_-_account_email_2": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "ee987a90-2659-44f8-af7a-6655433022fd"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps_1",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "accounts",
                                      "recordId": "@items('Iterate_expiring_-_single_thread')['ovs_siteid']['accountid']",
                                      "item/emailaddress1": "  @{items('Iterate_expiring_Site_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1']}"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                },
                                "Append_to_string_variable_activity_party_list_Site_contact_4": {
                                  "runAfter": {
                                    "Update_a_row_-_account_email_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "a3f853ef-e4a8-486e-b86d-1f6e0bde2410"
                                  },
                                  "type": "AppendToStringVariable",
                                  "inputs": {
                                    "name": "ActivityPartStringList",
                                    "value": " , {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\accounts\\\\@{items('Iterate_expiring_-_single_thread')['ovs_siteid']['accountid']}\"\n  } "
                                  }
                                }
                              },
                              "runAfter": {
                                "Set_Contact_Site_from_Connection": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Append_to_string_variable_site_connection": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "22cddb02-ae77-4308-8bb8-99cdfc8d1130"
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                      "name": "ActivityPartStringList",
                                      "value": " ,{\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{items('Iterate_expiring_Site_Contacts_from_Connections_-_single_thread')?['record1id_contact/contactid']}\"\n  } "
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "or": [
                                  {
                                    "equals": [
                                      "@empty(outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1'])",
                                      "@true"
                                    ]
                                  },
                                  {
                                    "equals": [
                                      "@outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1']",
                                      "@null"
                                    ]
                                  }
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "94898819-5cec-45b0-8a55-24e302ef75c2"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "equals": [
                              "@empty(items('Iterate_expiring_Site_Contacts_from_Connections_-_single_thread')?['record1id_contact/emailaddress1'])",
                              "@false"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "7674bc0f-ea6d-4f4f-8aec-fb14617d0a4d"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "ca5ade27-9a9e-4393-b38d-577918509a20"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Get_Site_Contacts_By_Site_primary_connection_role": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Get_Site_Contacts_By_Site_primary_connection_role')?['body/value']",
                            "@null"
                          ]
                        }
                      },
                      {
                        "greater": [
                          "@length(outputs('Get_Site_Contacts_By_Site_primary_connection_role')?['body/value'])",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c129ae48-13b1-4445-ab75-ca8418c33b96"
                  },
                  "type": "If"
                },
                "Get_Site_Contacts_By_Site_primary_connection_role": {
                  "runAfter": {
                    "Check_if_site_has_Primary_Contact": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a68c9e30-81cf-4837-b7a6-b2a38b2711a0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "connections",
                      "$select": "_record1id_value",
                      "$filter": "(_record1roleid_value eq '@{variables('SitePrimaryContactRole')}' or  _record1roleid_value eq '@{variables('SiteSecondaryContactRole')}' ) and _record2id_value eq ' @{items('Iterate_expiring_-_single_thread')?['_ovs_siteid_value']}'",
                      "$expand": "record1id_contact($select=emailaddress1)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Parse_JSON_-_Activity_party": {
                  "runAfter": {
                    "Get_Standard": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d73b8502-c870-4240-ad08-58fc6b3e4251"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@concat('[', string(variables('ActivityPartStringList')),']')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "participationtypemask": {
                            "type": "integer"
                          },
                          "partyid@odata.bind": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "participationtypemask",
                          "partyid@odata.bind"
                        ]
                      }
                    }
                  }
                },
                "SiteEmail": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_get_site": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7716ea2c-9e75-422b-862c-6084b759b1e3"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1']"
                },
                "Get_a_row_by_ID_-_get_site": {
                  "runAfter": {
                    "Set_variable_Activity_party_string_List_initial_value": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d5969993-d71c-45f4-8bad-fa506fb0ee27"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Iterate_expiring_-_single_thread')?['_ovs_siteid_value']",
                      "$select": "emailaddress1,accountid"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "check_if_site_email_is_empty__to_add_to_activity_party_if_note_empty": {
                  "actions": {},
                  "runAfter": {
                    "SiteEmail": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_string_variable_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "7fcf9621-c1dd-47e3-8d36-d45be3013da9"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "ActivityPartStringList",
                          "value": ", {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\accounts\\\\@{items('Iterate_expiring_-_single_thread')?['ovs_siteid']['accountid']}\"\n  }"
                        }
                      }
                    }
                  },
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@empty(outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1'])",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Get_a_row_by_ID_-_get_site')?['body/emailaddress1']",
                          "@null"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9d0c5c49-60c8-4d24-a45b-7be6730eb73e"
                  },
                  "type": "If"
                },
                "Set_variable_Activity_party_string_List_initial_value": {
                  "runAfter": {
                    "Get_Parent": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5fbb1b88-2651-44d4-9116-32cbb5d6f0b7"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ActivityPartStringList",
                    "value": "{\"participationtypemask\": 1,\"partyid@odata.bind\": \"\\\\queues\\\\@{outputs('queueid')}\"}"
                  }
                }
              },
              "runAfter": {
                "List_of_operations_expiring_today": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "804aed47-3ba9-4c0e-ad1b-618ce12b41b0"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Compose": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a67dc1f3-d9a5-43c5-81fd-43fdd34d272a"
              },
              "type": "Compose",
              "inputs": "@items('Iterate_In_Days__-_single_thread')"
            },
            "Set_variable": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3cea2637-48ba-417e-8676-56d199b90e63"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "InDays",
                "value": "@int(outputs('Compose'))"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_ActivityPartStringList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c8f3350-379a-4615-838e-9d6054082a83"
          },
          "type": "Foreach"
        },
        "In_Days": {
          "runAfter": {
            "Array_In_Days_sent_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b8d4883-82b5-4f06-8963-5236a16a17da"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InDays",
                "type": "integer"
              }
            ]
          }
        },
        "FDR_Site_Secondary_Contact_Role": {
          "runAfter": {
            "FDR_Site_Primary_Contact_Role": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "83a690d7-9a23-4e49-904d-dccbf7958e6b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SiteSecondaryContactRole",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_ActivityPartStringList": {
          "runAfter": {
            "Try_-_Get_Connection_Role_ID_by_Name_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8da56ffd-7f40-488d-979c-d8d5179a3270"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActivityPartStringList",
                "type": "string",
                "value": "{\"participationtypemask\": 1,\"partyid@odata.bind\": \"\\\\queues\\\\@{outputs('queueid')}\"}"
              }
            ]
          }
        },
        "List_rows_-_get_queues": {
          "runAfter": {
            "In_Days": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0a2125a5-41ae-4b4d-ac03-84d38375e1b3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queues",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"queue\">\n<attribute name=\"name\"/>\n<attribute name=\"emailaddress\"/>\n<attribute name=\"queueid\"/>\n<order attribute=\"name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"name\" operator=\"eq\" value=\"MOC Register / Registre Contenant\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "queueid": {
          "runAfter": {
            "List_rows_-_get_queues": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0dca1337-ba8f-445f-8e6a-1bb02dc20732"
          },
          "type": "Compose",
          "inputs": "@outputs('List_rows_-_get_queues')?['body/value'][0]['queueid']"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}