Solutions/FDR_Flows/unpack/Workflows/FDRTimeManagement-RequestUpdated-64725FF4-D0EC-EC11-BB3C-000D3A8483F6.json
{
  "properties": {
    "connectionReferences": {
      "shared_mytc-20ext-5f699e017eef0aedad-5f67a955a02db86277": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fdr_sharedmytc20ext5f699e017eef0aedad5f67a955a02db86277_e92a5"
        },
        "api": {
          "name": "shared_fdr-5fmytc-20ext-5f5cf23ef0bee9f3b2",
          "logicalName": "fdr_mytc-20ext"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "FDR_MTOA_JWT (fdr_FDR_MTOA_JWT)": {
          "defaultValue": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiJGRFIiLCJ1bmlxdWVfbmFtZSI6IkZhY2lsaXRpZXMgYW5kIERlc2lnbiBSZWdpc3RlciAoRkRSKSIsInJvbGUiOiJVc2VyIiwiaHR0cDovL3NjaGVtYXMubWljcm9zb2Z0LmNvbS93cy8yMDA4LzA2L2lkZW50aXR5L2NsYWltcy92ZXJzaW9uIjoiMi4wIiwiQ29ycmVsYXRpb25LZXkiOiI1YTkwYzkxNzdkYTMiLCJuYmYiOjE2NTM5NDA3NTgsImV4cCI6MTcxNzA5OTE1OCwiaWF0IjoxNjUzOTQwNzU4LCJpc3MiOiJUcmFuc3BvcnQgQ2FuYWRhIiwiYXVkIjoiVHJhbnNwb3J0IENhbmFkYSJ9.0CPTpmLiz29jJ4cpopnV9CtuPmrUuUqHolMh2Yqot0I",
          "type": "String",
          "metadata": {
            "schemaName": "fdr_FDR_MTOA_JWT"
          }
        }
      },
      "triggers": {
        "Service_Request_Updated": {
          "metadata": {
            "operationMetadataId": "92ccff9b-e032-465e-b265-eec126fbc2dc"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "fdr_servicerequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "(_fdr_portalcontact_value ne null and fdr_mtoa_sr_id ne null)",
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [],
          "description": "Trigger Conditions: Portal Contact is in presence"
        }
      },
      "actions": {
        "Get_MTOA_Service_Request": {
          "runAfter": {
            "Parse_standards": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfbb7f88-cd55-4e06-9770-945dcbcf3d1c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_mytc-20ext-5f699e017eef0aedad-5f67a955a02db86277",
              "operationId": "ServiceRequests_GetServiceRequestById",
              "apiId": ""
            },
            "parameters": {
              "id": "@triggerOutputs()?['body/fdr_mtoa_sr_id']",
              "app-jwt": "@parameters('FDR_MTOA_JWT (fdr_FDR_MTOA_JWT)')",
              "includeRegulatedEntities": false
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SR_Status_Label": {
          "runAfter": {
            "CRSD_Label": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "618c8cf0-885b-4f79-b412-67d285d9abc1"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "requestStatusLabel",
                "type": "string",
                "value": "@{triggerOutputs()?['body/_statuscode_label']}"
              }
            ]
          }
        },
        "FDR_Service_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3d67fcf9-a90e-4c2b-bf27-10669789acbe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ServiceID",
                "type": "integer",
                "value": 251
              }
            ]
          }
        },
        "SR_Status_Value": {
          "runAfter": {
            "SR_Status_Label": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "691385c0-893f-49db-9c01-7f580f21e305"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "requestStatusValue",
                "type": "integer",
                "value": "@triggerOutputs()?['body/statuscode']"
              }
            ]
          }
        },
        "Was_Status_Changed": {
          "actions": {
            "Parse_JSON": {
              "runAfter": {
                "Get_user": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6f2b3da1-ba12-4df1-bcbb-a940e2183e8b"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_user')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Get_host": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "df862916-5453-4e37-a578-900d02d5f123"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "HostUri",
                "value": "@{uriHost(body('Parse_JSON')?['@odata.id'])}"
              }
            },
            "Check_Host": {
              "runAfter": {
                "Get_host": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bf1369ed-793a-4a35-b6c4-39f811354f06"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "isProd",
                "value": "@equals(variables('HostUri'),'rom-prod-tdg-tcd365.crm3.dynamics.com')"
              }
            },
            "Get_Portal_Contact_owning_SR": {
              "runAfter": {
                "Check_Host": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a1c02007-6a5d-4701-979a-168b236089cb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_fdr_portalcontact_value']",
                  "$select": "ovs_mban,ovs_my_tc_id,emailaddress1,fdr_mtoa_id"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Status_Changed_Yes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "90cc8c0e-fb16-41af-99a2-cd93672894e4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "statusChanged",
                "value": "@true"
              }
            },
            "Get_user": {
              "runAfter": {
                "Status_Changed_Yes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b422159c-18ed-4546-9c67-d23230882508"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_modifiedby_value']",
                  "$select": "domainname"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Select_connector": {
              "actions": {},
              "runAfter": {
                "Get_Portal_Contact_owning_SR": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_an_existing_service_request_status._2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "25ea4cd8-9afc-44da-823f-449424e27468"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_mytc-20ext-5f699e017eef0aedad-5f67a955a02db86277",
                        "operationId": "ServiceRequests_UpdateServiceRequestStatus",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_fdr-5fmytc-20ext-5f5cf23ef0bee9f3b2"
                      },
                      "parameters": {
                        "id": "@triggerOutputs()?['body/fdr_mtoa_sr_id']",
                        "userId": "@outputs('Get_Portal_Contact_owning_SR')?['body/fdr_mtoa_id']",
                        "serviceRequestStatus": "@variables('currentStandart')",
                        "app-jwt": "@parameters('FDR_MTOA_JWT (fdr_FDR_MTOA_JWT)')"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('isProd')",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "65582db7-141e-4ed2-a640-09359ae021fa"
              },
              "type": "If",
              "description": "Select which Custom Connector to choose"
            }
          },
          "runAfter": {
            "Find_Standard": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Status_Changed_NO": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "abf1176d-1752-4e9d-b6ec-ec6f2da33592"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "statusChanged",
                  "value": "@false"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('Get_MTOA_Service_Request')?['body/RequestStatus']",
                "@variables('currentStandart')"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a3c0b3bb-6bb5-4596-ab92-f538a6eb50f6"
          },
          "type": "If"
        },
        "Host_Url": {
          "runAfter": {
            "FDR_Service_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39cd5650-59c4-4b19-95d2-a97902306160"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HostUri",
                "type": "string"
              }
            ]
          }
        },
        "Is_Prod": {
          "runAfter": {
            "Host_Url": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "285771f9-554d-4501-a6dc-cc4ee56bd194"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isProd",
                "type": "boolean"
              }
            ]
          }
        },
        "Status_Changed": {
          "runAfter": {
            "SR_Status_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a141708f-c3db-446f-84bd-0ef2af813243"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "statusChanged",
                "type": "boolean"
              }
            ]
          }
        },
        "Get_list_of_Service_Standards": {
          "runAfter": {
            "Service_Standard_Current": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5483c696-3711-4678-b570-69d33f1d3836"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_mytc-20ext-5f699e017eef0aedad-5f67a955a02db86277",
              "operationId": "Services_GetServiceStandard",
              "apiId": ""
            },
            "parameters": {
              "id": "@variables('ServiceID')",
              "app-jwt": "@parameters('FDR_MTOA_JWT (fdr_FDR_MTOA_JWT)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "CRSD_Label": {
          "runAfter": {
            "Is_Prod": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2c17f88-10eb-4f4b-9e84-4d953b7ce130"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CRSD_label",
                "type": "string",
                "value": "@{triggerOutputs()?['body/_fdr_crsd_status_label']}"
              }
            ]
          }
        },
        "Service_Standard_Current": {
          "runAfter": {
            "Status_Changed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c4581678-1563-400d-b15d-1af34f9728d0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "currentStandart",
                "type": "string"
              }
            ]
          }
        },
        "Parse_standards": {
          "runAfter": {
            "Get_list_of_Service_Standards": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9fe3c04a-8ddb-4a54-a94a-cef5ade01b47"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_list_of_Service_Standards')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ServiceStandardId": {
                    "type": "integer"
                  },
                  "ServiceCategoryCode": {
                    "type": "string"
                  },
                  "StatusSortOrder": {
                    "type": "integer"
                  },
                  "Id": {
                    "type": "integer"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "EnglishDisplayName": {
                    "type": "string"
                  },
                  "FrenchDisplayName": {
                    "type": "string"
                  }
                },
                "required": [
                  "ServiceStandardId",
                  "ServiceCategoryCode",
                  "StatusSortOrder",
                  "Id",
                  "Name",
                  "EnglishDisplayName",
                  "FrenchDisplayName"
                ]
              }
            }
          }
        },
        "Find_Standard": {
          "foreach": "@body('Parse_standards')",
          "actions": {
            "Condition": {
              "actions": {
                "Set_current_standard": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c24e3919-297a-47fc-beef-17770d883e2d"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "currentStandart",
                    "value": "@variables('CRSD_label')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@items('Find_Standard')['EnglishDisplayName']",
                      "@variables('CRSD_label')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('Find_Standard')['FrenchDisplayName']",
                      "@variables('CRSD_label')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "15bf520d-5f14-41d5-963e-e3d8547e8f6c"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_MTOA_Service_Request": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0938ff47-c06d-4a67-ae71-0a2b4d55d07f"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}