Solutions/CID_Flows/unpack/Workflows/AccountOnCreateUpdate-UpdateSiteName-B14846DC-D948-EE11-BE6F-0022483E130E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e7c5156c-c05b-4fb8-9b17-9d8eb2000cb4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "address1_line1,address1_city,address1_stateorprovince,ovs_address_type,address1_latitude,address1_longitude,ovs_lld_quarter",
              "subscriptionRequest/filterexpression": "customertypecode eq 948010001",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f7796dee-3d36-4c07-9e90-f6c4c6bd7f05"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/accountid']"
        },
        "Compose_2": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44d5a28b-0f24-40cf-abe9-eddfaea4d161"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/_parentaccountid_value']"
        },
        "Compose_3": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "89112774-d77e-4b3b-9223-0101f751a285"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/customertypecode']"
        },
        "Condition": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d3a3247a-1c29-464a-98e7-dafdb341a096"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_OperatingNameF": [
              "Succeeded"
            ]
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/_parentaccountid_value']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/customertypecode']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/customertypecode']",
                  948010000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "d8cc3db5-5786-47e5-a4ea-87ffee38ad17"
          },
          "type": "If"
        },
        "Condition_2": {
          "actions": {
            "Compose_-_CombinedAddress": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "48a975ee-0dcd-4f87-8f53-bc8ddd4f71b4"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_address_display']"
            },
            "Compose_-_LegalNameE": {
              "runAfter": {
                "Compose_-_CombinedAddress": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2776d0ca-20ee-4bcc-a611-26559a561c98"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalname']"
            },
            "Compose_-_LegalNameF": {
              "runAfter": {
                "Compose_-_LegalNameE": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d56bb14-e1e7-43e6-88b5-9b9bf49333e3"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalnamefr']"
            },
            "Compose_-_OperatingNameE_1": {
              "runAfter": {
                "Compose_-_LegalNameF": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cda73d82-d4ac-427a-b16f-1ead54b2add0"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameE'),' - ',outputs('Compose_-_CombinedAddress'))"
            },
            "Compose_-_OperatingNameF_1": {
              "runAfter": {
                "Compose_-_OperatingNameE_1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d447757-3e30-4c1b-8231-6f61be50771a"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameF'),' - ',outputs('Compose_-_CombinedAddress'))"
            },
            "Set_variable": {
              "runAfter": {
                "Set_variable_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8dd72a82-d0f7-4cf5-9484-2b04455b0d01"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameF",
                "value": "@{outputs('Compose_-_OperatingNameF_1')}"
              }
            },
            "Set_variable_2": {
              "runAfter": {
                "Compose_-_OperatingNameF_1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7b8e1c18-43c2-40eb-98c4-42d17f30c995"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameE",
                "value": "@{outputs('Compose_-_OperatingNameE_1')}"
              }
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ovs_address_type']",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "2994fb28-cbf9-489c-8bdf-1636fea7e274"
          },
          "type": "If"
        },
        "Condition_3": {
          "actions": {
            "Compose_-_LegalNameE_2": {
              "runAfter": {
                "Compose_-_Combined_Legal_Land": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2776d0ca-20ee-4bcc-a611-26559a561c98"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalname']"
            },
            "Compose_-_LegalNameF_2": {
              "runAfter": {
                "Compose_-_LegalNameE_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d56bb14-e1e7-43e6-88b5-9b9bf49333e3"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalnamefr']"
            },
            "Compose_-_OperatingNameE_2": {
              "runAfter": {
                "Compose_-_LegalNameF_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cda73d82-d4ac-427a-b16f-1ead54b2add0"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameE_2'), ' - ', outputs('Compose_-_Combined_Legal_Land'))"
            },
            "Compose_-_OperatingNameF_2": {
              "runAfter": {
                "Compose_-_OperatingNameE_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d447757-3e30-4c1b-8231-6f61be50771a"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameF_2'), ' - ', outputs('Compose_-_Combined_Legal_Land'))"
            },
            "Compose_-_Combined_Legal_Land": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3db5b759-01d4-47eb-a31d-ba799761858f"
              },
              "type": "Compose",
              "inputs": "@{triggerOutputs()?['body/ovs_lld_quarter']} @{triggerOutputs()?['body/ovs_lld_section']}-@{triggerOutputs()?['body/ovs_lld_township']}-@{triggerOutputs()?['body/ovs_lld_range']}-@{triggerOutputs()?['body/ovs_lld_meridian']}"
            },
            "Set_variable_3": {
              "runAfter": {
                "Compose_-_OperatingNameF_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "711a5c61-7a96-41c4-a015-3b5fe7e7c278"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameE",
                "value": "@{outputs('Compose_-_OperatingNameE_2')}"
              }
            },
            "Set_variable_4": {
              "runAfter": {
                "Set_variable_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3b2ed487-16df-4128-9758-973ac68a0842"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameF",
                "value": "@{outputs('Compose_-_OperatingNameF_2')}"
              }
            }
          },
          "runAfter": {
            "Condition_2": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ovs_address_type']",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "3a8f93e7-c336-49d9-ab86-076d6572b1ea"
          },
          "type": "If"
        },
        "Condition_4": {
          "actions": {
            "Compose_-_LegalNameE_3": {
              "runAfter": {
                "Compose_-_Combined_Latitude_Longitude": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2776d0ca-20ee-4bcc-a611-26559a561c98"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalname']"
            },
            "Compose_-_LegalNameF_3": {
              "runAfter": {
                "Compose_-_LegalNameE_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6d56bb14-e1e7-43e6-88b5-9b9bf49333e3"
              },
              "type": "Compose",
              "inputs": "@triggerOutputs()?['body/ovs_legalnamefr']"
            },
            "Compose_-_OperatingNameE_3": {
              "runAfter": {
                "Compose_-_LegalNameF_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cda73d82-d4ac-427a-b16f-1ead54b2add0"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameE_3'), ' - ', outputs('Compose_-_Combined_Latitude_Longitude'))"
            },
            "Compose_-_OperatingNameF_3": {
              "runAfter": {
                "Compose_-_OperatingNameE_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3d447757-3e30-4c1b-8231-6f61be50771a"
              },
              "type": "Compose",
              "inputs": "@concat(outputs('Compose_-_LegalNameF_3'), ' - ', outputs('Compose_-_Combined_Latitude_Longitude'))"
            },
            "Compose_-_Combined_Latitude_Longitude": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a3f92fc1-78ff-486b-bae7-78645e162186"
              },
              "type": "Compose",
              "inputs": "Latitude @{triggerOutputs()?['body/address1_latitude']} / Longitude @{triggerOutputs()?['body/address1_longitude']}"
            },
            "Set_variable_5": {
              "runAfter": {
                "Compose_-_OperatingNameF_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5836ed36-2b42-4391-8480-4337a15c81ed"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameE",
                "value": "@{outputs('Compose_-_OperatingNameE_3')}"
              }
            },
            "Set_variable_6": {
              "runAfter": {
                "Set_variable_5": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f364a4ea-76c4-4384-b105-a1633a456f8d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "OperatingNameF",
                "value": "@{outputs('Compose_-_OperatingNameF_3')}"
              }
            }
          },
          "runAfter": {
            "Condition_3": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ovs_address_type']",
              2
            ]
          },
          "metadata": {
            "operationMetadataId": "ff83190d-70e5-48d3-a726-d346c2bd3ed5"
          },
          "type": "If"
        },
        "Initialize_variable_-_OperatingNameE": {
          "runAfter": {
            "Compose_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d9d7e1b9-1b42-4740-afbe-cf2451b16f5c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OperatingNameE",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_OperatingNameF": {
          "runAfter": {
            "Initialize_variable_-_OperatingNameE": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2791c0a1-a2e4-4c06-b811-6e36bafddbbb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OperatingNameF",
                "type": "string"
              }
            ]
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Condition_4": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad4da654-7c02-4fec-8947-b6d38eb10996"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/accountid']",
              "item/name": "@variables('OperatingNameE')",
              "item/ovs_name_fr": "@variables('OperatingNameF')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}