Solutions/CID_Flows/unpack/Workflows/Account-Registrationiscompleted-9B2ABC62-6C90-EC11-8D20-0022483BB0E4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_d0e5e"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "when_the_company_status_changes": {
          "metadata": {
            "operationMetadataId": "dcae15dd-ae76-42a0-90bf-9e0825366006"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_cidcompanystatus",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "If_the_company_status_is_Registration_complete,_part_of_CID_Reporting": {
          "actions": {
            "get_primary_contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d792bf34-da47-426e-aed3-5b366d35c483"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_primarycontactid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_All_Child_Contacts": {
              "runAfter": {
                "get_primary_contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "db101c9b-f799-46e3-8cd6-c41994636d19"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"emailaddress1\" />\n    <attribute name=\"cid_contacttype\" />\n    <attribute name=\"cid_portalrecordcreationdetails\" />\n    <attribute name=\"cid_portalrecordmodificationdetails\" />\n    <attribute name=\"cid_languageofcorrespondence\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"cid_contacttype\" descending=\"false\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"cid_contacttype\" operator=\"not-null\" />\n      <condition attribute=\"emailaddress1\" operator=\"not-null\" />\n      <condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_All_Child_Contacts')?['body/value']",
              "actions": {
                "Condition": {
                  "actions": {
                    "Send_completion_email_French": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3b1fbad3-2579-401c-8189-5825940d6dfb"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sendmail",
                          "operationId": "SendEmailV3",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                        },
                        "parameters": {
                          "request/to": "@{items('Apply_to_each')?['emailaddress1']};;",
                          "request/subject": "FRENCH - Beta Testing: Successful completion of the registration process of the  @{triggerOutputs()?['body/name']} Company in the Transport Canada CID Data Platform",
                          "request/text": "<p>FRENCH<br>\n<br>\nBeta Testing:<br>\n<br>\nHello @{items('Apply_to_each')?['fullname']},<br>\n<br>\n<br>\nThe registration process of the @{triggerOutputs()?['body/name']} Company in the Transport Canada CID Data Platform has been successfully completed.<br>\n<br>\nPer the regulations, you are required to update your Company’s information in the Platform during the year, if a material change has occurred involving the data being managed here for your Company and its Sites.<br>\n<br>\nFurther, your Company’s data is required to be fully updated on an annual basis, with the initial update being required one year from today.<br>\n<br>\n<br>\nRegards,<br>\nTransport Canada CID Data Platform Team<br>\n</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_completion_email_English": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3b1fbad3-2579-401c-8189-5825940d6dfb"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sendmail",
                            "operationId": "SendEmailV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                          },
                          "parameters": {
                            "request/to": "@{items('Apply_to_each')?['emailaddress1']};;",
                            "request/subject": "Beta Testing: Successful completion of the registration process of the  @{triggerOutputs()?['body/name']} Company in the Transport Canada CID Data Platform",
                            "request/text": "<p>Beta Testing:<br>\n<br>\nHello @{items('Apply_to_each')?['fullname']},<br>\n<br>\n<br>\nThe registration process of the @{triggerOutputs()?['body/name']} Company in the Transport Canada CID Data Platform has been successfully completed.<br>\n<br>\nPer the regulations, you are required to update your Company’s information in the Platform during the year, if a material change has occurred involving the data being managed here for your Company and its Sites.<br>\n<br>\nFurther, your Company’s data is required to be fully updated on an annual basis, with the initial update being required one year from today.<br>\n<br>\n<br>\nRegards,<br>\nTransport Canada CID Data Platform Team<br>\n</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each')?['cid_languageofcorrespondence']",
                      918640002
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "69b7b7e3-05f9-47fa-a93e-4b9c0ce33a97"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_All_Child_Contacts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2656d1ed-ce3b-43ed-b2ab-752ff98b553a"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/cid_cidcompanystatus']",
                  100000005
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_primarycontactid_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "a4dd60d6-357e-4807-a01c-470b8a04bd90"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "65f39bbf-dd29-45ba-81aa-b9b568813338"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "companyanniversarydate",
                "type": "string",
                "value": "@triggerOutputs()?['body/cid_companyanniversarydate']"
              }
            ]
          }
        },
        "Compose": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1056f663-947b-42d8-a6b9-a29f3ff6fbed"
          },
          "type": "Compose",
          "inputs": "@split(variables('companyanniversarydate'), 'T')[0]"
        },
        "Set_variable": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04c5d9a2-5e03-462a-b1b2-f51a41d338b8"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "companyanniversarydate",
            "value": "@{outputs('Compose')}"
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}