Solutions/CID_Flows/unpack/Workflows/AccountAddUpdate-UpdateSiteName-B14846DC-D948-EE11-BE6F-0022483E130E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e7c5156c-c05b-4fb8-9b17-9d8eb2000cb4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ovs_calculatedlatitudelongitude, ovs_legal_land_description,address1_line1, address1_line2, address1_line3, address1_city,address1_postalcode,address1_stateorprovince,address1_country",
              "subscriptionRequest/filterexpression": "customertypecode eq 948010001",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Update_a_row_-_Update_Site_Name_": {
          "runAfter": {
            "Get_a_row_by_ID_-_Parent_Account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad4da654-7c02-4fec-8947-b6d38eb10996"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/accountid']",
              "item/name": "@concat(outputs('Get_a_row_by_ID_-_Parent_Account')?['body/name'],' - ',triggerOutputs()?['body/ovs_address_display'])",
              "item/ovs_name_fr": "@concat(outputs('Get_a_row_by_ID_-_Parent_Account')?['body/ovs_name_fr'],' - ',triggerOutputs()?['body/ovs_address_display'])"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_-_Check_if_parent_exists_": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d3a3247a-1c29-464a-98e7-dafdb341a096"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_parentaccountid_value']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8cc3db5-5786-47e5-a4ea-87ffee38ad17"
          },
          "type": "If"
        },
        "Get_a_row_by_ID_-_Parent_Account": {
          "runAfter": {
            "Condition_-_Check_if_parent_exists_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2bc2f0df-7134-464a-81d0-1c607dd930b8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/_parentaccountid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}