Solutions/CID_Flows/unpack/Workflows/Account-SendAnnualComplianceReminder-15daysinadvan-1167D04E-122E-ED11-9DB0-0022483CB62F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_883c5"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2022-08-17T08:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "ef625b5d-963c-47ff-a0ee-c8744a9932d5"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "GetAccounts": {
          "runAfter": {
            "Initialize_variable_DueDate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa117ff1-c407-47a3-88c5-4b322d470cb0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"account\">\n    <attribute name=\"name\" />\n    <attribute name=\"ovs_legalname\" />\n    <attribute name=\"primarycontactid\" />\n    <attribute name=\"cid_crabusinessnumber\" />\n    <attribute name=\"root_organization_id\" />\n    <attribute name=\"ovs_address_display\" />\n    <attribute name=\"cid_rootcompany\" />\n    <attribute name=\"accountid\" />\n    <attribute name=\"cid_attestationdate\" />\n   <attribute name=\"cid_companyanniversarydate\" />\n    <attribute name=\"cid_annualcomplianceupdatesremindersenddate\" />\n    <order attribute=\"ovs_legalname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"cid_attestationdate\" operator=\"on\" value=\"@{addDays(utcNow(), -335 ,'yyyy-MM-dd')}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Apply_to_each_Account": {
              "foreach": "@outputs('GetAccounts')?['body/value']",
              "actions": {
                "GetEmailRecipients": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "747bddcb-cdac-4976-8bf9-5eb29d723233"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n   <attribute name=\"firstname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <attribute name=\"emailaddress1\" />\n   <attribute name=\"cid_languageofcorrespondence\" />\n    <attribute name=\"cid_contacttype\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"parentcustomerid\" operator=\"eq\" uitype=\"account\" value=\"@{items('Apply_to_each_Account')?['accountid']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n     <condition attribute=\"emailaddress1\" operator=\"not-null\" />\n    </filter>\n  </entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_2": {
                  "foreach": "@outputs('GetEmailRecipients')?['body/value']",
                  "actions": {
                    "If_Primary_Contact": {
                      "actions": {
                        "Set_To_Email_Recipients": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "53a06a09-3428-4240-8e1f-0983659c54a7"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "ToEmailRecipients",
                            "value": "@items('Apply_to_each_2')?['emailaddress1']"
                          }
                        },
                        "Set_variable_Primary_Contact_First_Name": {
                          "runAfter": {
                            "Set_To_Email_Recipients": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "334bb63e-77bc-4599-95b6-de6de9aaad87"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Primary Contact First Name",
                            "value": "@items('Apply_to_each_2')?['firstname']"
                          }
                        },
                        "Set_variable_Laguage": {
                          "runAfter": {
                            "Set_variable_Primary_Contact_First_Name": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0d9acc93-a71f-448d-97bc-64f593bb31e7"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "Language",
                            "value": "@items('Apply_to_each_2')?['cid_languageofcorrespondence']"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Condition_2": {
                            "actions": {
                              "Set_variable": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "4e5ae564-2e7f-45d3-94e3-12f39f652eb5"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "Temp CC Recipients",
                                  "value": "@variables('CCEmailRecipients')"
                                }
                              },
                              "Concat_CCEmailRecipients_variable_if_not_empty": {
                                "runAfter": {
                                  "Set_variable": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "f4a01aa2-2fd2-4b2a-922f-63e1d556a09b"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "CCEmailRecipients",
                                  "value": "@{concat(variables('Temp CC Recipients'), ';' , items('Apply_to_each_2')?['emailaddress1'])}"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Set_CC_list_if_its_empty": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "fefbec20-6ec8-4b33-8ebd-7fc3c762b1f6"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "CCEmailRecipients",
                                    "value": "@items('Apply_to_each_2')?['emailaddress1']"
                                  }
                                }
                              }
                            },
                            "expression": {
                              "greater": [
                                "@length(variables('CCEmailRecipients'))",
                                0
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "794dff1f-0703-4bd2-a46f-c8cb08877300"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@items('Apply_to_each_2')?['cid_contacttype']",
                          100000000
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4fd5894a-2fdc-4494-ac7a-99d52071e743"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Set_variable_DueDate": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3b7fc09e-16da-4109-971e-ebfd8088a1e0"
                  },
                  "type": "Foreach"
                },
                "Update_a_row": {
                  "runAfter": {
                    "GetEmailRecipients": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dbc59d64-e4ff-4f61-be2a-279b3464420f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Apply_to_each_Account')?['accountid']",
                      "item/cid_annualcomplianceupdatesremindersenddate": "@utcNow()"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Reset_Temp_CC_Variable": {
                  "runAfter": {
                    "Update_a_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "17185783-900c-4af2-a1d0-45b2cfb2e230"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Temp CC Recipients",
                    "value": "@{null}"
                  }
                },
                "Reset__CC_email_List": {
                  "runAfter": {
                    "Reset_Temp_CC_Variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "adc25f34-9ba6-40d3-a86d-415ea4a73383"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CCEmailRecipients",
                    "value": "@{null}"
                  }
                },
                "Check_Language": {
                  "actions": {
                    "Send_an_email_notification_(V3)_English": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "124c7a46-1f7f-48e6-9ab2-bf42f26b9a88"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sendmail_1",
                          "operationId": "SendEmailV3",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                        },
                        "parameters": {
                          "request/to": "@{variables('ToEmailRecipients')};",
                          "request/subject": "Beta Testing: Annual Compliance Renewal Reminder",
                          "request/text": "<p>Hello @{variables('Primary Contact First Name')},<br>\n<br>\nA reminder that your @{items('Apply_to_each_Account')?['ovs_legalname']} company’s annual compliance update within the TDG Registration Database is due on your upcoming anniversary date of @{formatDateTime(variables('DueDate'), 'yyyy-MM-dd')}.<br>\n<br>\n<span style=\"margin: left\">Please login to the TDG Registration Database portal and choose the ‘Annual Compliance Update’ side menu option to complete the update. Note that guidance material in the instructions sections of that page provides help on how to complete it.</span><br>\n<br>\nTransport Canada / Government of Canada<br>\n<br>\n<br>\nThis is auto generated email.<br>\n<br>\n</p>\n<head>\n <style type=\"text/css\">\n.div A:link {text-decoration: none; color: white;}\n.div A:visited {text-decoration: none; color: white;}\n.div A:active {text-decoration: none; color: white; }\n.div A:hover {text-decoration: none; color: white;}\n </style>\n</head>\n<div class=\"div\" style=\"display:none; font-size:1; color:white;\">",
                          "request/cc": "@variables('CCEmailRecipients')"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Apply_to_each_2": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_notification_(V3)_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "61cadd9e-f564-4a78-b9db-6daec0e687cc"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sendmail_1",
                            "operationId": "SendEmailV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                          },
                          "parameters": {
                            "request/to": "@{variables('ToEmailRecipients')};",
                            "request/subject": "Beta Testing:  FR: Annual Compliance Renewal Reminder",
                            "request/text": "<p>&lt;p&gt;Hello @{variables('Primary Contact First Name')},&lt;br&gt;<br>\n&lt;br&gt;<br>\nA reminder that your @{items('Apply_to_each_Account')?['ovs_legalnamefr']} company’s annual compliance update within the TDG Registration Database is due on your upcoming anniversary date of @{formatDateTime(variables('DueDate'), 'yyyy-MM-dd')}.&lt;br&gt;<br>\n&lt;br&gt;<br>\n&lt;span style=\"margin: left\"&gt;Please login to the TDG Registration Database portal and choose the ‘Annual Compliance Update’ side menu option to complete the update. Note that guidance material in the instructions sections of that page provides help on how to complete it.&lt;/span&gt;&lt;br&gt;<br>\n&lt;br&gt;<br>\nTransport Canada / Government of Canada&lt;br&gt;<br>\n&lt;br&gt;<br>\n&lt;br&gt;<br>\nThis is auto generated email.&lt;br&gt;<br>\n&lt;br&gt;<br>\n&lt;/p&gt;<br>\n&lt;head&gt;<br>\n &lt;style type=\"text/css\"&gt;<br>\n.div A:link {text-decoration: none; color: white;}<br>\n.div A:visited {text-decoration: none; color: white;}<br>\n.div A:active {text-decoration: none; color: white; }<br>\n.div A:hover {text-decoration: none; color: white;}<br>\n &lt;/style&gt;<br>\n&lt;/head&gt;<br>\n&lt;div class=\"div\" style=\"display:none; font-size:1; color:white;\"&gt;</p>",
                            "request/cc": "@variables('CCEmailRecipients')"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@variables('Language')",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a3423871-51c8-4a21-aaff-bcd09c194e82"
                  },
                  "type": "If"
                },
                "Set_variable_DueDate": {
                  "runAfter": {
                    "Reset__CC_email_List": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1954cf3c-58b7-45af-96ba-9ab6732fc607"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "DueDate",
                    "value": "@items('Apply_to_each_Account')?['cid_companyanniversarydate']"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c67dcd6a-d820-4898-807c-20d1863951d6"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "GetAccounts": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(outputs('GetAccounts')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "9fd4c9b4-c8aa-46bd-8060-133cc8a00a21"
          },
          "type": "If"
        },
        "Initialize_To_Email_Recipients": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9058c756-6243-4980-a304-83ef8af504a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ToEmailRecipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_CC_Email_Recipients": {
          "runAfter": {
            "Initialize_To_Email_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44b5133c-59e0-4ae7-ba27-efd2cffd30b4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CCEmailRecipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Temp_CC_Recipients": {
          "runAfter": {
            "Initialize_CC_Email_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4eeb6aba-5d6e-43c2-ba22-4aa36a0c1990"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Temp CC Recipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_Primary_Contact_First_Name_variable": {
          "runAfter": {
            "Initialize_Temp_CC_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5f9fc4c0-5b59-4380-9144-13684632a175"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Primary Contact First Name",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Language": {
          "runAfter": {
            "Initialize_Primary_Contact_First_Name_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d48d3e77-02e3-4d97-a31b-2b722360387e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "integer",
                "value": 918640001
              }
            ]
          }
        },
        "Initialize_variable_DueDate": {
          "runAfter": {
            "Initialize_variable_Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9ae58d26-8dfe-4eed-adb6-5c56a1e60621"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DueDate",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}