Solutions/CID_Flows/unpack/Workflows/AccountOnNameChange-UpdateSiteName-2032FBD4-A84C-EE11-BE6F-6045BD5D10B5.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b1b52933-e946-43c9-b2ee-3089a35e2214"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ovs_legalname,name",
              "subscriptionRequest/filterexpression": "customertypecode eq 948010000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "386071be-9624-4b17-b944-f338b9be3ee2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "fetchXml": "<fetch>\n  <entity name=\"account\">\n    <attribute name=\"name\" />\n    <attribute name=\"primarycontactid\" />\n  <attribute name=\"ovs_address_display\" />\n   <attribute name=\"customertypecode\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"parentaccountid\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/accountid']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"customertypecode\" operator=\"eq\" value=\"948010001\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_-_Terminate_if_there_are_no_any_Child_Site": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa58909-7aef-419c-856a-66c0e41896a9"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(outputs('List_rows')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "76932772-3289-4430-a396-bcba65e1ba78"
          },
          "type": "If"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row_-_Update_Each_Site_Name_": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ad4da654-7c02-4fec-8947-b6d38eb10996"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@items('Apply_to_each')?['accountid']",
                  "item/name": "@concat(triggerOutputs()?['body/name'], ' - ',items('Apply_to_each')?['ovs_address_display'] )",
                  "item/ovs_name_fr": "@concat(triggerOutputs()?['body/ovs_name_fr'], ' - ',items('Apply_to_each')?['ovs_address_display'] )"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Condition_-_Terminate_if_there_are_no_any_Child_Site": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "09ca7d30-a786-4659-a52c-dd128b572f4e"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}