Solutions/CID_Flows/unpack/Workflows/Account-SendAnnualComplianceCompletionEmail-39B01A17-A65D-ED11-9562-0022483D0C87.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedoffice365_ee685"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "c0bed9d7-ee36-4e10-9d2a-ad6219312650"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_annualcompliancecompletiondate",
              "subscriptionRequest/filterexpression": "customertypecode eq 948010000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition_Is_company_annual_compliance_done_": {
          "actions": {
            "GetEmailRecipients": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "747bddcb-cdac-4976-8bf9-5eb29d723233"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <attribute name=\"emailaddress1\" />\n   <attribute name=\"cid_languageofcorrespondence\" />\n    <attribute name=\"cid_contacttype\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"parentcustomerid\" operator=\"eq\" uitype=\"account\" value=\"@{triggerOutputs()?['body/accountid']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('GetEmailRecipients')?['body/value']",
              "actions": {
                "If_Primary_Contact": {
                  "actions": {
                    "Set_To_Email_Recipients": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "53a06a09-3428-4240-8e1f-0983659c54a7"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ToEmailRecipients",
                        "value": "@items('Apply_to_each_2')?['emailaddress1']"
                      }
                    },
                    "Set_variable_Primary_Contact_First_Name": {
                      "runAfter": {
                        "Set_To_Email_Recipients": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "edc751a4-9c9e-40db-848d-b2e2c1f26f5c"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Primary Contact First Name",
                        "value": "@items('Apply_to_each_2')?['firstname']"
                      }
                    },
                    "Set_variable_Language": {
                      "runAfter": {
                        "Append_to_string_variable_-_Add_Primary_Email": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a2c2ccb2-733a-4db4-a32d-751938a13cdc"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Language",
                        "value": "@items('Apply_to_each_2')?['cid_languageofcorrespondence']"
                      }
                    },
                    "Append_to_string_variable_-_Add_Primary_Email": {
                      "runAfter": {
                        "Set_variable_Primary_Contact_First_Name": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d187902b-b249-4412-b16b-48864ee85db6"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "Activity Party",
                        "value": ", {\n    \"participationtypemask\": 2,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{items('Apply_to_each_2')?['contactid']}\"\n}"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Append_to_string_variable_-_Add_CC_Email": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "a5d26665-6735-43f3-bc35-812f018fa94e"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "Activity Party",
                          "value": ", {\n    \"participationtypemask\": 3,\n    \"partyid@odata.bind\": \"\\\\contacts\\\\@{items('Apply_to_each_2')?['contactid']}\"\n}"
                        }
                      },
                      "Condition_2": {
                        "actions": {
                          "Apply_to_each_3": {
                            "foreach": "@outputs('GetEmailRecipients')?['body/value']",
                            "actions": {
                              "Set_variable": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "4e5ae564-2e7f-45d3-94e3-12f39f652eb5"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "Temp CC Recipients",
                                  "value": "@variables('CCEmailRecipients')"
                                }
                              },
                              "Concat_CCEmailRecipients_variable_if_not_empty": {
                                "runAfter": {
                                  "Set_variable": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "f4a01aa2-2fd2-4b2a-922f-63e1d556a09b"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "CCEmailRecipients",
                                  "value": "@{items('Apply_to_each_3')?['emailaddress1']}"
                                }
                              }
                            },
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "5027a906-3e0f-41e1-a7c1-34cec4669cfa"
                            },
                            "type": "Foreach"
                          }
                        },
                        "runAfter": {
                          "Append_to_string_variable_-_Add_CC_Email": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Apply_to_each_4": {
                              "foreach": "@outputs('GetEmailRecipients')?['body/value']",
                              "actions": {
                                "Set_CC_list_if_its_empty": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "fefbec20-6ec8-4b33-8ebd-7fc3c762b1f6"
                                  },
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "CCEmailRecipients",
                                    "value": "@items('Apply_to_each_4')?['emailaddress1']"
                                  }
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "80c61f12-02c2-447c-8296-49dd160d2f21"
                              },
                              "type": "Foreach"
                            }
                          }
                        },
                        "expression": {
                          "greater": [
                            "@length(variables('CCEmailRecipients'))",
                            0
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "794dff1f-0703-4bd2-a46f-c8cb08877300"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Apply_to_each_2')?['cid_contacttype']",
                      100000000
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4fd5894a-2fdc-4494-ac7a-99d52071e743"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "GetEmailRecipients": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3b7fc09e-16da-4109-971e-ebfd8088a1e0"
              },
              "type": "Foreach"
            },
            "Check_Language": {
              "actions": {
                "Outlook_Send_an_email_notification_(V3)_English": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9f2075e6-4e78-4aa6-8056-4472aaa61156"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('ToEmailRecipients')",
                      "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID: The Annual Compliance process for the @{triggerOutputs()?['body/ovs_legalname']} organization was sucessfully completed",
                      "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nThe Transport Canada Online CID Data Platform's Annual Compliance process for the @{triggerOutputs()?['body/ovs_legalname']} organization was successfully completed on @{triggerOutputs()?['body/cid_annualcompliancecompletiondate']}. The next Annual Compliance is due on @{triggerOutputs()?['body/cid_nextannualcomplianceupdate']}<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}<br>\n</p>",
                      "emailMessage/From": "@variables('CID_Email_Sender')",
                      "emailMessage/Cc": "@variables('CCEmailRecipients')",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Subject-En": {
                  "runAfter": {
                    "Outlook_Send_an_email_notification_(V3)_English": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0f9a2e72-3db8-41a4-81a3-3f74585db786"
                  },
                  "type": "Compose",
                  "inputs": "@{variables('TestSubjectText')}TDG Online - CID: The Annual Compliance process for the @{triggerOutputs()?['body/ovs_legalname']} organization was sucessfully completed"
                },
                "Body-En": {
                  "runAfter": {
                    "Subject-En": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e7de049-dfc6-4587-a159-b4740d71641f"
                  },
                  "type": "Compose",
                  "inputs": "@{variables('TestingText')}@{outputs('StandardSalutation')}\n\nThe Transport Canada Online CID Data Platform's Annual Compliance process for the @{triggerOutputs()?['body/ovs_legalname']} organization was successfully completed on @{triggerOutputs()?['body/cid_annualcompliancecompletiondate']}. The next Annual Compliance is due on @{triggerOutputs()?['body/cid_nextannualcomplianceupdate']}\n\nRegards,\n\n\nTransport Canada - CID Support Team\n\n@{outputs('English-EmailFooter')}\n"
                },
                "Condition_-_Comment_out_old_email_action_En": {
                  "actions": {
                    "Run_a_Child_Flow_-_Log_Email_Activities_in_Timeline_En": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9efbab9d-9275-4084-9b91-81e259251e89"
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "3c524c38-cbb0-ee11-a568-0022483cceb8"
                        },
                        "body": {
                          "text": "@outputs('Subject-En')",
                          "text_1": "@variables('Activity Party')",
                          "text_2": "@outputs('Body-En')",
                          "text_3": "@triggerOutputs()?['body/_cid_company_value']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Body-En": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      1,
                      2
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "204f727a-6066-4e3f-b72c-4001b509e486"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Outlook_Send_an_email_notification_(V3)_French": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9f2075e6-4e78-4aa6-8056-4472aaa61156"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@variables('ToEmailRecipients')",
                        "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : Le processus de conformité annuelle pour l’organisation @{triggerOutputs()?['body/ovs_legalnamefr']} a été mené à bien.",
                        "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nLe processus de conformité annuelle de la plateforme de données de la BDIC en ligne de Transports Canada pour l’organisation @{triggerOutputs()?['body/ovs_legalnamefr']} a été achevé avec succès le @{triggerOutputs()?['body/cid_annualcompliancecompletiondate']}. Le prochain rapport annuel de conformité doit être remis le @{triggerOutputs()?['body/cid_nextannualcomplianceupdate']}<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}<br>\n</p>",
                        "emailMessage/From": "@variables('CID_Email_Sender')",
                        "emailMessage/Cc": "@variables('CCEmailRecipients')",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Subject-Fr": {
                    "runAfter": {
                      "Outlook_Send_an_email_notification_(V3)_French": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "745011ec-2208-4b10-ae02-5fcfdfbdb0b3"
                    },
                    "type": "Compose",
                    "inputs": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : Le processus de conformité annuelle pour l’organisation @{triggerOutputs()?['body/ovs_legalnamefr']} a été mené à bien."
                  },
                  "Body-Fr": {
                    "runAfter": {
                      "Subject-Fr": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5040ff82-4b24-4748-98c0-000539b5cc87"
                    },
                    "type": "Compose",
                    "inputs": "@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}\n\nLe processus de conformité annuelle de la plateforme de données de la BDIC en ligne de Transports Canada pour l’organisation @{triggerOutputs()?['body/ovs_legalnamefr']} a été achevé avec succès le @{triggerOutputs()?['body/cid_annualcompliancecompletiondate']}. Le prochain rapport annuel de conformité doit être remis le @{triggerOutputs()?['body/cid_nextannualcomplianceupdate']}\n\nSalutations,\n\n\nÉquipe de soutien de la BDIC de Transports Canada\n\n@{outputs('French-EmailFooter')}\n"
                  },
                  "Condition_-_Comment_out_old_email_action_Fr": {
                    "actions": {
                      "Run_a_Child_Flow_-_Log_Email_Activities_in_Timeline_Fr": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b78fceec-1505-431c-a0ab-05573b45419f"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "3c524c38-cbb0-ee11-a568-0022483cceb8"
                          },
                          "body": {
                            "text": "@outputs('Subject-Fr')",
                            "text_1": "@variables('Activity Party')",
                            "text_2": "@outputs('Body-Fr')",
                            "text_3": "@triggerOutputs()?['body/_cid_company_value']"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Body-Fr": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "equals": [
                        1,
                        2
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7ded8145-d8b1-4c8b-835a-63942e89fd19"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('Language')",
                  918640001
                ]
              },
              "metadata": {
                "operationMetadataId": "31b2f0eb-c13a-4786-ae9f-f8eb1a3e8670"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/cid_iscompanyattested']",
                  true
                ]
              },
              {
                "equals": [
                  "@variables('DateDiff')",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9fd4c9b4-c8aa-46bd-8060-133cc8a00a21"
          },
          "type": "If"
        },
        "Initialize_To_Email_Recipients": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9058c756-6243-4980-a304-83ef8af504a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ToEmailRecipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_CC_Email_Recipients": {
          "runAfter": {
            "Initialize_To_Email_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44b5133c-59e0-4ae7-ba27-efd2cffd30b4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CCEmailRecipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_-_Activity_Party": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4eeb6aba-5d6e-43c2-ba22-4aa36a0c1990"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Temp CC Recipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Primary_Contact_First_Name": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e58d10f7-d2be-4f07-9248-4da6b284c07f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Primary Contact First Name",
                "type": "string",
                "value": "Sir/Madam"
              }
            ]
          }
        },
        "Initialize_variable_Language": {
          "runAfter": {
            "Initialize_variable_Primary_Contact_First_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43d372f7-287c-4fe7-9273-f62a28707eb4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "integer",
                "value": 918640001
              }
            ]
          }
        },
        "Initialize_variable_DateDiff_Annual_Compliance_Completed_Date": {
          "runAfter": {
            "Initialize_variable_Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c9d5e37a-87a8-4b8d-8878-9ff17f5235b4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DateDiff",
                "type": "integer",
                "value": "@div(sub(ticks(triggerOutputs()?['body/cid_annualcompliancecompletiondate']),ticks(formatDateTime(utcNow(), 'yyyy-MM-dd'))),864000000000)"
              }
            ]
          }
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** French-The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">French-Note:<br>\n   - To receive subsequent emails in English, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_CID_Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a4d30e6-367a-4728-93d1-e8fc48567195"
          },
          "type": "Scope"
        },
        "get-environment-settings": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_DateDiff_Annual_Compliance_Completed_Date": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42321f2d-372c-4f1a-a435-a67ead702f1d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "Tester le courriel:"
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "Tester le courriel: Ce courriel est un courriel de test, et non un courriel réel représentant ce qui est indiqué ci-dessous. <br><br>                                                                   "
              }
            }
          },
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        },
        "Filter_environment-CID__Email_Sender": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_Email_Sender')"
          }
        },
        "Initialize_variable_CID_Email_Sender": {
          "runAfter": {
            "Filter_environment-CID__Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c068ea6c-92cb-411f-9c4a-2464a31e0468"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CID_Email_Sender",
                "type": "string",
                "value": "@{body('Filter_environment-CID__Email_Sender')[0]['qm_value']}"
              }
            ]
          }
        },
        "Initialize_variable_-_Activity_Party": {
          "runAfter": {
            "Initialize_CC_Email_Recipients": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82d8d071-4853-4255-83f0-9a6bc9d92bd2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Activity Party",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}