Solutions/CID_Flows/unpack/Workflows/Account-Registrationiscompleted-9B2ABC62-6C90-EC11-8D20-0022483BB0E4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_d0e5e"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "when_the_company_status_changes": {
          "metadata": {
            "operationMetadataId": "dcae15dd-ae76-42a0-90bf-9e0825366006"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_cidcompanystatus"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "If_the_company_status_is_Registration_complete,_part_of_CID_Reporting": {
          "actions": {
            "get_primary_contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d792bf34-da47-426e-aed3-5b366d35c483"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_primarycontactid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_notification_(V3)": {
              "runAfter": {
                "get_primary_contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3b1fbad3-2579-401c-8189-5825940d6dfb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sendmail",
                  "operationId": "SendEmailV3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                },
                "parameters": {
                  "request/to": "@{outputs('get_primary_contact')?['body/emailaddress1']};",
                  "request/subject": "Your registration is complete",
                  "request/text": "<p>Dear @{outputs('get_primary_contact')?['body/fullname']},<br>\n<br>\nCongratulations! Your registration is complete.<br>\n<br>\nLegal Name: @{triggerOutputs()?['body/ovs_legalname']}<br>\nOperating Name: @{triggerOutputs()?['body/name']}<br>\nCompanry Anniversary date: @{triggerOutputs()?['body/cid_companyanniversarydate']}<br>\nSite(s): @{variables('sSiteList')}<br>\n</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/cid_cidcompanystatus']",
                  100000005
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_primarycontactid_value']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "a4dd60d6-357e-4807-a01c-470b8a04bd90"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d9c0f6ce-b655-416e-9858-d26bd2c60bd6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sSiteList",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}