Solutions/CID_Flows/unpack/Workflows/BulkUploadInitialvalidation-D089C223-EEA6-EC11-B3FE-0022483C4A6F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_azureblob_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedazureblob_395e7"
        },
        "api": {
          "name": "shared_azureblob"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceSharepointTDGCoreUser"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceExcelTDGCoreUser"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4ddcee8d-9d8e-4291-9b73-9eca2b07bbc7"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "activityid": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "accountid": {
                  "type": "string"
                },
                "Lang": {
                  "type": "string"
                },
                "ActivityType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "List_Environment_setting": {
          "runAfter": {
            "ContactID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "55ddbf3f-4c68-4cff-aca0-eb4c71e2a24f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"qm_environmentsettings\">\n    <attribute name=\"qm_environmentsettingsid\" />\n    <attribute name=\"qm_name\" />\n    <attribute name=\"qm_value\" />\n    <order attribute=\"qm_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "company-name": {
          "runAfter": {
            "Get_Company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "88147cd0-932d-4339-848a-55ffc9249b92"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Company')?['body/ovs_legalname']"
        },
        "CompanyId": {
          "runAfter": {
            "company-name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99d62caf-1929-4115-8b90-eef816655c13"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Company')?['body/cid_companyid']"
        },
        "Get_Company": {
          "runAfter": {
            "ContactID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15a64acd-8d3c-4a8a-b17b-eaeb5a6d416d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerBody()?['accountid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_Environment_folder_variable": {
          "runAfter": {
            "Filter_array-GetEnvironmentVariable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc5c3dd6-8d62-49cb-befd-838a6faaacca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "@{body('Filter_array-GetEnvironmentVariable')?[0]['qm_value']}"
              }
            ]
          }
        },
        "ActionBy": {
          "runAfter": {
            "Get_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c1b15c1-fa5b-476a-857a-ea18ee67282e"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Bulk_Activity_log_Summaries-initial')?['body']['_cid_actionedby_value@OData.Community.Display.V1.FormattedValue']"
        },
        "Initialize_ProvinceCodes_variable": {
          "runAfter": {
            "Initialize_variable_-_Language_Index_-_default_english": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74815300-3912-4a4c-ad7f-1cfdca4d3ce9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProvinceCodes",
                "type": "object",
                "value": {
                  "NL": "10",
                  "PE": "11",
                  "NS": "12",
                  "NB": "13",
                  "QC": "24",
                  "ON": "35",
                  "MB": "46",
                  "SK": "47",
                  "AB": "48",
                  "BC": "59",
                  "YU": "60",
                  "NT": "61",
                  "NU": "62",
                  "UF": "72",
                  "IW": "73"
                }
              }
            ]
          }
        },
        "All-Tables_exists-in-Excel-Flag": {
          "runAfter": {
            "Initialize_ProvinceCodes_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea234297-f193-4320-b5cf-eeed009e2f42"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Flage_All_Table_exists",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Error_flag": {
          "runAfter": {
            "All-Tables_exists-in-Excel-Flag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af9c01db-59f3-46fa-826e-e24fc2c82cca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsErrorFree",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Initialize_variable-Error-Message": {
          "runAfter": {
            "Error_flag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35b9d1fb-da0e-491e-9802-9126b6c5408c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_Message",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable-ErrorCode": {
          "runAfter": {
            "Initialize_variable-Error-Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "745a4749-12a3-439a-9231-6a95cf6876bb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_Code",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable-Type": {
          "runAfter": {
            "Initialize_variable-ErrorCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb871a38-ef64-4045-b2ea-6ca03491784d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LogType",
                "type": "string"
              }
            ]
          }
        },
        "Bulk_Activity_start_time": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6907a2ad-8951-45c7-990f-5ced90c5981a"
          },
          "type": "Compose",
          "inputs": "@utcNow()"
        },
        "Initialize_variable_-_Language_Index_-_default_english": {
          "runAfter": {
            "Initialize_variable_Error_found": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2e0ab909-9d77-4bf0-8692-08dd432b957d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language_Index",
                "type": "integer",
                "value": 918640001
              }
            ]
          }
        },
        "Get_Bulk_Activity_log_Summaries-initial": {
          "runAfter": {
            "TotalNumberOfUns": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0abf4f66-6dea-4942-a637-83047b3c2026"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_bulkactivitylogsummaries",
              "recordId": "@triggerBody()?['activityid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "ContactID": {
          "runAfter": {
            "Get_Bulk_Activity_log_Summaries-initial": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "813962c6-0382-4d8d-9cce-ca742bb0c054"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Bulk_Activity_log_Summaries-initial')?['body/_cid_actionedby_value']"
        },
        "Initialize_variable_-_Activity_type": {
          "runAfter": {
            "Bulk_Activity_start_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "43c9ef86-4039-4c10-90b0-9aad7a106d5b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActivityType",
                "type": "integer"
              }
            ]
          }
        },
        "Condition_-_check_activity_type": {
          "actions": {
            "set_Activity_type_to_Registeration": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5c208046-5636-4386-8db9-20b339d3bf09"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ActivityType",
                "value": 100000001
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Activity_type": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Activity_type_to_in_year": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "5d1661dc-b491-4591-a0b3-288bdc64256c"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ActivityType",
                  "value": 100000003
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['ActivityType']",
              "@'Initial'"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c3594a2-3429-4fed-b5d2-2f430b1d9cbd"
          },
          "type": "If"
        },
        "Filter_array-GetEnvironmentVariable": {
          "runAfter": {
            "List_Environment_setting": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41f6f1a2-74a5-40a3-8f7a-1c9d91283a64"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('List_Environment_setting')?['body/value']",
            "where": "@equals(item()['qm_name'], 'CID_Flow_Environment_Folder')"
          }
        },
        "Initialize_variable_Error_found": {
          "runAfter": {
            "Condition_-_check_activity_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d75cc8ca-070e-457d-a213-15143539c601"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorFound",
                "type": "boolean",
                "value": "@False"
              }
            ]
          }
        },
        "Initialize_variable_NumberOfSitesWithRequirementLevel": {
          "runAfter": {
            "Initialize_variable-Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "99b24bc9-26ae-470b-be9c-fb7020c3e5db"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NumberOfSitesWithRequirementLevel",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_WarrningMessage13": {
          "runAfter": {
            "Initialize_variable_NumberOfSitesWithRequirementLevel": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28bc683f-8786-4ea6-934c-d25637363d12"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "WarrningMessage13",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Version#": {
          "runAfter": {
            "Initialize_variable_WarrningMessage13": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35dc4ca8-ce03-4f53-8a8c-96f6579d67ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Version#",
                "type": "string",
                "value": "0"
              }
            ]
          }
        },
        "Initialize_variable_TotalNumberOfSites": {
          "runAfter": {
            "Initialize_variable_Version#": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0b124f70-4d06-4cf3-bc57-9193f452cd18"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TotalNumberOfSite",
                "type": "integer"
              }
            ]
          }
        },
        "TotalNumberOfUns": {
          "runAfter": {
            "Initialize_variable_TotalNumberOfSites": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4798ef44-faa3-4c4b-bfff-cc920a3fab32"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TotalNumberOfUns",
                "type": "integer"
              }
            ]
          }
        },
        "Get_Contact": {
          "runAfter": {
            "ContactID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac6e8559-1d7b-4fc6-9bee-9f42336cb467"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('ContactID')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "check_error_flag": {
          "actions": {
            "Update_bulk_Activity_Log_Summary": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "16c1b0ac-fdb1-4356-9768-087810cae42f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@triggerBody()?['activityid']",
                  "item/cid_activitystarttime": "@outputs('Bulk_Activity_start_time')",
                  "item/cid_activitytype": "@variables('ActivityType')",
                  "item/cid_filename": "@outputs('OrigionalFileName')",
                  "item/cid_language": "@variables('Language_Index')",
                  "item/cid_numberofsites": "@variables('TotalNumberOfSite')",
                  "item/cid_numberofunnumbers": "@variables('TotalNumberOfUns')",
                  "item/cid_tempsharepointfilelocation": "@outputs('Create_Temp_file')?['body/Path']",
                  "item/cid_validationcompletedstage": 100000000
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "check_language_for_response": {
              "actions": {
                "Success_Response": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "66e8a4fe-bef3-42dc-8d0c-7f1c84210141"
                  },
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "filepath": "@outputs('Create_Temp_file')?['body/Path']",
                      "NumberOfSitesWithRequirementLevel": "@variables('NumberOfSitesWithRequirementLevel')",
                      "warningMessage": ""
                    },
                    "body": "@variables('WarrningMessage13')"
                  }
                }
              },
              "runAfter": {
                "Update_bulk_Activity_Log_Summary": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Success_Response_in_French": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "29f1233e-d89f-4851-991e-0b1112187e44"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "NumberOfSitesWithRequirementLevel": "@variables('NumberOfSitesWithRequirementLevel')",
                        "filepath": "@outputs('Create_Temp_file')?['body/Path']",
                        "warningMessage": ""
                      },
                      "body": "@variables('WarrningMessage13')"
                    }
                  }
                }
              },
              "expression": {
                "contains": [
                  "@triggerBody()?['Lang']",
                  "en"
                ]
              },
              "metadata": {
                "operationMetadataId": "09fceff5-0d57-4b0b-b974-598451d1b3d4"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "check_attachement": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_bulk_Activity_Log_Summary_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "16c1b0ac-fdb1-4356-9768-087810cae42f"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_bulkactivitylogsummaries",
                    "recordId": "@triggerBody()?['activityid']",
                    "item/cid_activityendtime": "@utcNow()",
                    "item/cid_activitystarttime": "@outputs('Bulk_Activity_start_time')",
                    "item/cid_activitystatus": 100000001,
                    "item/cid_activitytype": "@variables('ActivityType')",
                    "item/cid_filename": "@outputs('OrigionalFileName')",
                    "item/cid_language": "@variables('Language_Index')",
                    "item/cid_numberofsites": "@variables('TotalNumberOfSite')",
                    "item/cid_numberofunnumbers": "@variables('TotalNumberOfUns')",
                    "item/cid_tempsharepointfilelocation": "@outputs('Create_Temp_file')?['body/Path']",
                    "item/cid_totalruntime": "@div(sub(ticks(utcNow()),ticks(outputs('Bulk_Activity_start_time'))),10000000)",
                    "item/cid_version": "@int(variables('Version#'))"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Send_an_HTTP_request_to_SharePoint-Delete-File": {
                "runAfter": {
                  "Response_-_send_template_error_response": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "613190e4-0e54-402c-92ea-4d8c3d1e4a7a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "HttpRequest",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "parameters/method": "DELETE",
                    "parameters/uri": "_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}')/recycle",
                    "parameters/headers": {
                      "Prefer": "bypass-shared-lock"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Delete_Folder": {
                "runAfter": {
                  "Send_an_HTTP_request_to_SharePoint-Delete-File": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f00e886f-145d-4890-91e5-d4fb5eacf205"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "DeleteItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "table": "Documents",
                    "id": "@outputs('Create_new_folder')?['body/ID']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Response_-_send_template_error_response": {
                "runAfter": {
                  "Update_bulk_Activity_Log_Summary_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ee3c3cd2-006d-4ac8-a012-7c327fbf86fd"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 401,
                  "body": "@variables('Error_Message')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('ErrorFound')",
              "@false"
            ]
          },
          "metadata": {
            "operationMetadataId": "65069879-0150-4e08-9d1e-e04210460358"
          },
          "type": "If"
        },
        "check_attachement": {
          "actions": {
            "getfilename": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0e873c2f-544b-4f80-a0c7-10e0e9eea411"
              },
              "type": "Compose",
              "inputs": "@concat(triggerBody()?['activityid'], '_', utcNow(), '.xlsx')"
            },
            "Create_Temp_file": {
              "runAfter": {
                "Create_new_folder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d78c1ad0-cc32-4c5b-bd99-b00c092fc24f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                  "name": "@outputs('getfilename')",
                  "body": "@outputs('attachement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Create_new_folder": {
              "runAfter": {
                "getfilename": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1d81464-2008-4bda-9de6-02d58454c8b0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateNewFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "table": "ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395",
                  "parameters/path": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "SharePoint-file-path": {
              "runAfter": {
                "Create_Temp_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "813f258f-a88e-4327-a661-56a540b24c1e"
              },
              "type": "Compose",
              "inputs": "@outputs('Create_Temp_file')?['body/Path']"
            },
            "Get-File-Relative-Path": {
              "runAfter": {
                "SharePoint-file-path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62a55140-16b9-46c5-8165-dbd9d75253d9"
              },
              "type": "Compose",
              "inputs": "@substring(outputs('SharePoint-file-path'), indexOf(outputs('SharePoint-file-path'), 'CID_Bulk_Upload'))"
            },
            "Initial_Validation_logic": {
              "actions": {
                "Check_if_uploaded_file_has_correct_template_-_filter_excel_tables": {
                  "actions": {
                    "Get_tables": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d54bf7e3-e86f-4418-8a41-6e0839a09425",
                        "tableId": null
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_excelonlinebusiness_1",
                          "operationId": "GetTables",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                        },
                        "parameters": {
                          "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                          "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                          "file": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Filter-array-Table1": {
                      "runAfter": {
                        "Get_tables": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9e90dfa9-e55e-43c5-94c7-2b9f55fefa01"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Get_tables')?['body/value']",
                        "where": "@equals(item()['name'], 'SettingTable')"
                      }
                    },
                    "Filter-array-Table4": {
                      "runAfter": {
                        "Get_tables": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6b2878bf-b104-467f-9d6a-3cd0583bc967"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Get_tables')?['body/value']",
                        "where": "@equals(item()['name'], 'TableAddExtended')"
                      }
                    },
                    "Filter-array-table2": {
                      "runAfter": {
                        "Get_tables": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4f6088f2-9cee-4739-9ada-9f118e232533"
                      },
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Get_tables')?['body/value']",
                        "where": "@equals(item()['name'], 'TableAddBasic')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "516464f2-4330-4254-814a-746a7b622271"
                  },
                  "type": "Scope"
                },
                "check-If-Tables_exists-In_excel": {
                  "actions": {
                    "Graph_API_call_to_get_Excel_tables": {
                      "actions": {
                        "Get-Table-Setting_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "8d0cbf6f-1e9d-4224-bacd-e3ad8c39d85c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_webcontents",
                              "operationId": "InvokeHttp",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                            },
                            "parameters": {
                              "request/method": "GET",
                              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/SettingTable/rows"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Invoke_http_Get_Sites_2": {
                          "runAfter": {
                            "Get-Table-Setting_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "8d0cbf6f-1e9d-4224-bacd-e3ad8c39d85c"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_webcontents",
                              "operationId": "InvokeHttp",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                            },
                            "parameters": {
                              "request/method": "GET",
                              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/TableAddBasic/rows"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Invoke-an-HTTP-request-unnumber_2": {
                          "runAfter": {
                            "Get-Table-Setting_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f11d9ebe-4fb1-412e-b313-ec10ab941bb7"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_webcontents",
                              "operationId": "InvokeHttp",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                            },
                            "parameters": {
                              "request/method": "GET",
                              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/TableAddExtended/rows"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "1c59b105-b8ac-414b-93f6-452c6bc03090"
                      },
                      "type": "Scope"
                    },
                    "Select_UNNumber": {
                      "runAfter": {
                        "Graph_API_call_to_get_Excel_tables": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "265c9e91-9b01-4801-9bf7-22ee945843c8"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@outputs('Invoke-an-HTTP-request-unnumber_2')?['body']['value']",
                        "select": {
                          "UNNumber": "@item()['values'][0][1]"
                        }
                      }
                    },
                    "SelectSitesValues": {
                      "runAfter": {
                        "Graph_API_call_to_get_Excel_tables": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fcaeff81-87b6-4d21-8d45-9bfc420a7267"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@outputs('Invoke_http_Get_Sites_2')?['body']['value']",
                        "select": {
                          "FullAddress": "@item()['values'][0][27]"
                        }
                      }
                    },
                    "Set_variable_Error_found_from_bound_action": {
                      "runAfter": {
                        "Set_variable_Error_Message": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9a3febac-5919-4293-94ac-ec6450e16553"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorFound",
                        "value": "@outputs('Perform_a_bound_action_-_Initial_validation')?['body/ErrorFound']"
                      }
                    },
                    "Set_variable_Error_Message": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2c5a92ca-32af-4441-9aa7-9e3d23a6e1cb"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Error_Message",
                        "value": "@outputs('Perform_a_bound_action_-_Initial_validation')?['body/MessageList']"
                      }
                    },
                    "Perform_a_bound_action_-_Initial_validation": {
                      "runAfter": {
                        "Set_variable_UNnumber": [
                          "Succeeded"
                        ],
                        "Set_variable_Number_of_sites": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4e8866f4-e642-4380-b383-d0a4722536a2"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "accounts",
                          "actionName": "Microsoft.Dynamics.CRM.cid_CID_BulkUpload_Initial_Validation",
                          "recordId": "@outputs('Get_Company')?['body/accountid']",
                          "item/ExcelTemplateCorrect": true,
                          "item/CompanyCode": "@outputs('Get_Company')?['body/cid_companyid']",
                          "item/ActivityStartDate": "@outputs('Bulk_Activity_start_time')",
                          "item/ActivityType": "@string(variables('ActivityType'))",
                          "item/SiteInfo": "@body('SelectSitesValues')",
                          "item/UNList": "@body('Select_UNNumber')",
                          "item/SettingTable": "@outputs('Get-Table-Setting_2')?['body']['value'][0]['values'][0]",
                          "item/ActivityID": "@triggerBody()?['activityid']",
                          "item/Language": "@triggerBody()?['Lang']",
                          "item/CompanyName": "@outputs('Get_Company')?['body/name']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_variable": {
                      "runAfter": {
                        "Perform_a_bound_action_-_Initial_validation": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2c5a92ca-32af-4441-9aa7-9e3d23a6e1cb"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "NumberOfSitesWithRequirementLevel",
                        "value": "@{outputs('Perform_a_bound_action_-_Initial_validation')?['body/TotalSitesWithRequirementLevel']}"
                      }
                    },
                    "Set_variable_warning_message_13": {
                      "runAfter": {
                        "Set_variable_Error_found_from_bound_action": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c0019d85-9075-4a44-9170-ed411233fef5"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "WarrningMessage13",
                        "value": "@outputs('Perform_a_bound_action_-_Initial_validation')?['body/WarnningMessage13']"
                      }
                    },
                    "Set_variable_version_Number": {
                      "runAfter": {
                        "Set_variable_warning_message_13": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bd1a2d51-a0d9-40d5-8fa9-191466757b31"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Version#",
                        "value": "@outputs('Perform_a_bound_action_-_Initial_validation')?['body/VersionNumber']"
                      }
                    },
                    "Set_variable_UNnumber": {
                      "runAfter": {
                        "Select_UNNumber": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "041d1288-27d7-4885-b73c-f1ad20413e7f"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "TotalNumberOfUns",
                        "value": "@length(body('Select_UNNumber'))"
                      }
                    },
                    "Set_variable_Number_of_sites": {
                      "runAfter": {
                        "SelectSitesValues": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "068147a5-7cd4-4dac-8b63-63b87484e1b1"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "TotalNumberOfSite",
                        "value": "@length(body('SelectSitesValues'))"
                      }
                    }
                  },
                  "runAfter": {
                    "Check_if_uploaded_file_has_correct_template_-_filter_excel_tables": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_IsErrorFree_to_false": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "97bb35e1-166e-43b9-babc-3161cd46cc09"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorFound",
                          "value": "@true"
                        }
                      },
                      "Set_variable__flag_allTable_exists_to_false": {
                        "runAfter": {
                          "Set_IsErrorFree_to_false": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "62a41d5d-eae5-47bf-a918-bb2a549665e2"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Flage_All_Table_exists",
                          "value": "@false"
                        }
                      },
                      "Perform_a_bound_action_-_Initial_validation_2": {
                        "runAfter": {
                          "Set_variable__flag_allTable_exists_to_false": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "4e8866f4-e642-4380-b383-d0a4722536a2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "PerformBoundAction",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "accounts",
                            "actionName": "Microsoft.Dynamics.CRM.cid_CID_BulkUpload_Initial_Validation",
                            "recordId": "@outputs('Get_Company')?['body/accountid']",
                            "item/ExcelTemplateCorrect": false,
                            "item/CompanyCode": "@outputs('Get_Company')?['body/cid_companyid']",
                            "item/ActivityStartDate": "@outputs('Bulk_Activity_start_time')",
                            "item/ActivityType": "@string(variables('ActivityType'))",
                            "item/SiteInfo": "[]",
                            "item/UNList": "[]",
                            "item/SettingTable": "[]",
                            "item/ActivityID": "@triggerBody()?['activityid']",
                            "item/Language": "@triggerBody()?['Lang']",
                            "item/CompanyName": "@outputs('Get_Company')?['body/name']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_variable_Error_Message_2": {
                        "runAfter": {
                          "Perform_a_bound_action_-_Initial_validation_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2c5a92ca-32af-4441-9aa7-9e3d23a6e1cb"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Error_Message",
                          "value": "@outputs('Perform_a_bound_action_-_Initial_validation_2')?['body/MessageList']"
                        }
                      },
                      "Set_variable_Error_found_from_bound_action_2": {
                        "runAfter": {
                          "Set_variable_Error_Message_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "9a3febac-5919-4293-94ac-ec6450e16553"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "ErrorFound",
                          "value": "@true"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@length(body('Filter-array-Table1'))",
                          0
                        ]
                      },
                      {
                        "greater": [
                          "@length(body('Filter-array-table2'))",
                          0
                        ]
                      },
                      {
                        "greater": [
                          "@length(body('Filter-array-Table4'))",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "741e3a50-0416-4cc0-bacc-5794139a364c"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get-File-Relative-Path": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8f162a33-d8d8-4206-b291-c543bf9406ea"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "CompanyId": [
              "Succeeded"
            ],
            "Initialize_Environment_folder_variable": [
              "Succeeded"
            ],
            "ActionBy": [
              "Succeeded"
            ],
            "get_Attachment_conetent": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable-IsErrorFree-to-false": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "6854c04f-327e-4ed5-b17e-f8a85946dc59"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ErrorFound",
                  "value": "@true"
                }
              },
              "Response_attachment_not_found": {
                "runAfter": {
                  "Set_variable-IsErrorFree-to-false": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "1f529166-a6ec-423d-9a92-396a0ad70218"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 401,
                  "headers": {
                    "Error": "\"Filet not found\""
                  },
                  "body": "File Not Found"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('attachement')",
                "Null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "06b869e6-ecc6-4f8d-a019-d96151a0cbed"
          },
          "type": "If"
        },
        "get_Attachment_conetent": {
          "actions": {
            "Get_Note": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7793f97f-eebe-40e1-866e-eaaebd7ee54b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "annotations",
                  "$filter": "_objectid_value eq @{triggerBody()?['activityid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "attachement": {
              "runAfter": {
                "OrigionalFileName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "26d6e4c7-9c5e-48b5-8a86-4e89ac3c5461"
              },
              "type": "Compose",
              "inputs": "@body('Get_blob_content_(V2)')"
            },
            "Get-Txt-file-from-attachement": {
              "runAfter": {
                "Get_Note": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62e124c4-2e49-4fc2-ae92-69bcb44fc3ec"
              },
              "type": "Compose",
              "inputs": "@json(base64ToString(outputs('Get_Note')?['body/value'][0].documentbody))"
            },
            "file-URL-in-Blob": {
              "runAfter": {
                "Get-Txt-file-from-attachement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c7f4bb9-be7d-46bd-905b-f53f3f8e4078"
              },
              "type": "Compose",
              "inputs": "@outputs('Get-Txt-file-from-attachement')['URL']"
            },
            "Get_blob_content_(V2)": {
              "runAfter": {
                "file-URL-in-Blob": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "27463fd4-1ba4-437b-aeab-f3227a9d5e9b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azureblob_1",
                  "operationId": "GetFileContent_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
                },
                "parameters": {
                  "dataset": "satdgrdnprdcc",
                  "id": "@substring(outputs('file-URL-in-Blob'), indexOf(outputs('file-URL-in-Blob'), '/blobstoragecontainer'))",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "OrigionalFileName": {
              "runAfter": {
                "Get_blob_content_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1ab9a214-0af2-46cc-bee6-b15edaa4ba49"
              },
              "type": "Compose",
              "inputs": "@replace( substring(outputs('file-URL-in-Blob'), add(lastIndexOf( outputs('file-URL-in-Blob'),'/'),1)),'%20',' ')"
            }
          },
          "runAfter": {
            "ContactID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28bcf457-d482-4c97-8639-e70b9bcd77c1"
          },
          "type": "Scope"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}