Solutions/CID_Flows/unpack/Workflows/BulkInsert-9AC0F16F-415D-EC11-8F8E-000D3A845870.json
{"properties":{"connectionReferences":{"shared_excelonlinebusiness_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceExcelTDGCoreUser"},"api":{"name":"shared_excelonlinebusiness"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"53048e5a-4670-4da2-bbe6-f46906d88b50"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"accountid":{"type":"string"},"Filelocation":{"type":"string"},"activityid":{"type":"string"}}}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{"Get_Account_Info":["Succeeded"]},"metadata":{"operationMetadataId":"3bb92b87-e24a-4dea-884d-6514ecc43cfe","tableId":"Table2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"@triggerBody()?['Filelocation']","table":"Table2"},"authentication":"@parameters('$authentication')"}},"Loop_Excel_sheet_Sites_table":{"foreach":"@body('List_All_Sites_with_data')","actions":{"current_row":{"runAfter":{},"metadata":{"operationMetadataId":"420a8e5f-805b-440c-a13a-d5f047f098da"},"type":"Compose","inputs":"@items('Loop_Excel_sheet_Sites_table')"},"Site_Classification":{"runAfter":{"current_row":["Succeeded"]},"metadata":{"operationMetadataId":"341301d8-c2f1-4f28-8b7e-b5ceb7f72ab8"},"type":"Compose","inputs":"@outputs('current_row')?['Extended Site?']"},"Class_List":{"runAfter":{"check_if_extended_site":["Succeeded"]},"metadata":{"operationMetadataId":"018b08e2-85b4-4259-9f95-2080218b835d"},"type":"Compose","inputs":"@split(outputs('current_row')?['Class/Division'],',')"},"Loop_in_the_class_List":{"foreach":"@outputs('Class_List')","actions":{"get_option_set_index":{"runAfter":{},"metadata":{"operationMetadataId":"3874b476-84dc-4823-898f-1af674f9b7d3"},"type":"Query","inputs":{"from":"@outputs('StringMap_-_List_Class')?['body/value']","where":"@equals(item()?['value'], items('Loop_in_the_class_List'))"}},"Class_option_set_value":{"runAfter":{"get_option_set_index":["Succeeded"]},"metadata":{"operationMetadataId":"067c96d1-9269-4851-8df7-173ef3d741e2"},"type":"Compose","inputs":"@body('get_option_set_index')?[0]?['attributevalue']"},"If_class_index_found":{"actions":{"integer_value_for_the_index":{"runAfter":{},"metadata":{"operationMetadataId":"710c2984-a95a-45f4-8820-3f4eb9d36f59"},"type":"Compose","inputs":"@int(outputs('Class_option_set_value'))"},"Add_operation_class":{"runAfter":{"integer_value_for_the_index":["Succeeded"]},"metadata":{"operationMetadataId":"920c2fd2-060f-469d-b24c-0f89d3779bc4"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_operationclasses","item/ovs_primeclass":"@int(outputs('Class_option_set_value'))","item/ovs_supplychaindirection":"930840000","item/ovs_OperationClass@odata.bind":"@\r\nconcat('/ovs_mocregistrations/',outputs('OperationId'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Class_option_set_value":["Succeeded"]},"expression":{"greaterOrEquals":["@outputs('Class_option_set_value')",0]},"metadata":{"operationMetadataId":"83735453-fbb6-459a-8cbd-79fdad1f0392"},"type":"If"}},"runAfter":{"Check_if_UN_number_found":["Succeeded"]},"metadata":{"operationMetadataId":"7ccc3b18-109a-4bdd-bc1a-c7e36794fd4b"},"type":"Foreach"},"Add_Mode_Air_if_exist_in_excel_rows":{"actions":{"Add_Air":{"runAfter":{},"metadata":{"operationMetadataId":"4183b4c2-5f46-4aee-8cd7-1e5512f2e3bb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_modeoftransportations","item/cid_Company@odata.bind":"@outputs('accountlookup')","item/cid_Mode@odata.bind":"@concat('/ovs_modeses/',variables('Air'))","item/cid_Site@odata.bind":"@concat('/accounts/',outputs('account_id'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"OperationId":["Succeeded"]},"expression":{"equals":["@outputs('current_row')?['Air']","Yes"]},"metadata":{"operationMetadataId":"a5376aaa-2564-47f0-92b3-c1f7ae49a174"},"type":"If"},"Add_Mode_of_Marine_if_exist":{"actions":{"Add_Marine":{"runAfter":{},"metadata":{"operationMetadataId":"f2b77439-fca1-4e93-8f9c-d4182b222dac"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_modeoftransportations","item/cid_Company@odata.bind":"@outputs('accountlookup')","item/cid_Mode@odata.bind":"@concat('/ovs_modeses/',variables('Air'))","item/cid_Site@odata.bind":"@concat('/accounts/',outputs('account_id'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Add_Mode_Air_if_exist_in_excel_rows":["Succeeded"]},"expression":{"equals":["@items('Loop_Excel_sheet_Sites_table')?['Marine']","Yes"]},"metadata":{"operationMetadataId":"2896c688-9b3b-415d-b77a-07e999028569"},"type":"If"},"account_id":{"runAfter":{"Add_Site":["Succeeded"]},"metadata":{"operationMetadataId":"cd5817b9-00a5-4ebd-9fc2-139e037c84ea"},"type":"Compose","inputs":"@outputs('Add_Site')?['body/accountid']"},"Add_Site":{"runAfter":{"Class_List":["Succeeded"]},"metadata":{"operationMetadataId":"4183b4c2-5f46-4aee-8cd7-1e5512f2e3bb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","item/address1_city":"@outputs('current_row')?['City']","item/address1_country":"Canada","item/ovs_legalname":"@outputs('Get_Account_Info')?['body/ovs_legalname']","item/name":"@outputs('Get_Account_Info')?['body/name']","item/customertypecode":948010001,"item/ovs_romid":" ","item/address1_stateorprovince":"@outputs('current_row')?['Province']","item/address1_line1":"@outputs('current_row')?['Address 1']","item/address1_postalcode":"@outputs('current_row')?['Postal Code']","item/cid_cidsitestatus":100000004,"item/cid_operatingname":"@outputs('Get_Account_Info')?['body/cid_operatingname']","item/parentaccountid@odata.bind":"@outputs('accountlookup')","item/cid_requirementlevel":"@variables('CID_Site_Requirement_Level')","item/cid_sitename":"@outputs('Get_Account_Info')?['body/ovs_legalname']","item/address1_line2":"@outputs('current_row')?['Address 2']","item/address1_line3":"@outputs('current_row')?['Address 3']","item/cid_unitnumber":"@outputs('current_row')?['Unit Number']"},"authentication":"@parameters('$authentication')"}},"Add_Mode_of_Road_if_exist_2":{"actions":{"Add_Road":{"runAfter":{},"metadata":{"operationMetadataId":"33f1c9ac-fd0c-487e-8d7e-45b95c1ec66f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_modeoftransportations","item/cid_Company@odata.bind":"@outputs('accountlookup')","item/cid_Mode@odata.bind":"@concat('/ovs_modeses/', variables('Road'))","item/cid_Site@odata.bind":"@concat('/accounts/', outputs('account_id'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Add_Mode_of_Marine_if_exist":["Succeeded"]},"expression":{"equals":["@items('Loop_Excel_sheet_Sites_table')?['Road']","Yes"]},"metadata":{"operationMetadataId":"5980f604-8f9d-4c2a-92d7-c639df25873e"},"type":"If"},"Add_Mode_of_Rail_if_exist":{"actions":{"Add_Rail":{"runAfter":{},"metadata":{"operationMetadataId":"d938db7b-82d4-44cb-8cb8-003848ed73ec"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_modeoftransportations","item/cid_Company@odata.bind":"@outputs('accountlookup')","item/cid_Mode@odata.bind":"@concat('/ovs_modeses/', variables('Rail'))","item/cid_Site@odata.bind":"@concat('/accounts/', outputs('account_id'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Add_Mode_of_Road_if_exist_2":["Succeeded"]},"expression":{"equals":["@items('Loop_Excel_sheet_Sites_table')?['Rail']","Yes"]},"metadata":{"operationMetadataId":"51aa8e06-1273-4bd3-b4b3-36e96227dcf4"},"type":"If"},"Filter_UnNumber_Table_with_Site":{"runAfter":{"Add_Mode_of_Rail_if_exist":["Succeeded"]},"metadata":{"operationMetadataId":"0199dc9b-c60d-49dd-8d1c-9d2b9521333b"},"type":"Query","inputs":{"from":"@outputs('Get_Un_from_Table_4_in_excel')?['body/value']","where":"@equals(item()?['Site'], items('Loop_Excel_sheet_Sites_table')?['SiteFullAddress'])"}},"Check_if_UN_number_found":{"actions":{"For_each_UN_number":{"foreach":"@body('Filter_UnNumber_Table_with_Site')","actions":{"UN_row":{"runAfter":{},"metadata":{"operationMetadataId":"285f3692-c760-4400-8e86-c726bd09097a"},"type":"Compose","inputs":"@items('For_each_UN_number')"},"Check_if_UN_number_is_not_null":{"actions":{"UNNumber_Value":{"runAfter":{},"metadata":{"operationMetadataId":"30b2551c-eaf1-48b2-aec9-16ef692b7829"},"type":"Compose","inputs":"@Replace(substring(outputs('UN_row')?['UN Number'],0,indexOf(outputs('UN_row')?['UN Number'],'-')) ,'-' , '' )"},"Get_UNNumber_GUID":{"runAfter":{"UNNumber_Value":["Succeeded"]},"metadata":{"operationMetadataId":"ccece463-ad60-44bb-be52-68dc4785f3fd"},"type":"Query","inputs":{"from":"@outputs('List_UN_numbers')?['body/value']","where":"@equals(item()?['tdg_name'], Trim(outputs('UNNumber_Value')))"}},"UNNumber_GUID":{"runAfter":{"Get_UNNumber_GUID":["Succeeded"]},"metadata":{"operationMetadataId":"bb70d462-9ca9-48e2-9f4c-a8f6d7821d11"},"type":"Compose","inputs":"@body('Get_UNNumber_GUID')?[0]['tdg_unnumberid']"},"Get_Type_of_measurement_option_set_index":{"runAfter":{"UNNumber_GUID":["Succeeded"]},"metadata":{"operationMetadataId":"7471031a-5efb-4103-a623-250e404dadb1"},"type":"Query","inputs":{"from":"@outputs('StringMap_-_Type_of_measurement_list')?['body/value']","where":"@equals(item()?['value'], outputs('UN_row')?['Unit of Measure per UN'])"}},"Add_Operation_UN_number":{"runAfter":{"Index_-_unit_of_measurement_type_":["Succeeded"]},"metadata":{"operationMetadataId":"05ae44b8-6a21-4f37-b285-0ef585f2987b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_operationunnumbers","item/ovs_supplychaindirection":"930840000","item/ovs_UNNumber@odata.bind":"@concat('/tdg_unnumbers/',outputs('UNNumber_GUID'))","item/ovs_name":"@Replace(substring(outputs('UN_row')?['UN Number'],0,indexOf(outputs('UN_row')?['UN Number'],'-')) ,'-' , '' )","item/cid_annualnumberofshipment":"@outputs('UN_row')?['Annual Number Shipments']","item/cid_annualquantityvolume":"@outputs('UN_row')?['Annual Volume/quantity']","item/ovs_OperationUNNumber@odata.bind":"@\r\nconcat('/ovs_mocregistrations/',outputs('OperationId'))","item/cid_unitofmeasurement":"@outputs('Index_-_unit_of_measurement_type_')"},"authentication":"@parameters('$authentication')"}},"Index_-_unit_of_measurement_type_":{"runAfter":{"Get_Type_of_measurement_option_set_index":["Succeeded"]},"metadata":{"operationMetadataId":"9238ee04-e629-4672-a1ad-e7684ae864e8"},"type":"Compose","inputs":"@body('Get_Type_of_measurement_option_set_index')?[0]?['attributevalue']"}},"runAfter":{"UN_row":["Succeeded"]},"expression":{"greater":["@length(trim(outputs('UN_row')?['UN Number']))",0]},"metadata":{"operationMetadataId":"2ac58c16-5959-4c78-87fc-10684cfdbfb3"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"eed152cc-0c52-40af-b240-b00e466d8aed"},"type":"Foreach"}},"runAfter":{"Filter_UnNumber_Table_with_Site":["Succeeded"]},"expression":{"greater":["@length(body('Filter_UnNumber_Table_with_Site'))",0]},"metadata":{"operationMetadataId":"27762c5a-e5d8-4aea-9ebc-da6d76714f03"},"type":"If"},"Add_operation":{"runAfter":{"account_id":["Succeeded"]},"metadata":{"operationMetadataId":"f0e14f9f-08f0-4bb9-b42d-abb8305d4693"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_mocregistrations","item/ovs_registrationexpiry":"@addDays(utcNow(),364)","item/ovs_lineofbusiness@odata.bind":"@'/ovs_lobs/f3f10b28-a23c-ec11-8c62-0022483d7564'","item/ovs_operationtype":918640038,"item/ovs_SiteId@odata.bind":"@concat('/accounts/', outputs('account_id'))"},"authentication":"@parameters('$authentication')"}},"OperationId":{"runAfter":{"Add_operation":["Succeeded"]},"metadata":{"operationMetadataId":"b2c11011-6bc8-4de4-b959-2607f8180c5f"},"type":"Compose","inputs":"@outputs('Add_operation')?['body/ovs_mocregistrationid']"},"check_if_extended_site":{"actions":{"Filter_string_map_with_Extended":{"runAfter":{},"metadata":{"operationMetadataId":"b1543108-d7de-43e7-b374-bddc440f6daf"},"type":"Query","inputs":{"from":"@outputs('StringMap_-_CID_Requirement_level_option_set')?['body/value']","where":"@equals(item()?['value'], 'Extended')"}},"Set_requirement_level_to_extended_index":{"runAfter":{"Filter_string_map_with_Extended":["Succeeded"]},"metadata":{"operationMetadataId":"b1c39805-1722-457c-a7e5-29ba5a6da411"},"type":"SetVariable","inputs":{"name":"CID_Site_Requirement_Level","value":"@int(body('Filter_string_map_with_Extended')?[0]['attributevalue'])"}}},"runAfter":{"Site_Classification":["Succeeded"]},"else":{"actions":{"filter_string_map_with_Basic":{"runAfter":{},"metadata":{"operationMetadataId":"2d9482cd-19f2-43d9-b4ce-bfbd7392ddc8"},"type":"Query","inputs":{"from":"@outputs('StringMap_-_CID_Requirement_level_option_set')?['body/value']","where":"@equals(item()?['value'], 'Basic')"}},"Set_variable":{"runAfter":{"filter_string_map_with_Basic":["Succeeded"]},"metadata":{"operationMetadataId":"f7107a5d-bbc6-438c-bec6-ccf5b2864f3a"},"type":"SetVariable","inputs":{"name":"CID_Site_Requirement_Level","value":"@int(body('filter_string_map_with_Basic')?[0]?['attributevalue'])"}}}},"expression":{"equals":["@outputs('Site_Classification')","'Yes'"]},"metadata":{"operationMetadataId":"4248dcee-d3e5-46f8-a540-1c9267994d9e"},"type":"If"}},"runAfter":{"Get_Un_from_Table_4_in_excel":["Succeeded"]},"metadata":{"operationMetadataId":"ad5faa3e-a3e7-4932-8d71-888d43b71829"},"type":"Foreach"},"Response":{"runAfter":{"Close_Activity":["Succeeded"]},"metadata":{"operationMetadataId":"f41bb6df-5dd6-4cec-b37c-85a8978d43d1"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@length(outputs('List_rows_present_in_a_table')?['body/value'])"}},"Close_Activity":{"runAfter":{"Loop_Excel_sheet_Sites_table":["Succeeded"]},"metadata":{"operationMetadataId":"0a769b87-ea0e-44ac-b803-af10cff2b5b0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_activityreviewlogs","recordId":"@triggerBody()?['activityid']","item/statecode":1},"authentication":"@parameters('$authentication')"}},"accountlookup":{"runAfter":{"List_All_Sites_with_data":["Succeeded"]},"metadata":{"operationMetadataId":"018b08e2-85b4-4259-9f95-2080218b835d"},"type":"Compose","inputs":"@concat('/','accounts','/',triggerBody()?['accountid'])"},"Mode_of_Transportation_GUID":{"runAfter":{"StringMap_-_CID_Requirement_level_option_set":["Succeeded"]},"metadata":{"operationMetadataId":"8c1351c7-35f8-4f3e-a230-15320d7ec768"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_modeses","$select":"ovs_name"},"authentication":"@parameters('$authentication')"}},"Loop_in_Retrieved_Modes_table":{"foreach":"@outputs('Mode_of_Transportation_GUID')?['body/value']","actions":{"current_Mode_row":{"runAfter":{},"metadata":{"operationMetadataId":"d1567616-2137-475e-92c7-4f826991da9c"},"type":"Compose","inputs":"@items('Loop_in_Retrieved_Modes_table')"},"Switch":{"runAfter":{"current_Mode_row":["Succeeded"]},"cases":{"Case":{"case":"Air","actions":{"Set_variable_Air":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Air","value":"@{outputs('current_Mode_row')?['ovs_modesid']}"}}}},"Case_2":{"case":"Marine","actions":{"Set_variable_Marine":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Marine","value":"@{outputs('current_Mode_row')?['ovs_modesid']}"}}}},"Case_3":{"case":"Rail","actions":{"Set_Variable_Rail":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Rail","value":"@{outputs('current_Mode_row')?['ovs_modesid']}"}}}},"Case_4":{"case":"Road","actions":{"Set_Variable_Road":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Road","value":"@{outputs('current_Mode_row')?['ovs_modesid']}"}}}}},"default":{"actions":{}},"expression":"@outputs('current_Mode_row')?['ovs_name']","metadata":{"operationMetadataId":"7e6a3574-afd7-498f-9e04-0f2d4a2f0d1d"},"type":"Switch"}},"runAfter":{"CID_Site_Requirement_Level":["Succeeded"]},"metadata":{"operationMetadataId":"bd691b6d-cdb5-4a48-8cba-2602d7d8502d"},"type":"Foreach"},"Air":{"runAfter":{"Mode_of_Transportation_GUID":["Succeeded"]},"metadata":{"operationMetadataId":"f228a195-0411-4761-bf80-be026150e10f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Air","type":"string"}]}},"Marine":{"runAfter":{"Air":["Succeeded"]},"metadata":{"operationMetadataId":"f228a195-0411-4761-bf80-be026150e10f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Marine","type":"string"}]}},"Rail":{"runAfter":{"Marine":["Succeeded"]},"metadata":{"operationMetadataId":"f228a195-0411-4761-bf80-be026150e10f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Rail","type":"string"}]}},"Road":{"runAfter":{"Rail":["Succeeded"]},"metadata":{"operationMetadataId":"f228a195-0411-4761-bf80-be026150e10f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Road","type":"string"}]}},"List_UN_numbers":{"runAfter":{"Loop_in_Retrieved_Modes_table":["Succeeded"]},"metadata":{"operationMetadataId":"dcf9fd85-9ef3-4860-802f-660f43841906"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"tdg_unnumbers","$select":"tdg_name,tdg_unnumberid"},"authentication":"@parameters('$authentication')"}},"StringMap_-_Type_of_measurement_list":{"runAfter":{"StringMap_-_List_Class":["Succeeded"]},"metadata":{"operationMetadataId":"d27310cf-dbc1-4fce-bd99-9f8768204475"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"stringmaps","fetchXml":"<fetch>\n  <entity name=\"stringmap\" >\n    <attribute name=\"attributevalue\" />\n    <attribute name=\"attributename\" />\n    <attribute name=\"value\" />\n    <filter>\n      <condition attribute=\"objecttypecode\" operator=\"eq\" value=\"10636\" />\n      <condition attribute=\"attributename\" operator=\"eq\" value=\"cid_Unitofmeasurement\" />\n    \n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"List_All_Sites_with_data":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"05c212d4-bdab-4ba9-a408-cc89507d9cdd"},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@greater(length(Trim(item()?['SiteFullAddress'])), 0)"}},"Get_Un_from_Table_4_in_excel":{"runAfter":{"List_UN_numbers":["Succeeded"]},"metadata":{"operationMetadataId":"3108974b-fece-4d7b-8762-666d20d70eb0","tableId":"Table4"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"@triggerBody()?['Filelocation']","table":"Table4"},"authentication":"@parameters('$authentication')"}},"Get_Account_Info":{"runAfter":{},"metadata":{"operationMetadataId":"f328cc40-e1a3-4029-9f69-19071dc13921"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerBody()?['accountid']"},"authentication":"@parameters('$authentication')"}},"StringMap_-_List_Class":{"runAfter":{"accountlookup":["Succeeded"]},"metadata":{"operationMetadataId":"b492125b-acf1-4b7f-89ed-5390ac9fb4d2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"stringmaps","fetchXml":"<fetch>\n  <entity name=\"stringmap\" >\n    <attribute name=\"attributevalue\" />\n    <attribute name=\"attributename\" />\n    <attribute name=\"value\" />\n    <filter>\n      <condition attribute=\"objecttypecode\" operator=\"eq\" value=\"10635\" />\n      <condition attribute=\"attributename\" operator=\"eq\" value=\"ovs_primeclass\" />\n     \n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"StringMap_-_CID_Requirement_level_option_set":{"runAfter":{"StringMap_-_Type_of_measurement_list":["Succeeded"]},"metadata":{"operationMetadataId":"b492125b-acf1-4b7f-89ed-5390ac9fb4d2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"stringmaps","fetchXml":"<fetch>\n  <entity name=\"stringmap\" >\n    <attribute name=\"attributevalue\" />\n    <attribute name=\"attributename\" />\n    <attribute name=\"value\" />\n    <filter>\n      <condition attribute=\"objecttypecode\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"attributename\" operator=\"eq\" value=\"cid_requirementlevel\"/>\n     \n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"CID_Site_Requirement_Level":{"runAfter":{"Road":["Succeeded"]},"metadata":{"operationMetadataId":"785d85ec-b4ca-460c-8e4e-d612c4eebefe"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CID_Site_Requirement_Level","type":"integer","value":100000000}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}