Solutions/CID_Flows/unpack/Workflows/CID-ContactReparentToOrganization-CB3F3785-8642-EE11-BE6E-0022483E130E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "aa54ded2-c219-4512-a74f-d4686e85db33"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition:_Check_if_parentcustomerid_is_not_null": {
          "actions": {
            "Get_Account_by_parentcustomerid_value": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "325e55a5-6961-4f23-ac4b-85c5c24a5a87"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/_parentcustomerid_value']",
                  "$select": "customertypecode,_parentaccountid_value,cid_companyclaim",
                  "$expand": "parentaccountid($select=cid_companyclaim,customertypecode)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition:_Check_if_Contact_Parentcustomer_is_a_Site": {
              "actions": {
                "Condition:_check_if_Site-Parent(Organization)_is_claimed__": {
                  "actions": {
                    "Update_a_row:_Company_is_claimed_then_remove_Parent": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4988d94d-7263-4604-a18b-a7627c374832"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "contacts",
                          "recordId": "@triggerOutputs()?['body/contactid']",
                          "item/parentcustomerid_account@odata.bind": "@null"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Update_a_row:_Company_doesn't_claimed_then_reparent_contact_to_the_Organization": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "f861384b-6b40-4370-a5af-665bb6df96cb"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@triggerOutputs()?['body/contactid']",
                            "item/parentcustomerid_account@odata.bind": "accounts/@{outputs('Get_Account_by_parentcustomerid_value')?['body/_parentaccountid_value']}"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Account_by_parentcustomerid_value')?['body/parentaccountid/cid_companyclaim']",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c582aed1-9a2b-4817-828e-58e212cc55db"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Account_by_parentcustomerid_value": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition:_Contact_Parentcustomer_is_a_Company": {
                    "actions": {
                      "Remove_Parent_-_If_Site_without_Parent_OR_Contact_Relates_to_the_Claimed_Company": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "f861384b-6b40-4370-a5af-665bb6df96cb"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@triggerOutputs()?['body/contactid']",
                            "item/parentcustomerid_account@odata.bind": "@null"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "expression": {
                      "or": [
                        {
                          "and": [
                            {
                              "equals": [
                                "@outputs('Get_Account_by_parentcustomerid_value')?['body/customertypecode']",
                                948010001
                              ]
                            },
                            {
                              "equals": [
                                "@outputs('Get_Account_by_parentcustomerid_value')?['body/parentaccountid']",
                                "@null"
                              ]
                            }
                          ]
                        },
                        {
                          "and": [
                            {
                              "equals": [
                                "@outputs('Get_Account_by_parentcustomerid_value')?['body/customertypecode']",
                                948010000
                              ]
                            },
                            {
                              "equals": [
                                "@outputs('Get_Account_by_parentcustomerid_value')?['body/cid_companyclaim']",
                                "@true"
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e9cbdb2e-f72c-409b-b690-6cc08cc4a57a"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Get_Account_by_parentcustomerid_value')?['body/customertypecode']",
                      948010001
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Get_Account_by_parentcustomerid_value')?['body/parentaccountid']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "e9cbdb2e-f72c-409b-b690-6cc08cc4a57a"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_parentcustomerid_value']",
                    "@null"
                  ]
                }
              },
              {
                "equals": [
                  "@empty(triggerOutputs()?['body/_parentcustomerid_value'])",
                  "@false"
                ]
              },
              {
                "or": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/cid_portalrecordcreationdetails']",
                      "@null"
                    ]
                  },
                  {
                    "equals": [
                      "@empty(triggerOutputs()?['body/cid_portalrecordcreationdetails'])",
                      "@true"
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@triggerOutputs()?['body/cid_contacttype']",
                        100000000
                      ]
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "a24ff75a-da20-4d8c-902a-43a3556cb882"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}