Solutions/CID_Flows/unpack/Workflows/CIDPortal-CIDInvitation-Sendemailoninvitationdeact-F65C211C-1FB7-ED11-B597-0022483E130E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_cda62"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_cda62"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsendmail_92f5b"
        },
        "api": {
          "name": "shared_sendmail"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f750b9f6-13f2-4112-be03-b96986cf02ac"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 6,
              "subscriptionRequest/entityname": "cid_invitation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statecode ",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID_Contact": {
          "runAfter": {
            "Initialize_variable_EnviromentSettings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8adf0490-4d94-410a-a8a7-bd5f15fe8e10"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_cid_invitedcontact_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_Invited_By": {
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2c50202-f741-4b6d-8ec9-88363f1989d3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Invited By",
                "type": "string",
                "value": "The"
              }
            ]
          }
        },
        "Initialize_Company_Name": {
          "runAfter": {
            "Initialize_Invited_By": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "351c7aa7-3319-433b-8cff-7d22f3fffc2e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Company Name",
                "type": "string",
                "value": "associated"
              }
            ]
          }
        },
        "Initialize_Variable_Environment": {
          "runAfter": {
            "Initialize_Company_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "002d5ade-2d11-46a5-81d6-6bc06374f13b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_EnviromentSettings": {
          "runAfter": {
            "Initialize_Variable_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39c00fef-8e3e-4b60-86f9-cde9473ba69a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EnviromentSettings",
                "type": "string",
                "value": "Test email: "
              }
            ]
          }
        },
        "Get_a_row_by_ID_Accounts": {
          "runAfter": {
            "Get_a_row_by_ID_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2dd83585-2c35-458b-94ff-9782ce5e36ec"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@outputs('Get_a_row_by_ID_Contact')?['body/_parentcustomerid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Variable_Assigned_Company": {
          "runAfter": {
            "Get_a_row_by_ID_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "19e797ac-e1a0-49d1-bf45-0f580ddf071c"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Company Name",
            "value": "@outputs('Get_a_row_by_ID_Accounts')?['body/name']"
          }
        },
        "Condition_If_sent_invitation_disabled": {
          "actions": {
            "Get_a_row_by_ID_Invitation_Receiver": {
              "runAfter": {
                "Condition_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d6c04832-8bde-40c2-87a0-2180030e9282"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_cid_invitedcontact_value']",
                  "$select": "fullname, emailaddress1,cid_languageofcorrespondence"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Get_a_row_by_ID_Invitation_Receiver": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "50651aa9-0486-4137-bd86-402688bf5e7e"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_a_row_by_ID_Invitation_Receiver')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Set_Environment_variable": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a69640fd-9cc4-4567-a92c-174bc53bc2a5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Environment",
                "value": "@{substring(body('Parse_JSON')?['@odata.id'],0,indexOf(body('Parse_JSON')?['@odata.id'], '.crm3'))}"
              }
            },
            "Switch": {
              "runAfter": {
                "Set_Environment_variable": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case": {
                  "case": "https://tdgcore-dev-tcd365",
                  "actions": {
                    "Set_variable_2": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://rd-tdgcore-dev.powerappsportals.com/en/Register?returnUrl=%2Fen%2FRegister"
                      }
                    }
                  }
                },
                "Case_2": {
                  "case": "https://tdgcore-qa",
                  "actions": {
                    "Set_variable_3": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-qa.powerappsportals.com/en/Register"
                      }
                    }
                  }
                },
                "Case_3": {
                  "case": "https://tdgcore-acc",
                  "actions": {
                    "Set_variable_5": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-acc.powerappsportals.com/en/SignIn?ReturnUrl=%2Fen%2F"
                      }
                    }
                  }
                },
                "Case_4": {
                  "case": "https://tdgcore-preprod",
                  "actions": {
                    "Set_variable_6": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-preprod.powerappsportals.com/en/Register?returnUrl=%2Fen%2F"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Set_variable_4": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Environment",
                      "value": "@{concat(envivariables('Environment'), '/en/Register?returnUrl=%2Fen%2F')}"
                    }
                  },
                  "Set_variable": {
                    "runAfter": {
                      "Set_variable_4": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "EnviromentSettings",
                      "value": "@{null}"
                    }
                  }
                }
              },
              "expression": "@variables('Environment')",
              "metadata": {
                "operationMetadataId": "b1e5dbee-3b93-4a5d-8205-2a7a863e70f1"
              },
              "type": "Switch"
            },
            "Condition_Check_Laguage": {
              "actions": {
                "Send_an_email_notification_(V3)_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4c6eb0e1-e4fd-4955-86a4-7a288db18da9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sendmail",
                      "operationId": "SendEmailV3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                    },
                    "parameters": {
                      "request/to": "@{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/emailaddress1']};",
                      "request/subject": "FRENCH: TDG Online - TDG Online - CID: Previous invitation to onboard to the CID Platform as a Secondary Admin for the is no longer valid. The option exists to register a new organization",
                      "request/text": "<p>@{variables('EnviromentSettings')} Hello @{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/fullname']},<br>\n<br>\nPlease note that the previous invitation to register the @{variables('Company Name')} organization in the CID Data Platform is no longer valid. You do however have the option now to create an account in CID and register a different organization.<br>\n<br>\n<br>\nTransport Canada – CID</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_notification_(V3)": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "21ca975c-4645-4ec1-abb5-2be151919b5c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sendmail",
                        "operationId": "SendEmailV3",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                      },
                      "parameters": {
                        "request/to": "@{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/emailaddress1']};",
                        "request/subject": "TDG Online - CID: Previous invitation to onboard to the CID Platform as a Secondary Admin for the is no longer valid. The option exists to register a new organization",
                        "request/text": "<p>@{variables('EnviromentSettings')} Hello @{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/fullname']},<br>\n<br>\nPlease note that the previous invitation to register the @{variables('Company Name')} organization in the CID Data Platform is no longer valid. You do however have the option now to create an account in CID and register a different organization.<br>\n<br>\n<br>\nTransport Canada – CID</p>"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/cid_languageofcorrespondence']",
                  918640002
                ]
              },
              "metadata": {
                "operationMetadataId": "d1f56c7c-3617-4128-acdd-287b00b852b1"
              },
              "type": "If"
            },
            "Condition_3": {
              "actions": {},
              "runAfter": {},
              "else": {
                "actions": {
                  "Get_a_row_by_ID_Invited_By": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "aacd9444-4067-4f62-a551-910b3e8b0de2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@triggerOutputs()?['body/_adx_invitercontact_value']",
                        "$select": "fullname"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable_Invited_By": {
                    "runAfter": {
                      "Get_a_row_by_ID_Invited_By": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a69640fd-9cc4-4567-a92c-174bc53bc2a5"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Invited By",
                      "value": "@{outputs('Get_a_row_by_ID_Invited_By')?['body/fullname']} , the"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/_adx_invitercontact_value']",
                  null
                ]
              },
              "metadata": {
                "operationMetadataId": "90a5f9da-6443-48bd-95e9-2864fc3a4eae"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Set_Variable_Assigned_Company": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "lessOrEquals": [
                  "@triggerOutputs()?['body/cid_invitationvaliduntil']",
                  "@utcNow()"
                ]
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/cid_invitationsenton']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9afc7c14-a47c-4784-bbac-c5b7bfc012ce"
          },
          "type": "If"
        },
        "get-environment-settings": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** French-The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">French-Note:<br>\n   - To receive subsequent emails in English, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c5ad60aa-1d6b-4354-bc0f-646d036c9268"
          },
          "type": "Scope"
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42321f2d-372c-4f1a-a435-a67ead702f1d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "French-Test Email: "
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "French-Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                  "
              }
            }
          },
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}