Solutions/CID_Flows/unpack/Workflows/CIDPortal-CompanyRegistrationCompleted-5AC5C1D0-614B-ED11-BBA2-0022483CB62F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedoffice365_ee685"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_the_\"Registration_As_Of\"_is_modified_in_the_company_record": {
          "metadata": {
            "operationMetadataId": "d8b28241-477d-46fc-be28-13a0aaec14db"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_registrationasof",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition:_Check_if_\"Registration_As_Of\"_field_in_not_empty": {
          "actions": {
            "Update_the_company_registration,_anniversary,_and_reminder_dates": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "06565992-756e-4694-8171-6b2d86579855"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/accountid']",
                  "item/cid_companyanniversarydate": "@body('Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET')",
                  "item/cid_nextannualcomplianceupdate": "@variables('Anniversary Date')",
                  "item/cid_officiallyregistrationcompletationdate": "@triggerOutputs()?['body/cid_registrationasof']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_Annual_Compliance_Items": {
              "runAfter": {
                "Update_the_company_registration,_anniversary,_and_reminder_dates": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2be9cb67-29a1-4b79-bfb3-e2ae2bba1fcb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_annualcomplianceitems",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cid_annualcomplianceitem\">\n    <attribute name=\"cid_annualcomplianceitemid\" />\n    <attribute name=\"cid_name\"/>\n     <attribute name=\"cid_itemlevel\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_Annual_Compliance_Items')?['body/value']",
              "actions": {
                "Get_Corresponding_Annual_Compliance_Tasks": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "817a8c04-4669-4158-87cd-805ba00eb90a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"task\">\n    <attribute name=\"activityid\" />\n    <filter type=\"and\">\n          <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n          <condition attribute=\"cid_annualcomplianceitem\" operator=\"eq\" value=\"@{items('Apply_to_each')?['cid_annualcomplianceitemid']}\" />\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" value=\"@{outputs('Update_the_company_registration,_anniversary,_and_reminder_dates')?['body/accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition": {
                  "actions": {
                    "Add_a_new_row_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "600897ac-c2fd-43f6-8e68-a425f9051809"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "tasks",
                          "item/subject": "@items('Apply_to_each')?['cid_name']",
                          "item/regardingobjectid_account_task@odata.bind": "accounts(@{outputs('Update_the_company_registration,_anniversary,_and_reminder_dates')?['body/accountid']})",
                          "item/cid_AnnualComplianceItem_Task@odata.bind": "cid_annualcomplianceitems(@{items('Apply_to_each')?['cid_annualcomplianceitemid']})",
                          "item/cid_tasklevel": "@items('Apply_to_each')?['cid_itemlevel']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Corresponding_Annual_Compliance_Tasks": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "equals": [
                      "@length(body('Get_Corresponding_Annual_Compliance_Tasks')?['value'])",
                      0
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2df10716-2401-4292-9ce5-96c9d057ef8e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "List_Annual_Compliance_Items": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c712dfe1-652c-4f74-b0dc-7fefcdba6e5d"
              },
              "type": "Foreach"
            },
            "Send_registration_completion_email_to_each_contact": {
              "foreach": "@outputs('Get_all_company_contacts')?['body/value']",
              "actions": {
                "Check_if_the_contact_has_a_French_language_preference": {
                  "actions": {
                    "Outlook_-_Send_a_French_email_notification_(V3)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f214f618-00cd-4cb8-8a83-939fc48f130d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@items('Send_registration_completion_email_to_each_contact')?['emailaddress1']",
                          "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC :  La procédure d’inscription de l’organisation @{outputs('Update_the_company_registration,_anniversary,_and_reminder_dates')?['body/ovs_legalnamefr']} dans les paramètres de la plateforme de données de la BDIC de Transports Canada est réussie.",
                          "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nLa procédure d’inscription de l’organisation @{outputs('Update_the_company_registration,_anniversary,_and_reminder_dates')?['body/ovs_legalnamefr']} dans la plateforme de données de la BDIC en ligne de Transports Canada est réussie.<br>\n<br>\nConformément à la réglementation, vous êtes tenu de mettre à jour les renseignements relatifs à votre organisation dans la plateforme de données de la BDIC au cours de l’année, si un changement important est intervenu concernant les données gérées ici pour votre organisation et les sites de votre organisation.<br>\n<br>\nEn outre, les données de votre organisation doivent être entièrement mises à jour chaque année, la première mise à jour étant requise un an après la date d’entrée en vigueur de la directive.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n<br>\n@{outputs('French-EmailFooter')}<br>\n<br>\n<br>\n</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Outlook_-_Send_an_English_email_notification_(V3)": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "b17387e5-73cc-4c69-b68c-d92f227344b7"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@items('Send_registration_completion_email_to_each_contact')?['emailaddress1']",
                            "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID:  Successful completion of the registration process for the @{triggerOutputs()?['body/ovs_legalname']} organization in the Transport Canada CID Data Platform",
                            "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nThe registration process of the @{outputs('Update_the_company_registration,_anniversary,_and_reminder_dates')?['body/ovs_legalname']} organization in the Transport Canada Online CID Data Platform has been successfully completed.<br>\n<br>\nPer the regulations, you are required to update your organization’s information in the CID Data Platform during the year, if a material change has occurred related to the data being managed here for your organization and your organization's sites.<br>\n<br>\nFurther, your organization’s data is required to be fully updated on an annual basis, with the initial update being required one year from today.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('English-EmailFooter')}</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@items('Send_registration_completion_email_to_each_contact')?['cid_languageofcorrespondence']",
                      918640002
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9544a815-93e3-4012-9e83-bca7a1c0e8a5"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_all_company_contacts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d2d8dea-6340-4ee9-935d-568324304ce3"
              },
              "type": "Foreach"
            },
            "Get_all_company_contacts": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "22e5af7d-64ea-42f0-b3c8-6cb1f0f1ef84"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"emailaddress1\" />\n    <attribute name=\"cid_contacttype\" />\n    <attribute name=\"cid_portalrecordcreationdetails\" />\n    <attribute name=\"cid_portalrecordmodificationdetails\" />\n    <attribute name=\"cid_languageofcorrespondence\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"cid_contacttype\" descending=\"false\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"cid_contacttype\" operator=\"not-null\" />\n      <condition attribute=\"emailaddress1\" operator=\"not-null\" />\n      <condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/cid_registrationasof']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "754c9247-6750-4eda-8985-3450997cb556"
          },
          "type": "If"
        },
        "Initialize_\"Anniversary_Date\"_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "93bb21ee-1c6c-44bc-b6a2-c52fb0500143"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Anniversary Date",
                "type": "string",
                "value": "@{addDays(utcNow(), 365)}"
              }
            ]
          }
        },
        "Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET": {
          "runAfter": {
            "Initialize_\"Anniversary_Date\"_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a48be502-9a44-4f1b-af83-3bef2b1d667b"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@variables('Anniversary Date')",
            "formatString": "o",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Eastern Standard Time"
          }
        },
        "get-environment-settings": {
          "runAfter": {
            "Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** Le message suivant est un courriel automatisé envoyé par le TMD en ligne – Système de la BDIC. Veuillez ne pas répondre ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">Remarque:<br>\n   - Pour recevoir les courriels suivants en français, vous pouvez mettre à jour votre choix de langue de correspondance préférée à l’aide du bouton [Paramètres du compte] du portail de données TMD en ligne – BDIC. <br><br> \n   - Veuillez ne pas répondre à ce courriel. Au besoin, utilisez le bouton ou le lien « Communiquer avec nous » du portail de données de la BDIC.  </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a4d30e6-367a-4728-93d1-e8fc48567195"
          },
          "type": "Scope"
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e099354-7d1c-45fa-8905-3cb8d5e3c32d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "Tester le courriel: "
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "Tester le courriel: Ce courriel est un courriel de test, et non un courriel réel représentant ce qui est indiqué ci-dessous. <br><br>                                                                      "
              }
            }
          },
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}