Solutions/CID_Flows/unpack/Workflows/CIDPortal-SendEmailInvitationforSecondaryUserRegis-AB1EC093-6055-ED11-9561-0022483CB62F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_883c5"
        },
        "api": {
          "name": "shared_sendmail"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_c6183"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f750b9f6-13f2-4112-be03-b96986cf02ac"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "adx_invitation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_a_row_by_ID_Invited_By": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "596eeb55-93a9-4aea-b448-52d2d447d7f8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_adx_invitercontact_value']",
                  "$select": "fullname"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_Invited_By": {
              "runAfter": {
                "Get_a_row_by_ID_Invited_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a69640fd-9cc4-4567-a92c-174bc53bc2a5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Invited By",
                "value": "@outputs('Get_a_row_by_ID_Invited_By')?['body/fullname']"
              }
            },
            "Get_a_row_by_ID_Accounts": {
              "runAfter": {
                "Set_variable_Invited_By": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2dd83585-2c35-458b-94ff-9782ce5e36ec"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/_adx_assigntoaccount_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Variable_Assigned_Company": {
              "runAfter": {
                "Get_a_row_by_ID_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19e797ac-e1a0-49d1-bf45-0f580ddf071c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Company Name",
                "value": "@outputs('Get_a_row_by_ID_Accounts')?['body/name']"
              }
            },
            "Get_a_row_by_ID_Invitation_Receiver": {
              "runAfter": {
                "Set_Variable_Assigned_Company": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d6c04832-8bde-40c2-87a0-2180030e9282"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerOutputs()?['body/_adx_invitecontact_value']",
                  "$select": "fullname, emailaddress1,cid_languageofcorrespondence"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Get_a_row_by_ID_Invitation_Receiver": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "50651aa9-0486-4137-bd86-402688bf5e7e"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_a_row_by_ID_Invitation_Receiver')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Set_Environment_variable": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a69640fd-9cc4-4567-a92c-174bc53bc2a5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Environment",
                "value": "@{substring(body('Parse_JSON')?['@odata.id'],0,indexOf(body('Parse_JSON')?['@odata.id'], '.crm3'))}"
              }
            },
            "Switch": {
              "runAfter": {
                "Set_Environment_variable": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case": {
                  "case": "https://tdgcore-dev-tcd365",
                  "actions": {
                    "Set_variable_2": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://rd-tdgcore-dev.powerappsportals.com/Register?returnUrl=%2Fen%2Fen-US%2F"
                      }
                    }
                  }
                },
                "Case_2": {
                  "case": "https://tdgcore-qa",
                  "actions": {
                    "Set_variable_3": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-qa.powerappsportals.com/Register?returnUrl=%2Fen%2F"
                      }
                    }
                  }
                },
                "Case_3": {
                  "case": "https://tdgcore-acc",
                  "actions": {
                    "Set_variable_5": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-acc.powerappsportals.com/SignIn?ReturnUrl=%2Fen%2F"
                      }
                    }
                  }
                },
                "Case_4": {
                  "case": "https://tdgcore-preprod",
                  "actions": {
                    "Set_variable_6": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-preprod.powerappsportals.com/Register?returnUrl=%2Fen%2F"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Set_variable_4": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Environment",
                      "value": "@{concat(envivariables('Environment'), '/en/Register?returnUrl=%2Fen%2F')}"
                    }
                  }
                }
              },
              "expression": "@variables('Environment')",
              "metadata": {
                "operationMetadataId": "b1e5dbee-3b93-4a5d-8205-2a7a863e70f1"
              },
              "type": "Switch"
            },
            "Condition_2": {
              "actions": {
                "Send_an_email_notification_(V3)_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4c6eb0e1-e4fd-4955-86a4-7a288db18da9"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sendmail",
                      "operationId": "SendEmailV3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                    },
                    "parameters": {
                      "request/to": "@{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/emailaddress1']};",
                      "request/subject": "FRENCH: Beta Testing: CID Data Platform: Assignment as a Secondary Admin for the @{variables('Company Name')} Company",
                      "request/text": "<p>Hello @{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/fullname']},<br>\n<br>\n@{variables('Invited By')}, the Primary Admin for the @{variables('Company Name')} Company of the CID Data Platform has added you as a Secondary Admin for that Company.<br>\n<br>\nOnce you are ready to use the CID Data Platform, you can use the following:<br>\n&nbsp;&nbsp;&nbsp;On-boarding link : @{variables('Environment')}<br>\n&nbsp;&nbsp;Activation Code &nbsp;: @{triggerOutputs()?['body/adx_invitationcode']}<br>\nto on-board to the CID Platform.<br>\nParameters:<br>\n<br>\nTransport Canada – CID</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_a_row": {
                  "runAfter": {
                    "Send_an_email_notification_(V3)_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e4ae5018-0262-4492-81cc-5bf9c27e3f77"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_invitations",
                      "recordId": "@triggerOutputs()?['body/adx_invitationid']",
                      "item/statuscode": 756150000
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Send_an_email_notification_(V3)": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "21ca975c-4645-4ec1-abb5-2be151919b5c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sendmail",
                        "operationId": "SendEmailV3",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                      },
                      "parameters": {
                        "request/to": "@{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/emailaddress1']};",
                        "request/subject": "Beta Testing: CID Data Platform: Assignment as a Secondary Admin for the @{variables('Company Name')} Company",
                        "request/text": "<p>Hello @{outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/fullname']}<br>\n<br>\n@{variables('Invited By')}, the Primary Admin for the @{variables('Company Name')} Company of the CID Data Platform has added you as a Secondary Admin for that Company.<br>\n<br>\nOnce you are ready to use the CID Data Platform, you can use the following:<br>\n&nbsp;&nbsp;&nbsp;On-boarding link : @{variables('Environment')}<br>\n&nbsp;&nbsp;&nbsp;Activation Code &nbsp;: @{triggerOutputs()?['body/adx_invitationcode']}<br>\nto on-board to the CID Platform.<br>\nParameters:<br>\n<br>\nTransport Canada – CID</p>"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_a_row_2": {
                    "runAfter": {
                      "Send_an_email_notification_(V3)": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "27f7f5c2-dc50-4e99-9ba3-72b13ce6d2b5"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "adx_invitations",
                        "recordId": "@triggerOutputs()?['body/adx_invitationid']",
                        "item/statuscode": 756150000
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Get_a_row_by_ID_Invitation_Receiver')?['body/cid_languageofcorrespondence']",
                  918640002
                ]
              },
              "metadata": {
                "operationMetadataId": "d1f56c7c-3617-4128-acdd-287b00b852b1"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_Variable_Environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/statuscode']",
                  1
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/adx_type']",
                  756150000
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "9afc7c14-a47c-4784-bbac-c5b7bfc012ce"
          },
          "type": "If"
        },
        "Initialize_Invited_By": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b2c50202-f741-4b6d-8ec9-88363f1989d3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Invited By",
                "type": "string",
                "value": "Sir/ Madam"
              }
            ]
          }
        },
        "Initialize_Company_Name": {
          "runAfter": {
            "Initialize_Invited_By": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "351c7aa7-3319-433b-8cff-7d22f3fffc2e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Company Name",
                "type": "string",
                "value": "associated"
              }
            ]
          }
        },
        "Initialize_Variable_Environment": {
          "runAfter": {
            "Initialize_Company_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "002d5ade-2d11-46a5-81d6-6bc06374f13b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}