Solutions/CID_Flows/unpack/Workflows/CIDPortal-ResetAnnualComplianceUpdateinfo-9CADA12D-FE71-ED11-81AC-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_company_Annual_Compliance_Completion_Date_is_modified": {
          "metadata": {
            "operationMetadataId": "c2b3c350-38d9-4c88-a298-fb73ad52af7b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_annualcompliancecompletiondate"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_\"Anniversary_Date\"_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13715258-63af-4466-b9f8-23c9ae2f81f5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Anniversary Date",
                "type": "string",
                "value": "@{addDays(triggerOutputs()?['body/cid_companyanniversarydate'], 365)}"
              }
            ]
          }
        },
        "Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET": {
          "runAfter": {
            "Initialize_\"Anniversary_Date\"_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b233741-e50f-44c6-8230-b36ccd45cc5e"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@variables('Anniversary Date')",
            "formatString": "o",
            "sourceTimeZone": "UTC",
            "destinationTimeZone": "Eastern Standard Time"
          }
        },
        "Update_the_company_anniversary_and_reminder_dates": {
          "runAfter": {
            "Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "becc2605-54ed-44e9-be52-83e7dde6eb3a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/accountid']",
              "item/cid_companyanniversarydate": "@body('Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET')",
              "item/cid_nextannualcomplianceupdate": "@body('Convert_\"Anniversary_Date\"_variable_time_zone_from_UTC_to_ET')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_Annual_Compliance_Items": {
          "runAfter": {
            "Update_the_company_anniversary_and_reminder_dates": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ac6c4f6-04bd-4894-a23c-8dd5c5175739"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_annualcomplianceitems",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cid_annualcomplianceitem\">\n    <attribute name=\"cid_annualcomplianceitemid\" />\n    <attribute name=\"cid_name\"/>\n     <attribute name=\"cid_itemlevel\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Annual_Compliance_Items')?['body/value']",
          "actions": {
            "Get_Corresponding_Annual_Compliance_Tasks": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f51304b5-7581-4322-b0e2-58e609470f8c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tasks",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"task\">\n    <attribute name=\"activityid\" />\n    <filter type=\"and\">\n          <condition attribute=\"scheduledend\" operator=\"null\" />\n          <condition attribute=\"cid_annualcomplianceitem\" operator=\"eq\" value=\"@{items('Apply_to_each')?['cid_annualcomplianceitemid']}\" />\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" value=\"@{outputs('Update_the_company_anniversary_and_reminder_dates')?['body/accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each_2": {
              "foreach": "@outputs('Get_Corresponding_Annual_Compliance_Tasks')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "6657e562-2061-4b86-9fa0-f004f9c09d1b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "recordId": "@items('Apply_to_each_2')?['activityid']",
                      "item/scheduledend": "@variables('Today''s date')",
                      "item/statecode": 1,
                      "item/statuscode": 5
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Corresponding_Annual_Compliance_Tasks": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "394e926c-693b-497b-8acd-5739a92f615a"
              },
              "type": "Foreach"
            },
            "Apply_to_each_3": {
              "foreach": "@outputs('Get_Corresponding_Annual_Compliance_Tasks')?['body/value']",
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "63293c8c-11ae-4ade-bf68-194a320f9db2"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "tasks",
                      "item/subject": "@items('Apply_to_each_3')?['subject']",
                      "item/regardingobjectid_account_task@odata.bind": "accounts(@{outputs('Update_the_company_anniversary_and_reminder_dates')?['body/accountid']})",
                      "item/cid_AnnualComplianceItem_Task@odata.bind": "cid_annualcomplianceitems(@{items('Apply_to_each')?['cid_annualcomplianceitemid']})",
                      "item/cid_tasklevel": "@items('Apply_to_each')?['cid_itemlevel']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b668af25-a98e-4fe6-a6c6-0efb5f3929f0"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "List_Annual_Compliance_Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "befdcdd0-5561-4821-83cc-8d14ac61f822"
          },
          "type": "Foreach"
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_Last_Updated_On,_By": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d55648b2-9b36-418c-8ac7-d4b495d67841"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Today's date",
                "type": "string",
                "value": "@{utcNow()}"
              }
            ]
          }
        },
        "Get_Annual_Compliance_Update_Audit_Code_Record": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed50460d-b251-44e4-ab3c-209898bc86c0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_audithistorycodes",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cid_audithistorycode\">\n    <attribute name=\"cid_name\" />\n    <attribute name=\"cid_audithistorycodeid\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"cid_name\" operator=\"eq\" value=\"Code 04\" />\n    </filter>\n  </entity>\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_4": {
          "foreach": "@outputs('Get_Annual_Compliance_Update_Audit_Code_Record')?['body/value']",
          "actions": {
            "Add_a_new_row_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4b554a35-f515-4ad9-891a-c346190a22d0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_audithistorylogs",
                  "item/cid_AuditCode@odata.bind": "cid_annualcomplianceitems(@{items('Apply_to_each_4')?['cid_audithistorycodeid']})",
                  "item/cid_Company@odata.bind": "accounts(@{outputs('Update_the_company_anniversary_and_reminder_dates')?['body/accountid']})",
                  "item/cid_portalrecordcreationdetails": "@variables('Modified On, By')",
                  "item/cid_externallyvisible": true,
                  "item/statuscode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Annual_Compliance_Update_Audit_Code_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aafeb742-8b74-4b8c-b70a-a301fb05172d"
          },
          "type": "Foreach"
        },
        "Get_Last_Updated_On,_By": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7a96c9bf-0533-4b4c-97f7-b5b3d74b943c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Modified On, By",
                "type": "string",
                "value": "@triggerOutputs()?['body/cid_portalrecordmodificationdetails']"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}