Solutions/CID_Flows/unpack/Workflows/CIDPrimaryAdminEmailChange-SendEmail-463C7A4B-4155-ED11-9561-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_883c5"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "98ffd969-bc67-4c81-a21a-5d6212460d7c"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "AccountId": {
                  "type": "string"
                },
                "New_Primary_Contactid": {
                  "type": "string"
                },
                "Previous_Contactid": {
                  "type": "string"
                },
                "UI_Language_Code": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_SecondaryContactsEmail": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7a1abefd-1abc-40e3-b6c5-8b9617b8abf6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecondaryContactsEmail",
                "type": "string"
              }
            ]
          }
        },
        "Get_Previous_Primary": {
          "runAfter": {
            "Initialize_variable_SecondaryContactsEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d357c557-f853-40ab-8d56-01878c9f05db"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['Previous_Contactid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Parent_account_name": {
          "runAfter": {
            "Initialize_variable_SecondaryContactsEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4bf8ee07-0068-409b-a4ea-68cdc82fcab3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerBody()?['AccountId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows_-_Get_all_Secondary_Contact": {
          "runAfter": {
            "Initialize_variable_SecondaryContactsEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4362af7f-610b-40c1-8bd1-f1e2b083dfed"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"contact\">\n<attribute name=\"firstname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<attribute name=\"lastname\"/>\n<order attribute=\"cid_contacttype\" descending=\"false\"/>\n<order attribute=\"fullname\" descending=\"false\"/>\n<attribute name=\"contactid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"emailaddress1\" operator=\"not-null\"/>\n<condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerBody()?['AccountId']}\" />\n<condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000001\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_New_Primary": {
          "runAfter": {
            "Get_Previous_Primary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "75519be7-ee16-4c55-9d84-9aa3d594f183"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['New_Primary_Contactid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_user_Language": {
          "actions": {
            "Send_an_email_notification_(V3)-_English_Message": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "59387bd0-b6f2-4643-afa1-d9a39e35eec2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sendmail",
                  "operationId": "SendEmailV3",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                },
                "parameters": {
                  "request/to": "@{outputs('Get_New_Primary')?['body/emailaddress1']};",
                  "request/subject": "CID Data Platform: Reassignment of @{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']} as the new Primary Admin for the @{outputs('Get_Parent_account_name')?['body/name']} Company",
                  "request/text": "<p>Hello @{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']},<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\nWithin the CID Data Platform for the @{outputs('Get_Parent_account_name')?['body/name']} Company:<br>\n<br>\n@{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']} has been reassigned as the new Primary Admin @{outputs('Get_Previous_Primary')?['body/firstname']} @{outputs('Get_Previous_Primary')?['body/lastname']} has been reassigned as a Secondary Admin.<br>\n<br>\nIf these updates are not correct, then please adjust them accordingly in the CID Data Platform.</p>",
                  "request/cc": "@{variables('SecondaryContactsEmail')};@{outputs('Get_Previous_Primary')?['body/emailaddress1']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_notification_(V3)_French_Message": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "78ddfc3d-a610-4d6d-b018-5d8096fd2bdd"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sendmail",
                    "operationId": "SendEmailV3",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                  },
                  "parameters": {
                    "request/to": "@{outputs('Get_New_Primary')?['body/emailaddress1']};",
                    "request/subject": "French CID Data Platform: Reassignment of @{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']} as the new Primary Admin for the Company@{outputs('Get_Parent_account_name')?['body/ovs_name_fr']}",
                    "request/text": "<p>Hello @{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']} ,<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\n<br>\nFrench - Within the CID Data Platform for the @{outputs('Get_Parent_account_name')?['body/ovs_name_fr']} Company:<br>\n<br>\n@{outputs('Get_New_Primary')?['body/firstname']} @{outputs('Get_New_Primary')?['body/lastname']} has been reassigned as the new Primary Admin @{outputs('Get_Previous_Primary')?['body/firstname']} @{outputs('Get_Previous_Primary')?['body/lastname']} has been reassigned as a Secondary Admin.<br>\n<br>\nIf these updates are not correct, then please adjust them accordingly in the CID Data Platform.</p>",
                    "request/cc": "@variables('SecondaryContactsEmail')"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['UI_Language_Code']",
              "en"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b089191-fde6-45d5-81e5-29f485c29aa4"
          },
          "type": "If"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_-_Get_all_Secondary_Contact')?['body/value']",
          "actions": {
            "Check_SecondaryContactsEmail_length": {
              "actions": {
                "Append_to_string_variable_SecondaryContactsEmail": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "908ab487-1f0f-468c-a418-7edce30a3b04"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "SecondaryContactsEmail",
                    "value": "@concat(';' , items('Apply_to_each')?['emailaddress1'] )"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_variable__SecondaryContactsEmail": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6dace404-0abb-4259-96b6-10815898492a"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SecondaryContactsEmail",
                      "value": "@items('Apply_to_each')?['emailaddress1']"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(variables('SecondaryContactsEmail'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "0d26c136-e4be-419a-85f6-1e27df5ca482"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_Parent_account_name": [
              "Succeeded"
            ],
            "List_rows_-_Get_all_Secondary_Contact": [
              "Succeeded"
            ],
            "Get_New_Primary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03c495b8-aceb-477b-8af9-9ed365647cbb"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}