Solutions/CID_Flows/unpack/Workflows/CIDSendPortalContactEmailbyEmailCode-463C7A4B-4155-ED11-9561-0022483D0343.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedoffice365_ee685"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "98ffd969-bc67-4c81-a21a-5d6212460d7c"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "EmailCode": {
                  "type": "string"
                },
                "AccountId": {
                  "type": "string"
                },
                "Primary_Contactid": {
                  "type": "string"
                },
                "Secondary_Contactid": {
                  "type": "string"
                },
                "SiteId": {
                  "type": "string"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Initialize_variable_SecondaryContactsEmail": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7a1abefd-1abc-40e3-b6c5-8b9617b8abf6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecondaryContactsEmail",
                "type": "string"
              }
            ]
          }
        },
        "List_rows_-_Get_all_Secondary_Contact": {
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4362af7f-610b-40c1-8bd1-f1e2b083dfed"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"contact\">\n<attribute name=\"firstname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<attribute name=\"lastname\"/>\n<order attribute=\"cid_contacttype\" descending=\"false\"/>\n<order attribute=\"fullname\" descending=\"false\"/>\n<attribute name=\"contactid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"emailaddress1\" operator=\"not-null\"/>\n<condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerBody()?['AccountId']}\" />\n<condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000001\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Switch_based_on_Email_Code": {
          "runAfter": {
            "Condition_-_Check_if_Phone_and_Email_on_file": [
              "Succeeded"
            ]
          },
          "cases": {
            "Case_S4-4_Assign_as_Primary_Admin_Email": {
              "case": "S4-4",
              "actions": {
                "Check_user_Language": {
                  "actions": {
                    "Outlook_-_Send_a_English_email_notification_(V3)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "f85d708c-a81c-42ee-ac01-1540b5aed8d0"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('GetPrimary')?['body/emailaddress1']",
                          "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID: Reassignment of @{outputs('GetPrimary')?['body/firstname']} @{outputs('GetPrimary')?['body/lastname']} as the new Primary Admin for the @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} organization. ",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\nYou have been assigned as the Primary Admin for the @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} organization within the CID Data Platform. The previous Primary Admin, &nbsp;@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} has been re-assigned as a Secondary Admin.<br>\n<br>\nIf these updates are not correct, then please adjust them accordingly in the CID Data Platform.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_an_email_(V2)_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c0753877-ced4-4ee9-8cf5-39ca485b030a"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('GetPrimary')?['body/emailaddress1']",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')} TMD en ligne – BDIC : Réaffectation de @{outputs('GetPrimary')?['body/firstname']} @{outputs('GetPrimary')?['body/lastname']} en tant que nouveau contact principal pour l’organisation @{outputs('Get_Parent_account_name')?['body/ovs_legalname']}. ",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>\nVous avez été désigné comme contact principal pour l’organisation @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} au sein de la plateforme de données de la BDIC. Le précédent contact principal, &nbsp;@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} , a été réaffecté en tant que contact secondaire.<br>\n<br>\nSi ces mises à jour ne sont pas correctes, veuillez les adapter en conséquence dans la plateforme de données de la BDIC.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('GetPrimary')?['body/cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7b089191-fde6-45d5-81e5-29f485c29aa4"
                  },
                  "type": "If"
                },
                "historycode": {
                  "runAfter": {
                    "List_rows_-_Get_IR4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "62a73c8a-b0cd-487e-9700-f6b86ae70bc5"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('List_rows_-_Get_IR4')?['body/value'][0]['cid_audithistorycodeid']"
                },
                "List_rows_-_Get_IR4": {
                  "runAfter": {
                    "Check_user_Language": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "25bb3611-3af7-4fcc-b51b-17944e8ca9ec"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cid_audithistorycodes",
                      "fetchXml": "<fetch version='1.0' output-format='xml-platform' mapping='logical' distinct='false'>\n<entity name='cid_audithistorycode'>\n<attribute name='cid_audithistorycodeid'/>\n<attribute name='cid_name'/>\n<attribute name='createdon'/>\n<order attribute='cid_name' descending='false'/>\n<filter type='and'>\n<condition attribute='cid_name' operator='eq' value='IY4'/>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_a_new_row_-_History_code": {
                  "runAfter": {
                    "historycode": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "63e8f384-79d3-43bf-a610-9cc0ec4621f6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "cid_historylogs",
                      "item/subject": "  ",
                      "item/cid_subject": "    ",
                      "item/cid_HistoryCode_cid_historylog@odata.bind": "@concat('/cid_audithistorycodes/',outputs('historycode'))",
                      "item/cid_memotemplateinputparameters": "@{outputs('GetPrimary')?['body/fullname']}|@{outputs('Get_Secondary')?['body/fullname']}",
                      "item/cid_Company_cid_historylog@odata.bind": "@concat('/accounts/',outputs('GetPrimary')?['body/_parentcustomerid_value'])",
                      "item/cid_CreatedByRegistrant_cid_historylog@odata.bind": "@concat('/contacts/',outputs('Get_Secondary')?['body/contactid'])"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "S1B-1": {
              "case": "S1B-1",
              "actions": {
                "List_rows_-_get_primary_by_query": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "4e2c6d97-7228-4694-a62b-d04741fa2cec"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"contact\">\n<attribute name=\"firstname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"parentcustomerid\" />\n<attribute name=\"cid_languageofcorrespondence\" />\n<attribute name=\"emailaddress1\"/>\n<attribute name=\"lastname\"/>\n<order attribute=\"cid_contacttype\" descending=\"false\"/>\n<order attribute=\"fullname\" descending=\"false\"/>\n<attribute name=\"contactid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"emailaddress1\" operator=\"not-null\"/>\n<condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerBody()?['AccountId']}\" />\n<condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000000\"/>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_-_check_user_language": {
                  "actions": {
                    "Send_an_email_(V2)-_English": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "948e764e-fafe-4c29-ac68-428a81677087"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Primary_email')",
                          "emailMessage/Subject": "@{variables('TestSubjectText')}CID Data Platform: Request by @{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} to be onboarded as a Secondary Contact for the @{outputs('GetPrimary')?['body/cid_legalname']} organization",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\n@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']}, at @{outputs('Get_Secondary')?['body/emailaddress1']}, has requested to be on-boarded as a Secondary Contact for the @{outputs('Get_Primary_Account_Name')?['body/ovs_legalname']}&nbsp;organization within the CID Data Platform. If you would like to on-board them, then please add them as a Contact, which will trigger the emailing of an invitation to them.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}<br>\n<br>\n</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Primary_Account_Name": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_(V2)_-French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "60cd9b44-5141-4dcd-ba5f-9baca18cd0e0"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('Primary_email')",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}Plateforme de données de la BDIC : Demande de la part de @{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} d’être intégré en tant que contact secondaire pour l’organisation @{outputs('GetPrimary')?['body/cid_legalname']}.",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\n@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']}, au @{outputs('Get_Secondary')?['body/emailaddress1']}, a demandé à être intégré en tant que contact secondaire pour l’organisation @{outputs('Get_Primary_Account_Name')?['body/ovs_legalname']} au sein de la plateforme de données de la BDIC. Si vous souhaitez les intégrer, ajoutez-les en tant que contact, ce qui déclenchera l’envoi d’une invitation par courriel.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}<br>\n<br>\n</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@first(outputs('List_rows_-_get_primary_by_query')?['body/value'])['cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3020ffb3-c502-45b0-bba4-73eccea49bc6"
                  },
                  "type": "If"
                },
                "Primary_First_Name": {
                  "runAfter": {
                    "List_rows_-_get_primary_by_query": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bcfec5d6-d439-436d-bf9d-86436981cee3"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('List_rows_-_get_primary_by_query')?['body/value'][0]['firstname']"
                },
                "Primary_Last_Name": {
                  "runAfter": {
                    "Primary_First_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cdc2febd-ccb6-4c5a-ba26-91239a1e7937"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('List_rows_-_get_primary_by_query')?['body/value'][0]['lastname']"
                },
                "Primary_email": {
                  "runAfter": {
                    "Primary_Last_Name": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7d7e19c7-36ab-4b18-93f9-0b21b0c9a7f5"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('List_rows_-_get_primary_by_query')?['body/value'][0]['emailaddress1']"
                },
                "Get_Primary_Account_Name": {
                  "runAfter": {
                    "Primary_email": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3d6eae60-749e-4003-8421-e15730a0ca92"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@triggerBody()?['AccountId']",
                      "$select": "ovs_legalname,ovs_legalnamefr"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "S2B-1": {
              "case": "S2B-1",
              "actions": {
                "Get_Primary_contact": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a66865c8-5416-45c9-9776-332e99da9fdc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"contact\">\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<attribute name=\"cid_contacttype\"/>\n<attribute name=\"cid_portalrecordcreationdetails\"/>\n<attribute name=\"cid_portalrecordmodificationdetails\"/>\n<order attribute=\"cid_contacttype\" descending=\"false\"/>\n<order attribute=\"fullname\" descending=\"false\"/>\n<attribute name=\"contactid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"emailaddress1\" operator=\"not-null\"/>\n<condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerBody()?['AccountId']}\" />\n<condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000000\"/>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_4_Check_Language": {
                  "actions": {
                    "Send_an_email_English": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "07a0fe74-9d46-470d-b976-a83fd2d61863"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Primary_Email_Address')",
                          "emailMessage/Subject": "TDG Online - CID: Secondary Contact @{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} has logged into CID Data Platform for the first time",
                          "emailMessage/Body": "<p>@{variables('TestingText')} @{outputs('Primary_Full_name')}<br>\n<br>\n@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']}, at @{variables('ContactInfo')}, has logged into CID Platform for the first time as a Secondary Admin for the @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} Company.<br>\n<br>\nIf this individual should not be accessing CID for this company, then from Contacts, you have the option to Deactivate their Contact record, which will prevent further logins.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}<br>\n</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Primary_Full_name": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "fc4197a8-620c-4924-a478-630e1b43229d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('Primary_Email_Address')",
                            "emailMessage/Subject": "TMD en ligne – BDIC : Le contact secondaire @{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']} s’est connecté à la plateforme de données de la BDIC pour la première fois.",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')} @{outputs('Primary_Full_name')}<br>\n<br>\n@{outputs('Get_Secondary')?['body/firstname']} @{outputs('Get_Secondary')?['body/lastname']}, au @{variables('ContactInfo')}, s’est connecté à la plateforme de données de la BDIC de Transports Canada pour la première fois en tant qu’administrateur secondaire pour l’organisation@{outputs('Get_Parent_account_name')?['body/ovs_legalnamefr']}.<br>\n<br>\nSi cette personne ne doit pas accéder à la BDIC pour cette organisation, vous avez la possibilité de désactiver son inscription en tant que contact à partir du dossier de Contact, ce qui empêchera toute connexion ultérieure.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Secondary')?['body/cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "07ec8f7d-9aee-4533-ab7e-bf09d755a51e"
                  },
                  "type": "If"
                },
                "Primary_Email_Address": {
                  "runAfter": {
                    "Get_Primary_contact": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "266a2593-aa43-434b-9df0-f72515e93568"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Primary_contact')?['body/value'][0]['emailaddress1']"
                },
                "Primary_Full_name": {
                  "runAfter": {
                    "Primary_Email_Address": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "159d1a84-df17-4b5e-8773-aa7808499d7f"
                  },
                  "type": "Compose",
                  "inputs": "@outputs('Get_Primary_contact')?['body/value'][0]['fullname']"
                }
              }
            },
            "Case_S4-1": {
              "case": "S4-1",
              "actions": {
                "List_rows_-_Get_Secondary_Contacts_Invitation": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c5e6bff0-29c6-489d-9fb2-8b72e1c8b022"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_invitations",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"adx_invitation\">\n<attribute name=\"adx_name\"/>\n<attribute name=\"adx_type\"/>\n<attribute name=\"adx_invitationcode\"/>\n<attribute name=\"adx_expirydate\"/>\n<attribute name=\"createdon\"/>\n<attribute name=\"statuscode\"/>\n<attribute name=\"adx_invitationid\"/>\n<order attribute=\"adx_expirydate\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"statuscode\" operator=\"in\">\n<value>756150000</value>\n<value>1</value>\n</condition>\n<condition attribute=\"adx_invitecontact\" operator=\"eq\" value=\"@{outputs('Get_Secondary')?['body/contactid']}\"/>\n<filter type=\"or\">\n<filter type=\"or\">\n<condition attribute=\"adx_expirydate\" operator=\"next-x-years\" value=\"99\"/>\n<condition attribute=\"adx_expirydate\" operator=\"today\"/>\n</filter>\n<condition attribute=\"adx_expirydate\" operator=\"null\"/>\n</filter>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_2_check_Secondary_contact_Language_of_correspondence": {
                  "actions": {
                    "Send_an_email_notification_(V2)-_Send_English": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d8d43071-6ab6-447e-b494-ad39381a82dd"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                          "emailMessage/Subject": "@{variables('TestSubjectText')} TDG Online - CID: Login access into the CID Platform for the @{outputs('Get_Secondary')?['body/cid_legalname']} organization has been removed ",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nPlease note that the CID Platform user account associated with this email address no longer has login access for the @{outputs('Get_Secondary')?['body/cid_legalname']} organization. If this update was made by mistake, then please contact the CID Platform’s Primary Contact for that organization to resolve the matter.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Cc": "@{variables('SecondaryContactsEmail')};@{outputs('GetPrimary')?['body/emailaddress1']}",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_a_row_4_deactivate_contact": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_notification_(V2)_-_Send_French_Text": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "11e5d454-38ab-473a-99f4-f0bcc5d95c41"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : L’accès à la plateforme de la BDIC pour l’organisation @{outputs('Get_Secondary')?['body/cid_legalname']} a été supprimé.",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nVeuillez noter que le compte d’utilisateur de la plateforme de la BDIC associé à cette adresse courriel n’a plus d’accès de connexion pour l’organisation @{outputs('Get_Secondary')?['body/cid_legalname']}. Si cette mise à jour a été effectuée par erreur, veuillez communiquer avec la personne-ressource de la plateforme de la BDIC pour cette organisation afin de résoudre le problème.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Secondary')?['body/cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "194b1ccf-fda4-4173-9fdd-86174a958d1a"
                  },
                  "type": "If"
                },
                "Apply_to_each_Invitation": {
                  "foreach": "@outputs('List_rows_-_Get_Secondary_Contacts_Invitation')?['body/value']",
                  "actions": {
                    "Update_a_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "bb1934f7-3308-45bf-bb0c-9b9020ae170a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "adx_invitations",
                          "recordId": "@items('Apply_to_each_Invitation')?['adx_invitationid']",
                          "item/adx_expirydate": "@formatDateTime(addDays(utcNow(),-1),'MM-dd-yyyy')",
                          "item/statecode": 1,
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_Get_Secondary_Contacts_Invitation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e3b1da88-e908-4eba-a36c-dde828232535"
                  },
                  "type": "Foreach"
                },
                "Update_a_row_4_deactivate_contact": {
                  "runAfter": {
                    "Apply_to_each_Invitation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c1bcfe3a-d733-4298-bcde-b38cb5f73db7"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('Get_Secondary')?['body/contactid']",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_S4-2": {
              "case": "S4-2",
              "actions": {
                "List_rows_-_S4-2_Invivation": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "46165799-eacb-40c6-8d81-dee05c4b60b8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_invitations",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"adx_invitation\">\n<attribute name=\"adx_name\"/>\n<attribute name=\"adx_type\"/>\n<attribute name=\"adx_invitationcode\"/>\n<attribute name=\"adx_expirydate\"/>\n<attribute name=\"createdon\"/>\n<attribute name=\"statuscode\"/>\n<attribute name=\"adx_invitationid\"/>\n<order attribute=\"adx_expirydate\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"statuscode\" operator=\"in\">\n<value>756150000</value>\n<value>1</value>\n</condition>\n<condition attribute=\"adx_invitecontact\" operator=\"eq\" value=\"@{outputs('Get_Secondary')?['body/contactid']}\"/>\n<filter type=\"or\">\n<filter type=\"or\">\n<condition attribute=\"adx_expirydate\" operator=\"next-x-years\" value=\"99\"/>\n<condition attribute=\"adx_expirydate\" operator=\"today\"/>\n</filter>\n<condition attribute=\"adx_expirydate\" operator=\"null\"/>\n</filter>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_2": {
                  "foreach": "@outputs('List_rows_-_S4-2_Invivation')?['body/value']",
                  "actions": {
                    "Update_a_row_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "0a1dce80-8bb2-4ef8-bc09-ec0d6e5b0a6b"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "adx_invitations",
                          "recordId": "@items('Apply_to_each_2')?['adx_invitationid']",
                          "item/adx_expirydate": "@formatDateTime(addDays(utcNow(),-1),'MM-dd-yyyy')",
                          "item/statecode": 1,
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_S4-2_Invivation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e74d5a28-fbd9-4f7d-aa11-cc4689e73e9a"
                  },
                  "type": "Foreach"
                },
                "Condition_2": {
                  "actions": {
                    "Send_an_email_notification_(V2)-_Send_English_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "aaa9dffb-bb64-42dc-acee-bd672ace11bc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                          "emailMessage/Subject": "@{variables('TestSubjectText')} TDG Online - CID: Previous invitation to onboard to the CID Platform as a Secondary Contact for the is no longer valid. The option exists to register a new organization",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nPlease note that the previous invitation to register the &nbsp;@{outputs('Get_Parent_account_name')?['body/ovs_legalname']} organization in the CID Data Platform is no longer valid. You do however have the option now to create an account in CID and register a different organization.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Cc": "@{variables('SecondaryContactsEmail')};@{outputs('GetPrimary')?['body/emailaddress1']}",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_a_row_4_-_deactivate_contact": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_notification_(V2)_-_Send_French_Text_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "a6fc414c-927d-485e-82c3-4a99785eb793"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')} TMD en ligne – BDIC : L’invitation précédente à rejoindre la plateforme de la BDIC en tant que contact secondaire pour le n’est plus valable. Il est possible d’inscrire une nouvelle organisation",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nVeuillez noter que l’invitation précédente à inscrire l’organisation @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} dans la plateforme de données de la BDIC n’est plus valable. Vous avez toutefois la possibilité de créer un compte dans la BDIC et d’inscrire une autre organisation.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Secondary')?['body/cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9b39d138-07b0-428d-83c4-854286ac7032"
                  },
                  "type": "If"
                },
                "Update_a_row_4_-_deactivate_contact": {
                  "runAfter": {
                    "Apply_to_each_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7928873e-b0de-4cbb-94d7-3814179736d0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('Get_Secondary')?['body/contactid']",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_S4-3": {
              "case": "S4-3",
              "actions": {
                "List_rows_S4-2_Invitation": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fb525db2-1512-4048-b509-19d8f77d9d8d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_invitations",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"adx_invitation\">\n<attribute name=\"adx_name\"/>\n<attribute name=\"adx_type\"/>\n<attribute name=\"adx_invitationcode\"/>\n<attribute name=\"adx_expirydate\"/>\n<attribute name=\"createdon\"/>\n<attribute name=\"statuscode\"/>\n<attribute name=\"adx_invitationid\"/>\n<order attribute=\"adx_expirydate\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"statuscode\" operator=\"in\">\n<value>756150000</value>\n<value>1</value>\n</condition>\n<condition attribute=\"adx_invitecontact\" operator=\"eq\" value=\"@{outputs('Get_Secondary')?['body/contactid']}\"/>\n<filter type=\"or\">\n<filter type=\"or\">\n<condition attribute=\"adx_expirydate\" operator=\"next-x-years\" value=\"99\"/>\n<condition attribute=\"adx_expirydate\" operator=\"today\"/>\n</filter>\n<condition attribute=\"adx_expirydate\" operator=\"null\"/>\n</filter>\n</filter>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_3": {
                  "actions": {
                    "Send_an_email_notification_(V2)-_Send_English_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "aaa9dffb-bb64-42dc-acee-bd672ace11bc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                          "emailMessage/Subject": "TDG Online - CID: Previous invitation to onboard to the CID Platform as a Secondary Contact for the is no longer valid. The option exists to register a new organization",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nPlease note that the previous invitation to register the @{outputs('Get_Parent_account_name')?['body/ovs_legalname']} organization in the CID Data Platform is no longer valid. You do however have the option now to create an account in CID and register a different organization.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}<br>\n<br>\n</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Update_a_row_-_deactivate_contact": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Send_an_email_notification_(V2)-_Send_French_5": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "aaa9dffb-bb64-42dc-acee-bd672ace11bc"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('Get_Secondary')?['body/emailaddress1']",
                            "emailMessage/Subject": "TMD en ligne – BDIC : L’invitation précédente à rejoindre la plateforme de la BDIC en tant que contact secondaire pour le n’est plus valable. Il est possible d’inscrire une nouvelle organisation",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nVeuillez noter que l’invitation précédente à inscrire l’organisation@{outputs('Get_Parent_account_name')?['body/ovs_legalnamefr']} dans la plateforme de données de la BDIC n’est plus valable. Vous avez toutefois la possibilité de créer un compte dans la BDIC et d’inscrire une autre organisation.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n<br>\n</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Secondary')?['body/cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a6b4b008-d502-4fab-a402-050f6d020af4"
                  },
                  "type": "If"
                },
                "Apply_to_each_3": {
                  "foreach": "@outputs('List_rows_S4-2_Invitation')?['body/value']",
                  "actions": {
                    "Update_a_row_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "64c918ce-1dfc-41cf-ac72-e978b97c76fa"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "adx_invitations",
                          "recordId": "@items('Apply_to_each_3')?['adx_invitationid']",
                          "item/adx_expirydate": "@formatDateTime(addDays(utcNow(),-1),'MM-dd-yyyy')",
                          "item/statecode": 1,
                          "item/statuscode": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_S4-2_Invitation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "33e1efa4-619b-4312-be30-e95cfa1c7692"
                  },
                  "type": "Foreach"
                },
                "Update_a_row_-_deactivate_contact": {
                  "runAfter": {
                    "Apply_to_each_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "03e8ca45-28bf-4d33-9099-10247897ffdf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@outputs('Get_Secondary')?['body/contactid']",
                      "item/statecode": 1,
                      "item/statuscode": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Case_RD-1": {
              "case": "RD-1",
              "actions": {
                "Check_primary_contact_Laguage": {
                  "actions": {
                    "Send_an_email_-_English": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7e9e686f-146c-4518-b0b3-90a75b79beb9"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@variables('PrimaryContactEmail')",
                          "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID: Request to deactivate a Site.",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nAnother organization is blocked within the TDG Online CID platform from adding a site as your organization has Site ID <strong></strong><strong>@{triggerBody()?['SiteId']}</strong><strong></strong> at that same location.<br>\n<br>\nIf that Site is part of a Sale or Transfer, or it should not be an active Site for your organization, or it should no longer have a status indicating that your organization still owns it, then please use the 'Deactivate Site' side-menu option to deactivate it. The other organization will be then be notified and then they will be able to proceed.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTransport Canada - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>",
                          "emailMessage/From": "@variables('CID_Email_Sender')",
                          "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_an_email_-_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "fd6f3cfb-ccc6-44e3-94d7-4b702145b9ec"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@variables('PrimaryContactEmail')",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TDG Online - CID: Request to deactivate a Site.",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nLa plateforme TMD en ligne – BDIC empêche une autre organisation d’ajouter un site, car votre organisation possède l’ID de site <strong></strong><strong>@{triggerBody()?['SiteId']}</strong><strong></strong> au même endroit.<br>\n<br>\nSi ce site fait partie d’une vente ou d’un transfert, s’il ne doit pas être un site actif pour votre organisation ou s’il ne doit plus avoir de statut indiquant que votre organisation en est toujours propriétaire, veuillez utiliser l’option « Désactiver le site » du menu latéral pour le désactiver. L’autre organisation en sera alors informée et pourra poursuivre son action.<br>\n<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nÉquipe de soutien de la BDIC de Transports Canada<br>\n<br>\n@{outputs('French-EmailFooter')}</p>",
                            "emailMessage/From": "@variables('CID_Email_Sender')",
                            "emailMessage/Cc": "@variables('SecondaryContactsEmail')",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@first(body('Get_Account_Primary_Contact_By_Acc_Id')?['value'])?['cid_languageofcorrespondence']",
                      918640001
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2573f07c-3f24-4bf5-ae93-eb68e4f003c4"
                  },
                  "type": "If"
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@triggerBody()?['EmailCode']",
          "metadata": {
            "operationMetadataId": "8b27b3f5-8f4e-4042-aefd-721abded21c8"
          },
          "type": "Switch"
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows_-_Get_all_Secondary_Contact')?['body/value']",
          "actions": {
            "Check_SecondaryContactsEmail_length": {
              "actions": {
                "Append_to_string_variable_SecondaryContactsEmail": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "908ab487-1f0f-468c-a418-7edce30a3b04"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "SecondaryContactsEmail",
                    "value": "@concat(';' , items('Apply_to_each')?['emailaddress1'] )"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_variable__SecondaryContactsEmail": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "6dace404-0abb-4259-96b6-10815898492a"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SecondaryContactsEmail",
                      "value": "@items('Apply_to_each')?['emailaddress1']"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(variables('SecondaryContactsEmail'))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "0d26c136-e4be-419a-85f6-1e27df5ca482"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_-_Get_all_Secondary_Contact": [
              "Succeeded"
            ],
            "If_primary_contact_not_null_": [
              "Succeeded"
            ],
            "If_AccountId_is_not_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03c495b8-aceb-477b-8af9-9ed365647cbb"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 30
            }
          }
        },
        "Initialize_variable_S1B_and_S2B_-_Contact_Infor": {
          "runAfter": {
            "Initialize_variable_PrimaryContactEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a866d96-66a1-4a74-9d55-df7e6b060766"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactInfo",
                "type": "string"
              }
            ]
          }
        },
        "Condition_-_Check_if_Phone_and_Email_on_file": {
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f88c9ea2-e8f1-412f-accf-9e60a4c50a5a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ContactInfo",
                "value": "@{outputs('Get_Secondary')?['body/emailaddress1']}, @{outputs('Get_Secondary')?['body/telephone1']}"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "30f77a75-ec89-4c9e-9a03-a08f275d23f5"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "ContactInfo",
                  "value": "@outputs('Get_Secondary')?['body/emailaddress1']"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(string(outputs('Get_Secondary')?['body/emailaddress1']))",
                  0
                ]
              },
              {
                "greater": [
                  "@length(string(outputs('Get_Secondary')?['body/telephone1']))",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "bf2b9ec7-1e76-47a6-b2d5-fdba1e58f67c"
          },
          "type": "If"
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** Le message suivant est un courriel automatisé envoyé par le TMD en ligne – Système de la BDIC. Veuillez ne pas répondre ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">Remarque:<br>\n   - Pour recevoir les courriels suivants en français, vous pouvez mettre à jour votre choix de langue de correspondance préférée à l’aide du bouton [Paramètres du compte] du portail de données TMD en ligne – BDIC. <br><br> \n   - Veuillez ne pas répondre à ce courriel. Au besoin, utilisez le bouton ou le lien « Communiquer avec nous » du portail de données de la BDIC.  </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_CID_Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a4d30e6-367a-4728-93d1-e8fc48567195"
          },
          "type": "Scope"
        },
        "get-environment-settings": {
          "runAfter": {
            "Initialize_variable_S1B_and_S2B_-_Contact_Infor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e099354-7d1c-45fa-8905-3cb8d5e3c32d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "Tester le courriel: "
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "Tester le courriel: Ce courriel est un courriel de test, et non un courriel réel représentant ce qui est indiqué ci-dessous. <br><br>                                                                  "
              }
            }
          },
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        },
        "Initialize_variable_PrimaryContactEmail": {
          "runAfter": {
            "Initialize_variable_SecondaryContactsEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3ad0c7f-5ae0-46a8-b68d-0663d845c693"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PrimaryContactEmail",
                "type": "string"
              }
            ]
          }
        },
        "If_secondary_contact_not_null_": {
          "actions": {},
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_Secondary": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d357c557-f853-40ab-8d56-01878c9f05db"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contacts",
                    "recordId": "@triggerBody()?['Secondary_Contactid']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Secondary_Contactid']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "6af18c29-916e-4279-abd4-bb7021731989"
          },
          "type": "If"
        },
        "If_primary_contact_not_null_": {
          "actions": {},
          "runAfter": {
            "If_secondary_contact_not_null_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "GetPrimary": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "75519be7-ee16-4c55-9d84-9aa3d594f183"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contacts",
                    "recordId": "@triggerBody()?['Primary_Contactid']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Primary_Contactid']",
              "@null"
            ]
          },
          "metadata": {
            "operationMetadataId": "d47c5dc0-f2fe-4111-bf6b-5722e4ad7542"
          },
          "type": "If"
        },
        "If_AccountId_is_not_null": {
          "actions": {
            "Get_Parent_account_name": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4bf8ee07-0068-409b-a4ea-68cdc82fcab3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerBody()?['AccountId']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Account_Primary_Contact_By_Acc_Id": {
              "runAfter": {
                "Get_Parent_account_name": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ca69d6df-0b5c-42fc-b59d-f824d413476d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" no-lock=\"false\">\n<entity name=\"contact\">\n<attribute name=\"firstname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<attribute name=\"cid_languageofcorrespondence\" />\n<attribute name=\"lastname\"/>\n<order attribute=\"cid_contacttype\" descending=\"false\"/>\n<order attribute=\"fullname\" descending=\"false\"/>\n<attribute name=\"contactid\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n<condition attribute=\"emailaddress1\" operator=\"not-null\"/>\n<condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{triggerBody()?['AccountId']}\" />\n<condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000000\"/>\n</filter>\n</entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_PrimaryContactEmail": {
              "runAfter": {
                "Get_Account_Primary_Contact_By_Acc_Id": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ec5ea874-9807-47af-bae3-20ecaed09faa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "PrimaryContactEmail",
                "value": "@{first(body('Get_Account_Primary_Contact_By_Acc_Id')?['value'])?['emailaddress1']}"
              }
            }
          },
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerBody()?['AccountId']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "c2e76ab2-d547-419d-9b9a-edddd675ff43"
          },
          "type": "If"
        },
        "Filter_environment-CID__Email_Sender": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_Email_Sender')"
          }
        },
        "Initialize_variable_CID_Email_Sender": {
          "runAfter": {
            "Filter_environment-CID__Email_Sender": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c068ea6c-92cb-411f-9c4a-2464a31e0468"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CID_Email_Sender",
                "type": "string",
                "value": "@{body('Filter_environment-CID__Email_Sender')[0]['qm_value']}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}