Solutions/CID_Flows/unpack/Workflows/DownloadSitesInfo-FF6AD38F-F8BB-EC11-983F-0022483D62F4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceSharepointTDGCoreUser"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceExcelTDGCoreUser"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b0128346-81cf-4f2f-9c92-2be88dc35a5b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "accountid": {
                  "type": "string"
                },
                "Language": {
                  "type": "string"
                },
                "UiLanguage": {
                  "type": "string"
                },
                "UploadType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Perform_a_bound_action": {
          "runAfter": {
            "downloadTemplate": [
              "Succeeded"
            ]
          },
          "limit": {
            "timeout": "PT15M"
          },
          "metadata": {
            "operationMetadataId": "ac6e64b9-dbb1-483c-8d71-6a7321136783"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "actionName": "Microsoft.Dynamics.CRM.cid_Get_Sites",
              "recordId": "@triggerBody()?['accountid']",
              "item/Language": "@triggerBody()?['Language']",
              "item/IntialRegYN": "@variables('Initial_Registeration')",
              "item/ID": "@triggerBody()?['accountid']"
            },
            "authentication": "@parameters('$authentication')",
            "retryPolicy": {
              "type": "none"
            }
          }
        },
        "SiteList": {
          "runAfter": {
            "Perform_a_bound_action": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de1dcca0-d343-4d55-8217-0aa159058b76"
          },
          "type": "Compose",
          "inputs": "@outputs('Perform_a_bound_action')?['body/SitesList']"
        },
        "Initialize_AddSiteGraphAPI_Variable": {
          "runAfter": {
            "SiteList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "09386607-39eb-4ffe-a81b-e221effc9591"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AddSiteGraphAPI_Status",
                "type": "integer"
              }
            ]
          }
        },
        "GraphAPIStatus": {
          "runAfter": {
            "Initialize_AddSiteGraphAPI_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a57892f-9960-4f4c-9b87-a827ac452ce2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GraphAPIStatus",
                "type": "integer"
              }
            ]
          }
        },
        "Filter_environment-setting-get-version#": {
          "runAfter": {
            "downloadTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_BulkUpload_VersionNumber')"
          }
        },
        "version-number": {
          "runAfter": {
            "Filter_environment-setting-get-version#": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41b70b02-c1a1-45c9-8dea-3c396fb42ce3"
          },
          "type": "Compose",
          "inputs": "@body('Filter_environment-setting-get-version#')[0]['qm_value']"
        },
        "activityid": {
          "runAfter": {
            "Add_bulk_activity_review_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b455cebc-6ab7-4ac8-bf1b-52c645583dd7"
          },
          "type": "Compose",
          "inputs": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']"
        },
        "Add_bulk_activity_review_Log": {
          "runAfter": {
            "downloadTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd14120a-b546-48a9-8a0f-8390aa0d9b33"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_bulkactivitylogsummaries",
              "item/cid_Company@odata.bind": "@concat('/accounts/', triggerBody()?['accountid'])",
              "item/cid_activitystarttime": "@utcNow()",
              "item/cid_activitytype": "@variables('DownloadType')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "get-environment-settings": {
          "runAfter": {
            "Initialize_variable_to_store_New_File_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_Environment_Folder_variable": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "254ba5f3-6d7a-453c-8b45-649d28f6c05a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "Dev"
              }
            ]
          }
        },
        "Invoke_an_HTTP_request_-_Add_settings": {
          "runAfter": {
            "Update_Basic_Sheet_header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "POST",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/SettingTable/rows",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "{\n\n  \"values\": [ \n    [\n\"@{outputs('version-number')}\"  ,   \n\"@{triggerBody()?['Language']}\",\n\"@{utcNow()}\"\n,\n\"@{outputs('Get_Company')?['body/cid_companyid']}\",\n\"@{variables('CompanyName')}\",\n\"@{outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']}\"\n]\n   \n  ],\n \"index\": 0\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "check_if_number_of_site_greater_than__0": {
          "actions": {
            "Start_data_insert": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "88926f4a-40f2-4f11-b3e8-f8f26f5cd818"
              },
              "type": "Compose",
              "inputs": "actions"
            },
            "Insert_Data_to_Basic_Sheet": {
              "actions": {
                "Invoke_an_HTTP_request_-_Add_Sites": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/TableAddBasic/rows",
                      "request/headers": {
                        "accept": "application/json"
                      },
                      "request/body": "{\n\n  \"values\": @{outputs('SiteList')} ,\n \"index\": 1\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Do_until_http_request_is_done": {
                  "actions": {},
                  "runAfter": {
                    "Invoke_an_HTTP_request_-_Add_Sites": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Add_Sites')?['body']?['statusCode'], 201)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "942fd0fa-8bcd-468e-89b0-8ce584381ac9"
                  },
                  "type": "Until"
                },
                "Set_AddSiteGraphAPI_variable": {
                  "runAfter": {
                    "Do_until_http_request_is_done": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fa16ea1b-9b40-4b86-8358-84bafd28951b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AddSiteGraphAPI_Status",
                    "value": "@outputs('Invoke_an_HTTP_request_-_Add_Sites')?['statusCode']"
                  }
                }
              },
              "runAfter": {
                "Start_data_insert": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2db0b3e-963f-46d2-a36c-1ec69a481f80"
              },
              "type": "Scope"
            },
            "Update_a_row": {
              "runAfter": {
                "Insert_Data_to_Basic_Sheet": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0f774e5-53f3-47de-b653-05797908c7ce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_activityendtime": "@utcNow()",
                  "item/cid_activitystatus": 100000000,
                  "item/cid_filename": "@variables('New_File_Path')",
                  "item/cid_language": "@variables('Language')",
                  "item/cid_numberofsites": "@length(outputs('SiteList'))"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Delete_Temp_SharePoint_folder_and_file": {
              "actions": {
                "Send_an_HTTP_request_to_SharePoint": {
                  "runAfter": {
                    "check_language_before_sending_attachment_to_portal": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "613190e4-0e54-402c-92ea-4d8c3d1e4a7a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "parameters/method": "DELETE",
                      "parameters/uri": "_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}/@{variables('New_File_Path')}')/recycle",
                      "parameters/headers": {
                        "Prefer": "bypass-shared-lock"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Delete_Folder": {
                  "runAfter": {
                    "Send_an_HTTP_request_to_SharePoint": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f00e886f-145d-4890-91e5-d4fb5eacf205"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "DeleteItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "table": "Documents",
                      "id": "@outputs('Create_new_folder')?['body/ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "check_language_before_sending_attachment_to_portal": {
                  "actions": {
                    "Add_attachment_to_activity_French": {
                      "runAfter": {
                        "Get_full_file_content_from_French_file": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "Site List Attachement",
                          "item/notetext": "*WEB*",
                          "item/isdocument": true,
                          "item/documentbody": "@base64(outputs('Get_full_file_content_from_French_file')?['body'])",
                          "item/filename": "@variables('New_File_Path')",
                          "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Get_full_file_content_from_French_file": {
                      "runAfter": {
                        "Run_script_-_protect_French_sheets__2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContentByPath",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                          "path": "@outputs('Create_file_French')?['body/Path']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Run_script_-_protect_French_sheets__2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5e8b44b8-b766-4608-a859-e26efaa71fc9",
                        "tableId": null
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_excelonlinebusiness",
                          "operationId": "RunScriptProd",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                        },
                        "parameters": {
                          "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                          "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                          "file": "@outputs('Create_file_French')?['body/Path']",
                          "scriptId": "ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01RHQEHWIQHAAGDMHO3BAISUUQJO4ZQFV7",
                          "ScriptParameters/password": "TC@123!"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "French_GetContentInstructionPdf": {
                      "runAfter": {
                        "Run_script_-_protect_French_sheets__2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/Transport Canada CID Instructions Updated.pdf",
                        "operationMetadataId": "2daa2947-a7f6-4514-be5a-d3d68d56e724",
                        "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fFrench%2b-%2bTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/French - Transport Canada CID Instructions Updated.pdf",
                        "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID%2bBULK%2bSITE%2bUPLOAD%2bv10%2b-%2bFR.pdf": "/Shared Documents/CID_Bulk_Upload/CID BULK SITE UPLOAD v10 - FR.pdf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                          "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID%2bBULK%2bSITE%2bUPLOAD%2bv10%2b-%2bFR.pdf",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Add_French_Instruction_attachment_to_activity_English_PDF_2": {
                      "runAfter": {
                        "French_GetContentInstructionPdf": [
                          "Succeeded"
                        ]
                      },
                      "limit": {
                        "timeout": "PT15M"
                      },
                      "metadata": {
                        "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "Instructions Attachement",
                          "item/notetext": "*WEB*",
                          "item/isdocument": true,
                          "item/documentbody": "@base64(outputs('French_GetContentInstructionPdf')?['body'])",
                          "item/filename": "BDIC TC - Procédures de téléversement de sites en bloc.PDF",
                          "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Response_French_Note_attachment": {
                      "runAfter": {
                        "Add_French_Instruction_attachment_to_activity_English_PDF_2": [
                          "Succeeded"
                        ],
                        "Add_attachment_to_activity_French": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": "@{outputs('Add_attachment_to_activity_French')?['body/annotationid']}|@{outputs('Add_French_Instruction_attachment_to_activity_English_PDF_2')?['body/annotationid']}"
                      },
                      "operationOptions": "Asynchronous"
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Add_attachment_to_activity_English": {
                        "runAfter": {
                          "Get_full_file_content_English": [
                            "Succeeded"
                          ]
                        },
                        "limit": {
                          "timeout": "PT15M"
                        },
                        "metadata": {
                          "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "annotations",
                            "item/subject": "Site List Attachement",
                            "item/notetext": "*WEB*",
                            "item/isdocument": true,
                            "item/documentbody": "@base64(outputs('Get_full_file_content_English')?['body'])",
                            "item/filename": "@variables('New_File_Path')",
                            "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Run_script_-_protect_English_sheets__2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "5e8b44b8-b766-4608-a859-e26efaa71fc9",
                          "tableId": null
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_excelonlinebusiness",
                            "operationId": "RunScriptProd",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                          },
                          "parameters": {
                            "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                            "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                            "file": "@outputs('Create_file_English')?['body/Path']",
                            "scriptId": "ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01RHQEHWIQHAAGDMHO3BAISUUQJO4ZQFV7",
                            "ScriptParameters/password": "TC@123!"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Get_full_file_content_English": {
                        "runAfter": {
                          "Run_script_-_protect_English_sheets__2": [
                            "Succeeded"
                          ]
                        },
                        "limit": {
                          "timeout": "PT15M"
                        },
                        "metadata": {
                          "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetFileContentByPath",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                            "path": "@outputs('Create_file_English')?['body/Path']",
                            "inferContentType": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Add_English_Instruction_attachment_to_activity_English_PDF": {
                        "runAfter": {
                          "GetContentInstructionPdf": [
                            "Succeeded"
                          ]
                        },
                        "limit": {
                          "timeout": "PT15M"
                        },
                        "metadata": {
                          "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "annotations",
                            "item/subject": "Instructions Attachement",
                            "item/notetext": "*WEB*",
                            "item/isdocument": true,
                            "item/documentbody": "@base64(outputs('GetContentInstructionPdf')?['body'])",
                            "item/filename": "TC CID - Site Bulk Upload Instructions.PDF",
                            "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "GetContentInstructionPdf": {
                        "runAfter": {
                          "Run_script_-_protect_English_sheets__2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/Transport Canada CID Instructions Updated.pdf",
                          "operationMetadataId": "2daa2947-a7f6-4514-be5a-d3d68d56e724",
                          "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_BULK_SITE_UPLOAD%2bv10%2b-%2bEN.pdf": "/Shared Documents/CID_Bulk_Upload/CID_BULK_SITE_UPLOAD v10 - EN.pdf"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetFileContent",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                            "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_BULK_SITE_UPLOAD%2bv10%2b-%2bEN.pdf",
                            "inferContentType": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Response_2": {
                        "runAfter": {
                          "Add_English_Instruction_attachment_to_activity_English_PDF": [
                            "Succeeded"
                          ],
                          "Add_attachment_to_activity_English": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "body": "@{outputs('Add_attachment_to_activity_English')?['body/annotationid']}|@{outputs('Add_English_Instruction_attachment_to_activity_English_PDF')?['body/annotationid']}"
                        },
                        "operationOptions": "Asynchronous"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@triggerBody()?['Language']",
                      "French"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b1855c41-6717-4bb2-8117-25454635b1d1"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed5c83c0-aae5-4d67-b9b2-52420758be65"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Update_Instruction_sheet_Sheet_header_": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_bulk_activity_log": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "e0f774e5-53f3-47de-b653-05797908c7ce"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_bulkactivitylogsummaries",
                    "recordId": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']",
                    "item/cid_activityendtime": "@utcNow()",
                    "item/cid_activitystatus": 100000000,
                    "item/cid_filename": "@variables('New_File_Path')",
                    "item/cid_language": "@variables('Language')",
                    "item/cid_numberofsites": "@length(outputs('SiteList'))"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "check_language_before_sending_attachment_to_portal_3": {
                "actions": {
                  "Add_attachment_to_activity_French_3": {
                    "runAfter": {
                      "Get_full_file_content_from_French_file_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Site List Attachement",
                        "item/notetext": "*WEB*",
                        "item/isdocument": true,
                        "item/documentbody": "@base64(outputs('Get_full_file_content_from_French_file_3')?['body'])",
                        "item/filename": "@variables('New_File_Path')",
                        "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Get_full_file_content_from_French_file_3": {
                    "runAfter": {
                      "Run_script_-_protect_French_sheets_": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetFileContentByPath",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "path": "@outputs('Create_file_French')?['body/Path']",
                        "inferContentType": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Run_script_-_protect_French_sheets_": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "5e8b44b8-b766-4608-a859-e26efaa71fc9",
                      "tableId": null
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_excelonlinebusiness",
                        "operationId": "RunScriptProd",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                      },
                      "parameters": {
                        "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                        "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                        "file": "@outputs('Create_file_French')?['body/Path']",
                        "scriptId": "ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01RHQEHWIQHAAGDMHO3BAISUUQJO4ZQFV7",
                        "ScriptParameters/password": "TC@123!"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "French_GetContentInstructionPdf_2": {
                    "runAfter": {
                      "Run_script_-_protect_French_sheets_": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/Transport Canada CID Instructions Updated.pdf",
                      "operationMetadataId": "2daa2947-a7f6-4514-be5a-d3d68d56e724",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fFrench%2b-%2bTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/French - Transport Canada CID Instructions Updated.pdf",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID%2bBULK%2bSITE%2bUPLOAD%2bv10%2b-%2bFR.pdf": "/Shared Documents/CID_Bulk_Upload/CID BULK SITE UPLOAD v10 - FR.pdf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetFileContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID%2bBULK%2bSITE%2bUPLOAD%2bv10%2b-%2bFR.pdf",
                        "inferContentType": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Add_French_Instruction_attachment_to_activity_English_PDF": {
                    "runAfter": {
                      "French_GetContentInstructionPdf_2": [
                        "Succeeded"
                      ]
                    },
                    "limit": {
                      "timeout": "PT15M"
                    },
                    "metadata": {
                      "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Instructions Attachement",
                        "item/notetext": "*WEB*",
                        "item/isdocument": true,
                        "item/documentbody": "@base64(outputs('French_GetContentInstructionPdf_2')?['body'])",
                        "item/filename": "BDIC TC - Procédures de téléversement de sites en bloc.PDF",
                        "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Response_French_Note_attachment_3": {
                    "runAfter": {
                      "Add_French_Instruction_attachment_to_activity_English_PDF": [
                        "Succeeded"
                      ],
                      "Add_attachment_to_activity_French_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "body": "@{outputs('Add_attachment_to_activity_French_3')?['body/annotationid']}|@{outputs('Add_French_Instruction_attachment_to_activity_English_PDF')?['body/annotationid']}"
                    },
                    "operationOptions": "Asynchronous"
                  }
                },
                "runAfter": {
                  "Update_bulk_activity_log": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Add_attachment_to_activity_English_3": {
                      "runAfter": {
                        "Get_full_file_content_English_3": [
                          "Succeeded"
                        ]
                      },
                      "limit": {
                        "timeout": "PT15M"
                      },
                      "metadata": {
                        "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "Site List Attachement",
                          "item/notetext": "*WEB*",
                          "item/isdocument": true,
                          "item/documentbody": "@base64(outputs('Get_full_file_content_English_3')?['body'])",
                          "item/filename": "@variables('New_File_Path')",
                          "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Run_script_-_protect_English_sheets__3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5e8b44b8-b766-4608-a859-e26efaa71fc9",
                        "tableId": null
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_excelonlinebusiness",
                          "operationId": "RunScriptProd",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                        },
                        "parameters": {
                          "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                          "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                          "file": "@outputs('Create_file_English')?['body/Path']",
                          "scriptId": "ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01RHQEHWIQHAAGDMHO3BAISUUQJO4ZQFV7",
                          "ScriptParameters/password": "TC@123!"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Get_full_file_content_English_3": {
                      "runAfter": {
                        "Run_script_-_protect_English_sheets__3": [
                          "Succeeded"
                        ]
                      },
                      "limit": {
                        "timeout": "PT15M"
                      },
                      "metadata": {
                        "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContentByPath",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                          "path": "@outputs('Create_file_English')?['body/Path']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Add_English_Instruction_attachment_to_activity_English_PDF_2": {
                      "runAfter": {
                        "GetContentInstructionPdf_2": [
                          "Succeeded"
                        ]
                      },
                      "limit": {
                        "timeout": "PT15M"
                      },
                      "metadata": {
                        "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "Instructions Attachement",
                          "item/notetext": "*WEB*",
                          "item/isdocument": true,
                          "item/documentbody": "@base64(outputs('GetContentInstructionPdf_2')?['body'])",
                          "item/filename": "TC CID - Site Bulk Upload Instructions.PDF",
                          "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "GetContentInstructionPdf_2": {
                      "runAfter": {
                        "Run_script_-_protect_English_sheets__3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fTransport%2bCanada%2bCID%2bInstructions%2bUpdated.pdf": "/Shared Documents/CID_Bulk_Upload/Transport Canada CID Instructions Updated.pdf",
                        "operationMetadataId": "2daa2947-a7f6-4514-be5a-d3d68d56e724",
                        "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_BULK_SITE_UPLOAD%2bv10%2b-%2bEN.pdf": "/Shared Documents/CID_Bulk_Upload/CID_BULK_SITE_UPLOAD v10 - EN.pdf"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContent",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                          "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_BULK_SITE_UPLOAD%2bv10%2b-%2bEN.pdf",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Response_3": {
                      "runAfter": {
                        "Add_English_Instruction_attachment_to_activity_English_PDF_2": [
                          "Succeeded"
                        ],
                        "Add_attachment_to_activity_English_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "body": "@{outputs('Add_attachment_to_activity_English_3')?['body/annotationid']}|@{outputs('Add_English_Instruction_attachment_to_activity_English_PDF_2')?['body/annotationid']}"
                      },
                      "operationOptions": "Asynchronous"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerBody()?['Language']",
                    "French"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b1855c41-6717-4bb2-8117-25454635b1d1"
                },
                "type": "If"
              },
              "Send_an_HTTP_request_to_SharePoint_4": {
                "runAfter": {
                  "check_language_before_sending_attachment_to_portal_3": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "613190e4-0e54-402c-92ea-4d8c3d1e4a7a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "HttpRequest",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "parameters/method": "DELETE",
                    "parameters/uri": "_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}/@{variables('New_File_Path')}')/recycle",
                    "parameters/headers": {
                      "Prefer": "bypass-shared-lock"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Delete_Folder_4": {
                "runAfter": {
                  "Send_an_HTTP_request_to_SharePoint_4": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f00e886f-145d-4890-91e5-d4fb5eacf205"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "DeleteItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "table": "Documents",
                    "id": "@outputs('Create_new_folder')?['body/ID']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@trim(outputs('SiteList'))",
                "@'[]'"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a783de8a-947a-48dc-9f77-3c226a747f09"
          },
          "type": "If"
        },
        "Get_Company": {
          "runAfter": {
            "Initialize_Environment_Folder_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15a64acd-8d3c-4a8a-b17b-eaeb5a6d416d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerBody()?['accountid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "downloadTemplate": {
          "runAfter": {
            "Initialize_variable_ExcelHeader": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03519b11-e6d3-4098-a7bd-9dccfa8b02e3"
          },
          "type": "Compose",
          "inputs": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx"
        },
        "Initil_Initial_Registeration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "369b1661-118d-40cb-8a75-db6ad73c47c9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Initial_Registeration",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Initialize_Download_Type": {
          "runAfter": {
            "Initil_Initial_Registeration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca089154-b4e6-47f8-9525-c9dcb430223a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DownloadType",
                "type": "integer",
                "value": 100000000
              }
            ]
          }
        },
        "Update_Basic_Sheet_header": {
          "runAfter": {
            "Check_Template_language": [
              "Succeeded"
            ],
            "GraphAPIStatus": [
              "Succeeded"
            ],
            "version-number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "PATCH",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/names/BasicSheetHeader/range",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "\n\n{\n\"values\": [[ \"@{variables('Excel_Header')}\"]]\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_Template_language": {
          "actions": {
            "French_-_Get_Company_and_create_File": {
              "actions": {
                "Get_file_Template_content_French": {
                  "runAfter": {},
                  "metadata": {
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022.xlsx",
                    "operationMetadataId": "9a0ad980-09b3-4e4f-a8e6-16d5bd0f501a",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022-V1.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022-V1.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_April%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_May 2022 v12.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv13.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_May 2022 v13.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv14.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v14.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv15.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v15.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v18.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_June_2022 v18.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_2022%2bv19.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_2022 v19.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_V20.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_V20.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_V21.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_V21.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_V22.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_V22.xlsx"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_V22.xlsx",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable_Template_content_to_Frenchy": {
                  "runAfter": {
                    "Get_file_Template_content_French": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d789c696-0b95-42a5-916d-0168e5d7351b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Template_Content",
                    "value": "@{body('Get_file_Template_content_French')}"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6206f036-7751-428e-b3fe-7cb7aff5e3a2"
              },
              "type": "Scope"
            },
            "Create_file_French": {
              "runAfter": {
                "French_-_Get_Company_and_create_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0bff338e-a414-431f-860d-81308063f902"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                  "name": "@{variables('FileNamePrefix')}-@{formatDateTime(utcNow(), 'yyyy-MM-dd')}.xlsx",
                  "body": "@body('Get_file_Template_content_French')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_New_file_path_path_English": {
              "runAfter": {
                "Create_file_French": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e498bbfb-70a8-40ab-8c98-69369db1897a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "New_File_Path",
                "value": "@outputs('Create_file_French')?['body/Name']"
              }
            }
          },
          "runAfter": {
            "Initialize_Template_Content": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "English_-_Get_Company_and_create_File": {
                "actions": {
                  "Get_file_Template_content": {
                    "runAfter": {},
                    "metadata": {
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022.xlsx",
                      "operationMetadataId": "9a0ad980-09b3-4e4f-a8e6-16d5bd0f501a",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022-V1.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022-V1.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_April%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_May 2022 v12.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv13.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_May 2022 v13.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv14.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v14.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv15.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v15.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v18.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_2022%2bv19.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_2022 v19.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_v20.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_v20.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_v21.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_v21.xlsx"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetFileContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_v21.xlsx",
                        "inferContentType": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable": {
                    "runAfter": {
                      "Get_file_Template_content": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1d3d5f2f-3dca-4036-b1df-67ea189158a9"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Template_Content",
                      "value": "@{body('Get_file_Template_content')}"
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "6206f036-7751-428e-b3fe-7cb7aff5e3a2"
                },
                "type": "Scope"
              },
              "Create_file_English": {
                "runAfter": {
                  "English_-_Get_Company_and_create_File": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "0bff338e-a414-431f-860d-81308063f902"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "CreateFile",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                    "name": "@{variables('FileNamePrefix')} @{formatDateTime(utcNow(), 'yyyy/MM/dd')}.xlsx",
                    "body": "@body('Get_file_Template_content')"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                }
              },
              "Set_New_file_path_path_English_2": {
                "runAfter": {
                  "Create_file_English": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e498bbfb-70a8-40ab-8c98-69369db1897a"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "New_File_Path",
                  "value": "@outputs('Create_file_English')?['body/Name']"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Language']",
              "@'French'"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b58818e-2336-4df9-9f37-acb45446d609"
          },
          "type": "If"
        },
        "Initialize_file_location_url_": {
          "runAfter": {
            "Initialize_Download_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29462dd5-cd88-4ddc-b4a0-a9d34c6c6e57"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "New_File_Path",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_to_store_New_File_Folder": {
          "runAfter": {
            "Initialize_file_location_url_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "abaf99d9-339f-4021-a181-57f55d973d38"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Folder_path",
                "type": "string"
              }
            ]
          }
        },
        "Create_new_folder": {
          "runAfter": {
            "activityid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af61cc8b-d048-4499-b80d-8fc8b35330dc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
              "table": "ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395",
              "parameters/path": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_variable_Folder_Path_2": {
          "runAfter": {
            "Create_new_folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a18616e7-6c01-4e93-9a8f-ac6927cca315"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Folder_path",
            "value": "@{outputs('Create_new_folder')?['body/{Name}']}"
          }
        },
        "Initialize_Template_Content": {
          "runAfter": {
            "Set_variable_Folder_Path_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6317130e-1810-49c4-aa9a-49a170e9ad46"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Template_Content",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_CompanyName_default_to_OperatingName": {
          "runAfter": {
            "Get_Company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d0b88e0-c9c0-4ef9-836b-7f7fceb5347d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CompanyName",
                "type": "string",
                "value": "@outputs('Get_Company')?['body/name']"
              }
            ]
          }
        },
        "Check_upload_type": {
          "actions": {
            "Set_Initial_Registration_to_Yes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b0541a73-cad7-4b17-8cca-c7ec9d9e43a9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Initial_Registeration",
                "value": "@true"
              }
            },
            "Set_variable_download_type_Initial_registeration": {
              "runAfter": {
                "Set_Initial_Registration_to_Yes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2542982-9619-4fff-b7ff-39f8b036c2e2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DownloadType",
                "value": 100000000
              }
            },
            "check_if_language_is_french__to_change_header_to_french": {
              "actions": {
                "Set_variable_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b7b026a1-c068-41ec-869c-ded97770499b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "ExcelHeaderPrefix",
                    "value": "Enregistrement BDIC de Transports Canada pour \n"
                  }
                },
                "Set_variable_filenamePrefix_2": {
                  "runAfter": {
                    "Set_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "84d463cb-25e6-4fc1-bb81-87cb486e93f4"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FileNamePrefix",
                    "value": "Enregistrement BDIC de TC - Ajout d’un bloc de sites - @{variables('CompanyName')}, en date du"
                  }
                }
              },
              "runAfter": {
                "Set_variable_download_type_Initial_registeration": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@triggerBody()?['Language']",
                  "French"
                ]
              },
              "metadata": {
                "operationMetadataId": "6ddd7dac-d14e-4ba2-b153-271ac62add29"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_FileNamePrefix": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Initial_registration_to_No": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c74c7895-433b-442f-a76f-371ce2b5fc17"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Initial_Registeration",
                  "value": "@false"
                }
              },
              "Set_variable_download_type_In_year_update": {
                "runAfter": {
                  "Set_Initial_registration_to_No": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "872f6840-6a1a-4869-b0dd-2cbd4196a5b8"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "DownloadType",
                  "value": 100000002
                }
              },
              "Set_variable_filenamePrefix": {
                "runAfter": {
                  "Set_variable_download_type_In_year_update": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "84d463cb-25e6-4fc1-bb81-87cb486e93f4"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "FileNamePrefix",
                  "value": "TC CID Annual Compliance - Site Bulk Upload - @{variables('CompanyName')}, as of"
                }
              },
              "check_if_language_is_french__to_change_header_to_french_2": {
                "actions": {
                  "Set_Excel_Header_Prefix_to_french_annual_compliance": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "25ba0269-34d0-4f92-84e5-15f846aa5aba"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "ExcelHeaderPrefix",
                      "value": "Conformité annuelle BDIC de Transports Canada pour"
                    }
                  },
                  "Set_variable_filenamePrefix_3": {
                    "runAfter": {
                      "Set_Excel_Header_Prefix_to_french_annual_compliance": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "84d463cb-25e6-4fc1-bb81-87cb486e93f4"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "FileNamePrefix",
                      "value": "BDIC TC Mise à jour annuelle de la conformité - Ajout d’un bloc de sites - @{variables('CompanyName')}, en date du"
                    }
                  }
                },
                "runAfter": {
                  "Set_variable_filenamePrefix": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Set_variable_Header_prefix_to_annual_compliance": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "5f8898e1-bd24-49c5-8cd0-e01f4b51407e"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ExcelHeaderPrefix",
                        "value": "Transport Canada CID Annual Compliance for "
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerBody()?['Language']",
                    "French"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6ddd7dac-d14e-4ba2-b153-271ac62add29"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['UploadType']",
              "@'Initial'"
            ]
          },
          "metadata": {
            "operationMetadataId": "d591a3a8-ee44-4bca-a750-0fd81555f5a6"
          },
          "type": "If"
        },
        "check_if_language_is_french": {
          "actions": {
            "Set_variable_language_to_French_index": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4376b0a-29bf-4f2b-bfb6-3fa0cf10aba5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Language",
                "value": 918640002
              }
            },
            "check_if_French_name_is_not_empty": {
              "actions": {
                "Set_Company_Name_to_operating_name_in_French": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "75f98f36-ddb8-4255-a3a6-80fb015c65f9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CompanyName",
                    "value": "@outputs('Get_Company')?['body/ovs_namefr']"
                  }
                }
              },
              "runAfter": {
                "Set_variable_language_to_French_index": [
                  "Succeeded"
                ]
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Company')?['body/ovs_namefr']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "474a93f4-0abf-4134-a1db-30ff1530139f"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_ExcelHeaderPrefix": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Language']",
              "French"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ddd7dac-d14e-4ba2-b153-271ac62add29"
          },
          "type": "If"
        },
        "Initialize_variable_Language": {
          "runAfter": {
            "Initialize_variable_CompanyName_default_to_OperatingName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e53a280e-1b10-4466-a33c-80efcafa5508"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "integer",
                "value": 918640001
              }
            ]
          }
        },
        "Initialize_variable_InvalidFileNameChar": {
          "runAfter": {
            "Initialize_variable_Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6f4cfc8-985f-45c9-bf60-4a942408053e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InvalidFileNameChar",
                "type": "array",
                "value": [
                  "#",
                  "%",
                  "&",
                  "{",
                  "}",
                  "<",
                  ">",
                  "*",
                  "?",
                  "$",
                  "!",
                  ":",
                  "@",
                  "+",
                  "|",
                  "=",
                  "'"
                ]
              }
            ]
          }
        },
        "Initialize_variable_ExcelHeaderPrefix": {
          "runAfter": {
            "Initialize_variable_InvalidFileNameChar": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5aff9f15-9890-4c80-9c3a-5e0fa7db883f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ExcelHeaderPrefix",
                "type": "string",
                "value": "Transport Canada CID Registration for "
              }
            ]
          }
        },
        "Initialize_variable_ExcelHeader": {
          "runAfter": {
            "Check_upload_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48f01b73-8e72-4dd7-a397-18082203cc72"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Excel_Header",
                "type": "string",
                "value": "@{concat(variables('ExcelHeaderPrefix') , variables('CompanyName'))}"
              }
            ]
          }
        },
        "Update_Instruction_sheet_Sheet_header_": {
          "runAfter": {
            "Invoke_an_HTTP_request_-_Add_settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "PATCH",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/names/InstructionHeader/range",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "\n\n{\n\"values\": [[ \"@{variables('Excel_Header')}\"]]\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_FileNamePrefix": {
          "runAfter": {
            "Assign_New_company_Name_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc2aa679-3a35-4130-b518-2f35de495923"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FileNamePrefix",
                "type": "string",
                "value": "TC CID Registration - Site Bulk Upload - @{variables('CompanyName')}, as of"
              }
            ]
          }
        },
        "Perform_an_unbound_action_Remove_special_char": {
          "runAfter": {
            "check_if_language_is_french": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39081ff5-b824-4916-8072-cba379b54371"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "actionName": "cid_CID_Remove_SpecialChar",
              "item/FileName": "@variables('CompanyName')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Assign_New_company_Name_2": {
          "runAfter": {
            "Perform_an_unbound_action_Remove_special_char": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39357808-2a40-4b87-aa61-3578428dea83"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "CompanyName",
            "value": "@outputs('Perform_an_unbound_action_Remove_special_char')?['body/updatedFilename']"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}