Solutions/CID_Flows/unpack/Workflows/DownloadSites-38A47762-7772-EC11-8942-000D3A840E6B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceSharepointTDGCoreUser"},"api":{"name":"shared_sharepointonline"}},"shared_webcontents":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cid_sharedwebcontents_efbe7"},"api":{"name":"shared_webcontents"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"460cbb9b-3560-476c-ab76-d3d3fb700d31"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"accountid":{"type":"string"}}}}}},"actions":{"for_each_site":{"foreach":"@outputs('List_All_sites')?['body/value']","actions":{"List_site_UN_numbers":{"runAfter":{"Check_if_requirement_level_=_extended":["Succeeded"]},"metadata":{"operationMetadataId":"c212e61f-23dd-4e7a-b180-e07d60e718be"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_operationunnumbers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ovs_operationunnumber\">\n    <attribute name=\"ovs_operationunnumberid\" />\n    <attribute name=\"createdon\" />\n    <attribute name=\"ovs_unnumber\" />\n <attribute name=\"cid_unitofmeasurement\" />\n<attribute name=\"cid_annualnumberofshipment\" />\n<attribute name=\"cid_annualquantityvolume\" />\n<order attribute=\"ovs_unnumber\" descending=\"false\" />\n    <link-entity name=\"ovs_mocregistration\" from=\"ovs_mocregistrationid\" to=\"ovs_operationunnumber\" link-type=\"inner\" alias=\"aj\">\n      <filter type=\"and\">\n        <condition attribute=\"ovs_siteid\" operator=\"eq\" value=\"@{items('for_each_site')?['accountid']}\" />\n      </filter>\n    </link-entity>\n <link-entity name=\"tdg_unnumber\" from=\"tdg_unnumberid\" to=\"ovs_unnumber\"  link-type=\"outer\" >\n      <attribute name=\"tdg_shippingnamedescriptionftxt\" />\n      <attribute name=\"tdg_shippingnamedescriptionetxt\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"For_each_un_number_in__the_site":{"foreach":"@outputs('List_site_UN_numbers')?['body/value']","actions":{"Current_Item":{"runAfter":{},"metadata":{"operationMetadataId":"a31c8a95-b4fa-4ff0-983e-0076fceebc47"},"type":"Compose","inputs":"@items('For_each_un_number_in__the_site')"},"Get_Unit_of_measurement_label":{"runAfter":{"Current_Item":["Succeeded"]},"metadata":{"operationMetadataId":"4640d24e-03d8-4178-9017-c04f78769f7b"},"type":"Compose","inputs":"@body('List_site_UN_numbers')?['value'][0]?['cid_unitofmeasurement@OData.Community.Display.V1.FormattedValue']"},"UN_Number_with_Display_Name":{"runAfter":{"Get_Unit_of_measurement_label":["Succeeded"]},"metadata":{"operationMetadataId":"a451be1b-6d55-495f-b845-1b8ad93e7ba0"},"type":"Compose","inputs":" @{items('For_each_un_number_in__the_site')?['_ovs_unnumber_value@OData.Community.Display.V1.FormattedValue']}  - @{items('For_each_un_number_in__the_site')?['tdg_unnumber2.tdg_shippingnamedescriptionetxt']}"},"Append_to_un_number_array":{"runAfter":{"Create_UN_JSON_Object":["Succeeded"]},"metadata":{"operationMetadataId":"bfabb926-0567-4294-a88e-a04bd8e8387d"},"type":"AppendToArrayVariable","inputs":{"name":"UNNumber Array","value":{"Site":"@{items('for_each_site')?['cid_siteid']}","UN Number":"@{outputs('UN_Number_with_Display_Name')}","Annual Volume/quantity":"@{items('For_each_un_number_in__the_site')?['cid_annualquantityvolume']}","Unit of Measure per UN":"@{outputs('Get_Unit_of_measurement_label')}","Annual Number Shipments":"@{items('For_each_un_number_in__the_site')?['cid_annualnumberofshipment']}","Emergency Response Assistant Plan (ERAP ID)":"","Status":"Active"}}},"Create_UN_JSON_Object":{"runAfter":{"UN_Number_with_Display_Name":["Succeeded"]},"metadata":{"operationMetadataId":"b9f6bb89-6460-46d6-b3b1-69ce37ec7239"},"type":"Compose","inputs":{"Site":"@{items('for_each_site')?['cid_siteid']}","UN Number":"@{outputs('UN_Number_with_Display_Name')}","Annual Volume/quantity":"@{items('For_each_un_number_in__the_site')?['cid_annualquantityvolume']}","Unit of Measure per UN":"@{outputs('Get_Unit_of_measurement_label')}","Annual Number Shipments":"@{items('For_each_un_number_in__the_site')?['cid_annualnumberofshipment']}","Emergency Response Assistant Plan (ERAP ID)":"","Status":"Active"}}},"runAfter":{"List_site_UN_numbers":["Succeeded"]},"metadata":{"operationMetadataId":"2c0ba4c6-05d3-4c50-add8-0b2b775a8155"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":39}}},"Loop_in_class_list_for_current_site_in_the_loop":{"foreach":"@outputs('List_classes')?['body/value']","actions":{"Get_current_Class":{"runAfter":{},"metadata":{"operationMetadataId":"701bbb3a-d5f7-409b-943a-08c34566393c"},"type":"Compose","inputs":"@body('List_classes')?['value'][0]?['ovs_primeclass@OData.Community.Display.V1.FormattedValue']"},"check_if_class_exist":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a7d17a61-db86-4b15-9968-809a99cc8455"},"type":"AppendToStringVariable","inputs":{"name":"ClassStringList","value":",@{outputs('Get_current_Class')}"}}},"runAfter":{"Get_current_Class":["Succeeded"]},"else":{"actions":{"Append_to_string_variable_without_comma":{"runAfter":{},"metadata":{"operationMetadataId":"0d05d3d6-0821-4629-b64e-4a4cb96ed762"},"type":"AppendToStringVariable","inputs":{"name":"ClassStringList","value":"@outputs('Get_current_Class')"}}}},"expression":{"greater":["@length(trim(variables('ClassStringList')))",0]},"metadata":{"operationMetadataId":"76af0576-aca6-433e-a636-03343b744cc8"},"type":"If"}},"runAfter":{"List_classes":["Succeeded"]},"metadata":{"operationMetadataId":"6b8c24a0-3670-4e40-a501-73b785b954fd"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":46}}},"List_classes":{"runAfter":{"Check_if_requirement_level_=_extended":["Succeeded"]},"metadata":{"operationMetadataId":"87954d4e-1543-4408-85d6-ca6df745580d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_operationclasses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ovs_operationclass\">\n    <attribute name=\"ovs_operationclassid\" />\n    <attribute name=\"ovs_name\" />\n    <attribute name=\"ovs_primeclass\" />\n    <attribute name=\"ovs_operationclass\" />\n    <order attribute=\"ovs_name\" descending=\"false\" />\n    <link-entity name=\"ovs_mocregistration\" from=\"ovs_mocregistrationid\" to=\"ovs_operationclass\" link-type=\"inner\" alias=\"ae\">\n      <filter type=\"and\">\n        <condition attribute=\"ovs_siteid\" operator=\"eq\"  value=\"@{items('for_each_site')?['accountid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"reset_class":{"runAfter":{"append_site_update_array":["Succeeded"]},"metadata":{"operationMetadataId":"b9fa5994-2943-4801-8dce-f0b94bd0178c"},"type":"SetVariable","inputs":{"name":"ClassStringList","value":" "}},"append_site_update_array":{"runAfter":{"Create_Json_Object_for_site_update":["Succeeded"]},"metadata":{"operationMetadataId":"231ce742-d6bb-477f-9c17-96176d09f2ee"},"type":"AppendToArrayVariable","inputs":{"name":"Updated_Site_Info","value":"@outputs('Create_Json_Object_for_site_update')"}},"Create_Json_Object_for_site_update":{"runAfter":{"For_each_un_number_in__the_site":["Succeeded"],"Loop_in_class_list_for_current_site_in_the_loop":["Succeeded"],"Loop_in_Filtered_Mode_of_Transportation":["Succeeded"]},"metadata":{"operationMetadataId":"93858da6-d9f8-473e-8013-8e0b0e4732fe"},"type":"Compose","inputs":{"Site id":"@items('for_each_site')?['cid_siteid']","Site Full Address":"@items('for_each_site')?['address1_line1']","Air":"@variables('Air')","Marine":"@variables('Marine')","Rail":"@variables('Rail')","Road":"@variables('Road')","Class":"@Trim(variables('ClassStringList'))"}},"Filter_mode_of_Transportation_with_site_id":{"runAfter":{"Default_Marine_Variable_to_No_":["Succeeded"]},"metadata":{"operationMetadataId":"b639c437-bc2c-45d1-9dc4-8de6502a8117"},"type":"Query","inputs":{"from":"@outputs('Mode_of_Transportation')?['body/value']","where":"@equals(item()?['_cid_site_value'], items('for_each_site')?['accountid'])"}},"Loop_in_Filtered_Mode_of_Transportation":{"foreach":"@body('Filter_mode_of_Transportation_with_site_id')","actions":{"Switch_Mod_of_Transporation":{"runAfter":{},"cases":{"Case":{"case":"Air","actions":{"Set_Variable_Air_to_Yes":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Air","value":"Yes"}}}},"Case_2":{"case":"Rail","actions":{"Set_variable_Rail_to_yes":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Rail","value":"Yes"}}}},"Case_3":{"case":"Road","actions":{"Set_variable_Road_to_Yes":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Road","value":"Yes"}}}},"Case_4":{"case":"Marine","actions":{"Set_Marine_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Marine","value":"Yes"}}}}},"default":{"actions":{}},"expression":"@items('Loop_in_Filtered_Mode_of_Transportation')?['cid_name']","metadata":{"operationMetadataId":"28479f22-3f2e-41a9-ba76-c684efa38839"},"type":"Switch"}},"runAfter":{"Filter_mode_of_Transportation_with_site_id":["Succeeded"]},"metadata":{"operationMetadataId":"a104d26d-652b-4de7-b73d-745304ea6198"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":45}}},"Check_if_requirement_level_=_extended":{"actions":{"Set_Extended_to_Yes":{"runAfter":{},"metadata":{"operationMetadataId":"b2c026ac-2b64-4f66-be4e-6b2f0703feb3"},"type":"SetVariable","inputs":{"name":"Extended","value":"Yes"}}},"runAfter":{},"else":{"actions":{"Set_Extended_variable_to_No":{"runAfter":{},"metadata":{"operationMetadataId":"3f2c2574-9b4e-4e9e-812c-4997b9258716"},"type":"SetVariable","inputs":{"name":"Extended","value":"No"}}}},"expression":{"equals":["@items('for_each_site')?['cid_requirementlevel']",100000001]},"metadata":{"operationMetadataId":"300b9569-1701-4ff6-8189-77a13109ac8b"},"type":"If"},"Default_Marine_Variable_to_No_":{"runAfter":{"Default_Road_Variable_to_No":["Succeeded"]},"metadata":{"operationMetadataId":"c5348321-a246-4b89-b86f-defecf2f0639"},"type":"SetVariable","inputs":{"name":"Marine","value":"No"}},"Default_Road_Variable_to_No":{"runAfter":{"Default_Rail_Variable_to_No_":["Succeeded"]},"metadata":{"operationMetadataId":"2e68fcb6-0bbc-4548-b996-18e849efe82a"},"type":"SetVariable","inputs":{"name":"Road","value":"No"}},"Default_Rail_Variable_to_No_":{"runAfter":{"Default_Air_Variable_to_No":["Succeeded"]},"metadata":{"operationMetadataId":"345e7c88-fbc6-41ef-9837-17e7f357206d"},"type":"SetVariable","inputs":{"name":"Rail","value":"No"}},"Default_Air_Variable_to_No":{"runAfter":{"Check_if_requirement_level_=_extended":["Succeeded"]},"metadata":{"operationMetadataId":"f2320a2b-cd6e-42d1-bcab-250fbf6459d7"},"type":"SetVariable","inputs":{"name":"Air","value":"No"}}},"runAfter":{"Rail":["Succeeded"]},"metadata":{"operationMetadataId":"48ae2454-7e04-4e6e-b582-4a8cf6a97d04"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":25}}},"List_All_sites":{"runAfter":{},"metadata":{"operationMetadataId":"3794cc98-ec23-4ed0-98fb-46768f868747"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$filter":"customertypecode eq 948010001 and _parentaccountid_value eq '@{triggerBody()?['accountid']}'"},"authentication":"@parameters('$authentication')"}},"Mode_of_Transportation":{"runAfter":{},"metadata":{"operationMetadataId":"7cb80808-e29d-4519-911e-889c29cf4ef3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_modeoftransportations","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cid_modeoftransportation\">\n    <attribute name=\"cid_modeoftransportationid\" />\n    <attribute name=\"cid_name\" />\n    <attribute name=\"cid_site\" />\n    <order attribute=\"cid_name\" descending=\"false\" />\n    <filter type=\"and\">\n<condition attribute=\"cid_company\" operator=\"eq\"  value=\"@{triggerBody()?['accountid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Initialize_UNnumber_array_variable":{"runAfter":{"Mode_of_Transportation":["Succeeded"]},"metadata":{"operationMetadataId":"889b476b-9711-477b-b731-5c1f5b582dbd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"UNNumber Array","type":"array"}]}},"variable_updated_site_info":{"runAfter":{"Extended":["Succeeded"]},"metadata":{"operationMetadataId":"9e7fd9cc-56ac-46fb-b1c7-a3070b36d728"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Updated_Site_Info","type":"array"}]}},"Initialize_Class_List_string_variable":{"runAfter":{"variable_updated_site_info":["Succeeded"]},"metadata":{"operationMetadataId":"e00f0a49-22f1-401f-a9f6-39a5cc1b0a25"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ClassStringList","type":"string"}]}},"Road":{"runAfter":{"Initialize_UNnumber_array_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9ae75d9e-05f6-453e-b27d-f5b4ba5aa84a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Road","type":"string"}]}},"Extended":{"runAfter":{"Road":["Succeeded"]},"metadata":{"operationMetadataId":"056b9188-a3d6-4f16-a1ea-3990481f72de"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Extended","type":"string"}]}},"Create_file":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"operationMetadataId":"0bff338e-a414-431f-860d-81308063f902"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder')?['body/{FullPath}']","name":"@{outputs('Add_new_activity')?['body/_cid_company_value@OData.Community.Display.V1.FormattedValue']}.xlsx","body":"@body('Get_file_Template_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_new_folder":{"runAfter":{"Get_file_Template_content":["Succeeded"]},"metadata":{"operationMetadataId":"af61cc8b-d048-4499-b80d-8fc8b35330dc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateNewFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","table":"ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395","parameters/path":"/CID_Bulk_Upload/@{outputs('Add_new_activity')?['body/activityid']}"},"authentication":"@parameters('$authentication')"}},"Get_file_Template_content":{"runAfter":{"activityid":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx":"/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022.xlsx","operationMetadataId":"9a0ad980-09b3-4e4f-a8e6-16d5bd0f501a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","id":"%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Rail":{"runAfter":{"Marine":["Succeeded"]},"metadata":{"operationMetadataId":"87e61c86-8bc3-402a-9c76-f563a4b315ee"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Rail","type":"string"}]}},"Marine":{"runAfter":{"Air":["Succeeded"]},"metadata":{"operationMetadataId":"3e6ce74b-ccff-4688-a026-fd99a0a5077d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Marine","type":"string"}]}},"Air":{"runAfter":{"List_All_sites":["Succeeded"],"Initialize_Class_List_string_variable":["Succeeded"]},"metadata":{"operationMetadataId":"154dcb33-6dc5-4832-aec4-838344eb19ce"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Air","type":"string"}]}},"activityid":{"runAfter":{"Add_new_activity":["Succeeded"]},"metadata":{"operationMetadataId":"b455cebc-6ab7-4ac8-bf1b-52c645583dd7"},"type":"Compose","inputs":"@outputs('Add_new_activity')?['body/activityid']"},"Add_new_activity":{"runAfter":{"Rail":["Succeeded"]},"metadata":{"operationMetadataId":"ad554743-758a-4661-a8b2-839e2d556adc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_activityreviewlogs","item/subject":"Request Data download from Portal","item/cid_Company_cid_activityreviewlog@odata.bind":"@concat('/accounts/',triggerBody()?['accountid'])"},"authentication":"@parameters('$authentication')"}},"Select":{"runAfter":{"for_each_site":["Succeeded"],"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"e047ea7d-4f5a-44a8-bbb9-5af8430ad206"},"type":"Select","inputs":{"from":"@variables('Updated_Site_Info')","select":["@item()['Site ID']","@item()['Site Full Address']","@item()['Air']","@item()['Marine'] ","@item()['Rail']","@item()['Road']","@item()['Class']"]}},"Invoke_an_HTTP_request_-_Add_Sites":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"POST","request/url":"https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{outputs('Create_new_folder')?['body/{Name}']}/@{outputs('Create_file')?['body/Name']}:/workbook/tables/UpdateSiteTable/rows","request/headers":{"accept":"application/json"},"request/body":"{\n\n  \"values\": @{body('Select')} ,\n \"index\": null\n}"},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"613190e4-0e54-402c-92ea-4d8c3d1e4a7a"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","parameters/method":"DELETE","parameters/uri":"_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{outputs('activityid')}/@{outputs('Create_file')?['body/Name']}')/recycle","parameters/headers":{"Prefer":"bypass-shared-lock"}},"authentication":"@parameters('$authentication')"}},"Invoke_an_HTTP_request_Add_row_to_UNnumber_table":{"runAfter":{"UnNumber_Array_Select":["Succeeded"]},"metadata":{"operationMetadataId":"742ebbfa-eaf6-4523-9ba4-1d9c2e8ebaf8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_webcontents","operationId":"InvokeHttp","apiId":"/providers/Microsoft.PowerApps/apis/shared_webcontents"},"parameters":{"request/method":"POST","request/url":"https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{outputs('Create_new_folder')?['body/{Name}']}/@{outputs('Create_file')?['body/Name']}:/workbook/tables/UpdateUNNumberTable/rows","request/headers":{"accept":"application/json"},"request/body":"{\n\n  \"values\": @{body('UnNumber_Array_Select')} ,\n \"index\": null\n}"},"authentication":"@parameters('$authentication')"},"operationOptions":"DisableAutomaticDecompression"},"UnNumber_Array_Select":{"runAfter":{"Invoke_an_HTTP_request_-_Add_Sites":["Succeeded"]},"metadata":{"operationMetadataId":"c434eef1-9b7a-43f9-af1c-b9ae109b47f0"},"type":"Select","inputs":{"from":"@variables('UNNumber Array')","select":["@ item()['Site']","@item()['UN Number']","@ item()['Annual Volume/quantity']","@  item()['Unit of Measure per UN']","@item()['Annual Number Shipments'] ","@  item()['Emergency Response Assistant Plan (ERAP ID)']","@  item()['Status']"]}},"Do_until":{"actions":{},"runAfter":{"Invoke_an_HTTP_request_Add_row_to_UNnumber_table":["Succeeded"]},"expression":"@equals(outputs('Invoke_an_HTTP_request_Add_row_to_UNnumber_table')?['statusCode'], 201)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"c42ab7c0-6319-4fb8-8fa8-4f0c415fb8c5"},"type":"Until"},"Condition":{"actions":{"Get_full_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"7d8416e5-6901-4748-96e7-b570229707ac"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","path":"@outputs('Create_file')?['body/Path']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Add_attachment_to_activity":{"runAfter":{"Get_full_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"91d0606f-6ed7-4292-a3a7-b064235dbded"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Site List Attachement","item/notetext":"*WEB*","item/isdocument":true,"item/documentbody":"@base64(outputs('Get_full_file_content')?['body'])","item/filename":"@outputs('Create_file')?['body/Name']","item/objectid_cid_activityreviewlog@odata.bind":"@concat('/cid_activityreviewlogs/',outputs('activityid'))"},"authentication":"@parameters('$authentication')"}},"Response":{"runAfter":{"Add_attachment_to_activity":["Succeeded"]},"metadata":{"operationMetadataId":"5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@outputs('Add_attachment_to_activity')?['body/annotationid']"}}},"runAfter":{"Do_until":["Succeeded"]},"expression":{"equals":["@outputs('Invoke_an_HTTP_request_Add_row_to_UNnumber_table')?['statusCode']",201]},"metadata":{"operationMetadataId":"e83c5d2a-a517-4263-9a85-81b57c47bc10"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}