Solutions/CID_Flows/unpack/Workflows/DownloadSitesInfo-FF6AD38F-F8BB-EC11-983F-0022483D62F4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceSharepointTDGCoreUser"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "b0128346-81cf-4f2f-9c92-2be88dc35a5b"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "accountid": {
                  "type": "string"
                },
                "Language": {
                  "type": "string"
                },
                "UiLanguage": {
                  "type": "string"
                },
                "UploadType": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Perform_a_bound_action": {
          "runAfter": {
            "Apply_to_each_English_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac6e64b9-dbb1-483c-8d71-6a7321136783"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "actionName": "Microsoft.Dynamics.CRM.cid_Get_Sites",
              "recordId": "@triggerBody()?['accountid']",
              "item/RootOrgID": "@string(outputs('Get_Company')?['body/root_organization_id'])",
              "item/Language": "@triggerBody()?['Language']",
              "item/IntialRegYN": "@variables('Initial_Registeration')",
              "item/ID": "@triggerBody()?['accountid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SiteList": {
          "runAfter": {
            "Perform_a_bound_action": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de1dcca0-d343-4d55-8217-0aa159058b76"
          },
          "type": "Compose",
          "inputs": "@outputs('Perform_a_bound_action')?['body/SitesList']"
        },
        "UN_Number_List": {
          "runAfter": {
            "SiteList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00a3c9d2-2193-4331-842b-18b4db65f3e0"
          },
          "type": "Compose",
          "inputs": "@outputs('Perform_a_bound_action')?['body/UNNumberList']"
        },
        "Site-Sheet-columns": {
          "runAfter": {
            "UN_Number_List": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "503db1c5-72ad-4244-ab40-2b84d83e687b"
          },
          "type": "Compose",
          "inputs": {
            "Site Name": "0",
            "Address 1": "1",
            "City": "2",
            "Province": "3",
            "Postal Code ": "4",
            "Address 2": "5",
            "Address 3": "6",
            "Province  ": "7",
            "Quarter ": "8",
            "Section": "9",
            "Township": "10",
            "Range": "11",
            "Meridian": "12",
            "Latitude": "13",
            "Longitude": "14",
            " Air": "15",
            "Marine": "16",
            "Rail": "17",
            "Road": "18",
            "Handle": "19",
            "Offer for Transport": "20",
            "Transport": "21",
            "Import": "22",
            "Class/Division ": "23",
            "Extended Information Site ": "24",
            "Row number": "25",
            "SiteFullAddress": "26",
            "site-GUID": "27"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Site-Sheet-columns": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e53a280e-1b10-4466-a33c-80efcafa5508"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "integer",
                "value": 918640001
              }
            ]
          }
        },
        "Initialize_AddSiteGraphAPI_Variable": {
          "runAfter": {
            "check_if_language_is_french": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "09386607-39eb-4ffe-a81b-e221effc9591"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AddSiteGraphAPI_Status",
                "type": "integer"
              }
            ]
          }
        },
        "GraphAPIStatus": {
          "runAfter": {
            "Initialize_AddSiteGraphAPI_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3a57892f-9960-4f4c-9b87-a827ac452ce2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GraphAPIStatus",
                "type": "integer"
              }
            ]
          }
        },
        "Filter_environment-setting-get-version#": {
          "runAfter": {
            "Apply_to_each_English_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_BulkUpload_VersionNumber')"
          }
        },
        "version-number": {
          "runAfter": {
            "Filter_environment-setting-get-version#": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "41b70b02-c1a1-45c9-8dea-3c396fb42ce3"
          },
          "type": "Compose",
          "inputs": "@body('Filter_environment-setting-get-version#')[0]['qm_value']"
        },
        "activityid": {
          "runAfter": {
            "Add_bulk_activity_review_Log": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b455cebc-6ab7-4ac8-bf1b-52c645583dd7"
          },
          "type": "Compose",
          "inputs": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']"
        },
        "Add_bulk_activity_review_Log": {
          "runAfter": {
            "Apply_to_each_English_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cd14120a-b546-48a9-8a0f-8390aa0d9b33"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_bulkactivitylogsummaries",
              "item/cid_Company@odata.bind": "@concat('/accounts/', triggerBody()?['accountid'])",
              "item/cid_activitystarttime": "@utcNow()",
              "item/cid_activitytype": "@variables('DownloadType')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "get-environment-settings": {
          "runAfter": {
            "Check_upload_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_Environment_Folder_variable": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "254ba5f3-6d7a-453c-8b45-649d28f6c05a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "Dev"
              }
            ]
          }
        },
        "Invoke_an_HTTP_request_-_Add_settings": {
          "runAfter": {
            "unHide_Column_Remove_UN": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "POST",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/SettingTable/rows",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "{\n\n  \"values\": [ \n    [\n\"@{outputs('version-number')}\"  ,   \n\"@{triggerBody()?['Language']}\",\n\"@{utcNow()}\"\n,\n\"@{outputs('Get_Company')?['body/cid_companyid']}\",\n\"@{variables('CompanyName')}\",\n\"@{outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']}\"\n]\n   \n  ],\n \"index\": 0\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "check_if_number_of_site_greater_than__0": {
          "actions": {
            "Start_data_insert": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "88926f4a-40f2-4f11-b3e8-f8f26f5cd818"
              },
              "type": "Compose",
              "inputs": "actions"
            },
            "Insert_Data_to_Basic_Sheet": {
              "actions": {
                "Invoke_an_HTTP_request_-_Add_Sites": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/TableAddBasic/rows",
                      "request/headers": {
                        "accept": "application/json"
                      },
                      "request/body": "{\n\n  \"values\": @{outputs('SiteList')} ,\n \"index\": 1\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Do_until_http_request_is_done": {
                  "actions": {},
                  "runAfter": {
                    "Invoke_an_HTTP_request_-_Add_Sites": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Add_Sites')?['body']?['statusCode'], 201)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "942fd0fa-8bcd-468e-89b0-8ce584381ac9"
                  },
                  "type": "Until"
                },
                "Set_AddSiteGraphAPI_variable": {
                  "runAfter": {
                    "Do_until_http_request_is_done": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fa16ea1b-9b40-4b86-8358-84bafd28951b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AddSiteGraphAPI_Status",
                    "value": "@outputs('Invoke_an_HTTP_request_-_Add_Sites')?['statusCode']"
                  }
                },
                "Invoke_an_HTTP_request_-_Protect_Update_Site_Info_sheet": {
                  "runAfter": {
                    "Set_AddSiteGraphAPI_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/worksheets('Basic Site info')/protection/protect",
                      "request/headers": {
                        "accept": "application/json"
                      },
                      "request/body": "{\n  \"options\": {\n    \"allowFormatCells\": true,\n    \"allowFormatColumns\": true,\n    \"allowFormatRows\": true,\n    \"allowInsertColumns\": false,\n    \"allowInsertRows\": true,\n    \"allowInsertHyperlinks\": false,\n    \"allowDeleteColumns\": false,\n    \"allowDeleteRows\": true,\n    \"allowSort\": true,\n    \"allowAutoFilter\": true,\n    \"allowPivotTables\": false\n  }\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Do_until_2": {
                  "actions": {},
                  "runAfter": {
                    "Invoke_an_HTTP_request_-_Protect_Update_Site_Info_sheet": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Protect_Update_Site_Info_sheet')?['body']['statusCode'], 204)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "0920e2fb-e3ce-4de3-a4e6-3bd55b3ad6dc"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "Start_data_insert": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f2db0b3e-963f-46d2-a36c-1ec69a481f80"
              },
              "type": "Scope"
            },
            "Insert_Data_to_Add_extended_Sheet": {
              "actions": {
                "Invoke_an_HTTP_request_Add_row_to_UNnumber_table": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "742ebbfa-eaf6-4523-9ba4-1d9c2e8ebaf8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/TableAddExtended/rows",
                      "request/headers": {
                        "accept": "application/json"
                      },
                      "request/body": "{\n\n  \"values\": @{outputs('UN_Number_List')} ,\n \"index\": 1\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "operationOptions": "DisableAutomaticDecompression"
                },
                "Do_until": {
                  "actions": {
                    "Set_Graph_API_status_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "780e7ae9-f843-4c9e-9117-bb1bf985ce12"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "GraphAPIStatus",
                        "value": "@outputs('Invoke_an_HTTP_request_Add_row_to_UNnumber_table')?['statusCode']"
                      }
                    }
                  },
                  "runAfter": {
                    "Invoke_an_HTTP_request_Add_row_to_UNnumber_table": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_Add_row_to_UNnumber_table')?['statusCode'], 201)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "c42ab7c0-6319-4fb8-8fa8-4f0c415fb8c5"
                  },
                  "type": "Until"
                },
                "Set_Graph_API_status_variable_2": {
                  "runAfter": {
                    "Do_until": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8fdbe84d-3c1f-4cfa-99d0-585b8cebb4fb"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "GraphAPIStatus",
                    "value": "@outputs('Invoke_an_HTTP_request_Add_row_to_UNnumber_table')?['statusCode']"
                  }
                },
                "Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet": {
                  "runAfter": {
                    "Set_Graph_API_status_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "POST",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/worksheets('Extended Site info')/protection/protect",
                      "request/headers": {
                        "accept": "application/json"
                      },
                      "request/body": "{\n  \"options\": {\n    \"allowFormatCells\": true,\n    \"allowFormatColumns\": true,\n    \"allowFormatRows\": true,\n    \"allowInsertColumns\": false,\n    \"allowInsertRows\": true,\n    \"allowInsertHyperlinks\": false,\n    \"allowDeleteColumns\": false,\n    \"allowDeleteRows\": true,\n    \"allowSort\": true,\n    \"allowAutoFilter\": true,\n    \"allowPivotTables\": false\n  }\n}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Do_until_all_sheets_are_protected": {
                  "actions": {},
                  "runAfter": {
                    "Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet": [
                      "Succeeded"
                    ]
                  },
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet')?['body']['statusCode'], 204)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "c42ab7c0-6319-4fb8-8fa8-4f0c415fb8c5"
                  },
                  "type": "Until"
                }
              },
              "runAfter": {
                "Start_data_insert": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "462fb74a-1b5c-4dc4-ad87-4627d38df78d"
              },
              "type": "Scope"
            },
            "Update_a_row": {
              "runAfter": {
                "Insert_Data_to_Add_extended_Sheet": [
                  "Succeeded"
                ],
                "Insert_Data_to_Basic_Sheet": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0f774e5-53f3-47de-b653-05797908c7ce"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_activityendtime": "@utcNow()",
                  "item/cid_activitystatus": 100000000,
                  "item/cid_filename": "@variables('New_File_Path')",
                  "item/cid_language": "@variables('Language')",
                  "item/cid_numberofsites": "@length(outputs('SiteList'))",
                  "item/cid_numberofunnumbers": "@length(outputs('UN_Number_List'))"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Invoke_an_HTTP_request_-_Protect_Instruction_Sheet": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "POST",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/worksheets('Instructions')/protection/protect",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Delete_Temp_SharePoint_folder_and_file": {
              "actions": {
                "Do_until_Instruction_sheet_is_protected": {
                  "actions": {},
                  "runAfter": {},
                  "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Protect_Instruction_Sheet')?['statusCode'], 204)",
                  "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                  },
                  "metadata": {
                    "operationMetadataId": "0920e2fb-e3ce-4de3-a4e6-3bd55b3ad6dc"
                  },
                  "type": "Until"
                },
                "check_http_invoke_status": {
                  "actions": {
                    "check_language_before_sending_attachment_to_portal": {
                      "actions": {
                        "Get_full_file_content_from_French_file": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "GetFileContentByPath",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                              "path": "@outputs('Create_file_French')?['body/Path']",
                              "inferContentType": true
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Add_attachment_to_activity_French": {
                          "runAfter": {
                            "Get_full_file_content_from_French_file": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "annotations",
                              "item/subject": "Site List Attachement",
                              "item/notetext": "*WEB*",
                              "item/isdocument": true,
                              "item/documentbody": "@base64(outputs('Get_full_file_content_from_French_file')?['body'])",
                              "item/filename": "@variables('New_File_Path')",
                              "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Response_French_Note_attachment": {
                          "runAfter": {
                            "Add_attachment_to_activity_French": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                          },
                          "type": "Response",
                          "kind": "Http",
                          "inputs": {
                            "statusCode": 200,
                            "headers": {
                              "RootMessag": "@variables('RooTMessage')"
                            },
                            "body": "@{outputs('Add_attachment_to_activity_French')?['body/annotationid']}|@{variables('RooTMessage')}"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Get_full_file_content_English": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "GetFileContentByPath",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                                "path": "@outputs('Create_file_English')?['body/Path']",
                                "inferContentType": true
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Add_attachment_to_activity_English": {
                            "runAfter": {
                              "Get_full_file_content_English": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "annotations",
                                "item/subject": "Site List Attachement",
                                "item/notetext": "*WEB*",
                                "item/isdocument": true,
                                "item/documentbody": "@base64(outputs('Get_full_file_content_English')?['body'])",
                                "item/filename": "@variables('New_File_Path')",
                                "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Response_2": {
                            "runAfter": {
                              "Add_attachment_to_activity_English": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                              "statusCode": 200,
                              "headers": {
                                "RootMessag": "@variables('RooTMessage')"
                              },
                              "body": "@{outputs('Add_attachment_to_activity_English')?['body/annotationid']}|@{variables('RooTMessage')}"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@triggerBody()?['Language']",
                          "French"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b1855c41-6717-4bb2-8117-25454635b1d1"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Do_until_Instruction_sheet_is_protected": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('Invoke_an_HTTP_request_-_Add_Sites')['statusCode']",
                          201
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet')['statusCode']",
                          204
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('Invoke_an_HTTP_request_-_Protect_Instruction_Sheet')['statusCode']",
                          204
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e83c5d2a-a517-4263-9a85-81b57c47bc10"
                  },
                  "type": "If"
                },
                "Send_an_HTTP_request_to_SharePoint": {
                  "runAfter": {
                    "check_http_invoke_status": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "613190e4-0e54-402c-92ea-4d8c3d1e4a7a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "parameters/method": "DELETE",
                      "parameters/uri": "_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}/@{variables('New_File_Path')}')/recycle",
                      "parameters/headers": {
                        "Prefer": "bypass-shared-lock"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Delete_Folder": {
                  "runAfter": {
                    "Send_an_HTTP_request_to_SharePoint": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f00e886f-145d-4890-91e5-d4fb5eacf205"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "DeleteItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "table": "Documents",
                      "id": "@outputs('Create_new_folder')?['body/ID']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Invoke_an_HTTP_request_-_Protect_Instruction_Sheet": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ed5c83c0-aae5-4d67-b9b2-52420758be65"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Check_if_Root_data_exists": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Get_file_content_-_no_sites_loaded": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "2eaf3a5f-7931-4628-8bce-d4c478b8b616"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "GetFileContentByPath",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "path": "@outputs('Create_file_English')?['body/Path']",
                    "inferContentType": true
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Invoke_an_HTTP_request_-_Protect_Update_Site_Info_sheet_2": {
                "runAfter": {
                  "check_language_before_sending_attachment_to_portal_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "parameters": {
                    "request/method": "POST",
                    "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('Create_new_folder')?['body/{Name}']}/@{variables('New_File_Path')}:/workbook/worksheets('Basic Site info')/protection/protect",
                    "request/headers": {
                      "accept": "application/json"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet_2": {
                "runAfter": {
                  "Invoke_an_HTTP_request_-_Protect_Update_Site_Info_sheet_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "parameters": {
                    "request/method": "POST",
                    "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('Create_new_folder')?['body/{Name}']}/:/workbook/worksheets('Extended Site info')/protection/protect@{variables('New_File_Path')}",
                    "request/headers": {
                      "accept": "application/json"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Delete_Temp_SharePoint_folder_and_file_2": {
                "actions": {
                  "Do_until_Instruction_sheet_is_protected_2": {
                    "actions": {},
                    "runAfter": {},
                    "expression": "@equals(outputs('Invoke_an_HTTP_request_-_Protect_Instruction_Sheet_2')['statusCode'], 204)",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "metadata": {
                      "operationMetadataId": "0920e2fb-e3ce-4de3-a4e6-3bd55b3ad6dc"
                    },
                    "type": "Until"
                  },
                  "check_http_invoke_status_2": {
                    "actions": {
                      "Response_3": {
                        "runAfter": {
                          "Add_attachment_to_activity_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                        },
                        "type": "Response",
                        "kind": "Http",
                        "inputs": {
                          "statusCode": 200,
                          "headers": {
                            "RootMessag": "@variables('RooTMessage')"
                          },
                          "body": "@{outputs('Add_attachment_to_activity_2')?['body/annotationid']}|@{variables('RooTMessage')}"
                        }
                      },
                      "Get_full_file_content_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetFileContentByPath",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                            "path": "@variables('New_File_Path')",
                            "inferContentType": true
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Add_attachment_to_activity_2": {
                        "runAfter": {
                          "Get_full_file_content_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "annotations",
                            "item/subject": "Site List Attachement",
                            "item/notetext": "*WEB*",
                            "item/isdocument": true,
                            "item/documentbody": "@base64(outputs('Get_full_file_content_2')?['body'])",
                            "item/filename": "@variables('New_File_Path')",
                            "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Do_until_Instruction_sheet_is_protected_2": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Invoke_an_HTTP_request_-_Protect_Instruction_Sheet_2')['statusCode']",
                            204
                          ]
                        },
                        {
                          "equals": [
                            "@outputs('Invoke_an_HTTP_request_-_Add_settings')['statusCode']",
                            201
                          ]
                        },
                        {
                          "equals": [
                            "@outputs('Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet_2')['statusCode']",
                            204
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e83c5d2a-a517-4263-9a85-81b57c47bc10"
                    },
                    "type": "If"
                  },
                  "Send_an_HTTP_request_to_SharePoint_2": {
                    "runAfter": {
                      "check_http_invoke_status_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "613190e4-0e54-402c-92ea-4d8c3d1e4a7a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "HttpRequest",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "parameters/method": "DELETE",
                        "parameters/uri": "_api/web/GetFileByServerRelativeUrl('/sites/SamuraiTeam/Shared Documents/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}/@{variables('New_File_Path')}')/recycle",
                        "parameters/headers": {
                          "Prefer": "bypass-shared-lock"
                        }
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Delete_Folder_2": {
                    "runAfter": {
                      "Send_an_HTTP_request_to_SharePoint_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f00e886f-145d-4890-91e5-d4fb5eacf205"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "DeleteItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "table": "Documents",
                        "id": "@outputs('Create_new_folder')?['body/ID']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "Update_bulk_activity_log": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ed5c83c0-aae5-4d67-b9b2-52420758be65"
                },
                "type": "Scope"
              },
              "Invoke_an_HTTP_request_-_Protect_Instruction_Sheet_2": {
                "runAfter": {
                  "Invoke_an_HTTP_request_-_Protect_Update_Extended_Info_sheet_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_webcontents",
                    "operationId": "InvokeHttp",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                  },
                  "parameters": {
                    "request/method": "POST",
                    "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('Create_new_folder')?['body/{Name}']}/@{variables('New_File_Path')}:/workbook/worksheets('Instructions')/protection/protect",
                    "request/headers": {
                      "accept": "application/json"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Update_bulk_activity_log": {
                "runAfter": {
                  "Invoke_an_HTTP_request_-_Protect_Instruction_Sheet_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e0f774e5-53f3-47de-b653-05797908c7ce"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_bulkactivitylogsummaries",
                    "recordId": "@outputs('Add_bulk_activity_review_Log')?['body/cid_bulkactivitylogsummaryid']",
                    "item/cid_activityendtime": "@utcNow()",
                    "item/cid_activitystatus": 100000000,
                    "item/cid_filename": "@variables('New_File_Path')",
                    "item/cid_language": "@variables('Language')",
                    "item/cid_numberofsites": "@length(outputs('SiteList'))",
                    "item/cid_numberofunnumbers": "@length(outputs('UN_Number_List'))"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "check_language_before_sending_attachment_to_portal_2": {
                "actions": {
                  "Get_full_file_content_from_French_file_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetFileContentByPath",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "path": "@outputs('Create_file_French')?['body/Path']",
                        "inferContentType": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Add_attachment_to_activity_French_2": {
                    "runAfter": {
                      "Get_full_file_content_from_French_file_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Site List Attachement",
                        "item/notetext": "*WEB*",
                        "item/isdocument": true,
                        "item/documentbody": "@base64(outputs('Get_full_file_content_from_French_file_2')?['body'])",
                        "item/filename": "@variables('New_File_Path')",
                        "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Response_French_Note_attachment_2": {
                    "runAfter": {
                      "Add_attachment_to_activity_French_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "RootMessag": "@variables('RooTMessage')"
                      },
                      "body": "@{outputs('Add_attachment_to_activity_French_2')?['body/annotationid']}|@{variables('RooTMessage')}"
                    }
                  }
                },
                "runAfter": {
                  "Get_file_content_-_no_sites_loaded": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Get_full_file_content_English_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "7d8416e5-6901-4748-96e7-b570229707ac"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "GetFileContentByPath",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                          "path": "@outputs('Create_file_English')?['body/Path']",
                          "inferContentType": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Add_attachment_to_activity_English_2": {
                      "runAfter": {
                        "Get_full_file_content_English_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "91d0606f-6ed7-4292-a3a7-b064235dbded"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "Site List Attachement",
                          "item/notetext": "*WEB*",
                          "item/isdocument": true,
                          "item/documentbody": "@base64(outputs('Get_full_file_content_English_2')?['body'])",
                          "item/filename": "@variables('New_File_Path')",
                          "item/objectid_cid_bulkactivitylogsummary@odata.bind": "@concat('/cid_bulkactivitylogsummaries/', outputs('activityid'))"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Response": {
                      "runAfter": {
                        "Add_attachment_to_activity_English_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5d3b67ed-de62-4ccd-98f2-2d15ea5552c2"
                      },
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 200,
                        "headers": {
                          "RootMessag": "@variables('RooTMessage')"
                        },
                        "body": "@{outputs('Add_attachment_to_activity_English_2')?['body/annotationid']}|@{variables('RooTMessage')}"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerBody()?['Language']",
                    "French"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b1855c41-6717-4bb2-8117-25454635b1d1"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@trim(outputs('SiteList'))",
                "@'[]'"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a783de8a-947a-48dc-9f77-3c226a747f09"
          },
          "type": "If"
        },
        "Get_Company": {
          "runAfter": {
            "Initialize_Environment_Folder_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "15a64acd-8d3c-4a8a-b17b-eaeb5a6d416d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerBody()?['accountid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "downloadTemplate": {
          "runAfter": {
            "Initialize_variable_CompanyName_default_to_OperatingName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "03519b11-e6d3-4098-a7bd-9dccfa8b02e3"
          },
          "type": "Compose",
          "inputs": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx"
        },
        "check_if_language_is_french": {
          "actions": {
            "Set_variable_language_to_French_index": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e4376b0a-29bf-4f2b-bfb6-3fa0cf10aba5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Language",
                "value": 918640002
              }
            },
            "check_if_French_name_is_not_empty": {
              "actions": {
                "Set_Company_Name_to_operating_name_in_French": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "75f98f36-ddb8-4255-a3a6-80fb015c65f9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CompanyName",
                    "value": "@outputs('Get_Company')?['body/ovs_namefr']"
                  }
                }
              },
              "runAfter": {
                "Set_variable_language_to_French_index": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(trim(outputs('Get_Company')?['body/ovs_namefr']))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "474a93f4-0abf-4134-a1db-30ff1530139f"
              },
              "type": "If"
            },
            "Set_variable_Excel_header_to_French": {
              "runAfter": {
                "check_if_French_name_is_not_empty": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "14488109-d895-4e6c-bf96-e66e8952e85e"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Excel_Header",
                "value": "@{concat('French - Transport Canada CID Registration for  ' , variables('CompanyName'))}"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_ExcelHeader": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Language']",
              "French"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ddd7dac-d14e-4ba2-b153-271ac62add29"
          },
          "type": "If"
        },
        "Check_if_Root_data_exists": {
          "actions": {
            "Invoke_an_HTTP_request_-_Add_Root_UN": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "af830d4e-9a7d-459a-9b0c-b6ed1321a6ae"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "POST",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/RootUNsTable/rows",
                  "request/headers": {
                    "accept": "application/json"
                  },
                  "request/body": "{\n\n  \"values\": [ \n    \n@{outputs('Perform_a_bound_action')?['body/RootUNNumberList']}\n\n\n   \n  ],\n \"index\": 0\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "hide_Root_UN_Number_List": {
              "runAfter": {
                "Invoke_an_HTTP_request_-_Add_Root_UN": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "PATCH",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/worksheets('UNs from ERAPs')",
                  "request/headers": {
                    "accept": "application/json"
                  },
                  "request/body": "\n{\n  \"position\": 4,\n  \"name\": \"UNs from ERAPs\",\n  \"visibility\": \"Visible\"\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "check_if_company_doesn't_have_sites_or_has_un_number": {
              "actions": {
                "Filter_array_M53": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "80b29c84-7347-4907-bf75-cb1f1f4e2161"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@variables('Messages_Array')",
                    "where": "@equals(item()['id'], 'M53')"
                  }
                },
                "check_language": {
                  "actions": {
                    "Set_Root_English_Message": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b80d64f-1d78-4fee-93f8-fd66964f73ab"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "RooTMessage",
                        "value": "@concat(body('Filter_array_M53')[0] ['Message'],'[',body('Filter_array_M53')[0] ['code'],']')"
                      }
                    }
                  },
                  "runAfter": {
                    "Filter_array_M53": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Set_Root_French_Message": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "f7dfffcd-8d98-47d9-aba6-1ea797c1ffc3"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "RooTMessage",
                          "value": "@concat(body('Filter_array_M53')[0] ['MessageInFrench'],'[',body('Filter_array_M53')[0] ['code'],']')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "contains": [
                      "@triggerBody()?['UiLanguage']",
                      "@'en'"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3b4bd231-4e2d-40e3-81c8-49c9cef46458"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "hide_Root_UN_Number_List": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Filter_array_M54": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "80b29c84-7347-4907-bf75-cb1f1f4e2161"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('Messages_Array')",
                      "where": "@equals(item()['id'], 'M54')"
                    }
                  },
                  "check_language_for_M54_Message": {
                    "actions": {
                      "Set_Root_English_Message_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "9b80d64f-1d78-4fee-93f8-fd66964f73ab"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "RooTMessage",
                          "value": "@{concat(body('Filter_array_M54')[0]['Message'], '[', body('Filter_array_M54')[0]['code'], ']')}"
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_array_M54": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Set_Root_French_Message_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "f7dfffcd-8d98-47d9-aba6-1ea797c1ffc3"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "RooTMessage",
                            "value": "@{concat(body('Filter_array_M54')[0]['MessageInFrench'], '[', body('Filter_array_M54')[0]['code'], ']')}"
                          }
                        }
                      }
                    },
                    "expression": {
                      "contains": [
                        "@triggerBody()?['UiLanguage']",
                        "en"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3b4bd231-4e2d-40e3-81c8-49c9cef46458"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@trim(outputs('SiteList'))",
                  "@'[]'"
                ]
              },
              "metadata": {
                "operationMetadataId": "bc1fbfff-ec63-4495-9202-fb1ccf4caf37"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Invoke_an_HTTP_request_-_Add_settings": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(trim(outputs('Perform_a_bound_action')?['body/RootUNNumberList']))",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "6d400a04-8efc-43d3-bcea-1d50dd7c4c3b"
          },
          "type": "If"
        },
        "columnname": {
          "runAfter": {
            "GraphAPIStatus": [
              "Succeeded"
            ],
            "version-number": [
              "Succeeded"
            ],
            "Check_Template_language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84296d6c-b939-4cd9-922b-307658101d6b"
          },
          "type": "Compose",
          "inputs": "Remove_UN_at_this_Site"
        },
        "unHide_Column_Remove_UN": {
          "runAfter": {
            "Update_Extended_Sheet_header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "PATCH",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/tables/TableAddExtended/columns/1/range",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "{\n\"columnHidden\" : @{toLower( string(variables('HideRemoveColumn')))}\n}\n"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Messages_Array": {
          "runAfter": {
            "Initialize_variable_Root_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "499f5dda-1202-4d2e-9116-d73467858d68"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Messages_Array",
                "type": "array"
              }
            ]
          }
        },
        "Get_Bulk_Upload_Messages": {
          "runAfter": {
            "Initialize_variable_-_Messages_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6ba2658-3ccd-4e8b-9e91-5ff910d21c81"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"annotation\">\n<attribute name=\"subject\"/>\n<attribute name=\"notetext\"/>\n<attribute name=\"filename\"/>\n<attribute name=\"documentbody\"/>\n<attribute name=\"annotationid\"/>\n<order attribute=\"subject\" descending=\"false\"/>\n<link-entity name=\"adx_webfile\" from=\"adx_webfileid\" to=\"objectid\" link-type=\"inner\" alias=\"ab\">\n<filter type=\"and\">\n<condition attribute=\"adx_name\" operator=\"eq\" value=\"Sites_Bulk_Upload_Messages\"/>\n</filter>\n</link-entity>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Bulk-Messages-From-webFile": {
          "runAfter": {
            "Get_Bulk_Upload_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddf0f80b-60bc-48e8-acae-bbbf45c463c5"
          },
          "type": "Compose",
          "inputs": "@base64ToString(outputs('Get_Bulk_Upload_Messages')?['body/value'][0]['documentbody'])"
        },
        "Parse_Messages_to_JSON": {
          "runAfter": {
            "Bulk-Messages-From-webFile": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7167db6-5d1d-4c49-8959-e8ed51425a00"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Bulk-Messages-From-webFile')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "Eng-Message": {
                    "type": "string"
                  },
                  "Fr-Message": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "order": {
                    "type": "string"
                  },
                  "MessageType": {
                    "type": "string"
                  },
                  "SheetNameInEnglish": {
                    "type": "string"
                  },
                  "SheetNameInFrench": {
                    "type": "string"
                  },
                  "ErrorLog": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "Eng-Message",
                  "Fr-Message",
                  "id",
                  "order",
                  "MessageType",
                  "SheetNameInEnglish",
                  "SheetNameInFrench",
                  "ErrorLog"
                ]
              }
            }
          }
        },
        "Select-Messages": {
          "runAfter": {
            "Parse_Messages_to_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2f87aa54-460c-45c4-a069-00ea3dbd7bf2"
          },
          "type": "Select",
          "inputs": {
            "from": "@body('Parse_Messages_to_JSON')",
            "select": {
              "code": "@item()['code']",
              "Message": "@item()['Eng-Message']",
              "id": "@item()['id']",
              "ErrorLog": "@item()['ErrorLog']",
              "MessageInFrench": "@item()['Fr-Message']"
            }
          }
        },
        "Apply_to_each_English_Message": {
          "foreach": "@body('Select-Messages')",
          "actions": {
            "Append_to_Message_Array": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e34d2bba-d320-4f5a-9b95-0e2454bf437e"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "Messages_Array",
                "value": "@items('Apply_to_each_English_Message')"
              }
            }
          },
          "runAfter": {
            "List_Existing_UN_number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "21b64a4a-96fd-4540-b578-86cee5235ab6"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 42
            }
          }
        },
        "Initialize_variable_Root_Message": {
          "runAfter": {
            "downloadTemplate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "13e857e4-e878-4acc-bb23-3c277c442b4f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RooTMessage",
                "type": "string"
              }
            ]
          }
        },
        "List_Existing_UN_number": {
          "runAfter": {
            "Select-Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e67a47c-23a1-4366-be04-464c2a2d3d56"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_operationunnumbers",
              "fetchXml": "<?xml version=\"1.0\"?>\n\n<fetch distinct=\"false\" mapping=\"logical\" output-format=\"xml-platform\" version=\"1.0\">\n<entity name=\"ovs_operationunnumber\">\n<attribute name=\"ovs_name\"/>\n<attribute name=\"createdon\"/>\n<attribute name=\"ovs_operationunnumberid\"/>\n<order descending=\"false\" attribute=\"ovs_name\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" value=\"0\" operator=\"eq\"/>\n</filter>\n<link-entity name=\"account\" alias=\"ac\" link-type=\"inner\" to=\"cid_site\" from=\"accountid\">\n<filter type=\"and\">\n\n<condition attribute=\"parentaccountid\" value=\"@{triggerBody()?['accountid']}\" operator=\"eq\" />\n\n</filter>\n\n</link-entity>\n\n</entity>\n\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initil_Initial_Registeration": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "369b1661-118d-40cb-8a75-db6ad73c47c9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Initial_Registeration",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Check_upload_type": {
          "actions": {
            "Set_Initial_Registration_to_Yes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b0541a73-cad7-4b17-8cca-c7ec9d9e43a9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Initial_Registeration",
                "value": "@true"
              }
            },
            "Set_variable_download_type_Initial_registeration": {
              "runAfter": {
                "Set_Initial_Registration_to_Yes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d2542982-9619-4fff-b7ff-39f8b036c2e2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "DownloadType",
                "value": 100000000
              }
            },
            "Set_variable_Hide_column_to_True": {
              "runAfter": {
                "Set_variable_download_type_Initial_registeration": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d77ea6ef-296a-4a4f-84dd-8c0864f4a124"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "HideRemoveColumn",
                "value": "@true"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_to_store_New_File_Folder": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Initial_registration_to_No": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "c74c7895-433b-442f-a76f-371ce2b5fc17"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "Initial_Registeration",
                  "value": "@false"
                }
              },
              "Set_variable_download_type_In_year_update": {
                "runAfter": {
                  "Set_Initial_registration_to_No": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "872f6840-6a1a-4869-b0dd-2cbd4196a5b8"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "DownloadType",
                  "value": 100000002
                }
              },
              "Set_variable_Hide_column_to_false": {
                "runAfter": {
                  "Set_variable_download_type_In_year_update": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ebc5e987-b272-4fbe-be0c-e0eae79878a2"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "HideRemoveColumn",
                  "value": "@false"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['UploadType']",
              "@'Initial'"
            ]
          },
          "metadata": {
            "operationMetadataId": "d591a3a8-ee44-4bca-a750-0fd81555f5a6"
          },
          "type": "If"
        },
        "Initialize_Download_Type": {
          "runAfter": {
            "Initil_Initial_Registeration": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca089154-b4e6-47f8-9525-c9dcb430223a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DownloadType",
                "type": "integer",
                "value": 100000000
              }
            ]
          }
        },
        "Initialize_HideRemoveColumn": {
          "runAfter": {
            "Initialize_Download_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8aab2a23-b2a3-4f29-b34e-28bacd1bce09"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HideRemoveColumn",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Update_Basic_Sheet_header": {
          "runAfter": {
            "columnname": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "PATCH",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/names/BasicSheetHeader/range",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "\n\n{\n\"values\": [[ \"@{variables('Excel_Header')}\"]]\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Extended_Sheet_header": {
          "runAfter": {
            "Update_Basic_Sheet_header": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2588d12e-85cc-4f36-9d27-05bc388020f4"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "PATCH",
              "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{variables('Folder_path')}/@{variables('New_File_Path')}:/workbook/names/ExtendedSheetHeader/range",
              "request/headers": {
                "accept": "application/json"
              },
              "request/body": "\n\n{\n\"values\": [[ \"@{variables('Excel_Header')}\"]]\n}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_Template_language": {
          "actions": {
            "French_-_Get_Company_and_create_File": {
              "actions": {
                "Get_file_Template_content_French": {
                  "runAfter": {},
                  "metadata": {
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022.xlsx",
                    "operationMetadataId": "9a0ad980-09b3-4e4f-a8e6-16d5bd0f501a",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022-V1.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022-V1.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_April%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_May 2022 v12.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv13.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_May 2022 v13.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv14.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v14.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv15.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v15.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v18.xlsx",
                    "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_FR_June_2022 v18.xlsx"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GetFileContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                      "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_FR_June_2022%2bv18.xlsx",
                      "inferContentType": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable_Template_content_to_Frenchy": {
                  "runAfter": {
                    "Get_file_Template_content_French": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d789c696-0b95-42a5-916d-0168e5d7351b"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Template_Content",
                    "value": "@{body('Get_file_Template_content_French')}"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6206f036-7751-428e-b3fe-7cb7aff5e3a2"
              },
              "type": "Scope"
            },
            "Create_file_French": {
              "runAfter": {
                "French_-_Get_Company_and_create_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0bff338e-a414-431f-860d-81308063f902"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                  "name": "CID Registration - Site Bulk Upload - , @{formatDateTime(utcNow(), 'yyyy/MM/dd')}.xlsx",
                  "body": "@body('Get_file_Template_content_French')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Set_New_file_path_path_English": {
              "runAfter": {
                "Create_file_French": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e498bbfb-70a8-40ab-8c98-69369db1897a"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "New_File_Path",
                "value": "@outputs('Create_file_French')?['body/Name']"
              }
            }
          },
          "runAfter": {
            "Initialize_Template_Content": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "English_-_Get_Company_and_create_File": {
                "actions": {
                  "Get_file_Template_content": {
                    "runAfter": {},
                    "metadata": {
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022.xlsx",
                      "operationMetadataId": "9a0ad980-09b3-4e4f-a8e6-16d5bd0f501a",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022-V1.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022-V1.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_EnFr_V1.0.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_EnFr_V1.0.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_March%2b2022%2bv11.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_March 2022 v11.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_April%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_April 2022 v12.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fDev%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv12.xlsx": "/Shared Documents/CID_Bulk_Upload/Dev/CID_Sites_Template_2022_ENG_May 2022 v12.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_May%2b2022%2bv13.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_May 2022 v13.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv14.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v14.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv15.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v15.xlsx",
                      "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv18.xlsx": "/Shared Documents/CID_Bulk_Upload/CID_Sites_Template_2022_ENG_June_2022 v18.xlsx"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetFileContent",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                        "id": "%252fShared%2bDocuments%252fCID_Bulk_Upload%252fCID_Sites_Template_2022_ENG_June_2022%2bv18.xlsx",
                        "inferContentType": true
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable": {
                    "runAfter": {
                      "Get_file_Template_content": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1d3d5f2f-3dca-4036-b1df-67ea189158a9"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Template_Content",
                      "value": "@{body('Get_file_Template_content')}"
                    }
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "6206f036-7751-428e-b3fe-7cb7aff5e3a2"
                },
                "type": "Scope"
              },
              "Create_file_English": {
                "runAfter": {
                  "English_-_Get_Company_and_create_File": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "0bff338e-a414-431f-860d-81308063f902"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "CreateFile",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                    "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                    "name": "CID Registration - Site Bulk Upload - , @{formatDateTime(utcNow(), 'yyyy/MM/dd')}.xlsx",
                    "body": "@body('Get_file_Template_content')"
                  },
                  "authentication": "@parameters('$authentication')"
                },
                "runtimeConfiguration": {
                  "contentTransfer": {
                    "transferMode": "Chunked"
                  }
                }
              },
              "Set_New_file_path_path_English_2": {
                "runAfter": {
                  "Create_file_English": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "e498bbfb-70a8-40ab-8c98-69369db1897a"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "New_File_Path",
                  "value": "@outputs('Create_file_English')?['body/Name']"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['Language']",
              "@'French'"
            ]
          },
          "metadata": {
            "operationMetadataId": "8b58818e-2336-4df9-9f37-acb45446d609"
          },
          "type": "If"
        },
        "Initialize_file_location_url_": {
          "runAfter": {
            "Initialize_HideRemoveColumn": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29462dd5-cd88-4ddc-b4a0-a9d34c6c6e57"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "New_File_Path",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_to_store_New_File_Folder": {
          "runAfter": {
            "Initialize_file_location_url_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "abaf99d9-339f-4021-a181-57f55d973d38"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Folder_path",
                "type": "string"
              }
            ]
          }
        },
        "Create_new_folder": {
          "runAfter": {
            "activityid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af61cc8b-d048-4499-b80d-8fc8b35330dc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "CreateNewFolder",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
              "table": "ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395",
              "parameters/path": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('activityid')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_variable_Folder_Path_2": {
          "runAfter": {
            "Create_new_folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a18616e7-6c01-4e93-9a8f-ac6927cca315"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Folder_path",
            "value": "@{outputs('Create_new_folder')?['body/{Name}']}"
          }
        },
        "Initialize_Template_Content": {
          "runAfter": {
            "Set_variable_Folder_Path_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6317130e-1810-49c4-aa9a-49a170e9ad46"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Template_Content",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_CompanyName_default_to_OperatingName": {
          "runAfter": {
            "Get_Company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d0b88e0-c9c0-4ef9-836b-7f7fceb5347d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CompanyName",
                "type": "string",
                "value": "@outputs('Get_Company')?['body/name']"
              }
            ]
          }
        },
        "Initialize_variable_ExcelHeader": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "48f01b73-8e72-4dd7-a397-18082203cc72"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Excel_Header",
                "type": "string",
                "value": "@{concat('Transport Canada CID Registration for  ' , variables('CompanyName'))}"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}