Solutions/CID_Flows/unpack/Workflows/ExcelLoadFlow-C2191324-8B57-EC11-8F8E-0022483DA607.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceDataverseServicePrinciple"},"api":{"name":"shared_commondataserviceforapps"}},"shared_excelonlinebusiness_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceExcelTDGCoreUser"},"api":{"name":"shared_excelonlinebusiness"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"tdg_ConnectionReferenceSharepointTDGCoreUser"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"cdc68973-4ee7-45f1-94b0-443f28a111e4"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"activityid":{"type":"string"},"name":{"type":"string"},"accountid":{"type":"string"}}}}}},"actions":{"Get_Activity_Review_Log_Record":{"runAfter":{"Row_Number_vailable":["Succeeded"]},"metadata":{"operationMetadataId":"0abf4f66-6dea-4942-a637-83047b3c2026"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_activityreviewlogs","recordId":"@triggerBody()?['activityid']"},"authentication":"@parameters('$authentication')"}},"Get_Note":{"runAfter":{"Get_Activity_Review_Log_Record":["Succeeded"]},"metadata":{"operationMetadataId":"7793f97f-eebe-40e1-866e-eaaebd7ee54b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","$filter":"_objectid_value eq @{triggerBody()?['activityid']}"},"authentication":"@parameters('$authentication')"}},"attachement":{"runAfter":{"Get_Note":["Succeeded"]},"metadata":{"operationMetadataId":"26d6e4c7-9c5e-48b5-8a86-4e89ac3c5461"},"type":"Compose","inputs":"@outputs('Get_Note')?['body/value'][0].documentbody"},"check_attachement":{"actions":{"getfilename":{"runAfter":{},"metadata":{"operationMetadataId":"0e873c2f-544b-4f80-a0c7-10e0e9eea411"},"type":"Compose","inputs":"@concat(triggerBody()?['activityid'],'_',utcNow(),'.xlsx')"},"get_the_version_#":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"225ee8e6-dae1-4b5d-a9a1-992f64baec5b","tableId":"Table1"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"/CID_Bulk_Upload/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}","table":"Table1"},"authentication":"@parameters('$authentication')"}},"check_version_Number":{"actions":{"List_All_Accounts":{"runAfter":{},"metadata":{"operationMetadataId":"0f914c7e-efed-4c8d-9146-29a295558772"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$select":"address1_city,address1_stateorprovince,address1_line1,address1_postalcode,cid_unitnumber","$filter":"customertypecode eq 948010001 and _parentaccountid_value eq '@{triggerBody()?['accountid']}'","$expand":"parentaccountid($select=name,accountid)"},"authentication":"@parameters('$authentication')"}},"List_All_sites_in_Table2":{"runAfter":{"List_All_Accounts":["Succeeded"]},"metadata":{"operationMetadataId":"5f745b51-f59e-433f-898b-853181d928f7","tableId":"Table2"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"/CID_Bulk_Upload/@{outputs('Create_new_folder')?['body/{Name}']}/@{outputs('Create_Temp_file')?['body/Name']}","table":"Table2"},"authentication":"@parameters('$authentication')"}},"All_sites_with_data":{"runAfter":{"List_All_sites_in_Table2":["Succeeded"]},"metadata":{"operationMetadataId":"bed4c2e1-2c6e-40a7-bfdf-fbbd1adc6c82"},"type":"Query","inputs":{"from":"@outputs('List_All_sites_in_Table2')?['body/value']","where":"@greater(length(item()?['Province']), 1)"}},"for_each_site_in_the_filter":{"foreach":"@body('All_sites_with_data')","actions":{"Check_if_all_address_information_is_entered":{"actions":{"Check_if_address_exists_in_the_database":{"actions":{"Set_is_error_free_to_false":{"runAfter":{},"metadata":{"operationMetadataId":"876cbe4c-cf79-41cb-9c82-008a32a55d8c"},"type":"SetVariable","inputs":{"name":"IsErrorFree","value":"@false"}},"Check_if_belong_to_account":{"actions":{"Site_Already_exist":{"runAfter":{},"metadata":{"operationMetadataId":"a873dcdb-5ed2-41ec-8630-dd79461986d5"},"type":"AppendToArrayVariable","inputs":{"name":"Error_List","value":{"Site_address":"@outputs('current_Site_row')?['SiteFullAddress']","Error":"Site Already Exists, please use the update process to update site information"}}}},"runAfter":{"Set_is_error_free_to_false":["Succeeded"]},"else":{"actions":{"Append_to_array_-_site_belong_to_another_account":{"runAfter":{},"metadata":{"operationMetadataId":"0721f40e-9313-4b23-ac3a-e7e03fce1613"},"type":"AppendToArrayVariable","inputs":{"name":"Error_List","value":{"Site_address":"@outputs('current_Site_row')?['Site Full Address']","Error":"Site belong to another Company please go thorugh the claim process"}}}}},"expression":{"equals":["@first(body('Filter_array_-_Check_address'))?['parentaccountid']?['accountid']","@triggerBody()?['accountid']"]},"metadata":{"operationMetadataId":"16b3e2fe-c1c8-41e0-84b0-5630c2ed22a9"},"type":"If"}},"runAfter":{"Filter_array_-_Check_address":["Succeeded"]},"expression":{"greater":["@length(body('Filter_array_-_Check_address'))",0]},"metadata":{"operationMetadataId":"c06dbc9d-12fe-441b-8c8d-4ca616d3d7bf"},"type":"If"},"Increment_RowNumber":{"runAfter":{},"metadata":{"operationMetadataId":"ac6b817e-3c8a-4720-89f6-1e0f1734fab5"},"type":"IncrementVariable","inputs":{"name":"RowNumber","value":1}},"Filter_array_-_Check_address":{"runAfter":{"Increment_RowNumber":["Succeeded"]},"metadata":{"operationMetadataId":"cb6ac0c8-ddde-45cd-b7c0-2d89c9b0c0d2"},"type":"Query","inputs":{"from":"@outputs('List_All_Accounts')?['body/value']","where":"@and(equals(item()?['address1_line1'], outputs('current_Site_row')?['Address 1']),equals(item()?['address1_city'], outputs('current_Site_row')?['City']),equals(item()?['address1_stateorprovince'], outputs('current_Site_row')?['Province']))"}}},"runAfter":{"current_Site_row":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"6854c04f-327e-4ed5-b17e-f8a85946dc59"},"type":"SetVariable","inputs":{"name":"IsErrorFree","value":"@false"}},"Site_is_missing_Mandatory_fields":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"a873dcdb-5ed2-41ec-8630-dd79461986d5"},"type":"AppendToArrayVariable","inputs":{"name":"Error_List","value":{"Site_address":"@outputs('current_Site_row')?['Site Full Address']","Error":"Site is missing Required Information"}}}}},"expression":{"and":[{"greater":["@length(outputs('current_Site_row')?['Address 1'])",0]},{"greater":["@length(outputs('current_Site_row')?['Postal Code'])",0]},{"greater":["@length(outputs('current_Site_row')?['City'])",0]},{"greater":["@length(outputs('current_Site_row')?['Province'])",0]},{"greater":["@length(outputs('current_Site_row')?['Class/Division'])",0]}]},"metadata":{"operationMetadataId":"74bae040-97ca-4985-9ad3-540d32283954"},"type":"If"},"current_Site_row":{"runAfter":{},"metadata":{"operationMetadataId":"68e30302-f1f6-4026-8004-676fd69a1e96"},"type":"Compose","inputs":"@items('for_each_site_in_the_filter')"}},"runAfter":{"All_sites_with_data":["Succeeded"]},"metadata":{"operationMetadataId":"662cd75a-bdc3-4e63-87fa-14c8ea27d9da"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"9a3febac-5919-4293-94ac-ec6450e16553"},"type":"SetVariable","inputs":{"name":"IsErrorFree","value":"@false"}},"Response":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"1f529166-a6ec-423d-9a92-396a0ad70218"},"type":"Response","kind":"Http","inputs":{"statusCode":401,"headers":{"Error":"\"you are not using correct Version of the Bulk Excel template\""},"body":"you are not using correct Version of the Bulk Excel template"}}}},"expression":{"equals":["@outputs('get_the_version_#')?['body/value'][0]?['version Number']","1"]},"metadata":{"operationMetadataId":"a782cd03-7b79-4f14-80d5-4a9c5c6110da"},"type":"If"},"Compose":{"runAfter":{"get_the_version_#":["Succeeded"]},"metadata":{"operationMetadataId":"1bee8cd8-65e5-46b6-a15e-25aea96a3112"},"type":"Compose","inputs":"@outputs('get_the_version_#')?['body/value'][0]?['version Number']"},"Create_Temp_file":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"operationMetadataId":"d78c1ad0-cc32-4c5b-bd99-b00c092fc24f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"@outputs('Create_new_folder')?['body/{FullPath}']","name":"@outputs('getfilename')","body":"@base64ToBinary(outputs('attachement'))"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_new_folder":{"runAfter":{"getfilename":["Succeeded"]},"metadata":{"operationMetadataId":"d1d81464-2008-4bda-9de6-02d58454c8b0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateNewFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","table":"ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395","parameters/path":"/CID_Bulk_Upload/@{triggerBody()?['activityid']}"},"authentication":"@parameters('$authentication')"}},"Compose_2":{"runAfter":{"Create_Temp_file":["Succeeded"]},"metadata":{"operationMetadataId":"95f3b81e-ab09-4492-85c9-0b1c6f1582bd"},"type":"Compose","inputs":"/CID_Bulk_Upload/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}"}},"runAfter":{"attachement":["Succeeded"]},"expression":{"not":{"equals":["@outputs('attachement')","Null"]}},"metadata":{"operationMetadataId":"06b869e6-ecc6-4f8d-a019-d96151a0cbed"},"type":"If"},"Error_flag":{"runAfter":{},"metadata":{"operationMetadataId":"af9c01db-59f3-46fa-826e-e24fc2c82cca"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsErrorFree","type":"boolean","value":"@true"}]}},"Error_List_Variable":{"runAfter":{"Error_flag":["Succeeded"]},"metadata":{"operationMetadataId":"a10a3b39-9550-46b6-b00c-75dd826be0a2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Error_List","type":"array","value":[{"Site_address":"","Error":""}]}]}},"Row_Number_vailable":{"runAfter":{"Error_List_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"396871f6-9db7-4572-ac20-9b39cc12d51a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RowNumber","type":"integer","value":3}]}},"check_error_flag":{"actions":{"Success_Response":{"runAfter":{},"metadata":{"operationMetadataId":"66e8a4fe-bef3-42dc-8d0c-7f1c84210141"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@outputs('Create_Temp_file')?['body/Path']"}}},"runAfter":{"check_attachement":["Succeeded"]},"else":{"actions":{"Error_List_Response":{"runAfter":{"cancel_activity":["Succeeded"]},"metadata":{"operationMetadataId":"85051360-cd53-4364-b6a2-1a0c6e2154b9"},"type":"Response","kind":"Http","inputs":{"statusCode":402,"body":"@outputs('html_table_with_style')"}},"Create_HTML_table":{"runAfter":{},"metadata":{"operationMetadataId":"3d5b95c3-0259-4f2b-a767-b20b99174ec1"},"type":"Table","inputs":{"from":"@variables('Error_List')","format":"HTML"}},"html_table_with_style":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"920beb59-130c-4895-ab0c-490a0d32e827"},"type":"Compose","inputs":"<style>\ntable {\n  border: 1px solid #1C6EA4;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #AAAAAA;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>\n@{body('Create_HTML_table')}"},"cancel_activity":{"runAfter":{"html_table_with_style":["Succeeded"]},"metadata":{"operationMetadataId":"8747c466-d5c0-4e23-9ab4-4807be373ff8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cid_activityreviewlogs","recordId":"@triggerBody()?['activityid']","item/statecode":2,"item/cid_logentrytype":100000000},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('IsErrorFree')","@true"]},"metadata":{"operationMetadataId":"65069879-0150-4e08-9d1e-e04210460358"},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}