Solutions/CID_Flows/unpack/Workflows/ExcelLoadFlow-C2191324-8B57-EC11-8F8E-0022483DA607.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceSharepointTDGCoreUser"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_excelonlinebusiness_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceExcelTDGCoreUser"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_azureblob_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedazureblob_395e7"
        },
        "api": {
          "name": "shared_azureblob"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cdc68973-4ee7-45f1-94b0-443f28a111e4"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "activityid": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "accountid": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Initialize_ProvinceCodes_variable": {
          "runAfter": {
            "Error_flag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74815300-3912-4a4c-ad7f-1cfdca4d3ce9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProvinceCodes",
                "type": "object",
                "value": {
                  "NL": "10",
                  "PE": "11",
                  "NS": "12",
                  "NB": "13",
                  "QC": "24",
                  "ON": "35",
                  "MB": "46",
                  "SK": "47",
                  "AB": "48",
                  "BC": "59",
                  "YU": "60",
                  "NT": "61",
                  "NU": "62",
                  "UF": "72",
                  "IW": "73"
                }
              }
            ]
          }
        },
        "Initialize_Environment_folder_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fc5c3dd6-8d62-49cb-befd-838a6faaacca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "Dev"
              }
            ]
          }
        },
        "Error_flag": {
          "runAfter": {
            "Initialize_Environment_folder_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af9c01db-59f3-46fa-826e-e24fc2c82cca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsErrorFree",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Row_Number_vailable": {
          "runAfter": {
            "Error_List_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "396871f6-9db7-4572-ac20-9b39cc12d51a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RowNumber",
                "type": "integer",
                "value": 3
              }
            ]
          }
        },
        "Error_List_Variable": {
          "runAfter": {
            "Initialize_ProvinceCodes_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a10a3b39-9550-46b6-b00c-75dd826be0a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_List",
                "type": "array",
                "value": [
                  {
                    "Site_address": "",
                    "Error": ""
                  }
                ]
              }
            ]
          }
        },
        "check_error_flag": {
          "actions": {
            "Success_Response": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "66e8a4fe-bef3-42dc-8d0c-7f1c84210141"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "@outputs('Create_Temp_file')?['body/Path']"
              }
            }
          },
          "runAfter": {
            "check_attachement": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Error_List_Response": {
                "runAfter": {
                  "cancel_activity": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "85051360-cd53-4364-b6a2-1a0c6e2154b9"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 402,
                  "body": "@outputs('html_table_with_style')"
                }
              },
              "Create_HTML_table": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                },
                "type": "Table",
                "inputs": {
                  "from": "@variables('Error_List')",
                  "format": "HTML"
                }
              },
              "html_table_with_style": {
                "runAfter": {
                  "Create_HTML_table": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                },
                "type": "Compose",
                "inputs": "<style>\ntable {\n  border: 1px solid #1C6EA4;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #AAAAAA;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>\n@{body('Create_HTML_table')}"
              },
              "cancel_activity": {
                "runAfter": {
                  "html_table_with_style": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "8747c466-d5c0-4e23-9ab4-4807be373ff8"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_activityreviewlogs",
                    "recordId": "@triggerBody()?['activityid']",
                    "item/statecode": 2,
                    "item/description": "@outputs('html_table_with_style')",
                    "item/cid_logentrytype": 100000000
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('IsErrorFree')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "65069879-0150-4e08-9d1e-e04210460358"
          },
          "type": "If"
        },
        "check_attachement": {
          "actions": {
            "getfilename": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0e873c2f-544b-4f80-a0c7-10e0e9eea411"
              },
              "type": "Compose",
              "inputs": "@concat(triggerBody()?['activityid'],'_',utcNow(),'.xlsx')"
            },
            "Create_Temp_file": {
              "runAfter": {
                "Create_new_folder": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d78c1ad0-cc32-4c5b-bd99-b00c092fc24f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "folderPath": "@outputs('Create_new_folder')?['body/{FullPath}']",
                  "name": "@outputs('getfilename')",
                  "body": "@outputs('attachement')"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Create_new_folder": {
              "runAfter": {
                "getfilename": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1d81464-2008-4bda-9de6-02d58454c8b0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "CreateNewFolder",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://034gc.sharepoint.com/sites/SamuraiTeam",
                  "table": "ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395",
                  "parameters/path": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_Classes": {
              "runAfter": {
                "getfilename": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a286252a-94ac-4046-9988-64bbb54ee813"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "stringmaps",
                  "fetchXml": "<fetch>\n  <entity name=\"stringmap\" >\n    <attribute name=\"attributevalue\" />\n    <attribute name=\"attributename\" />\n    <attribute name=\"value\" />\n    <filter>\n\n      <condition attribute=\"attributename\" operator=\"eq\" value=\"ovs_primeclass\" />\n     \n    </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_rows_UNNumber": {
              "runAfter": {
                "getfilename": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "49f988a5-a4a2-4243-af3f-56831c6264dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tdg_unnumbers",
                  "$select": "tdg_name,tdg_unnumberid,tdg_packinggroupcd"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_tables": {
              "runAfter": {
                "Update_bulk_Activity_Log_Summary": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d54bf7e3-e86f-4418-8a41-6e0839a09425",
                "tableId": null
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_excelonlinebusiness_1",
                  "operationId": "GetTables",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                },
                "parameters": {
                  "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                  "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                  "file": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Filter-array-table2": {
              "runAfter": {
                "Get_tables": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4f6088f2-9cee-4739-9ada-9f118e232533"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_tables')?['body/value']",
                "where": "@equals(item()['name'], 'TableAddBasic')"
              }
            },
            "Filter-array-Table4": {
              "runAfter": {
                "Filter-array-table2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6b2878bf-b104-467f-9d6a-3cd0583bc967"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_tables')?['body/value']",
                "where": "@equals(item()['name'], 'TableAddExtended')"
              }
            },
            "Filter-array-Table1": {
              "runAfter": {
                "Filter-array-Table4": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9e90dfa9-e55e-43c5-94c7-2b9f55fefa01"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_tables')?['body/value']",
                "where": "@equals(item()['name'], 'Table1')"
              }
            },
            "Filter-array-UpdateSiteTable": {
              "runAfter": {
                "Filter-array-Table1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d5bd754f-e482-43a8-b7e5-97cf92055e14"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_tables')?['body/value']",
                "where": "@equals(item()['name'], 'UpdateSiteTable')"
              }
            },
            "Filter-array-UpdateUNNumberTable": {
              "runAfter": {
                "Filter-array-UpdateSiteTable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e86df682-e146-4cde-a789-67362a4fc719"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Get_tables')?['body/value']",
                "where": "@equals(item()['name'], 'UpdateUNNumberTable')"
              }
            },
            "check-If-Tables_exists-In_excel": {
              "actions": {
                "get_the_version_#": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "225ee8e6-dae1-4b5d-a9a1-992f64baec5b",
                    "tableId": "Table1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_excelonlinebusiness_1",
                      "operationId": "GetItems",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                    },
                    "parameters": {
                      "source": "sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211",
                      "drive": "b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV",
                      "file": "/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{triggerBody()?['activityid']}/@{outputs('Create_Temp_file')?['body/Name']}",
                      "table": "Table1"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Filter-array-UpdateUNNumberTable": [
                  "Succeeded"
                ],
                "List_Classes": [
                  "Succeeded"
                ],
                "List_rows_UNNumber": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_IsErrorFree_to_false": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "97bb35e1-166e-43b9-babc-3161cd46cc09"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "IsErrorFree",
                      "value": "@false"
                    }
                  },
                  "Response_-_send_template_error_response": {
                    "runAfter": {
                      "Set_variable__flag_allTable_exists_to_false": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ee3c3cd2-006d-4ac8-a012-7c327fbf86fd"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 401,
                      "body": "You are not using the right Template. Please download the template from portal"
                    }
                  },
                  "Set_variable__flag_allTable_exists_to_false": {
                    "runAfter": {
                      "Set_IsErrorFree_to_false": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "62a41d5d-eae5-47bf-a918-bb2a549665e2"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Flage_All_Table_exists",
                      "value": "@false"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Filter-array-Table1'))",
                      0
                    ]
                  },
                  {
                    "greater": [
                      "@length(body('Filter-array-table2'))",
                      0
                    ]
                  },
                  {
                    "greater": [
                      "@length(body('Filter-array-Table4'))",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "741e3a50-0416-4cc0-bacc-5794139a364c"
              },
              "type": "If"
            },
            "check_version_Number": {
              "actions": {
                "List_All_Accounts": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0f914c7e-efed-4c8d-9146-29a295558772"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "$select": "address1_city,address1_stateorprovince,address1_line1,address1_postalcode,cid_unitnumber",
                      "$filter": "customertypecode eq 948010001 and _parentaccountid_value eq '@{triggerBody()?['accountid']}'",
                      "$expand": "parentaccountid($select=name,accountid)"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Filter_table2_-_get_none_empty_cells_": {
                  "runAfter": {
                    "Invoke_an_HTTP_request_Get_Table2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1f1c482b-be72-4cb9-8ef4-90104b2c6119"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('Invoke_an_HTTP_request_Get_Table2')?['body']['value']",
                    "where": "@greater(length(item()['values'][0][0]), 0)"
                  }
                },
                "Invoke_an_HTTP_request_Get_Table2": {
                  "runAfter": {
                    "List_All_Accounts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_webcontents",
                      "operationId": "InvokeHttp",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                    },
                    "parameters": {
                      "request/method": "GET",
                      "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('Create_new_folder')?['body/{Name}']}/@{outputs('Create_Temp_file')?['body/Name']}:/workbook/tables/Table2/rows",
                      "request/headers": {
                        "accept": "application/json"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_site_from_http_request": {
                  "foreach": "@body('Filter_table2_-_get_none_empty_cells_')",
                  "actions": {
                    "Current_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "692703f0-6bc6-4bc1-8199-14e43dfe7f6a"
                      },
                      "type": "Compose",
                      "inputs": "@items('For_each_site_from_http_request')"
                    },
                    "Check_if_all_required_address_information_is_entered": {
                      "actions": {
                        "Increment_RowNumber_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ac6b817e-3c8a-4720-89f6-1e0f1734fab5"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "RowNumber",
                            "value": 1
                          }
                        },
                        "Filter_array_-_Check_address_by_address_,_city_,_and_province": {
                          "runAfter": {
                            "Increment_RowNumber_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "cb6ac0c8-ddde-45cd-b7c0-2d89c9b0c0d2"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@outputs('List_All_Accounts')?['body/value']",
                            "where": "@and(equals(item()?['address1_line1'], toUpper(outputs('current_row')['values'][0][5])),equals(item()?['address1_city'],toUpper(outputs('current_row')['values'][0][6])),equals(item()?['address1_stateorprovince'], toUpper(outputs('current_row')['values'][0][7])))"
                          }
                        },
                        "Check_if_address_exists_in_the_database": {
                          "actions": {
                            "Set_is_error_free_to_false_2": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "876cbe4c-cf79-41cb-9c82-008a32a55d8c"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "IsErrorFree",
                                "value": "@false"
                              }
                            },
                            "Check_if_belong_to_account_2": {
                              "actions": {
                                "Site_Already_exist_2": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "a873dcdb-5ed2-41ec-8630-dd79461986d5"
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "Error_List",
                                    "value": {
                                      "Site_address": " Row @{outputs('current_row')['values'][0][13]}- @{outputs('current_row')['values'][0][5]} ",
                                      "Error": "Site Already Exists, please use the update process to update site information"
                                    }
                                  }
                                }
                              },
                              "runAfter": {
                                "Set_is_error_free_to_false_2": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Append_to_array_-_site_belong_to_another_account_2": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "0721f40e-9313-4b23-ac3a-e7e03fce1613"
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "Error_List",
                                      "value": {
                                        "Site_address": "Row @{outputs('current_row')['values'][0][13]} @{outputs('current_row')['values'][0][5]}",
                                        "Error": "Site belong to another Company please go thorugh the claim process"
                                      }
                                    }
                                  }
                                }
                              },
                              "expression": {
                                "equals": [
                                  "@first(body('Filter_array_-_Check_address_by_address_,_city_,_and_province'))?['parentaccountid']?['accountid']",
                                  "@triggerBody()?['accountid']"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "16b3e2fe-c1c8-41e0-84b0-5630c2ed22a9"
                              },
                              "type": "If"
                            }
                          },
                          "runAfter": {
                            "Filter_array_-_Check_address_by_address_,_city_,_and_province": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Check_if_City_spelling_is_correct_and_province_match_is_correct_2": {
                                "actions": {
                                  "Province_2": {
                                    "runAfter": {},
                                    "metadata": {
                                      "operationMetadataId": "7eab0b76-4c57-41ae-b81a-9d1db24be760"
                                    },
                                    "type": "Compose",
                                    "inputs": "@outputs('current_row')['values'][0][7]"
                                  },
                                  "Get_call_Canada_Geo_Api_to_get_province_2": {
                                    "runAfter": {
                                      "Province_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "775597cd-69c2-45a3-b4d4-87e01b072cda"
                                    },
                                    "type": "Http",
                                    "inputs": {
                                      "method": "GET",
                                      "uri": "https://geogratis.gc.ca/services/geoname/en/geonames.json?q=@{outputs('current_row')['values'][0][6]}",
                                      "headers": {
                                        "accept": "application/json"
                                      }
                                    }
                                  },
                                  "Compose": {
                                    "runAfter": {
                                      "Get_call_Canada_Geo_Api_to_get_province_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "7926f4a5-ad4e-487b-9e34-10caf860e1e3"
                                    },
                                    "type": "Compose",
                                    "inputs": "@{length(body('Get_call_Canada_Geo_Api_to_get_province_2')['items'])}\n"
                                  },
                                  "check_if_city_is_correct_2": {
                                    "actions": {
                                      "Get_Province_Code_from_Province_Array_2": {
                                        "runAfter": {},
                                        "metadata": {
                                          "operationMetadataId": "0b56a4be-ee78-4da6-b112-67912d00a444"
                                        },
                                        "type": "Compose",
                                        "inputs": "@variables('ProvinceCodes')[outputs('Province_2')]"
                                      },
                                      "Filter_Api_result_2": {
                                        "runAfter": {
                                          "Get_Province_Code_from_Province_Array_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "d05bd343-f426-4584-b99f-98ede8fd25a4"
                                        },
                                        "type": "Query",
                                        "inputs": {
                                          "from": "@body('Get_call_Canada_Geo_Api_to_get_province_2')['items']",
                                          "where": "@contains(item()['Province']['code'], outputs('Get_Province_Code_from_Province_Array_2'))"
                                        }
                                      },
                                      "Check_if_province_match_with_city_2": {
                                        "actions": {},
                                        "runAfter": {
                                          "Filter_Api_result_2": [
                                            "Succeeded"
                                          ]
                                        },
                                        "else": {
                                          "actions": {
                                            "Append_to_array_-_City_doesn't_belong_to_province": {
                                              "runAfter": {},
                                              "metadata": {
                                                "operationMetadataId": "0721f40e-9313-4b23-ac3a-e7e03fce1613"
                                              },
                                              "type": "AppendToArrayVariable",
                                              "inputs": {
                                                "name": "Error_List",
                                                "value": {
                                                  "Site_address": " Row@{outputs('current_row')['values'][0][13]} -   @{outputs('current_row')['values'][0][5]} ",
                                                  "Error": "City @{outputs('current_row')['values'][0][6]} doesn't belong to province @{outputs('current_row')['values'][0][7]}"
                                                }
                                              }
                                            },
                                            "Set_is_error_free_to_false_for_city_match_with_province_2": {
                                              "runAfter": {
                                                "Append_to_array_-_City_doesn't_belong_to_province": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "876cbe4c-cf79-41cb-9c82-008a32a55d8c"
                                              },
                                              "type": "SetVariable",
                                              "inputs": {
                                                "name": "IsErrorFree",
                                                "value": "@false"
                                              }
                                            }
                                          }
                                        },
                                        "expression": {
                                          "greater": [
                                            "@length(body('Filter_Api_result_2'))",
                                            0
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "e95639cc-e26e-49c7-8d7b-b6bccf2987b5"
                                        },
                                        "type": "If"
                                      }
                                    },
                                    "runAfter": {
                                      "Compose": [
                                        "Succeeded"
                                      ]
                                    },
                                    "else": {
                                      "actions": {
                                        "Set_variable_error_free_to_false_for_city_not_correct_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "3e23e089-210a-4907-8ba3-fb9fc8b12b3d"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "IsErrorFree",
                                            "value": "@false"
                                          }
                                        },
                                        "Append_to_array_-_City_doesn't_belong_to_province_2": {
                                          "runAfter": {
                                            "Set_variable_error_free_to_false_for_city_not_correct_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "0721f40e-9313-4b23-ac3a-e7e03fce1613"
                                          },
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "Error_List",
                                            "value": {
                                              "Site_address": " Row @{outputs('current_row')['values'][0][13]} -   @{outputs('current_row')['values'][0][5]} ",
                                              "Error": "City @{outputs('current_row')['values'][0][6]} is not correct "
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "expression": {
                                      "greater": [
                                        "@length(body('Get_call_Canada_Geo_Api_to_get_province_2')['items'])",
                                        0
                                      ]
                                    },
                                    "metadata": {
                                      "operationMetadataId": "a9eea2f4-9c8d-4417-b0cc-5f707635bfcc"
                                    },
                                    "type": "If"
                                  }
                                },
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "288eb829-ba04-4fd3-87ca-4176b7fca5d4"
                                },
                                "type": "Scope"
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Filter_array_-_Check_address_by_address_,_city_,_and_province'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "c06dbc9d-12fe-441b-8c8d-4ca616d3d7bf"
                          },
                          "type": "If"
                        },
                        "Class_Check_Logic": {
                          "actions": {
                            "Split_classes": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "e0dca524-c854-4512-87a5-c52c0631f446"
                              },
                              "type": "Compose",
                              "inputs": "@split(outputs('current_row')['values'][0][11] , ',')"
                            },
                            "Loop_in_Classes": {
                              "foreach": "@outputs('Split_classes')",
                              "actions": {
                                "Current_Class_-_Add_site_sheet": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "cd482863-072d-464f-9106-d280ae25998e"
                                  },
                                  "type": "Compose",
                                  "inputs": "@items('Loop_in_Classes')"
                                },
                                "Filter_array-Class-insert-sheet": {
                                  "runAfter": {
                                    "Current_Class_-_Add_site_sheet": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "22054bd7-c034-4375-845f-d7750e34a672"
                                  },
                                  "type": "Query",
                                  "inputs": {
                                    "from": "@outputs('List_Classes')?['body/value']",
                                    "where": "@equals(item()?['value'], trim(outputs('Current_Class_-_Add_site_sheet')))"
                                  }
                                },
                                "Check_if_class_doesn't_exists_in_database": {
                                  "actions": {
                                    "Set_variable_Error_free_to_false_for_Class_check": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "6854c04f-327e-4ed5-b17e-f8a85946dc59"
                                      },
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "IsErrorFree",
                                        "value": "@false"
                                      }
                                    },
                                    "Site_is_missing_Mandatory_fields": {
                                      "runAfter": {
                                        "Set_variable_Error_free_to_false_for_Class_check": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "a873dcdb-5ed2-41ec-8630-dd79461986d5"
                                      },
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "Error_List",
                                        "value": {
                                          "Site_address": " row @{outputs('current_row')['values'][0][13]} - @{outputs('current_row')['values'][0][5]}",
                                          "Error": "Class   @{outputs('Current_Class_-_Add_site_sheet')}  is not correct"
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Filter_array-Class-insert-sheet": [
                                      "Succeeded"
                                    ]
                                  },
                                  "expression": {
                                    "equals": [
                                      "@length(body('Filter_array-Class-insert-sheet'))",
                                      0
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "9ed023a3-88d2-4445-9ac0-28b90c20853c"
                                  },
                                  "type": "If"
                                }
                              },
                              "runAfter": {
                                "Split_classes": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "20f34ebd-ca6a-4dab-83f7-fe482fd75ed5"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Check_if_address_exists_in_the_database": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "535fc6fd-165b-4dcb-b9c3-e2af382e3a6f"
                          },
                          "type": "Scope"
                        }
                      },
                      "runAfter": {
                        "Current_row": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Set_variable_3": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "6854c04f-327e-4ed5-b17e-f8a85946dc59"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "IsErrorFree",
                              "value": "@false"
                            }
                          },
                          "Site_is_missing_Mandatory_fields_2": {
                            "runAfter": {
                              "Set_variable_3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "a873dcdb-5ed2-41ec-8630-dd79461986d5"
                            },
                            "type": "AppendToArrayVariable",
                            "inputs": {
                              "name": "Error_List",
                              "value": {
                                "Site_address": " row @{outputs('current_row')['values'][0][13]} - @{outputs('current_row')['values'][0][5]}",
                                "Error": "Site is missing Required Information"
                              }
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(outputs('current_row')['values'][0][5])",
                              0
                            ]
                          },
                          {
                            "greater": [
                              "@length(outputs('current_row')['values'][0][6])",
                              0
                            ]
                          },
                          {
                            "greater": [
                              "@length(outputs('current_row')['values'][0][7])",
                              0
                            ]
                          },
                          {
                            "greater": [
                              "@length(outputs('current_row')['values'][0][8])",
                              0
                            ]
                          },
                          {
                            "not": {
                              "equals": [
                                "@outputs('current_row')['values'][0][11]",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "74bae040-97ca-4985-9ad3-540d32283954"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Filter_table2_-_get_none_empty_cells_": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a13dfb1a-1128-4977-9f3a-295db5d71229"
                  },
                  "type": "Foreach"
                },
                "Scope_-_Site_update_table": {
                  "actions": {
                    "Invoke_an_HTTP_request_-_get_site_update_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b25f13b5-0f2b-405b-80b1-18dad497eeb3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_webcontents",
                          "operationId": "InvokeHttp",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                        },
                        "parameters": {
                          "request/method": "GET",
                          "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/CID_Bulk_Upload/@{variables('Environment_Folder')}/@{outputs('Create_new_folder')?['body/{Name}']}/@{outputs('Create_Temp_file')?['body/Name']}:/workbook/tables/UpdateSiteTable/rows",
                          "request/headers": {
                            "accept": "application/json"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Loop_in_site_update_Table": {
                      "foreach": "@body('Invoke_an_HTTP_request_-_get_site_update_table')?['value']",
                      "actions": {
                        "current-row-in-site-update-table": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "aa3d2056-092b-4ae8-8e27-e15dff52ea38"
                          },
                          "type": "Compose",
                          "inputs": "@items('Loop_in_site_update_Table')"
                        },
                        "Site-GUID": {
                          "runAfter": {
                            "current-row-in-site-update-table": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5991af43-0856-448d-acaa-cc85258733b4"
                          },
                          "type": "Compose",
                          "inputs": "@items('Loop_in_site_update_Table')['values'][0][8]"
                        },
                        "check_if_site_GUID_is_not_null": {
                          "actions": {
                            "Class_Check_Logic__-_update": {
                              "actions": {
                                "Split_classes_2": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "e0dca524-c854-4512-87a5-c52c0631f446"
                                  },
                                  "type": "Compose",
                                  "inputs": "@split(items('Loop_in_site_update_Table')['values'][0][6], ',')"
                                },
                                "Loop_in_Classes_2": {
                                  "foreach": "@outputs('Split_classes_2')",
                                  "actions": {
                                    "Current-class-site-update": {
                                      "runAfter": {},
                                      "metadata": {
                                        "operationMetadataId": "cd482863-072d-464f-9106-d280ae25998e"
                                      },
                                      "type": "Compose",
                                      "inputs": "@items('Loop_in_Classes_2')"
                                    },
                                    "Filter_array-Class-insert-sheet_2": {
                                      "runAfter": {
                                        "Current-class-site-update": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "a018b408-93fe-49b7-a585-f2499bed964e"
                                      },
                                      "type": "Query",
                                      "inputs": {
                                        "from": "@outputs('List_Classes')?['body/value']",
                                        "where": "@equals(item()?['value'], trim(outputs('Current-class-site-update')))"
                                      }
                                    },
                                    "Check_if_class_doesn't_exists_in_database_2": {
                                      "actions": {
                                        "Set_variable_Error_free_to_false_for_Class_check_2": {
                                          "runAfter": {},
                                          "metadata": {
                                            "operationMetadataId": "6854c04f-327e-4ed5-b17e-f8a85946dc59"
                                          },
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "IsErrorFree",
                                            "value": "@false"
                                          }
                                        },
                                        "Site_is_missing_Mandatory_fields_3": {
                                          "runAfter": {
                                            "Set_variable_Error_free_to_false_for_Class_check_2": [
                                              "Succeeded"
                                            ]
                                          },
                                          "metadata": {
                                            "operationMetadataId": "a873dcdb-5ed2-41ec-8630-dd79461986d5"
                                          },
                                          "type": "AppendToArrayVariable",
                                          "inputs": {
                                            "name": "Error_List",
                                            "value": {
                                              "Site_address": " @{items('Loop_in_site_update_Table')['values'][0][1]} ",
                                              "Error": "Class   @{outputs('Current-class-site-update')}  is not correct"
                                            }
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Filter_array-Class-insert-sheet_2": [
                                          "Succeeded"
                                        ]
                                      },
                                      "expression": {
                                        "equals": [
                                          "@length(body('Filter_array-Class-insert-sheet_2'))",
                                          0
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "ecdbb7a4-5e91-4426-a767-ee44ac5e2757"
                                      },
                                      "type": "If"
                                    }
                                  },
                                  "runAfter": {
                                    "Split_classes_2": [
                                      "Succeeded"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "20f34ebd-ca6a-4dab-83f7-fe482fd75ed5"
                                  },
                                  "type": "Foreach"
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "4a64b308-cfbb-4226-adcb-d1c014d373b3"
                              },
                              "type": "Scope"
                            }
                          },
                          "runAfter": {
                            "Site-GUID": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "greater": [
                              "@length(outputs('Site-GUID'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "466128be-5eb8-4545-b9eb-b166b9b2dcc0"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {
                        "Invoke_an_HTTP_request_-_get_site_update_table": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3436b101-1321-4ad1-b0bf-99ecdff3c985"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "List_All_Accounts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c6ee1b7d-ca2e-49a1-b812-3f5c81e59625"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "check-If-Tables_exists-In_excel": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9a3febac-5919-4293-94ac-ec6450e16553"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "IsErrorFree",
                      "value": "@false"
                    }
                  },
                  "Response": {
                    "runAfter": {
                      "Set_variable": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1f529166-a6ec-423d-9a92-396a0ad70218"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                      "statusCode": 401,
                      "headers": {
                        "Error": "\"you are not using correct Version of the Bulk Excel template\""
                      },
                      "body": "you are not using correct Version of the Bulk Excel template"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('get_the_version_#')?['body/value'][0]?['version Number']",
                  "1"
                ]
              },
              "metadata": {
                "operationMetadataId": "a782cd03-7b79-4f14-80d5-4a9c5c6110da"
              },
              "type": "If"
            },
            "Update_bulk_Activity_Log_Summary": {
              "runAfter": {
                "Create_Temp_file": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "16c1b0ac-fdb1-4356-9768-087810cae42f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@triggerBody()?['activityid']",
                  "item/cid_activitystarttime": "@utcNow()",
                  "item/cid_activitytype": 100000001,
                  "item/cid_tempsharepointfilelocation": "@outputs('Create_Temp_file')?['body/Path']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "get_Attachment_conetent": [
              "Succeeded"
            ],
            "All-Tables_exists-in-Excel-Flag": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "6854c04f-327e-4ed5-b17e-f8a85946dc59"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "IsErrorFree",
                  "value": "@false"
                }
              },
              "Response_attachment_not_found": {
                "runAfter": {
                  "Set_variable_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "1f529166-a6ec-423d-9a92-396a0ad70218"
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 401,
                  "headers": {
                    "Error": "\"Filet not found\""
                  },
                  "body": "File Not Found"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@outputs('attachement')",
                "Null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "06b869e6-ecc6-4f8d-a019-d96151a0cbed"
          },
          "type": "If"
        },
        "get_Attachment_conetent": {
          "actions": {
            "Get_Bulk_Activity_log_Summaries": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "0abf4f66-6dea-4942-a637-83047b3c2026"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@triggerBody()?['activityid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Note": {
              "runAfter": {
                "Get_Bulk_Activity_log_Summaries": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7793f97f-eebe-40e1-866e-eaaebd7ee54b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "annotations",
                  "$filter": "_objectid_value eq @{triggerBody()?['activityid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "attachement": {
              "runAfter": {
                "Get_blob_content_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "26d6e4c7-9c5e-48b5-8a86-4e89ac3c5461"
              },
              "type": "Compose",
              "inputs": "@body('Get_blob_content_(V2)')"
            },
            "Get-Txt-file-from-attachement": {
              "runAfter": {
                "Get_Note": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "62e124c4-2e49-4fc2-ae92-69bcb44fc3ec"
              },
              "type": "Compose",
              "inputs": "@json(base64ToString(outputs('Get_Note')?['body/value'][0].documentbody))"
            },
            "file-URL-in-Blob": {
              "runAfter": {
                "Get-Txt-file-from-attachement": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9c7f4bb9-be7d-46bd-905b-f53f3f8e4078"
              },
              "type": "Compose",
              "inputs": "@outputs('Get-Txt-file-from-attachement')['URL']"
            },
            "Get_blob_content_(V2)": {
              "runAfter": {
                "file-URL-in-Blob": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "27463fd4-1ba4-437b-aeab-f3227a9d5e9b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_azureblob_1",
                  "operationId": "GetFileContent_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_azureblob"
                },
                "parameters": {
                  "dataset": "satdgrdnprdcc",
                  "id": "@substring(outputs('file-URL-in-Blob') , indexOf (outputs('file-URL-in-Blob') , '/blobstoragecontainer') )",
                  "inferContentType": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "28bcf457-d482-4c97-8639-e70b9bcd77c1"
          },
          "type": "Scope"
        },
        "All-Tables_exists-in-Excel-Flag": {
          "runAfter": {
            "Row_Number_vailable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea234297-f193-4320-b5cf-eeed009e2f42"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Flage_All_Table_exists",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}