Solutions/CID_Flows/unpack/Workflows/Importdataintorootcompany-135F36D1-DBAF-EC11-983E-000D3A84ADBC.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added_to_the_temp_table": {
          "metadata": {
            "operationMetadataId": "f1fc1632-79d8-4a5d-b314-9227aef19b30"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cid_tempaccountforimport",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Create_primary_contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "97409edc-2fdc-4e3a-8d97-9739031c997e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "item/firstname": "@triggerOutputs()?['body/cid_contactfirstname']",
                  "item/lastname": "@triggerOutputs()?['body/cid_contactlastname']",
                  "item/emailaddress1": "@triggerOutputs()?['body/cid_contactemail']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_Organization": {
              "runAfter": {
                "Create_primary_contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "37f3445e-c58a-4a44-aaf0-ed10282d9b01"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "item/address1_city": "@triggerOutputs()?['body/cid_city']",
                  "item/address1_country": "@triggerOutputs()?['body/cid_country']",
                  "item/ovs_address_type": 0,
                  "item/ovs_legalname": "@outputs('Create_primary_contact')?['body/cid_legalname']",
                  "item/name": "@outputs('Create_primary_contact')?['body/cid_operatingname']",
                  "item/customertypecode": 12,
                  "item/ovs_romid": "000000",
                  "item/address1_stateorprovince": "@triggerOutputs()?['body/cid_province']",
                  "item/address1_line1": "@triggerOutputs()?['body/cid_street1']",
                  "item/address1_postalcode": "@triggerOutputs()?['body/cid_postalcode']",
                  "item/address1_line2": "@triggerOutputs()?['body/cid_street2']",
                  "item/address1_line3": "@triggerOutputs()?['body/cid_street3']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/cid_contactfirstname']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/cid_contactlastname']",
                    "@null"
                  ]
                }
              },
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/cid_companyoperatingname']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "f4fe0430-732c-4e2d-9950-65361d9d10e0"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}