Solutions/CID_Flows/unpack/Workflows/OnDemand-CIDSendPortalContactInvitationstoPortalUs-6C00DB04-175A-ED11-9562-0022483D0C87.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_883c5"
        },
        "api": {
          "name": "shared_sendmail"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_3": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedcommondataserviceforapps_96450"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c885dd4c-3df7-486f-b2fb-62f7001889f3"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "Secondary_Contactid": {
                  "type": "string"
                },
                "Email_Code": {
                  "type": "string"
                },
                "Portal_URL": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Get_a_row_by_ID_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "2dd83585-2c35-458b-94ff-9782ce5e36ec"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@outputs('Get_a_row_by_ID_Invited_Contact')?['body/_parentcustomerid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Variable_Assigned_Company": {
              "runAfter": {
                "Set_Inviteted_By_Field": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19e797ac-e1a0-49d1-bf45-0f580ddf071c"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Company Name",
                "value": "@outputs('Get_a_row_by_ID_Accounts')?['body/name']"
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "Set_Variable_Assigned_Company": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "50651aa9-0486-4137-bd86-402688bf5e7e"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_a_row_by_ID_Accounts')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "@@odata.id": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Set_variable_Environment": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a69640fd-9cc4-4567-a92c-174bc53bc2a5"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Environment",
                "value": "@{substring(body('Parse_JSON')?['@odata.id'],0,indexOf(body('Parse_JSON')?['@odata.id'], '.crm3'))}"
              }
            },
            "Switch_-_legacy_should_be_removed": {
              "runAfter": {
                "Set_variable_Environment": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case": {
                  "case": "https://tdgcore-dev-tcd365",
                  "actions": {
                    "Set_variable_Environment_to_Dev": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://rd-tdgcore-dev.powerappsportals.com/en/SignIn?returnUrl=%2Fen%2Fen-US%2F"
                      }
                    }
                  }
                },
                "Case_2": {
                  "case": "https://tdgcore-qa",
                  "actions": {
                    "Set_variable_Environment_to_QA": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-qa.powerappsportals.com/en/Register"
                      }
                    }
                  }
                },
                "Case_3": {
                  "case": "https://tdgcore-acc",
                  "actions": {
                    "Set_variable_Environment_to_Acc": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-acc.powerappsportals.com/en/SignIn?ReturnUrl=%2Fen%2F"
                      }
                    }
                  }
                },
                "Case_4": {
                  "case": "https://tdgcore-preprod",
                  "actions": {
                    "Set_variable_Environment_to_PreProd": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Environment",
                        "value": "https://tdgcore-preprod.powerappsportals.com/en/Register?returnUrl=%2Fen%2F"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Set_variable_Environment_": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Environment",
                      "value": "https://rd-tdgcore-dev.powerappsportals.com/en/Register?returnUrl=%2Fen%2Fen-US%2F"
                    }
                  }
                }
              },
              "expression": "@variables('Environment')",
              "metadata": {
                "operationMetadataId": "b1e5dbee-3b93-4a5d-8205-2a7a863e70f1"
              },
              "type": "Switch"
            },
            "Switch": {
              "runAfter": {
                "Condition_-_check_if_portal_URL_parameter_is_passed": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case": {
                  "case": "S3-1",
                  "actions": {
                    "Condition_2_-_Check_contact_Language": {
                      "actions": {
                        "Send_an_email_notification_-_French_S3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "4c6eb0e1-e4fd-4955-86a4-7a288db18da9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sendmail",
                              "operationId": "SendEmailV3",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                            },
                            "parameters": {
                              "request/to": "@{outputs('Get_a_row_by_ID_Invited_Contact')?['body/emailaddress1']};",
                              "request/subject": "@{variables('FrenchTestSubjectText')} TMD en ligne – BDIC : Affectation en tant que contact secondaire pour l’organisation @{variables('Company Name')}",
                              "request/text": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\n@{variables('Invited By')}, le contact principal de l’organisation &nbsp;@{variables('Company Name')} de la plateforme de données de la BDIC en ligne de Transports Canada, vous a ajouté en tant que contact secondaire pour cette organisation. <br>\n<br>\nPour accéder à la plateforme de la BDIC, veuillez copier le lien suivant dans votre navigateur Web: <br>\n@{variables('Environment')}<br>\n<br>\nSur la page Web qui s’affiche, veuillez fournir les renseignements suivants pour le code d’invitation demandé:<br>\n@{first(outputs('Filter_Invitations')?['body/value'])?['adx_invitationcode']}<br>\n<br>\nNotez que cette invitation ne peut être utilisée que par vous-même, en tant que propriétaire du compte de messagerie. &nbsp;Si vous n’êtes pas la personne qui doit inscrire cette organisation, veuillez l’indiquer en répondant à ce courriel. Si vous connaissez le nom et l’adresse courriel de la personne chargée d’inscrire cette organisation, veuillez les indiquer également.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n<br>\n@{outputs('French-EmailFooter')}</p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Send_an_email_notification_-_English_S3": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "21ca975c-4645-4ec1-abb5-2be151919b5c"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sendmail",
                                "operationId": "SendEmailV3",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                              },
                              "parameters": {
                                "request/to": "@{outputs('Get_a_row_by_ID_Invited_Contact')?['body/emailaddress1']};",
                                "request/subject": "@{variables('TestSubjectText')} TDG Online - CID: Assignment as a Secondary Contact for the @{variables('Company Name')} organization",
                                "request/text": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\n@{variables('Invited By')}, the Primary Contact for the @{variables('Company Name')} organization of the Transport Canada Online CID Data Platform, has added you as a Secondary Contact for that organization. <br>\n<br>\nTo on-board to the CID Platform, please copy the following link into your Web browser: <br>\n@{variables('Environment')}<br>\n<br>\nOn the Web page that appears, please provide the following information for the requested Invitation code: <br>\n@{first(outputs('Filter_Invitations')?['body/value'])?['adx_invitationcode']}<br>\n<br>\nNote that this invitation can only be used by yourself, as the owner of the email account. &nbsp;If you are not the individual who should register this organization, then please indicate this via a reply to this email. If you know the name and email address of the individual who should register this organization, then please provide this as well.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTDG Online - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@outputs('Get_a_row_by_ID_Invited_Contact')?['body/cid_languageofcorrespondence']",
                          918640002
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d1f56c7c-3617-4128-acdd-287b00b852b1"
                      },
                      "type": "If"
                    }
                  }
                },
                "Case_2": {
                  "case": "S3-2",
                  "actions": {
                    "Condition_2_Check_secondary_contact_Language_of_Correspondence": {
                      "actions": {
                        "Send_an_email_notification_-_S3-2_French": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "4c6eb0e1-e4fd-4955-86a4-7a288db18da9"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sendmail",
                              "operationId": "SendEmailV3",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                            },
                            "parameters": {
                              "request/to": "@{outputs('Get_a_row_by_ID_Invited_Contact')?['body/emailaddress1']};",
                              "request/subject": "@{variables('FrenchTestSubjectText')} TMD en ligne – BDIC : Affectation en tant que contact secondaire pour l’organisation @{variables('Company Name')}",
                              "request/text": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\n@{variables('Invited By')}, le contact principal de l’organisation @{variables('Company Name')} de la plateforme de données de la BDIC en ligne, vous a ajouté en tant que contact secondaire pour cette organisation. <br>\n<br>\nUne fois que vous êtes prêt à utiliser la plateforme de la BDIC, vous pouvez utiliser le lien que vous avez précédemment utilisé @{triggerBody()?['Portal_URL']} pour vous connecter à la plateforme.<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n<br>\n@{outputs('French-EmailFooter')}</p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Send_an_email_notification_-_S3-2_English": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "4c6eb0e1-e4fd-4955-86a4-7a288db18da9"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sendmail",
                                "operationId": "SendEmailV3",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                              },
                              "parameters": {
                                "request/to": "@{outputs('Get_a_row_by_ID_Invited_Contact')?['body/emailaddress1']};",
                                "request/subject": "@{variables('TestSubjectText')} TDG Online - CID: Assignment as a Secondary Contact for the @{variables('Company Name')} organization",
                                "request/text": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\n@{variables('Invited By')}, the Primary Contact for the @{variables('Company Name')} organization of the CID Data Platform has added you as a Secondary Contact for that organization. <br>\n<br>\nOnce you are ready to use the CID Data Platform, you can use the link you previously used @{triggerBody()?['Portal_URL']} to on-board to the CID Platform.<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTDG Online - CID Support Team<br>\n<br>\n@{outputs('English-EmailFooter')}</p>"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@outputs('Get_a_row_by_ID_Invited_Contact')?['body/cid_languageofcorrespondence']",
                          918640002
                        ]
                      },
                      "type": "If"
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerBody()?['Email_Code']",
              "metadata": {
                "operationMetadataId": "b1e5dbee-3b93-4a5d-8205-2a7a863e70f1"
              },
              "type": "Switch"
            },
            "Condition_-_check_if_portal_URL_parameter_is_passed": {
              "actions": {
                "Set_variable_Environment_with_URL": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7df4e3ec-8dc4-433f-8116-c0dadea811d4"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Environment",
                    "value": "@{concat(triggerBody()?['Portal_URL'], '/Register?returnUrl=%2Fen%2Fen-US%2F')}"
                  }
                }
              },
              "runAfter": {
                "Switch_-_legacy_should_be_removed": [
                  "Succeeded"
                ]
              },
              "expression": {
                "greater": [
                  "@length(string(triggerBody()?['Portal_URL']))",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "17bbbd0e-be2e-40d4-9320-1b4e37c17aee"
              },
              "type": "If"
            },
            "Apply_to_each": {
              "foreach": "@outputs('Filter_Invitations')?['body/value']",
              "actions": {
                "Update_invitation_status_to_sent": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5ab319cf-51a9-4510-9045-69bea813a240"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_invitations",
                      "recordId": "@items('Apply_to_each')?['adx_invitationid']",
                      "item/adx_expirydate": "@addDays(utcNow(), 730)",
                      "item/statuscode": 756150000
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6fb9027c-779b-49b7-8e80-52db7505a296"
              },
              "type": "Foreach"
            },
            "Condition_2": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e331dd28-3674-4abb-80cf-09e453b16ff1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@outputs('Get_a_row_by_ID_Accounts')?['body/accountid']",
                      "item/cid_cidcompanystatus": 100000004
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID_Accounts')?['body/cid_cidcompanystatus']",
                      "@null"
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID_Accounts')?['body/cid_cidcompanystatus']",
                      100000010
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID_Accounts')?['body/cid_cidcompanystatus']",
                      100000003
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID_Accounts')?['body/cid_cidcompanystatus']",
                      100000002
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID_Accounts')?['body/cid_cidcompanystatus']",
                      100000004
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "9d86bfb7-0e20-4a1c-804d-cb7ae3e533bb"
              },
              "type": "If"
            },
            "Set_Inviteted_By_Field": {
              "actions": {
                "Get_a_row_by_ID_Invited_By_Admin": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7f77d863-b9a0-4483-bac3-bf747590bb72"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_2",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "recordId": "@first(outputs('Filter_Invitations')?['body/value'])?['_adx_invitercontact_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_variable_Invited_by_name": {
                  "runAfter": {
                    "Get_a_row_by_ID_Invited_By_Admin": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "61296ecb-8620-42c6-a79e-d3323d6a9dc9"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Invited By",
                    "value": "@{if(empty(outputs('Get_a_row_by_ID_Invited_By_Admin')?['body/firstname']),'The',concat(outputs('Get_a_row_by_ID_Invited_By_Admin')?['body/firstname'],' ',outputs('Get_a_row_by_ID_Invited_By_Admin')?['body/lastname'],', the'))}"
                  }
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_Accounts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Get_primary_contact_of_the_Organization": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "f9291997-adce-47be-8272-80044258d785"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_3",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "$select": "fullname",
                        "fetchXml": "<fetch top=\"50\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <filter>\n      <condition attribute=\"parentcustomerid\" operator=\"eq\" value=\"@{outputs('Get_a_row_by_ID_Invited_Contact')?['body/_parentcustomerid_value']}\"/>\n      <condition attribute=\"cid_contacttype\" operator=\"eq\" value=\"100000000\" />\n    </filter>\n  </entity>\n</fetch>",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable_Invited_By": {
                    "runAfter": {
                      "Get_primary_contact_of_the_Organization": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f1cba80d-18b5-45e0-8127-2be9b912ee6c"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Invited By",
                      "value": "@{first(outputs('Get_primary_contact_of_the_Organization')?['body/value'])?['fullname']}"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@contains(string(first(outputs('Filter_Invitations')?['body/value'])),'_adx_invitercontact_value')",
                  true
                ]
              },
              "metadata": {
                "operationMetadataId": "17e8300c-9b76-42ac-8273-43fda2a84f31"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(outputs('Filter_Invitations')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "9afc7c14-a47c-4784-bbac-c5b7bfc012ce"
          },
          "type": "If"
        },
        "Initialize_Invited_By": {
          "runAfter": {
            "Initialize_SecondaryContactsEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2c50202-f741-4b6d-8ec9-88363f1989d3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Invited By",
                "type": "string",
                "value": "Sir/ Madam"
              }
            ]
          }
        },
        "Initialize_Company_Name": {
          "runAfter": {
            "Initialize_Invited_By": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "351c7aa7-3319-433b-8cff-7d22f3fffc2e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Company Name",
                "type": "string",
                "value": "associated"
              }
            ]
          }
        },
        "Initialize_Variable_Environment": {
          "runAfter": {
            "Initialize_Company_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "002d5ade-2d11-46a5-81d6-6bc06374f13b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_SecondaryContactsEmail": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f24e8ba2-2187-4d64-a48d-f0a50e42c91b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecondaryContactsEmail",
                "type": "string"
              }
            ]
          }
        },
        "Filter_Invitations": {
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "255a71bd-d888-40e7-90b4-18557641ad58"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "adx_invitations",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"adx_invitation\">\n    <attribute name=\"adx_name\" />\n    <attribute name=\"adx_type\" />\n    <attribute name=\"statuscode\" />\n    <attribute name=\"adx_invitationcode\" />\n    <attribute name=\"adx_expirydate\" />\n    <attribute name=\"adx_invitationid\" />\n    <attribute name=\"adx_website\" />\n    <attribute name=\"adx_maximumredemptions\" />\n    <attribute name=\"adx_invitercontact\" />\n    <attribute name=\"adx_invitecontact\" />\n   <attribute name=\"adx_invitercontact\" />\n    <attribute name=\"adx_assigntoaccount\" />\n    <order attribute=\"adx_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"statuscode\" operator=\"ne\" value=\"756150001\" />\n      <condition attribute=\"adx_invitecontact\" operator=\"eq\" uitype=\"contact\" value=\"@{triggerBody()?['Secondary_Contactid']}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_Invited_Contact": {
          "runAfter": {
            "Filter_Invitations": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "596eeb55-93a9-4aea-b448-52d2d447d7f8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@replace(replace(triggerBody()?['Secondary_Contactid'],'{',''),'}','')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** Le message suivant est un courriel automatisé envoyé par le TMD en ligne – Système de la BDIC. Veuillez ne pas répondre ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">Remarque:<br>\n   - Pour recevoir les courriels suivants en français, vous pouvez mettre à jour votre choix de langue de correspondance préférée à l’aide du bouton [Paramètres du compte] du portail de données TMD en ligne – BDIC. <br><br> \n   - Veuillez ne pas répondre à ce courriel. Au besoin, utilisez le bouton ou le lien « Communiquer avec nous » du portail de données de la BDIC.  </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a4d30e6-367a-4728-93d1-e8fc48567195"
          },
          "type": "Scope"
        },
        "get-environment-settings": {
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "Tester le courriel: "
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "Tester le courriel: Ce courriel est un courriel de test, et non un courriel réel représentant ce qui est indiqué ci-dessous. <br><br>                                                                  "
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID_Invited_Contact": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Initialize_Variable_Environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e099354-7d1c-45fa-8905-3cb8d5e3c32d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}