Solutions/CID_Flows/unpack/Workflows/SendInvitationforPortalRegistration-1D79A039-F295-EC11-B3FE-000D3A0C829E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseLegacyServicePrinciple"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_d0e5e"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "f94d300a-52dc-4d86-b2e0-e2ac0e03e00f"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "_primarycontactid_value": {
                            "title": "Primary Contact",
                            "type": "string",
                            "format": "guid"
                          }
                        },
                        "required": [
                          "_primarycontactid_value"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataservice']['connectionId']"
              }
            },
            "operationId": "GetOnNewItems_V2",
            "parameters": {
              "dataset": "default.cds",
              "table": "accounts"
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "get_primary_contact": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "aab82d5b-74d0-44d5-847e-c508e95d9392"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerBody()?['entity']?['_primarycontactid_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition_2": {
              "actions": {
                "List_rows": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "d66cfc16-75f6-41a7-81e2-b1e25562b8f8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "adx_websites",
                      "$top": 1
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Apply_to_each": {
                  "foreach": "@outputs('List_rows')?['body/value']",
                  "actions": {
                    "Set_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "8c3356c5-c53b-44e3-bf16-2afda9439156"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "sWebsite",
                        "value": "@items('Apply_to_each')?['adx_primarydomainname']"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "960f395f-291f-475e-894f-084a5900692d"
                  },
                  "type": "Foreach"
                },
                "Send_an_email_notification_(V3)": {
                  "runAfter": {
                    "Apply_to_each": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4a681d8b-14e1-457a-aa32-8fe17c7f36d6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sendmail",
                      "operationId": "SendEmailV3",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                    },
                    "parameters": {
                      "request/to": "@{outputs('get_primary_contact')?['body/emailaddress1']};",
                      "request/subject": "Please register on CID portal",
                      "request/text": "<p>Hello @{outputs('get_primary_contact')?['body/fullname']},<br>\n<br>\nPlease click <a href='@{variables('sWebsite')}'>here<a> to register an account on our portal,</p>"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "get_primary_contact": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "",
                  ""
                ]
              },
              "metadata": {
                "operationMetadataId": "4876fe04-f516-47a9-b63f-ca29f5b00f25"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerBody()?['entity']?['_primarycontactid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "d95f5506-3d13-4b17-8bcb-7d0b36b79cd4"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "37928565-10bc-4174-a951-d65b3bee277f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sWebsite",
                "type": "string"
              }
            ]
          }
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}