Solutions/CID_Flows/unpack/Workflows/StartSiteUploadValidation-4DA59AE0-C9A6-EC11-B3FE-0022483C4A6F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceOutlookTDGCoreUser"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "fa1037c6-e762-4d2c-ae22-a3c3f9e8df54"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cid_bulkactivitylogsummary",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_detailedvalidationstarttime",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Validation_should_start_on_the_Modified_event": {
          "actions": {
            "List_All_Accounts": {
              "runAfter": {
                "List-rows-division-classes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f914c7e-efed-4c8d-9146-29a295558772"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "$select": "address1_city,address1_stateorprovince,address1_line1,address1_postalcode,cid_unitnumber,ovs_lld_quarter,\novs_lld_section,\novs_lld_township,\novs_lld_range,\novs_lld_meridian,\naddress1_latitude,\naddress1_longitude\n",
                  "$filter": "customertypecode eq 948010001 and _parentaccountid_value eq '@{outputs('CompanyId')}'",
                  "$expand": "parentaccountid($select=name,accountid)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Invoke_an_HTTP_request_Get_Site_Table": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_SettingTable_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/TableAddBasic/rows",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Filter_table_-_get_none_empty_cells_sites_for_insert_": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_Site_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f1c482b-be72-4cb9-8ef4-90104b2c6119"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Invoke_an_HTTP_request_Get_Site_Table')?['body']['value']",
                "where": "@greater(length(item()['values'][0][int(outputs('SiteFullAddress'))]), 0)"
              }
            },
            "Select_Site_List": {
              "runAfter": {
                "Filter_table_-_get_none_empty_cells_sites_for_insert_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "77d59626-6f22-4a0b-8be5-f1f0cb206b3d"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_table_-_get_none_empty_cells_sites_for_insert_')",
                "select": {
                  "SiteName": "@item()['values'][0][int(outputs('SiteName'))]",
                  "Address1": "@item()['values'][0][int(outputs('Address1'))]",
                  "City": "@item()['values'][0][int(outputs('City'))]",
                  "Province": "@item()['values'][0][int(outputs('Province'))]",
                  "Postalcode": "@item()['values'][0][int(outputs('PostalCode'))]",
                  "Address2": "@item()['values'][0][int(outputs('Address2'))]",
                  "Address3": "@item()['values'][0][int(outputs('Address3'))]",
                  "LLDProvince": "@item()['values'][0][int(outputs('LLDProvince'))]",
                  "Quarter": "@item()['values'][0][int(outputs('Quarter'))]",
                  "Section": "@item()['values'][0][int(outputs('Section'))]",
                  "TownShip": "@item()['values'][0][int(outputs('TownShip'))]",
                  "Range": "@item()['values'][0][int(outputs('Range'))]",
                  "Meridian": "@item()['values'][0][int(outputs('Meridian'))]",
                  "Lat": "@item()['values'][0][int(outputs('Lat'))]",
                  "Long": "@item()['values'][0][int(outputs('Long'))]",
                  "Air": "@item()['values'][0][int(outputs('Air'))]",
                  "Marine": "@item()['values'][0][int(outputs('Marine'))]",
                  "Rail": "@item()['values'][0][int(outputs('Rail'))]",
                  "Road": "@item()['values'][0][int(outputs('Road'))]",
                  "Handle": "@item()['values'][0][int(outputs('Handle'))]",
                  "OfferForTransport": "@item()['values'][0][int(outputs('OfferForTransport'))]",
                  "Transport": "@item()['values'][0][int(outputs('Transport'))]",
                  "Import": "@item()['values'][0][int(outputs('Import'))]",
                  "Class": "@item()['values'][0][int(outputs('Class'))]",
                  "SiteStatus": "@item()['values'][0][int(outputs('SiteStatus'))]",
                  "SiteFullAddress": "@item()['values'][0][int(outputs('SiteFullAddress'))]",
                  "SiteGUID": "@item()['values'][0][int(outputs('SiteGUID'))]",
                  "LineNumber": "@add( int(item()['index']), 6) "
                }
              }
            },
            "List-rows-division-classes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a7d3ec09-bede-4093-9912-32bc0c48b914"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_primaryclasses",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"ovs_primaryclass\">\n<attribute name=\"ovs_primaryclassid\"/>\n<attribute name=\"ovs_class\"/>\n<order attribute=\"ovs_class\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n</filter>\n</entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Perform_an_unbound_action_-_Site_Validation": {
              "runAfter": {
                "Select_Site_List": [
                  "Succeeded"
                ],
                "Check_Excel_Language": [
                  "Succeeded"
                ]
              },
              "limit": {
                "timeout": "PT15M"
              },
              "metadata": {
                "operationMetadataId": "e136eead-50e8-4d66-aab4-6eb6647796dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cid_BulkSitUploadValidation",
                  "item/ParentAccountID": "@outputs('Get_a_account_by_ID')?['body/accountid']",
                  "item/UploadType": "@triggerOutputs()?['body/cid_activitytype']",
                  "item/ClassList": "@outputs('List-rows-division-classes')?['body']['value']",
                  "item/SiteInfo": "@body('Select_Site_List')",
                  "item/ActivityID": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']",
                  "item/ValidationMessages": "@body('Parse_JSON_Messages_From_Web')",
                  "item/Language": "@variables('Language')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "check_if_error_found_in_validation": {
              "actions": {
                "Set_variable_is_Error_free_to_false": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7dae3734-a6e0-4f37-878a-87f514904360"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "IsErrorFree",
                    "value": "@false"
                  }
                },
                "Parse_JSON_Error_List_from_Actions": {
                  "runAfter": {
                    "Set_variable_is_Error_free_to_false": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Perform_an_unbound_action_-_Site_Validation')?['body/ErrorList']",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SheetName": {
                            "type": "string"
                          },
                          "Row#": {
                            "type": "string"
                          },
                          "ColumnName": {
                            "type": "string"
                          },
                          "Site": {
                            "type": "string"
                          },
                          "Error": {
                            "type": "string"
                          },
                          "ErrorLog": {
                            "type": "string"
                          },
                          "displayOrder": {
                            "type": "string"
                          },
                          "SheetOrder": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "SheetNameInEnglish": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "SheetName",
                          "Row#",
                          "ColumnName",
                          "Site",
                          "Error",
                          "ErrorLog",
                          "displayOrder",
                          "SheetOrder",
                          "code",
                          "SheetNameInEnglish"
                        ]
                      }
                    }
                  }
                },
                "Apply_to_each_Error": {
                  "foreach": "@body('Parse_JSON_Error_List_from_Actions')",
                  "actions": {
                    "Append_to_array_ErrorList_with_Error_from_actions": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2472c65d-b92c-492e-8bc7-cc889bd53abe"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "Error_List",
                        "value": "@items('Apply_to_each_Error')"
                      }
                    },
                    "Add_a_new_row": {
                      "runAfter": {
                        "Append_to_array_ErrorList_with_Error_from_actions": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d3829c08-4f1d-4303-b5ce-d82600d1d1ff"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cid_bulkactivitylogsdetailses",
                          "item/cid_BulkActivityLogSummary@odata.bind": "@concat('\\cid_bulkactivitylogsummaries\\',triggerOutputs()?['body/cid_bulkactivitylogsummaryid'])",
                          "item/cid_errordetails": "@items('Apply_to_each_Error')['ErrorLog']",
                          "item/cid_errorwarningcode": "@items('Apply_to_each_Error')['code']",
                          "item/cid_excelcolumnname": "@items('Apply_to_each_Error')['ColumnName']",
                          "item/cid_excelrownumber": "@int(items('Apply_to_each_Error')['Row#'])",
                          "item/cid_excelsheetname": "@items('Apply_to_each_Error')['SheetNameInEnglish']",
                          "item/cid_sitelocation": "@items('Apply_to_each_Error')['Site']",
                          "item/statuscode": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Append_to_string_variable": {
                      "runAfter": {
                        "Add_a_new_row": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "af5fc0ad-9d30-43de-9045-211ab0b09934"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "HTML_Error_Table_Rows",
                        "value": "<tr><td align=\"center\" width=\"5%\">@{items('Apply_to_each_Error')['Row#']}</td><td width=\"35%\">@{items('Apply_to_each_Error')['Site']}</td><td width=\"60%\">@{items('Apply_to_each_Error')['Error']}</td></tr>"
                      }
                    },
                    "Append_to_French_HTM_String_variable": {
                      "runAfter": {
                        "Append_to_string_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "af5fc0ad-9d30-43de-9045-211ab0b09934"
                      },
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "French_HTML_Error_Table_Rows",
                        "value": "<tr><td align=\"center\" width=\"5%\">@{items('Apply_to_each_Error')['Row#']}</td><td width=\"35%\">@{items('Apply_to_each_Error')['Site']}</td><td width=\"60%\">@{items('Apply_to_each_Error')['Error']}</td></tr>"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_JSON_Error_List_from_Actions": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1823d548-fa07-4c5a-b5f8-ab2204de089a"
                  },
                  "type": "Foreach"
                },
                "Append_Table_ending": {
                  "runAfter": {
                    "Apply_to_each_Error": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "faebd3cf-4b15-4f5b-8865-5643ccae8d7f"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "HTML_Error_Table_Rows",
                    "value": "</tbody></table>"
                  }
                },
                "Append_French_Table_ending": {
                  "runAfter": {
                    "Append_Table_ending": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "faebd3cf-4b15-4f5b-8865-5643ccae8d7f"
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "French_HTML_Error_Table_Rows",
                    "value": "</tbody></table>"
                  }
                }
              },
              "runAfter": {
                "Perform_an_unbound_action_-_Site_Validation": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('Perform_an_unbound_action_-_Site_Validation')?['body/ErrorFound']",
                  "True"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b61dc6c-c924-4c77-9728-632936580450"
              },
              "type": "If"
            },
            "Check_Excel_Language": {
              "actions": {
                "Set_variable_Language_Code_to_French_Code_1036": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "65de2f6a-a637-44af-b9d1-1eab09e5c7a6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "LanguageCode",
                    "value": 1036
                  }
                }
              },
              "runAfter": {
                "ExcelLanguage": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('ExcelLanguage')",
                  "@'French'"
                ]
              },
              "metadata": {
                "operationMetadataId": "d3246979-c8a1-4ecb-bec1-0162ff654f12"
              },
              "type": "If"
            },
            "Invoke_an_HTTP_request_Get_SettingTable_": {
              "runAfter": {
                "List_All_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/SettingTable/rows",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ExcelLanguage": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_SettingTable_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bf827cb9-4709-4a91-aa62-5da177a21fb9"
              },
              "type": "Compose",
              "inputs": "@outputs('Invoke_an_HTTP_request_Get_SettingTable_')?['body']['value'][0]['values'][0][1]"
            }
          },
          "runAfter": {
            "Get-File-Relative-Path": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('SharePoint-file-path'))",
                  0
                ]
              },
              {
                "greater": [
                  "@outputs('activity-Type')",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "de2e31fb-b088-4d31-b562-a086b54ce650"
          },
          "type": "If"
        },
        "SharePoint-file-path": {
          "runAfter": {
            "Initialize_ProvinceCodes_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "813f258f-a88e-4327-a661-56a540b24c1e"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_tempsharepointfilelocation']"
        },
        "activity-Type": {
          "runAfter": {
            "SharePoint-file-path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2836a02-5322-4e7d-9199-a011455095fb"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_activitytype']"
        },
        "Activity_End_time": {
          "runAfter": {
            "activity-Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12e7d949-e095-404c-8616-7984518928ea"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_activityendtime']"
        },
        "CompanyId": {
          "runAfter": {
            "Activity_End_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "489ef8ab-ca6a-4f9a-b46e-76621eeb2231"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/_cid_company_value']"
        },
        "Initialize_ProvinceCodes_variable": {
          "runAfter": {
            "check_if__contact_language_is_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74815300-3912-4a4c-ad7f-1cfdca4d3ce9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProvinceCodes",
                "type": "object",
                "value": {
                  "NL": "10",
                  "PE": "11",
                  "NS": "12",
                  "NB": "13",
                  "QC": "24",
                  "ON": "35",
                  "MB": "46",
                  "SK": "47",
                  "AB": "48",
                  "BC": "59",
                  "YU": "60",
                  "NT": "61",
                  "NU": "62",
                  "UF": "72",
                  "IW": "73"
                }
              }
            ]
          }
        },
        "Get-File-Relative-Path": {
          "runAfter": {
            "CompanyId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62a55140-16b9-46c5-8165-dbd9d75253d9"
          },
          "type": "Compose",
          "inputs": "@substring(outputs('SharePoint-file-path'), indexOf(outputs('SharePoint-file-path'),'CID_Bulk_Upload'))"
        },
        "check_error_flag": {
          "actions": {
            "Update_Bulk_activity_log_summary_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_numberofsites": "@outputs('totalNumberOfSites')",
                  "item/cid_validationcompletedstage": 100000001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_in_each_site_to_insert_or_Update": {
              "foreach": "@body('Select_Site_List')",
              "actions": {
                "Current_row_Site": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "692703f0-6bc6-4bc1-8199-14e43dfe7f6a"
                  },
                  "type": "Compose",
                  "inputs": "@items('Loop_in_each_site_to_insert_or_Update')"
                },
                "Insert-Update_Sites_and_related_data": {
                  "runAfter": {
                    "Current_row_Site": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9019f374-1b71-47df-adc5-7089dc352e8e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "actionName": "Microsoft.Dynamics.CRM.cid_Insert_and_Update_Site_and_Related_UNs",
                      "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_company_value']",
                      "item/UploadType": "@triggerOutputs()?['body/cid_activitytype']",
                      "item/LanguageCode": "@variables('LanguageCode')",
                      "item/ActionedBy": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_actionedby_value']",
                      "item/LegalName": "@outputs('Get_a_account_by_ID')?['body/ovs_legalname']",
                      "item/OperatingName": "@outputs('Get_a_account_by_ID')?['body/name']",
                      "item/SiteInfo": "@outputs('Current_row_Site')",
                      "item/ActivityID": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Compare_System_Site_and_uploaded_excel_site_list": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a13dfb1a-1128-4977-9f3a-295db5d71229"
              },
              "type": "Foreach"
            },
            "Update_Bulk_activity_log_summary_end_activity_time": {
              "runAfter": {
                "Loop_in_each_site_to_insert_or_Update": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_activityendtime": "@utcNow()",
                  "item/cid_activitystatus": 100000000,
                  "item/cid_totalruntime": "@div(sub(ticks(utcNow()),ticks(outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_activitystarttime'])),600000000)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Language_is_English": {
              "actions": {
                "check_if_Missing_site_is_found": {
                  "actions": {
                    "Set_variable_Site_Remove_warnning": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "801f69b2-000f-4838-8614-b535f094b27d"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "SiteRemoveWarnning",
                        "value": "\"Note that the Site listed below were removed from the workbook prior to its upload. If you intend on deactivating these Sites, then this needs to be done using the 'Deactivate this Site' functionality as found in the side-menu bar when the Site has been retrieved.\":"
                      }
                    },
                    "Select_Missing_Site_List_": {
                      "runAfter": {
                        "Parse_JSON_Missing_Site_List": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_Missing_Site_List')",
                        "select": {
                          "Site Name": "@item()['SiteName']",
                          "Site Address": "@item()['SiteAddress']"
                        }
                      }
                    },
                    "Create_HTML_table_Missing_Site_List": {
                      "runAfter": {
                        "Select_Missing_Site_List_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                      },
                      "type": "Table",
                      "inputs": {
                        "from": "@body('Select_Missing_Site_List_')",
                        "format": "HTML"
                      }
                    },
                    "html_table_with_style_Missing_Site": {
                      "runAfter": {
                        "Create_HTML_table_Missing_Site_List": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                      },
                      "type": "Compose",
                      "inputs": "  <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n@{body('Create_HTML_table_Missing_Site_List')}"
                    },
                    "Parse_JSON_Missing_Site_List": {
                      "runAfter": {
                        "Set_variable_Site_Remove_warnning": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteList']",
                        "schema": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "SiteGUID": {
                                "type": "string"
                              },
                              "SiteName": {
                                "type": "string"
                              },
                              "SiteAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "SiteGUID",
                              "SiteName",
                              "SiteAddress"
                            ]
                          }
                        }
                      }
                    },
                    "outlook_-_Send_summary_email_to_portal_contact_in_English": {
                      "runAfter": {
                        "html_table_with_style_Missing_Site": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d72fb334-b949-40f3-96bc-4b223ce27604"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                          "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID:  Successful Bulk Data Upload during the processing of the @{variables('UploadTypeName')} in the Transport Canada CID Data Platform. Please see the details for the next steps.",
                          "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('FrenchStandardSalutation')} ,<br>\n<br>\nThe Bulk Data Upload processing of the @{variables('UploadTypeName')} for the @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']} organization, within the Transport Canada CID Data Platform, was successful.<br>\n<br>\nThe @{outputs('totalNumberOfSites')} Site entries from the ‘ @{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']}’ file were successfully updated in the Transport Canada CID Data Platform. @{variables('NextStepText')}<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTDG Online - CID Support Team<br>\n<br>\n<br>\n@{variables('SiteRemoveWarnning')}<br>\n<br>\n@{outputs('html_table_with_style_Missing_Site')}<br>\n@{outputs('English-EmailFooter')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "outlook_-_Send_summary_email_to_portal_contact_in_English_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "ed3fef3f-0a85-4fcf-9ab5-d6dff0765b39"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                            "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID:  Successful Bulk Data Upload during the processing of the @{variables('UploadTypeName')} in the Transport Canada CID Data Platform. Please see the details for the next steps.",
                            "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n<br>\nThe Bulk Data Upload processing of the @{variables('UploadTypeName')} for the @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']} organization, within the Transport Canada CID Data Platform, was successful.<br>\n<br>\nThe @{outputs('totalNumberOfSites')} Site entries from the ‘ @{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']}’ file were successfully updated in the Transport Canada CID Data Platform. @{variables('NextStepText')}<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTDG Online - CID Support Team<br>\n@{outputs('English-EmailFooter')}<br>\n</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteFound']",
                            "@false"
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@triggerOutputs()?['body/cid_activitytype']",
                            100000001
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bff03e9e-0a81-4006-ae0f-e0f7c45773df"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Update_Bulk_activity_log_summary_end_activity_time": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "check_if_Missing_site_is_found_2": {
                    "actions": {
                      "Set_variable_Site_Remove_warnning_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "28eb8ebd-96aa-456b-8c87-34e1e0720227"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "SiteRemoveWarnning",
                          "value": "French - \"Note that the Site listed below were removed from the workbook prior to its upload. If you intend on deactivating these Sites, then this needs to be done using the 'Deactivate this Site' functionality as found in the side-menu bar when the Site has been retrieved.\":"
                        }
                      },
                      "Select_Missing_Site_List__French": {
                        "runAfter": {
                          "Parse_JSON_Missing_Site_List_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                        },
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Parse_JSON_Missing_Site_List_French')",
                          "select": {
                            "Site Name": "@item()['SiteName']",
                            "Site Address": "@item()['SiteAddress']"
                          }
                        }
                      },
                      "Create_HTML_table_Missing_Site_List_French": {
                        "runAfter": {
                          "Select_Missing_Site_List__French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                        },
                        "type": "Table",
                        "inputs": {
                          "from": "@body('Select_Missing_Site_List__French')",
                          "format": "HTML"
                        }
                      },
                      "html_table_with_style_Missing_Site_French": {
                        "runAfter": {
                          "Create_HTML_table_Missing_Site_List_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                        },
                        "type": "Compose",
                        "inputs": "  <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n@{body('Create_HTML_table_Missing_Site_List_French')}"
                      },
                      "Parse_JSON_Missing_Site_List_French": {
                        "runAfter": {
                          "Set_variable_Site_Remove_warnning_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                        },
                        "type": "ParseJson",
                        "inputs": {
                          "content": "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteList']",
                          "schema": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "SiteGUID": {
                                  "type": "string"
                                },
                                "SiteName": {
                                  "type": "string"
                                },
                                "SiteAddress": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "SiteGUID",
                                "SiteName",
                                "SiteAddress"
                              ]
                            }
                          }
                        }
                      },
                      "outlook_-_Send_summary_email_to_portal_contact_in_French_with_warning": {
                        "runAfter": {
                          "html_table_with_style_Missing_Site_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "d8c36ef7-4bad-4db5-9d8f-efc620c31569"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_office365",
                            "operationId": "SendEmailV2",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                          },
                          "parameters": {
                            "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                            "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : Le téléchargement de données en masse est réussi pendant le traitement de @{variables('UploadType-French')} dans la plateforme de données de la BDIC de Transports Canada. Veuillez consulter les détails pour voir les étapes suivantes.",
                            "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nLe traitement de téléchargement de données en masse de @{variables('UploadType-French')} pour l’organisation @{outputs('Get_a_account_by_ID')?['body/ovs_name_fr']}, au sein de la plateforme de données de la BDIC de Transports Canada, est réussi.<br>\n<br>\n<br>\nLes entrées @{outputs('totalNumberOfSites')} &nbsp;du fichier «@{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']}» ont été mises à jour avec succès dans la plateforme de données de la BDIC de Transports Canada.<br>\n@{variables('French-NextStepText')}<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n<br>\n@{variables('SiteRemoveWarnning')}<br>\n<br>\n@{outputs('html_table_with_style_Missing_Site_French')}<br>\n@{outputs('French-EmailFooter')}<br>\n<br>\n</p>",
                            "emailMessage/Importance": "Normal"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "outlook_-_Send_summary_email_to_portal_contact_in_French": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "4c009ca5-08c1-457d-93b0-ea4c58485eb8"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_office365",
                              "operationId": "SendEmailV2",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters": {
                              "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                              "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : Le téléchargement de données en masse est réussi pendant le traitement de @{variables('UploadType-French')} dans la plateforme de données de la BDIC de Transports Canada. Veuillez consulter les détails pour voir les étapes suivantes.\n",
                              "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n<br>\nLe traitement de téléchargement de données en masse de @{variables('UploadType-French')} pour l’organisation @{outputs('Get_a_account_by_ID')?['body/ovs_name_fr']}, au sein de la plateforme de données de la BDIC de Transports Canada, est réussi.<br>\n<br>\nLes entrées @{outputs('totalNumberOfSites')}du fichier « @{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']} » ont été mises à jour avec succès dans la plateforme de données de la BDIC de Transports Canada. <br>\n@{variables('French-NextStepText')}<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n@{outputs('French-EmailFooter')}<br>\n<br>\n</p>",
                              "emailMessage/Importance": "Normal"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteFound']",
                            "@true"
                          ]
                        },
                        {
                          "not": {
                            "equals": [
                              "@triggerOutputs()?['body/cid_activitytype']",
                              100000001
                            ]
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "94e2716b-815f-43d3-8eec-b8c47b06e8de"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('Language')",
                  "@'918640001'"
                ]
              },
              "metadata": {
                "operationMetadataId": "37c9cb98-e82d-47d1-8288-e5279e81d2d6"
              },
              "type": "If"
            },
            "Compare_System_Site_and_uploaded_excel_site_list": {
              "runAfter": {
                "Update_Bulk_activity_log_summary_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e390d35d-66d1-41d6-83c1-8a61e37d7fd9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "actionName": "Microsoft.Dynamics.CRM.cid_CID_BulkUpload_CompareSystemSites_WithExcelSite",
                  "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_company_value']",
                  "item/SiteInfo": "@body('Select_Site_List')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Convert_time_zone": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "if_language_is_english": {
                "actions": {
                  "html_table_with_style": {
                    "runAfter": {
                      "Create_HTML_table": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                    },
                    "type": "Compose",
                    "inputs": "<style>\n table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n</style>\n<div>\n@{body('Create_HTML_table')}\n</div>\n@{outputs('English-EmailFooter')}"
                  },
                  "Create_HTML_table": {
                    "runAfter": {
                      "Select_Error_List_Variable_columns_English": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                    },
                    "type": "Table",
                    "inputs": {
                      "from": "@body('Select_Error_List_Variable_columns_English')",
                      "format": "HTML"
                    }
                  },
                  "Eng-Localization-Error": {
                    "runAfter": {
                      "html_table_with_style": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c0c7a486-a2cb-4b3a-94c7-50459974329f"
                    },
                    "type": "Compose",
                    "inputs": "@if( greater( outputs('totalNumberOferrors'),1)  , 'errors that are' , 'error that is')"
                  },
                  "outlook_-_Send_an_email_notification_to_portal_users_with_errors": {
                    "runAfter": {
                      "Compose_HTML_Table_from_string": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "4ce07b24-a0b7-4dae-ba6b-8e35601cde00"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                        "emailMessage/Subject": "@{variables('TestSubjectText')}TDG Online - CID: Unsuccessful Bulk Data Upload during the processing of the @{variables('UploadTypeName')} in the Transport Canada CID Data Platform. Please view the details for the next steps.",
                        "emailMessage/Body": "<p>@{variables('TestingText')}@{outputs('StandardSalutation')}<br>\n&nbsp;<br>\nThe Bulk Data Upload processing of the @{variables('UploadTypeName')} for the @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']} organization, within the Transport Canada CID Data Platform, was not successful. No data was updated within the Transport Canada CID Data Platform.<br>\n<br>\nPlease:<br>\n- Address the @{outputs('totalNumberOferrors')} @{outputs('Eng-Localization-Error')} detailed below.<br>\n- Save a copy of the workbook with those updates.<br>\n- Use that new copy as the file source of another @{variables('UploadTypeName')} Bulk Upload process.<br>\n<br>\n<br>\nRegards,<br>\n<br>\n<br>\nTDG Online - CID Support Team<br>\n<br>\n<br>\n@{outputs('Compose_HTML_Table_from_string')}</p>",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "HTMLTableWithColumnHeader": {
                    "runAfter": {
                      "Eng-Localization-Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "080df04a-5ed3-4e86-b1e0-ce59bc606ccd"
                    },
                    "type": "Compose",
                    "inputs": "@replace(replace( outputs('html_table_with_style') ,'<table>' , '<table><colgroup><col span=\"1\" style=\"width: 10%;\"><col span=\"1\" style=\"width: 45%;\"><col span=\"1\" style=\"width: 45%;\"></colgroup>'),'<th>Row#</th>','<th>Workbook<br>Row#</th>')"
                  },
                  "Select_Error_List_Variable_columns_English": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@variables('Error_List')",
                      "select": {
                        "Row": "@item()['Row#']",
                        "Site": "@item()['Site']",
                        "Error": "@item()['Error']"
                      }
                    }
                  },
                  "Compose_HTML_Table_from_string": {
                    "runAfter": {
                      "HTMLTableWithColumnHeader": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "94a8b646-6975-47e6-a708-5ed32caacad7"
                    },
                    "type": "Compose",
                    "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: center;\n  background-color: #1C6EA4;\n  color: white;\n}\n\n</style>\n@{variables('HTML_Error_Table_Rows')}\n@{outputs('English-EmailFooter')}"
                  }
                },
                "runAfter": {
                  "Update_Bulk_activity_log_summary": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Create_HTML_table-French": {
                      "runAfter": {
                        "Select_Error_List_Variable_columns": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "16f727a6-fe5f-4fe3-b56d-ae277f2a3eec"
                      },
                      "type": "Table",
                      "inputs": {
                        "from": "@body('Select_Error_List_Variable_columns')",
                        "format": "HTML"
                      }
                    },
                    "Select_Error_List_Variable_columns": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@variables('Error_List')",
                        "select": {
                          "Workbook\nRangée #": "@item()['Row#']",
                          "Site": "@item()['Site']",
                          "Erreur": "@item()['Error']"
                        }
                      }
                    },
                    "html_table_with_style-French": {
                      "runAfter": {
                        "Create_HTML_table-French": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                      },
                      "type": "Compose",
                      "inputs": "<style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n@{body('Create_HTML_table-French')}\n\n"
                    },
                    "French-Localization-Error": {
                      "runAfter": {
                        "html_table_with_style-French": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3064f8a1-78f8-4759-8cc5-beb7926cb870"
                      },
                      "type": "Compose",
                      "inputs": "@if(greater(outputs('totalNumberOferrors'), 1), 'les erreurs', 'Erreur')"
                    },
                    "outlook_-_Send_an_email_notification_with_errors_to_portal_user_in_French": {
                      "runAfter": {
                        "Compose_French_HTML_Table_from_string": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8032faa7-fb47-44ec-8d89-80f44dcb5c0c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                        },
                        "parameters": {
                          "emailMessage/To": "@outputs('get_contact_email')?['body/emailaddress1']",
                          "emailMessage/Subject": "@{variables('FrenchTestSubjectText')}TMD en ligne – BDIC : Le téléchargement de données en masse est réussi pendant le traitement de @{variables('UploadType-French')}dans la plateforme de données de la BDIC de Transports Canada. Veuillez consulter les détails pour voir les étapes suivantes.",
                          "emailMessage/Body": "<p>@{variables('FrenchTestingText')}@{outputs('FrenchStandardSalutation')}<br>\n&nbsp;<br>\nLe traitement de téléchargement de données en masse de @{variables('UploadType-French')} pour l’organisation @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']} , au sein de la plateforme de données de la BDIC de Transports Canada, est réussi.<br>\n<br>\nLes entrées @{outputs('totalNumberOferrors')} du fichier « @{outputs('French-Localization-Error')} » ont été mises à jour avec succès dans la plateforme de données de la BDIC de Transports Canada.<br>\n<br>\n<br>\nSalutations,<br>\n<br>\n<br>\nTDG Online - Équipe de soutien CID<br>\n<br>\n<br>\n@{outputs('Compose_French_HTML_Table_from_string')}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Compose_French_HTML_Table_from_string": {
                      "runAfter": {
                        "French-Localization-Error": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "94a8b646-6975-47e6-a708-5ed32caacad7"
                      },
                      "type": "Compose",
                      "inputs": "<style>\nTable {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: #EEEEEE;\n  border-collapse: collapse;\n  width: 100%;\n}\nTable td, Table th {\n  border: 1px solid #ddd;\n  padding: 3px 3px;\n}\n\nTable th {\n  font-size: 15px;\n  font-weight: bold;\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: center;\n  background-color: #1C6EA4;\n  color: white;\n}\n\n</style>\n@{variables('French_HTML_Error_Table_Rows')}\n\n@{outputs('French-EmailFooter')}"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@variables('Language')",
                    "@'918640001'"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2ab86d82-d594-432b-a24a-8da1b7311ea6"
                },
                "type": "If"
              },
              "Update_Bulk_activity_log_summary": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_bulkactivitylogsummaries",
                    "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']",
                    "item/cid_activityendtime": "@utcNow()",
                    "item/cid_activitystatus": 100000001,
                    "item/cid_numberofsites": "@outputs('totalNumberOfSites')",
                    "item/cid_totalruntime": "@div(sub(ticks(utcNow()),ticks(outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_activitystarttime'])),600000000)"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('IsErrorFree')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "65069879-0150-4e08-9d1e-e04210460358"
          },
          "type": "If"
        },
        "get_contact_email": {
          "runAfter": {
            "Get_bulk_activities_log_summary_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3aa29ee7-04a6-41ba-ab07-924c6b990d05"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_cid_actionedby_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_bulk_activities_log_summary_by_ID": {
          "runAfter": {
            "Get_a_account_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac95dd8f-6edc-4bfd-975a-6c9c22d7f655"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_bulkactivitylogsummaries",
              "recordId": "@triggerOutputs()?['body/cid_bulkactivitylogsummaryid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Error_Message": {
          "runAfter": {
            "Error_flag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb9a8ba4-4adb-48fa-9736-b2febfa6d858"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_Message",
                "type": "string"
              }
            ]
          }
        },
        "totalNumberOferrors": {
          "runAfter": {
            "Check_if_Validation_should_start_on_the_Modified_event": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28a8735f-bcb1-4554-b08a-6e429977b8d7"
          },
          "type": "Compose",
          "inputs": "@ length(variables('Error_List')) "
        },
        "totalNumberOfSites": {
          "runAfter": {
            "totalNumberOferrors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e482b88-0e20-4cfb-9a9d-59d8799d6efa"
          },
          "type": "Compose",
          "inputs": "@length(body('Filter_table_-_get_none_empty_cells_sites_for_insert_'))"
        },
        "Convert_time_zone": {
          "runAfter": {
            "totalNumberOfSites": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f74cfa7b-9df9-43ef-a39a-8f7a83c4e844"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/createdon']",
            "formatString": "yyyy-MM-dd hh:mm",
            "sourceTimeZone": "Eastern Standard Time",
            "destinationTimeZone": "Eastern Standard Time"
          }
        },
        "define_basic_info_sheet_columns_2": {
          "actions": {
            "SiteName": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b319d79-94cf-4ca6-bb49-3374fdd972f0"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Site']"
            },
            "Address1": {
              "runAfter": {
                "SiteName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f93a4c9-5519-4834-b9a6-fb3d5764c2eb"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 1']"
            },
            "City": {
              "runAfter": {
                "Address1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dbe26cc1-4c9c-4ba8-b85d-cb64eef8faef"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['City']"
            },
            "Province": {
              "runAfter": {
                "City": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e975e0f1-f06a-4dca-9047-e47503e2782b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Province']"
            },
            "PostalCode": {
              "runAfter": {
                "Province": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75282f2f-4b8b-4689-9ea9-3782d51058df"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Postal Code']"
            },
            "Address2": {
              "runAfter": {
                "PostalCode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f6a122f-c20c-4d83-b063-3be620089848"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 2']"
            },
            "Address3": {
              "runAfter": {
                "Address2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4026d79c-ae18-4b94-8b1d-296b3690cda9"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 3']"
            },
            "LLDProvince": {
              "runAfter": {
                "Address3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6cdb4c23-56ba-41ce-a13f-03aebdcb78b7"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['ProvinceLLD']"
            },
            "Quarter": {
              "runAfter": {
                "LLDProvince": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a29b5c9a-fe60-4d35-be55-454356d40e4f"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Quarter']"
            },
            "Section": {
              "runAfter": {
                "Quarter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "42869346-d816-4923-b26b-e3ac7c3bb620"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Section']"
            },
            "TownShip": {
              "runAfter": {
                "Section": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cdc284ff-1f84-471b-95da-6eddcc7e3427"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Township']"
            },
            "Range": {
              "runAfter": {
                "TownShip": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f5b44d03-0ea1-4322-ad2e-ea6a9fda2fd5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Range']"
            },
            "Meridian": {
              "runAfter": {
                "Range": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "794f7754-6314-4932-bb63-f299ce9974c5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Meridian']"
            },
            "Lat": {
              "runAfter": {
                "Meridian": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3abf2572-b339-4126-a607-688e09d752f9"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Latitude']"
            },
            "Long": {
              "runAfter": {
                "Lat": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "855c0461-a4e4-4454-8a28-ead74c94fb7a"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Longitude']"
            },
            "Air": {
              "runAfter": {
                "Long": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "129357ef-35ce-4762-8f3f-2f1339fcc145"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Air']"
            },
            "Marine": {
              "runAfter": {
                "Air": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "33fb1f99-04f8-4e73-b7c2-71a74178883b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Marine']"
            },
            "Rail": {
              "runAfter": {
                "Marine": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b70f0b0e-5265-4b61-8963-fc1b4b8f8b4e"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Rail']"
            },
            "Road": {
              "runAfter": {
                "Rail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67efa3fd-0019-4731-ab45-38562b1c3afe"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Road']"
            },
            "Handle": {
              "runAfter": {
                "Road": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "87ed0437-464f-4d68-8884-f0aaa8cc4909"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Handle']"
            },
            "OfferForTransport": {
              "runAfter": {
                "Handle": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a075538b-4938-451b-aa5c-b0b909e8bceb"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Offer for Transport']"
            },
            "Transport": {
              "runAfter": {
                "OfferForTransport": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4be5c4d6-7fd5-425e-9fd7-93ec3d499774"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Transport']"
            },
            "Import": {
              "runAfter": {
                "Transport": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b5d428ee-008d-48b7-af90-7003164339a4"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Import']"
            },
            "Class": {
              "runAfter": {
                "Import": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8301325-ecf8-44e1-addf-9c005e8daae5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Class']"
            },
            "SiteStatus": {
              "runAfter": {
                "Class": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "87e59482-f129-418f-b5a6-66cf15fa34a4"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['SiteStatus']"
            },
            "SiteFullAddress": {
              "runAfter": {
                "LineNumber": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "097c3321-7f83-4634-9681-c902ac84dd3a"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['SiteFullAddress']"
            },
            "SiteGUID": {
              "runAfter": {
                "SiteFullAddress": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5f6eb9ca-7a27-41e2-b0a5-851101b1f606"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['site-GUID']"
            },
            "Parse_JSON": {
              "runAfter": {
                "ExclJsonStringColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f62b9eb-4bd6-419b-953f-ba6f2c27ef27"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('ExclJsonStringColumns')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "UserAction": {
                      "type": "string"
                    },
                    "Site Name": {
                      "type": "string"
                    },
                    "Address 1": {
                      "type": "string"
                    },
                    "City": {
                      "type": "string"
                    },
                    "Province": {
                      "type": "string"
                    },
                    "Postal Code ": {
                      "type": "string"
                    },
                    "Address 2": {
                      "type": "string"
                    },
                    "Address 3": {
                      "type": "string"
                    },
                    "Province  ": {
                      "type": "string"
                    },
                    "Quarter ": {
                      "type": "string"
                    },
                    "Section": {
                      "type": "string"
                    },
                    "Township": {
                      "type": "string"
                    },
                    "Range": {
                      "type": "string"
                    },
                    "Meridian": {
                      "type": "string"
                    },
                    "Latitude": {
                      "type": "string"
                    },
                    "Longitude": {
                      "type": "string"
                    },
                    " Air": {
                      "type": "string"
                    },
                    "Marine": {
                      "type": "string"
                    },
                    "Rail": {
                      "type": "string"
                    },
                    "Road": {
                      "type": "string"
                    },
                    "Handle": {
                      "type": "string"
                    },
                    "Offer for Transport": {
                      "type": "string"
                    },
                    "Transport": {
                      "type": "string"
                    },
                    "Import": {
                      "type": "string"
                    },
                    "Class/Division ": {
                      "type": "string"
                    },
                    "Extended Information Site ": {
                      "type": "string"
                    },
                    "SiteStatus": {
                      "type": "string"
                    },
                    "LineNumber": {
                      "type": "string"
                    },
                    "SiteFullAddress": {
                      "type": "string"
                    },
                    "site-GUID": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "ExclJsonStringColumns": {
              "runAfter": {
                "Filter_array-environmentsetting-getExcelSiteColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6c280618-ef32-4af0-90e1-8d8d3ad762f4"
              },
              "type": "Compose",
              "inputs": "@body('Filter_array-environmentsetting-getExcelSiteColumns')?[0]['qm_value']"
            },
            "Filter_array-environmentsetting-getExcelSiteColumns": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "41f6f1a2-74a5-40a3-8f7a-1c9d91283a64"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()['qm_name'], 'CID_BulkUpload_Sites_Columns_In_Excel')"
              }
            },
            "LineNumber": {
              "runAfter": {
                "SiteStatus": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "87e59482-f129-418f-b5a6-66cf15fa34a4"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['LineNumber']"
            }
          },
          "runAfter": {
            "Initialize_variable_ActivityType": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4375930-3c4d-472c-a8b9-7d72d1b358f5"
          },
          "type": "Scope"
        },
        "Get_a_account_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bb1a479b-b31f-40f5-be89-cc058b06769e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/_cid_company_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Language": {
          "runAfter": {
            "Initialize_variable_-_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2b5b076-4638-4722-bf77-d73e9f825659"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "string",
                "value": "@{outputs('get_contact_email')?['body/cid_languageofcorrespondence']}"
              }
            ]
          }
        },
        "check_if__contact_language_is_null": {
          "actions": {
            "Set_variable_set_language_to_english": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "424cc111-ee2e-411b-95f1-56cd7b0c8997"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Language",
                "value": "918640001"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_SiteRemoveWarnning": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(trim(variables('Language')))",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "04cbdb0a-9a6d-4a06-ba70-c4e67bd5e67c"
          },
          "type": "If"
        },
        "Error_flag": {
          "runAfter": {
            "Initialize_variable_LanguageCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af9c01db-59f3-46fa-826e-e24fc2c82cca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsErrorFree",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Row_Number_vailable": {
          "runAfter": {
            "Initialize_variable_French_HTML_Error_Table_Rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "396871f6-9db7-4572-ac20-9b39cc12d51a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RowNumber",
                "type": "integer",
                "value": 3
              }
            ]
          }
        },
        "Error_List_Variable": {
          "runAfter": {
            "Row_Number_vailable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a10a3b39-9550-46b6-b00c-75dd826be0a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_List",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_Environment_folder_variable": {
          "runAfter": {
            "Error_List_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc5c3dd6-8d62-49cb-befd-838a6faaacca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "@{body('Filter_environment-CID_Flow_Environment_Folder')[0]['qm_value']}"
              }
            ]
          }
        },
        "Get_Bulk_Upload_Messages": {
          "runAfter": {
            "define_basic_info_sheet_columns_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6ba2658-3ccd-4e8b-9e91-5ff910d21c81"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"annotation\">\n<attribute name=\"subject\"/>\n<attribute name=\"notetext\"/>\n<attribute name=\"filename\"/>\n<attribute name=\"documentbody\"/>\n<attribute name=\"annotationid\"/>\n<order attribute=\"subject\" descending=\"false\"/>\n<link-entity name=\"adx_webfile\" from=\"adx_webfileid\" to=\"objectid\" link-type=\"inner\" alias=\"ab\">\n<filter type=\"and\">\n<condition attribute=\"adx_name\" operator=\"eq\" value=\"Sites_Bulk_Upload_Messages\"/>\n</filter>\n</link-entity>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Bulk-Messages-From-webFile": {
          "runAfter": {
            "Get_Bulk_Upload_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddf0f80b-60bc-48e8-acae-bbbf45c463c5"
          },
          "type": "Compose",
          "inputs": "@base64ToString(outputs('Get_Bulk_Upload_Messages')?['body/value'][0]['documentbody'])"
        },
        "Parse_JSON_Messages_From_Web": {
          "runAfter": {
            "Bulk-Messages-From-webFile": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62b7748b-a94f-4e8e-8870-77fadef79885"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Bulk-Messages-From-webFile')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "Eng-Message": {
                    "type": "string"
                  },
                  "Fr-Message": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "order": {
                    "type": "string"
                  },
                  "MessageType": {
                    "type": "string"
                  },
                  "SheetNameInEnglish": {
                    "type": "string"
                  },
                  "SheetNameInFrench": {
                    "type": "string"
                  },
                  "ErrorLog": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "Eng-Message",
                  "Fr-Message",
                  "id",
                  "order",
                  "MessageType",
                  "SheetNameInEnglish",
                  "SheetNameInFrench",
                  "ErrorLog"
                ]
              }
            }
          }
        },
        "Initialize_variable_LanguageCode": {
          "runAfter": {
            "check_upload_type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6242064e-36ce-42ef-b72c-2a48e9250e8b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LanguageCode",
                "type": "integer",
                "value": 1033
              }
            ]
          }
        },
        "Initialize_variable_SiteRemoveWarnning": {
          "runAfter": {
            "Initialize_Environment_folder_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "507975a6-9d19-49f8-91b2-5ef4e8e6414d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SiteRemoveWarnning",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_Upload_type_name": {
          "runAfter": {
            "Parse_JSON_Messages_From_Web": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b16fd290-8d26-419f-8894-4269c565e52f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UploadTypeName",
                "type": "string",
                "value": "Registration"
              }
            ]
          }
        },
        "check_upload_type": {
          "actions": {
            "Set_variable_upload_type_english": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8bf305cb-98e9-47ec-9969-445047dec530"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "UploadTypeName",
                "value": "Annual Compliance"
              }
            },
            "Set_variable_French": {
              "runAfter": {
                "Set_variable_upload_type_english": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2992e407-e738-4e3b-856c-92b78a629428"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "UploadType-French",
                "value": "Conformité annuelle"
              }
            },
            "Set_variable_NextStepText": {
              "runAfter": {
                "Set_variable_French": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e3437301-2186-46c7-8f18-c7a8570bebd0"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "NextStepText",
                "value": "Please return to the Transport Canada CID Data Platform and complete any remaining necessary updates before the Annual Compliance can be attested as complete."
              }
            },
            "Set_variable_2": {
              "runAfter": {
                "Set_variable_NextStepText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "80cc333c-aad6-465f-9b5e-c56308b93397"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "French-NextStepText",
                "value": "Veuillez retourner à la plate-forme BDIC de Transports Canada et effectuer toutes les mises à jour nécessaires restantes avant que la conformité annuelle puisse être attestée comme étant terminée."
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@variables('ActivityType')",
                "@'100000001'"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "6fcd149d-e0af-45ac-8270-4b3b594e6e56"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_variable_Upload_type_name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c756e433-7c0a-480d-acc9-b9e67fed5173"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UploadType-French",
                "type": "string",
                "value": "enregistrement"
              }
            ]
          }
        },
        "Initialize_variable_Testing_text_for_the_email": {
          "runAfter": {
            "Scope_-_email_Template_Standard_Text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "056efd54-c348-4947-b42c-bab120c698de"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_TestSubjectText": {
          "runAfter": {
            "Initialize_variable_Testing_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "36348f7e-e55f-43ac-b622-3f00ecbc9c53"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTestSubjectText": {
          "runAfter": {
            "Initialize_variable_TestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42321f2d-372c-4f1a-a435-a67ead702f1d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestSubjectText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_FrenchTesting_text_for_the_email": {
          "runAfter": {
            "Initialize_variable_FrenchTestSubjectText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b11f2fb-0032-45f1-83c0-6af6ad4db3b3"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FrenchTestingText",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_NextStepText": {
          "runAfter": {
            "Initialize_variable_FrenchTesting_text_for_the_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84339ab8-9f9e-43c2-9f43-5f45b44f6162"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NextStepText",
                "type": "string",
                "value": "Please return to the Transport Canada CID Data Platform and navigate to company registration page to continue with the Registration process."
              }
            ]
          }
        },
        "Initialize_variable_French-NextStepText": {
          "runAfter": {
            "Initialize_variable_NextStepText": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dcfefd52-76c8-46e9-b89f-ab0b8d31217c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "French-NextStepText",
                "type": "string",
                "value": "French-Please return to the Transport Canada CID Data Platform and navigate to company registration page to continue with the Registration process."
              }
            ]
          }
        },
        "Initialize_variable_HTML_Error_Table_Rows": {
          "runAfter": {
            "Initialize_variable_Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b7a4861-1403-4bad-8934-7fa18a8ced54"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HTML_Error_Table_Rows",
                "type": "string",
                "value": "<table><col style=\"width:2%\"><col style=\"width:49%\"><col style=\"width:49%\"><thead><tr><th>Workbook<br>Row#</th><th>Site</th><th>Error</th></tr></thead><tbody>"
              }
            ]
          }
        },
        "Initialize_variable_French_HTML_Error_Table_Rows": {
          "runAfter": {
            "Initialize_variable_HTML_Error_Table_Rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b7a4861-1403-4bad-8934-7fa18a8ced54"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "French_HTML_Error_Table_Rows",
                "type": "string",
                "value": "<table><col style=\"width:2%\"><col style=\"width:49%\"><col style=\"width:49%\"><thead><tr><th>Workbook<br>Ligne#</th><th>Site</th><th>Erreur</th></tr></thead><tbody>"
              }
            ]
          }
        },
        "Initialize_variable_ActivityType": {
          "runAfter": {
            "Check_environment": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "185bd44e-506c-45da-9cd1-7845f05d593a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ActivityType",
                "type": "string",
                "value": "@{triggerOutputs()?['body/cid_activitytype']}"
              }
            ]
          }
        },
        "Check_environment": {
          "actions": {
            "Set_variable_TestingText": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "224fc033-5e58-423f-b235-e84df25189ec"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestingText",
                "value": "Test email: This email is a test email, not an actual email representing what is indicated below. <br><br>                                                                                 "
              }
            },
            "Set_variable_TestSubjectText": {
              "runAfter": {
                "Set_variable_TestingText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a6742f2-3215-413a-9225-11fd2574acab"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TestSubjectText",
                "value": "Test Email: "
              }
            },
            "Set_variable_FrenchTestSubjectText": {
              "runAfter": {
                "Set_variable_TestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a71a8d8c-41f7-4d8b-9136-19ddffd73280"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestSubjectText",
                "value": "Tester le courriel: "
              }
            },
            "Set_variable_FrenchTestingText": {
              "runAfter": {
                "Set_variable_FrenchTestSubjectText": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e2edab0d-d0a2-4152-8fae-2b793ec012aa"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "FrenchTestingText",
                "value": "Tester le courriel: Ce courriel est un courriel de test, et non un courriel réel représentant ce qui est indiqué ci-dessous. <br><br>                                                                       "
              }
            }
          },
          "runAfter": {
            "Initialize_variable_French-NextStepText": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@body('Filter_environment-CID_Environment')[0]['qm_value']",
                "PROD"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "9be99f10-fa00-40ae-8580-da6ba08c2e07"
          },
          "type": "If"
        },
        "Scope_-_email_Template_Standard_Text": {
          "actions": {
            "StandardSalutation": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** The following is an automated email sent by the TDG Online - CID system. Please do not reply ***</em>"
            },
            "FrenchStandardSalutation": {
              "runAfter": {
                "StandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ffa8d1a6-89ec-434c-82e6-78e0fa2bd649"
              },
              "type": "Compose",
              "inputs": "<em>*** Le message suivant est un courriel automatisé envoyé par le TMD en ligne – Système de la BDIC. Veuillez ne pas répondre ***</em>"
            },
            "English-EmailFooter": {
              "runAfter": {
                "FrenchStandardSalutation": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1535933c-0d10-4db3-9d01-208feac8f786"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\"><br>Note:<br>\n   - To receive subsequent emails in French, you can update your Language of Preferred Correspondence choice via the [Account Settings] button in the TDG Online - CID data portal. <br><br> \n   - Please do not reply to this email. If necessary, use the Contact Us button, or link, in the CID data portal. </div>"
            },
            "French-EmailFooter": {
              "runAfter": {
                "English-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5ec93fa4-a5e7-451e-9327-290b6c88346b"
              },
              "type": "Compose",
              "inputs": "<div style=\"font-size:x-small;\">Remarque:<br>\n   - Pour recevoir les courriels suivants en français, vous pouvez mettre à jour votre choix de langue de correspondance préférée à l’aide du bouton [Paramètres du compte] du portail de données TMD en ligne – BDIC. <br><br> \n   - Veuillez ne pas répondre à ce courriel. Au besoin, utilisez le bouton ou le lien « Communiquer avec nous » du portail de données de la BDIC.  </div>"
            },
            "Filter_environment-CID_Environment": {
              "runAfter": {
                "French-EmailFooter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()?['qm_name'], 'CID_Environment')"
              }
            }
          },
          "runAfter": {
            "Filter_environment-CID_Flow_Environment_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4a4d30e6-367a-4728-93d1-e8fc48567195"
          },
          "type": "Scope"
        },
        "get-environment-settings": {
          "runAfter": {
            "get_contact_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_environment-CID_Flow_Environment_Folder": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_Flow_Environment_Folder')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}