Solutions/CID_Flows/unpack/Workflows/StartSiteUploadValidation-4DA59AE0-C9A6-EC11-B3FE-0022483C4A6F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedwebcontents_efbe7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sendmail": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cid_sharedsendmail_883c5"
        },
        "api": {
          "name": "shared_sendmail"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "fa1037c6-e762-4d2c-ae22-a3c3f9e8df54"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cid_bulkactivitylogsummary",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cid_detailedvalidationstarttime",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Check_if_Validation_should_start_on_the_Modified_event": {
          "actions": {
            "List_rows_UNNumber": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "49f988a5-a4a2-4243-af3f-56831c6264dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "tdg_unnumbers",
                  "$select": "tdg_name,tdg_unnumberid,tdg_packinggroupcd"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_All_Accounts": {
              "runAfter": {
                "List-rows-division-classes": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f914c7e-efed-4c8d-9146-29a295558772"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "$select": "address1_city,address1_stateorprovince,address1_line1,address1_postalcode,cid_unitnumber,ovs_lld_quarter,\novs_lld_section,\novs_lld_township,\novs_lld_range,\novs_lld_meridian,\naddress1_latitude,\naddress1_longitude\n",
                  "$filter": "customertypecode eq 948010001 and _parentaccountid_value eq '@{outputs('CompanyId')}'",
                  "$expand": "parentaccountid($select=name,accountid)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Invoke_an_HTTP_request_Get_Site_Table": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_SettingTable_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/TableAddBasic/rows",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Filter_table_-_get_none_empty_cells_sites_for_insert_": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_Site_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f1c482b-be72-4cb9-8ef4-90104b2c6119"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Invoke_an_HTTP_request_Get_Site_Table')?['body']['value']",
                "where": "@greater(length(item()['values'][0][int(outputs('SiteFullAddress'))]), 0)"
              }
            },
            "Invoke_an_HTTP_request_Get_Extended_info_table": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_SettingTable_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/TableAddExtended/rows",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Filter_table_-_Get_None_empty_cells_Extended_Table": {
              "runAfter": {
                "Invoke_an_HTTP_request_Get_Extended_info_table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f1c482b-be72-4cb9-8ef4-90104b2c6119"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('Invoke_an_HTTP_request_Get_Extended_info_table')?['body']['value']",
                "where": "@and(greater(length(item()['values'][0][ int(outputs('ExtendedSite')) ]), 0) , greater(length(item()['values'][0][int(outputs('ExtendedUNNumber'))]), 0))"
              }
            },
            "Select_Site_List": {
              "runAfter": {
                "Filter_table_-_get_none_empty_cells_sites_for_insert_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "77d59626-6f22-4a0b-8be5-f1f0cb206b3d"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_table_-_get_none_empty_cells_sites_for_insert_')",
                "select": {
                  "SiteName": "@item()['values'][0][int(outputs('SiteName'))]",
                  "Address1": "@item()['values'][0][int(outputs('Address1'))]",
                  "City": "@item()['values'][0][int(outputs('City'))]",
                  "Province": "@item()['values'][0][int(outputs('Province'))]",
                  "Postalcode": "@item()['values'][0][int(outputs('PostalCode'))]",
                  "Address2": "@item()['values'][0][int(outputs('Address2'))]",
                  "Address3": "@item()['values'][0][int(outputs('Address3'))]",
                  "LLDProvince": "@item()['values'][0][int(outputs('LLDProvince'))]",
                  "Quarter": "@item()['values'][0][int(outputs('Quarter'))]",
                  "Section": "@item()['values'][0][int(outputs('Section'))]",
                  "TownShip": "@item()['values'][0][int(outputs('TownShip'))]",
                  "Range": "@item()['values'][0][int(outputs('Range'))]",
                  "Meridian": "@item()['values'][0][int(outputs('Meridian'))]",
                  "Lat": "@item()['values'][0][int(outputs('Lat'))]",
                  "Long": "@item()['values'][0][int(outputs('Long'))]",
                  "Air": "@item()['values'][0][int(outputs('Air'))]",
                  "Marine": "@item()['values'][0][int(outputs('Marine'))]",
                  "Rail": "@item()['values'][0][int(outputs('Rail'))]",
                  "Road": "@item()['values'][0][int(outputs('Road'))]",
                  "Handle": "@item()['values'][0][int(outputs('Handle'))]",
                  "OfferForTransport": "@item()['values'][0][int(outputs('OfferForTransport'))]",
                  "Transport": "@item()['values'][0][int(outputs('Transport'))]",
                  "Import": "@item()['values'][0][int(outputs('Import'))]",
                  "Class": "@item()['values'][0][int(outputs('Class'))]",
                  "ExtendedYN": "@item()['values'][0][int(outputs('extendedYN'))]",
                  "LineNumber": "@item()['index']",
                  "SiteFullAddress": "@item()['values'][0][int(outputs('SiteFullAddress'))]",
                  "SiteGUID": "@item()['values'][0][int(outputs('SiteGUID'))]"
                }
              }
            },
            "Select_extended_info": {
              "runAfter": {
                "Filter_table_-_Get_None_empty_cells_Extended_Table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1dcf797c-658a-41e7-bf42-afd1e950fbfd"
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_table_-_Get_None_empty_cells_Extended_Table')",
                "select": {
                  "ExtendedAction": "@item()['values'][0][int(outputs('ExtendedAction'))]",
                  "ExtendedSite": "@item()['values'][0][int(outputs('ExtendedSite'))]",
                  "ExtendedUNnumber": "@item()['values'][0][int(outputs('ExtendedUNNumber'))]",
                  "Quantity": "@item()['values'][0][int(outputs('ExtendedQuantity'))]",
                  "UnitOfMeasure": "@item()['values'][0][int(outputs('ExtendedUnitOfMeasure'))]",
                  "AnnualNumberOfConsignment": "@item()['values'][0][int(outputs('ExtendedAnnulaConsignment'))]",
                  "ExtendedGUID": "@item()['values'][0][int(outputs('ExtendedGUID'))]",
                  "LinNumber": "@item()['index']"
                }
              }
            },
            "List-rows-division-classes": {
              "runAfter": {
                "List_rows_UNNumber": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a7d3ec09-bede-4093-9912-32bc0c48b914"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_primaryclasses",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"ovs_primaryclass\">\n<attribute name=\"ovs_primaryclassid\"/>\n<attribute name=\"ovs_class\"/>\n<order attribute=\"ovs_class\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"statecode\" operator=\"eq\" value=\"0\"/>\n</filter>\n</entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Perform_an_unbound_action_-_Site_Validation": {
              "runAfter": {
                "Select_Site_List": [
                  "Succeeded"
                ],
                "Check_Excel_Language": [
                  "Succeeded"
                ]
              },
              "limit": {
                "timeout": "PT15M"
              },
              "metadata": {
                "operationMetadataId": "e136eead-50e8-4d66-aab4-6eb6647796dc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "cid_BulkSitUploadValidation",
                  "item/ParentAccountID": "@outputs('Get_a_account_by_ID')?['body/accountid']",
                  "item/UploadType": "@triggerOutputs()?['body/cid_activitytype']",
                  "item/ClassList": "@outputs('List-rows-division-classes')?['body']['value']",
                  "item/SiteInfo": "@body('Select_Site_List')",
                  "item/UNList": "@body('Select_extended_info')",
                  "item/ActivityID": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']",
                  "item/ValidationMessages": "@body('Parse_JSON_Messages_From_Web')",
                  "item/Language": "@variables('Language')"
                },
                "authentication": "@parameters('$authentication')",
                "retryPolicy": {
                  "type": "none"
                }
              }
            },
            "check_if_error_found_in_validation": {
              "actions": {
                "Set_variable_is_Error_free_to_false": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7dae3734-a6e0-4f37-878a-87f514904360"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "IsErrorFree",
                    "value": "@false"
                  }
                },
                "Parse_JSON_Error_List_from_Actions": {
                  "runAfter": {
                    "Set_variable_is_Error_free_to_false": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@outputs('Perform_an_unbound_action_-_Site_Validation')?['body/ErrorList']",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SheetName": {
                            "type": "string"
                          },
                          "Row#": {
                            "type": "string"
                          },
                          "ColumnName": {
                            "type": "string"
                          },
                          "Site": {
                            "type": "string"
                          },
                          "Error": {
                            "type": "string"
                          },
                          "ErrorLog": {
                            "type": "string"
                          },
                          "displayOrder": {
                            "type": "string"
                          },
                          "SheetOrder": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "SheetNameInEnglish": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "SheetName",
                          "Row#",
                          "ColumnName",
                          "Site",
                          "Error",
                          "ErrorLog",
                          "displayOrder",
                          "SheetOrder",
                          "code",
                          "SheetNameInEnglish"
                        ]
                      }
                    }
                  }
                },
                "Apply_to_each_Error": {
                  "foreach": "@body('Parse_JSON_Error_List_from_Actions')",
                  "actions": {
                    "Append_to_array_ErrorList_with_Error_from_actions": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2472c65d-b92c-492e-8bc7-cc889bd53abe"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "Error_List",
                        "value": "@items('Apply_to_each_Error')"
                      }
                    },
                    "Add_a_new_row": {
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d3829c08-4f1d-4303-b5ce-d82600d1d1ff"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "cid_bulkactivitylogsdetailses",
                          "item/cid_BulkActivityLogSummary@odata.bind": "@concat('\\cid_bulkactivitylogsummaries\\',triggerOutputs()?['body/cid_bulkactivitylogsummaryid'])",
                          "item/cid_errordetails": "@items('Apply_to_each_Error')['ErrorLog']",
                          "item/cid_errorwarningcode": "@items('Apply_to_each_Error')['code']",
                          "item/cid_excelcolumnname": "@items('Apply_to_each_Error')['ColumnName']",
                          "item/cid_excelrownumber": "@int(items('Apply_to_each_Error')['Row#'])",
                          "item/cid_excelsheetname": "@items('Apply_to_each_Error')['SheetNameInEnglish']",
                          "item/cid_sitelocation": "@items('Apply_to_each_Error')['Site']",
                          "item/statuscode": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Compose": {
                      "runAfter": {
                        "Append_to_array_ErrorList_with_Error_from_actions": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "39ca73b8-1baf-47b3-96ed-830e4347e8e6"
                      },
                      "type": "Compose",
                      "inputs": "@items('Apply_to_each_Error')['SheetNameInEnglish']"
                    }
                  },
                  "runAfter": {
                    "Parse_JSON_Error_List_from_Actions": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1823d548-fa07-4c5a-b5f8-ab2204de089a"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Perform_an_unbound_action_-_Site_Validation": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('Perform_an_unbound_action_-_Site_Validation')?['body/ErrorFound']",
                  "True"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b61dc6c-c924-4c77-9728-632936580450"
              },
              "type": "If"
            },
            "Check_Excel_Language": {
              "actions": {
                "Set_variable_Language_Code_to_French_Code_1036": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "65de2f6a-a637-44af-b9d1-1eab09e5c7a6"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "LanguageCode",
                    "value": 1036
                  }
                }
              },
              "runAfter": {
                "ExcelLanguage": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('ExcelLanguage')",
                  "@'French'"
                ]
              },
              "metadata": {
                "operationMetadataId": "d3246979-c8a1-4ecb-bec1-0162ff654f12"
              },
              "type": "If"
            },
            "Invoke_an_HTTP_request_Get_SettingTable_": {
              "runAfter": {
                "List_All_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "59c6048d-c4f6-4e9a-8a0d-1df0e3d03d91"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_webcontents",
                  "operationId": "InvokeHttp",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
                },
                "parameters": {
                  "request/method": "GET",
                  "request/url": "https://graph.microsoft.com/v1.0/sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211/lists/ddbec2ce-e3a5-4bf3-b065-23b0d1d0d395/drive/root:/@{outputs('Get-File-Relative-Path')}:/workbook/tables/SettingTable/rows",
                  "request/headers": {
                    "accept": "application/json"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "ExcelLanguage": {
              "runAfter": {
                "Select_extended_info": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bf827cb9-4709-4a91-aa62-5da177a21fb9"
              },
              "type": "Compose",
              "inputs": "@outputs('Invoke_an_HTTP_request_Get_SettingTable_')?['body']['value'][0]['values'][0][1]"
            }
          },
          "runAfter": {
            "Get-File-Relative-Path": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(outputs('SharePoint-file-path'))",
                  0
                ]
              },
              {
                "greater": [
                  "@outputs('activity-Type')",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "de2e31fb-b088-4d31-b562-a086b54ce650"
          },
          "type": "If"
        },
        "SharePoint-file-path": {
          "runAfter": {
            "Initialize_ProvinceCodes_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "813f258f-a88e-4327-a661-56a540b24c1e"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_tempsharepointfilelocation']"
        },
        "activity-Type": {
          "runAfter": {
            "SharePoint-file-path": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a2836a02-5322-4e7d-9199-a011455095fb"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_activitytype']"
        },
        "Activity_End_time": {
          "runAfter": {
            "activity-Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "12e7d949-e095-404c-8616-7984518928ea"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/cid_activityendtime']"
        },
        "CompanyId": {
          "runAfter": {
            "Activity_End_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "489ef8ab-ca6a-4f9a-b46e-76621eeb2231"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/_cid_company_value']"
        },
        "Initialize_ProvinceCodes_variable": {
          "runAfter": {
            "Scope_-_Language_logic_for_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74815300-3912-4a4c-ad7f-1cfdca4d3ce9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProvinceCodes",
                "type": "object",
                "value": {
                  "NL": "10",
                  "PE": "11",
                  "NS": "12",
                  "NB": "13",
                  "QC": "24",
                  "ON": "35",
                  "MB": "46",
                  "SK": "47",
                  "AB": "48",
                  "BC": "59",
                  "YU": "60",
                  "NT": "61",
                  "NU": "62",
                  "UF": "72",
                  "IW": "73"
                }
              }
            ]
          }
        },
        "Get-File-Relative-Path": {
          "runAfter": {
            "CompanyId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62a55140-16b9-46c5-8165-dbd9d75253d9"
          },
          "type": "Compose",
          "inputs": "@substring(outputs('SharePoint-file-path'), indexOf(outputs('SharePoint-file-path'),'CID_Bulk_Upload'))"
        },
        "check_error_flag": {
          "actions": {
            "Update_Bulk_activity_log_summary_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@triggerOutputs()?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_numberofsites": "@outputs('totalNumberOfSites')",
                  "item/cid_numberofunnumbers": "@outputs('NumberOfUnNumbers')",
                  "item/cid_validationcompletedstage": 100000001
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Loop_in_each_site_to_insert_or_Update": {
              "foreach": "@body('Select_Site_List')",
              "actions": {
                "Current_row_Site": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "692703f0-6bc6-4bc1-8199-14e43dfe7f6a"
                  },
                  "type": "Compose",
                  "inputs": "@items('Loop_in_each_site_to_insert_or_Update')"
                },
                "UNList": {
                  "runAfter": {
                    "Current_row_Site": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3c730080-51de-459b-8861-551d06758084"
                  },
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Select_extended_info')",
                    "where": "@and(equals(item()['ExtendedSite'], outputs('Current_row_Site')['SiteFullAddress']), greater(length(item()['ExtendedUNnumber']), 0))"
                  }
                },
                "Insert-Update_Sites_and_related_data": {
                  "runAfter": {
                    "UNList": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9019f374-1b71-47df-adc5-7089dc352e8e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "actionName": "Microsoft.Dynamics.CRM.cid_Insert_and_Update_Site_and_Related_UNs",
                      "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_company_value']",
                      "item/UploadType": "@triggerOutputs()?['body/cid_activitytype']",
                      "item/LanguageCode": "@variables('LanguageCode')",
                      "item/ActionedBy": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_actionedby_value']",
                      "item/LegalName": "@outputs('Get_a_account_by_ID')?['body/ovs_legalname']",
                      "item/OperatingName": "@outputs('Get_a_account_by_ID')?['body/name']",
                      "item/SiteInfo": "@outputs('Current_row_Site')",
                      "item/UNList": "@body('UNList')",
                      "item/ActivityID": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_bulkactivitylogsummaryid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "check_if_delete_UN_number_is_required": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a13dfb1a-1128-4977-9f3a-295db5d71229"
              },
              "type": "Foreach"
            },
            "check_if_delete_UN_number_is_required": {
              "actions": {
                "List_All_UN_rows_under_parent_account": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1f5d0802-0ff1-4931-8759-52ff00665346"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ovs_operationunnumbers",
                      "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"ovs_operationunnumber\">\n<attribute name=\"ovs_name\"/>\n<attribute name=\"ovs_operationunnumberid\"/>\n<order attribute=\"ovs_name\" descending=\"false\"/>\n<link-entity name=\"ovs_mocregistration\" from=\"ovs_mocregistrationid\" to=\"ovs_operationunnumber\" link-type=\"inner\" alias=\"ac\">\n<link-entity name=\"account\" from=\"accountid\" to=\"ovs_siteid\" link-type=\"inner\" alias=\"ad\">\n<filter type=\"and\">\n<condition attribute=\"parentaccountid\" operator=\"eq\"  value=\"@{outputs('Get_a_account_by_ID')?['body/accountid']}\"/>\n</filter>\n</link-entity>\n</link-entity>\n</entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Apply_to_each_UN_row_to_delete": {
                  "foreach": "@outputs('List_All_UN_rows_under_parent_account')?['body/value']",
                  "actions": {
                    "Delete_UN_Row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "8d369b03-04b2-41e0-b59e-6d9170217202"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "DeleteRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ovs_operationunnumbers",
                          "recordId": "@items('Apply_to_each_UN_row_to_delete')?['ovs_operationunnumberid']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_All_UN_rows_under_parent_account": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "cec00236-1701-42f0-bba2-406e1d856876"
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 25
                    }
                  }
                }
              },
              "runAfter": {
                "Compose_2": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_activitytype']",
                  100000001
                ]
              },
              "metadata": {
                "operationMetadataId": "03f7da4b-e6a8-4420-a708-a2e797cb5f7e"
              },
              "type": "If"
            },
            "Update_Bulk_activity_log_summary_end_activity_time": {
              "runAfter": {
                "Loop_in_each_site_to_insert_or_Update": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "cid_bulkactivitylogsummaries",
                  "recordId": "@triggerOutputs()?['body/cid_bulkactivitylogsummaryid']",
                  "item/cid_activityendtime": "@utcNow()",
                  "item/cid_activitystatus": 100000000,
                  "item/cid_totalruntime": "@div(sub(ticks(utcNow()),ticks(outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_activitystarttime'])),600000000)"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Language_is_English": {
              "actions": {
                "check_if_Missing_site_is_found": {
                  "actions": {
                    "Set_variable_Site_Remove_warnning": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "801f69b2-000f-4838-8614-b535f094b27d"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "SiteRemoveWarnning",
                        "value": "\"Note that the Site listed below were removed from the workbook prior to its upload. If you intend on deactivating these Sites, then this needs to be done using the 'Deactivate this Site' functionality as found in the side-menu bar when the Site has been retrieved.\":"
                      }
                    },
                    "Select_Missing_Site_List_": {
                      "runAfter": {
                        "Parse_JSON_Missing_Site_List": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@body('Parse_JSON_Missing_Site_List')",
                        "select": {
                          "Site Name": "@item()['SiteName']",
                          "Site Address": "@item()['SiteAddress']"
                        }
                      }
                    },
                    "Create_HTML_table_Missing_Site_List": {
                      "runAfter": {
                        "Select_Missing_Site_List_": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                      },
                      "type": "Table",
                      "inputs": {
                        "from": "@body('Select_Missing_Site_List_')",
                        "format": "HTML"
                      }
                    },
                    "html_table_with_style_Missing_Site": {
                      "runAfter": {
                        "Create_HTML_table_Missing_Site_List": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                      },
                      "type": "Compose",
                      "inputs": "  <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n@{body('Create_HTML_table_Missing_Site_List')}"
                    },
                    "Send_summary_email_to_portal_contact_in_English": {
                      "runAfter": {
                        "html_table_with_style_Missing_Site": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "03fa68c2-eaef-45a3-a78e-77053dd96194"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sendmail",
                          "operationId": "SendEmailV3",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                        },
                        "parameters": {
                          "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                          "request/subject": "Successful Bulk Data Upload during the processing of the Registration in the Transport Canada CID Data Platform. Please see the details for the next steps ",
                          "request/text": "<p>Hello @{outputs('get_contact_email')?['body/firstname']},<br>\n&nbsp;<br>\nThe Bulk Data Upload processing of the Registration for the @{outputs('get_contact_email')?['body/cid_legalname']} company, within the Transport Canada CID Data Platform, was successful. &nbsp;<br>\n&nbsp;<br>\nThe @{outputs('totalNumberOfSites')} Site entries and @{outputs('NumberOfUnNumbers')} UN # entries from the ‘@{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']}’ file were successfully updated in the Transport Canada CID Data Platform.<br>\n<br>\nPlease return to the Transport Canada CID Data Platform and choose the Company Registeration to continue with the Registration process.<br>\n<br>\n@{variables('SiteRemoveWarnning')}<br>\n<br>\n@{outputs('html_table_with_style_Missing_Site')}<br>\n<br>\nPlease note that the language of this email can be changed by updating the 'Language of Correspondence' field in the User Profile within the CID Platform.<br>\n<br>\nRegards<br>\nTransport Canada CID Data Platform Team</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Parse_JSON_Missing_Site_List": {
                      "runAfter": {
                        "Set_variable_Site_Remove_warnning": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteList']",
                        "schema": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "SiteGUID": {
                                "type": "string"
                              },
                              "SiteName": {
                                "type": "string"
                              },
                              "SiteAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "SiteGUID",
                              "SiteName",
                              "SiteAddress"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Send_summary_email_to_portal_contact_in_English_2": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "03fa68c2-eaef-45a3-a78e-77053dd96194"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sendmail",
                            "operationId": "SendEmailV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                          },
                          "parameters": {
                            "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                            "request/subject": "Successful Bulk Data Upload during the processing of the Registration in the Transport Canada CID Data Platform. Please see the details for the next steps ",
                            "request/text": "<p>Hello @{outputs('get_contact_email')?['body/firstname']},<br>\n&nbsp;<br>\nThe Bulk Data Upload processing of the Registration for the @{outputs('get_contact_email')?['body/cid_legalname']} company, within the Transport Canada CID Data Platform, was successful. &nbsp;<br>\n&nbsp;<br>\nThe @{outputs('totalNumberOfSites')} Site entries and @{outputs('NumberOfUnNumbers')} UN # entries from the ‘@{outputs('Update_Bulk_activity_log_summary_2')?['body/cid_filename']}’ file were successfully updated in the Transport Canada CID Data Platform.<br>\n<br>\nPlease return to the Transport Canada CID Data Platform and choose the Company Registeration to continue with the Registration process.<br>\n&nbsp;<br>\nPlease note that the language of this email can be changed by updating the 'Language of Correspondence' field in the User Profile within the CID Platform.<br>\n<br>\nRegards<br>\nTransport Canada CID Data Platform Team<br>\n<br>\n<br>\n<br>\n</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteFound']",
                            "@false"
                          ]
                        }
                      },
                      {
                        "not": {
                          "equals": [
                            "@triggerOutputs()?['body/cid_activitytype']",
                            100000001
                          ]
                        }
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bff03e9e-0a81-4006-ae0f-e0f7c45773df"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Update_Bulk_activity_log_summary_end_activity_time": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "check_if_Missing_site_is_found_2": {
                    "actions": {
                      "Set_variable_Site_Remove_warnning_French": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "28eb8ebd-96aa-456b-8c87-34e1e0720227"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "SiteRemoveWarnning",
                          "value": "French - \"Note that the Site listed below were removed from the workbook prior to its upload. If you intend on inactivating these Sites, then this needs to be done using the 'Deactivate this Site' functionality as found in the side-menu bar when the Site has been retrieved.\":"
                        }
                      },
                      "Select_Missing_Site_List__French": {
                        "runAfter": {
                          "Parse_JSON_Missing_Site_List_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                        },
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Parse_JSON_Missing_Site_List_French')",
                          "select": {
                            "Site Name": "@item()['SiteName']",
                            "Site Address": "@item()['SiteAddress']"
                          }
                        }
                      },
                      "Create_HTML_table_Missing_Site_List_French": {
                        "runAfter": {
                          "Select_Missing_Site_List__French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                        },
                        "type": "Table",
                        "inputs": {
                          "from": "@body('Select_Missing_Site_List__French')",
                          "format": "HTML"
                        }
                      },
                      "html_table_with_style_Missing_Site_French": {
                        "runAfter": {
                          "Create_HTML_table_Missing_Site_List_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                        },
                        "type": "Compose",
                        "inputs": "  <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n@{body('Create_HTML_table_Missing_Site_List_French')}"
                      },
                      "Parse_JSON_Missing_Site_List_French": {
                        "runAfter": {
                          "Set_variable_Site_Remove_warnning_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0b7ff81b-619c-40fb-ac02-2a5f13d468ff"
                        },
                        "type": "ParseJson",
                        "inputs": {
                          "content": "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteList']",
                          "schema": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "SiteGUID": {
                                  "type": "string"
                                },
                                "SiteName": {
                                  "type": "string"
                                },
                                "SiteAddress": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "SiteGUID",
                                "SiteName",
                                "SiteAddress"
                              ]
                            }
                          }
                        }
                      },
                      "Send_summary_email_to_portal_contact_in_French_with_warnning": {
                        "runAfter": {
                          "html_table_with_style_Missing_Site_French": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "87209241-078e-426d-9663-566b2623e814"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sendmail",
                            "operationId": "SendEmailV3",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                          },
                          "parameters": {
                            "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                            "request/subject": "Téléchargement de données en masse réussi lors du traitement de l'enregistrement dans la plate-forme de données CID de Transports Canada. Veuillez consulter les détails pour les prochaines étapes",
                            "request/text": "<p>Bonjour @{outputs('get_contact_email')?['body/firstname']} @{outputs('get_contact_email')?['body/lastname']}, &nbsp;<br>\n<br>\nLe traitement de téléchargement de données en bloc de Inscription pour la société @{outputs('get_contact_email')?['body/cid_legalname']}, au sein de la plate-forme de données CID de Transports Canada, a réussi.<br>\n<br>\nLes entrées @{outputs('totalNumberOfSites')} du fichier «@{outputs('NumberOfUnNumbers')}» ont été mises à jour avec succès dans la plate-forme de données @{triggerOutputs()?['body/cid_filename']} CID de Transports Canada.<br>\n<br>\nVeuillez retourner à la plate-forme de données CID de Transports Canada et choisir l'enregistrement de l'entreprise pour poursuivre le processus d'enregistrement.<br>\n<br>\n@{variables('SiteRemoveWarnning')}<br>\n<br>\n@{outputs('html_table_with_style_Missing_Site_French')}<br>\n<br>\nVeuillez noter que la langue de cet e-mail peut être modifiée en mettant à jour le champ \"Langue de correspondance\" dans le profil utilisateur de la plate-forme CID.<br>\n<br>\nSalutations<br>\nÉquipe de la plateforme de données CID de Transports Canada<br>\n<br>\n</p>"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Send_summary_email_to_portal_contact_in_French": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "87209241-078e-426d-9663-566b2623e814"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sendmail",
                              "operationId": "SendEmailV3",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                            },
                            "parameters": {
                              "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                              "request/subject": "Téléchargement de données en masse réussi lors du traitement de l'enregistrement dans la plate-forme de données CID de Transports Canada. Veuillez consulter les détails pour les prochaines étapes",
                              "request/text": "<p>Bonjour @{outputs('get_contact_email')?['body/firstname']} @{outputs('get_contact_email')?['body/lastname']}, &nbsp;<br>\n<br>\nLe traitement de téléchargement de données en bloc de Inscription pour la société @{outputs('get_contact_email')?['body/cid_legalname']}, au sein de la plate-forme de données CID de Transports Canada, a réussi.<br>\n<br>\nLes entrées @{outputs('totalNumberOfSites')} du fichier «@{outputs('NumberOfUnNumbers')}» ont été mises à jour avec succès dans la plate-forme de données @{triggerOutputs()?['body/cid_filename']} CID de Transports Canada.<br>\n<br>\nVeuillez retourner à la plate-forme de données CID de Transports Canada et choisir l'enregistrement de l'entreprise pour poursuivre le processus d'enregistrement.<br>\n<br>\nVeuillez noter que la langue de cet e-mail peut être modifiée en mettant à jour le champ \"Langue de correspondance\" dans le profil utilisateur de la plate-forme CID.<br>\n<br>\nSalutations<br>\nÉquipe de la plateforme de données CID de Transports Canada<br>\n<br>\n</p>"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteFound']",
                            "@true"
                          ]
                        },
                        {
                          "not": {
                            "equals": [
                              "@triggerOutputs()?['body/cid_activitytype']",
                              100000001
                            ]
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "94e2716b-815f-43d3-8eec-b8c47b06e8de"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('Language')",
                  "@'918640001'"
                ]
              },
              "metadata": {
                "operationMetadataId": "37c9cb98-e82d-47d1-8288-e5279e81d2d6"
              },
              "type": "If"
            },
            "Compare_System_Site_and_uploaded_excel_site_list": {
              "runAfter": {
                "Update_Bulk_activity_log_summary_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e390d35d-66d1-41d6-83c1-8a61e37d7fd9"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "actionName": "Microsoft.Dynamics.CRM.cid_CID_BulkUpload_CompareSystemSites_WithExcelSite",
                  "recordId": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/_cid_company_value']",
                  "item/SiteInfo": "@body('Select_Site_List')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose_2": {
              "runAfter": {
                "Compare_System_Site_and_uploaded_excel_site_list": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce05a605-a441-4f63-bbf7-0f633be2f2d7"
              },
              "type": "Compose",
              "inputs": "@{outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteFound']}\n\n\n\n@{outputs('Compare_System_Site_and_uploaded_excel_site_list')?['body/MissingSiteList']}"
            }
          },
          "runAfter": {
            "Convert_time_zone": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "if_language_is_english": {
                "actions": {
                  "Select_Error_List_Variable_columns_English": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@variables('Error_List')",
                      "select": {
                        "Worksheet": "@item()['SheetName']",
                        "Row #": "@item()['Row#']",
                        "Error": "@item()['Error']",
                        "Site": "@item()['Site']"
                      }
                    }
                  },
                  "Send_an_email_notification_to_portal_users_with_errors": {
                    "runAfter": {
                      "Eng-Localization-Error": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "94e1b98e-5051-4132-b512-028ad4bd7d96"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sendmail",
                        "operationId": "SendEmailV3",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                      },
                      "parameters": {
                        "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                        "request/subject": "Unsuccessful Bulk Data Upload during the processing of the Registration in the Transport Canada CID Data Platform. Please see the details for the next steps ",
                        "request/text": "<p>Hello @{outputs('get_contact_email')?['body/firstname']} @{outputs('get_contact_email')?['body/lastname']},<br>\n&nbsp;<br>\nThe Bulk Data Upload processing of the Registration for the @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']} company, within the Transport Canada CID Data Platform, was not successful. No data was updated within the Transport Canada CID Data Platform. &nbsp;<br>\n&nbsp;<br>\nPlease: &nbsp;<br>\n• address the @{outputs('totalNumberOferrors')} @{outputs('Eng-Localization-Error')} that are as detailed below<br>\n• save a copy of the workbook with those updates<br>\n• use that new copy as the file source of another Registration Bulk Upload process.<br>\n<br>\n@{replace( outputs('html_table_with_style') ,'<table>' , '  <table><col style=\"width:15%\">\r\n\t<col style=\"width:10%\">\r\n\t<col style=\"width:50%\">\r\n        <col style=\"width:25%\">')}<br>\n<br>\nPlease note that the language of this email can be changed by updating the 'Language of Correspondence' field in the User Profile within the CID Platform.<br>\n<br>\nRegards<br>\n&nbsp;Transport Canada CID Data Platform Team<br>\n<br>\n<br>\n<br>\n</p>"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "html_table_with_style": {
                    "runAfter": {
                      "Create_HTML_table": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                    },
                    "type": "Compose",
                    "inputs": "  <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n         \n            }\n\n           \n            table tbody tr :nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n\n           \n           \n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                    text-align: center;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n@{body('Create_HTML_table')}"
                  },
                  "Create_HTML_table": {
                    "runAfter": {
                      "Select_Error_List_Variable_columns_English": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3d5b95c3-0259-4f2b-a767-b20b99174ec1"
                    },
                    "type": "Table",
                    "inputs": {
                      "from": "@body('Select_Error_List_Variable_columns_English')",
                      "format": "HTML"
                    }
                  },
                  "Eng-Localization-Error": {
                    "runAfter": {
                      "html_table_with_style": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c0c7a486-a2cb-4b3a-94c7-50459974329f"
                    },
                    "type": "Compose",
                    "inputs": "@if( greater( outputs('totalNumberOferrors'),1)  , 'errors' , 'error')"
                  }
                },
                "runAfter": {
                  "Update_Bulk_activity_log_summary": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Create_HTML_table-French": {
                      "runAfter": {
                        "Select_Error_List_Variable_columns": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "16f727a6-fe5f-4fe3-b56d-ae277f2a3eec"
                      },
                      "type": "Table",
                      "inputs": {
                        "from": "@body('Select_Error_List_Variable_columns')",
                        "format": "HTML"
                      }
                    },
                    "Select_Error_List_Variable_columns": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "091d13e2-41c8-49ec-afa7-5073e00c8921"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@variables('Error_List')",
                        "select": {
                          "Feuille de travail": "@item()['SheetName']",
                          "Rangée #": "@item()['Row#']",
                          "Erreur": "@item()['Error']",
                          "Site": "@item()['Site']"
                        }
                      }
                    },
                    "Send_an_email_notification_with_errors_to_portal_user_in_English": {
                      "runAfter": {
                        "French-Localization-Error": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "661155db-9f65-4f0b-af70-fa25633e3684"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sendmail",
                          "operationId": "SendEmailV3",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sendmail"
                        },
                        "parameters": {
                          "request/to": "@{outputs('get_contact_email')?['body/emailaddress1']};",
                          "request/subject": "Échec du téléchargement de données en bloc lors du traitement de l'enregistrement dans la plate-forme de données CID de Transports Canada. Veuillez consulter les détails pour les prochaines étapes",
                          "request/text": "<p>Bonjour @{outputs('get_contact_email')?['body/firstname']} @{outputs('get_contact_email')?['body/lastname']},<br>\n<br>\nLe traitement de téléchargement de données en bloc de l'enregistrement pour la société @{outputs('Get_a_account_by_ID')?['body/ovs_legalname']}, au sein de la plate-forme de données CID de Transports Canada, n'a pas abouti. Aucune donnée n'a été mise à jour dans la plateforme de données CID de Transports Canada.<br>\n&nbsp;<br>\nS'il vous plaît:<br>\n• adressez @{outputs('totalNumberOferrors')} @{outputs('French-Localization-Error')} qui sont détaillés ci-dessous<br>\n• enregistrer une copie du classeur avec ces mises à jour<br>\n• utiliser cette nouvelle copie comme fichier source d'un autre processus de téléchargement en masse Inscription.<br>\n<br>\nSalutations<br>\n<br>\nÉquipe de la plateforme de données CID de Transports Canada<br>\n<br>\n<br>\n@{replace( outputs('html_table_with_style-French') ,'<table>' , '  <table><col style=\"width:20%\">\r\n\t<col style=\"width:10%\">\r\n\t<col style=\"width:45%\">\r\n        <col style=\"width:25%\">')}<br>\n<br>\n<br>\n</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "html_table_with_style-French": {
                      "runAfter": {
                        "Create_HTML_table-French": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "920beb59-130c-4895-ab0c-490a0d32e827"
                      },
                      "type": "Compose",
                      "inputs": " <style>\n        table {\n            border: 1px solid #1C6EA4;\n            background-color: #EEEEEE;\n            width: 100%;\n    \n            border-collapse: collapse;\n        }\n\n            table td, table th {\n                border: 1px solid #AAAAAA;\n                padding: 3px 2px;\n                text-align: center;\n            }\n\n            table tbody tr td:nth-child(1) {\n                text-align: left;\n                font-size: 13px;\n            }\n            table tbody tr td:nth-child(2) {\n                text-align: center;\n                font-size: 13px;\n            }\n           \n            table tbody tr td:nth-child(3) {\n                text-align: left;\n                font-size: 13px;\n            }\n            table tbody tr td:nth-child(4) {\n                text-align: left;\n                font-size: 13px;\n            }\n            table thead {\n                background: #1C6EA4;\n                border-bottom: 2px solid #444444;\n            }\n\n                table thead th {\n                    font-size: 15px;\n                    font-weight: bold;\n                    color: #FFFFFF;\n                    border-left: 2px solid #D0E4F5;\n                }\n\n                    table thead th:first-child {\n                        border-left: none;\n                    }\n    </style>\n\n\n@{replace(replace(body('Create_HTML_table-French'),'Add Extended Info','Ajouter des informations étendues'),'Add Basic Info' ,'Ajouter des informations de base')}\n"
                    },
                    "French-Localization-Error": {
                      "runAfter": {
                        "html_table_with_style-French": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3064f8a1-78f8-4759-8cc5-beb7926cb870"
                      },
                      "type": "Compose",
                      "inputs": "@if(greater(outputs('totalNumberOferrors'), 1), 'les erreurs', 'Erreur')"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@variables('Language')",
                    "@'918640001'"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "2ab86d82-d594-432b-a24a-8da1b7311ea6"
                },
                "type": "If"
              },
              "Update_Bulk_activity_log_summary": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b9fd40b4-ad5c-476a-a72c-c9247d363b8a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "cid_bulkactivitylogsummaries",
                    "recordId": "@triggerOutputs()?['body/cid_bulkactivitylogsummaryid']",
                    "item/cid_activityendtime": "@utcNow()",
                    "item/cid_activitystatus": 100000001,
                    "item/cid_numberofsites": "@outputs('totalNumberOfSites')",
                    "item/cid_numberofunnumbers": "@outputs('NumberOfUnNumbers')",
                    "item/cid_totalruntime": "@div(sub(ticks(utcNow()),ticks(outputs('Get_bulk_activities_log_summary_by_ID')?['body/cid_activitystarttime'])),600000000)"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('IsErrorFree')",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "65069879-0150-4e08-9d1e-e04210460358"
          },
          "type": "If"
        },
        "get_contact_email": {
          "runAfter": {
            "Get_bulk_activities_log_summary_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3aa29ee7-04a6-41ba-ab07-924c6b990d05"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_cid_actionedby_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "get-environment-settings": {
          "runAfter": {
            "get_contact_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7ed63b1d-9cf8-403e-9d9c-56cdd03f198e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "qm_environmentsettingses",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"qm_environmentsettings\">\n<attribute name=\"qm_environmentsettingsid\"/>\n<attribute name=\"qm_name\"/>\n<attribute name=\"qm_value\"/>\n<order attribute=\"qm_name\" descending=\"false\"/>\n<filter type=\"and\">\n<condition attribute=\"qm_name\" operator=\"like\" value=\"%CID[_]%\"/>\n</filter>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Scope_-_Language_logic_for_Messages": {
          "actions": {
            "Messaages": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "04d08f07-7aa1-43e4-8da5-adb1e21d7258"
              },
              "type": "Compose",
              "inputs": "[\n{\"code\" : \"B1001\" , \"Eng-Message\" : \"A scan of the file has found a potential virus. Please download and update a new version of the Site Bulk Upload Excel Template, then upload that file instead. [B1001]\", \"Fr-Message\" :  \"Une analyse du fichier a trouvé un virus potentiel. Veuillez télécharger et mettre à jour une nouvelle version du modèle Excel de téléchargement groupé du site, puis téléchargez ce fichier à la place.[B1001]\" } ,\n{\"code\" : \"B1002\" , \"Eng-Message\" : \"The uploaded file is not the custom Site Bulk Upload Excel workbook. Please download and update a new version of the Site Bulk Upload Excel Template, then upload that file instead. [B1002] \", \"Fr-Message\" :  \"Le fichier téléchargé n'est pas le classeur Excel personnalisé de téléchargement en masse du site. Veuillez télécharger et mettre à jour une nouvelle version du modèle Excel de téléchargement groupé du site, puis téléchargez ce fichier à la place.[B1002] \" } ,\n{\"code\" : \"B1003\" , \"Eng-Message\" : \"The uploaded file is assigned to the ‘{0}’ Company, versus your own Company. Please download and update a new version of the Site Bulk Upload Excel Template, then upload that file instead. [B1003] \n\n{0} is the name of Company Name stored in a hidden field in the workbook \", \"Fr-Message\" :  \"Le fichier téléchargé est attribué à la société {0}, par opposition à votre propre société. Veuillez télécharger et mettre à jour une nouvelle version du modèle Excel de téléchargement groupé du site, puis téléchargez ce fichier à la place. [B1003]\n\n{0} est le nom du nom de la société stocké dans un champ masqué du classeur\" } ,\n{\"code\" : \"B1004\" , \"Eng-Message\" : \"The uploaded file is based on a template that is no longer current. Please download and update a new version of the Site Bulk Upload Excel Template, then upload that file instead. [B1004] \", \"Fr-Message\" :  \"Le fichier téléchargé est basé sur un modèle qui n'est plus actuel. Veuillez télécharger et mettre à jour une nouvelle version du modèle Excel de téléchargement groupé du site, puis téléchargez ce fichier à la place. [B1004]\" } ,\n{\"code\" : \"B1005\" , \"Eng-Message\" : \"The uploaded file is empty. Please update the file with the Basic, and if required Extended, Site information, Guidance for the data entry can be found in the [Instructions] sheet of the workbook.  \n\nWhen that process is complete, then upload that version of the file. [B1005]\", \"Fr-Message\" :  \"Le fichier téléchargé est vide. Veuillez mettre à jour le fichier avec les informations de base et, si nécessaire, les informations étendues sur le site. Des conseils pour la saisie des données peuvent être trouvés dans la feuille [Instructions] du classeur.\n\nUne fois ce processus terminé, téléchargez cette version du fichier. [B1005]\" } ,\n{\"code\" : \"B1006\" , \"Eng-Message\" : \"This workbook contains {0} rows of Site data and {1} rows of UN data for those sites. This exceeds the acceptable limits for the bulk upload of {2} rows for Site data and {3} rows for UN data.  \n\nThe [Instructions] tab within the workbook provides guidance as to what data needs to be provided. If need be, you may consider splitting the file into two Bulk files, each under the limits, and two Bulk submissions. [B1006] \", \"Fr-Message\" :  \"Ce classeur contient {0} lignes de données de site et {1} lignes de données UN pour ces sites. Cela dépasse les limites acceptables pour le téléchargement groupé de {2} lignes pour les données de site et de {3} lignes pour les données de l'ONU.[B1006]\" } ,\n{\"code\" : \"B1007\" , \"Eng-Message\" : \"There are already {0} rows of Site data and {1} rows of UN data for those sites on file for this Company, so no further uploads can continue. [B1007]\", \"Fr-Message\" :  \"\nIl existe déjà {0} lignes de données de site et {1} lignes de données de l'ONU pour ces sites dans le dossier de cette entreprise. Aucun autre téléchargement ne peut donc continuer. [B1007]\" } ,\n{\"code\" : \"B1008\" , \"Eng-Message\" : \"Missing required field: Province. [B1008]\", \"Fr-Message\" :  \"Champ obligatoire manquant : Province. [B1008]\" } ,\n{\"code\" : \"B1009\" , \"Eng-Message\" : \"Missing required field: Postal Code. [B1009]\", \"Fr-Message\" :  \"Champ obligatoire manquant : Code postal. [B1009]\" } ,\n{\"code\" : \"B1010\" , \"Eng-Message\" : \"Missing required field:Address 1. [B1010]\", \"Fr-Message\" :  \"Champ obligatoire manquant :Adresse 1. [B1010]\" } ,\n{\"code\" : \"B1011\" , \"Eng-Message\" : \"Address already exist. [B1011]\", \"Fr-Message\" :  \"\nL'adresse existe déjà pour l'entreprise par. [B1011]\" } ,\n{\"code\" : \"B1012\" , \"Eng-Message\" : \"City name is not correct. [B1012]\", \"Fr-Message\" :  \"Le nom de la ville n'est pas correct. [B1012]\" } ,\n{\"code\" : \"B1013\" , \"Eng-Message\" : \"City doesn't belong to Province. [B1013]\", \"Fr-Message\" :  \"\nLa ville n'appartient pas à la province. [B1013]\" } ,\n{\"code\" : \"B1014\" , \"Eng-Message\" : \"Missing required field:1B. Quarter / LSD. [B1014]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1B. Trimestre / LSD. [B1014]\" } ,\n{\"code\" : \"B1015\" , \"Eng-Message\" : \"Missing required field:1B. Section. [B1015]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1B. Section. [B1015]\" } ,\n{\"code\" : \"B1016\" , \"Eng-Message\" : \"Missing required field:1B. Township. [B1016]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1B. Canton. [B1016]\" } ,\n{\"code\" : \"B1017\" , \"Eng-Message\" : \"Missing required field:1B. Range. [B1017]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1B. Varier. [B1017]\" } ,\n{\"code\" : \"B1018\" , \"Eng-Message\" : \"Missing required field:1B. Meridian. [B1018]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1B. Méridien. [B1018]\" } ,\n{\"code\" : \"B1019\" , \"Eng-Message\" : \"Legal Land description already exists. [B1019]\", \"Fr-Message\" :  \"\nLa description légale du terrain existe déjà. [B1019]\" } ,\n{\"code\" : \"B1020\" , \"Eng-Message\" : \"Missing required field: 1C. Latitude. [B1020]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1C. Latitude. [B1020]\" } ,\n{\"code\" : \"B1021\" , \"Eng-Message\" : \"Missing required field: 1C. Longtitude. [B1021]\", \"Fr-Message\" :  \"Champ obligatoire manquant : 1C. Longitude. [B1021]\" } ,\n{\"code\" : \"B1022\" , \"Eng-Message\" : \"Latitude and Longtitude alerady exists for the company. [B1022]\", \"Fr-Message\" :  \"\nLa latitude et la longitude existent déjà pour l'entreprise. [B1022]\" } ,\n{\"code\" : \"B1023\" , \"Eng-Message\" : \"At least one mode of transportation Need to be selected. [B1023]\", \"Fr-Message\" :  \"Au moins un mode de transport Doit être sélectionné. [B1023]\" } ,\n{\"code\" : \"B1024\" , \"Eng-Message\" : \"At least one Class need to be added. [B1024]\", \"Fr-Message\" :  \"Au moins une classe doit être ajoutée. [B1024]\" } ,\n{\"code\" : \"B1025\" , \"Eng-Message\" : \"Incorrect class. [B1025]\", \"Fr-Message\" :  \"Classe incorrecte. [B1025]\" } ,\n{\"code\" : \"B1026\" , \"Eng-Message\" : \"Extended Site information in not specified. [B1026]\", \"Fr-Message\" :  \"\nLes informations étendues sur le site ne sont pas spécifiées. [B1026]\" } ,\n{\"code\" : \"B1027\" , \"Eng-Message\" : \"Site must have at least one HOTI activities. [B1027]\", \"Fr-Message\" :  \"Le site doit avoir au moins une activité HOTI. [B1027]\" } ,\n{\"code\" : \"B1028\" , \"Eng-Message\" : \"Extednded site must have at Least  on UNNumber Need to be specified. [B1028]\", \"Fr-Message\" :  \"Le site étendu doit avoir au moins un numéro UN Doit être spécifié. [B1028]\" } ,\n{\"code\" : \"B1029\" , \"Eng-Message\" : \"Missing required field: City. [B1029]\", \"Fr-Message\" :  \"Champ obligatoire manquant : Ville. [B1029]\" } ,\n{\"code\" : \"B1030\" , \"Eng-Message\" : \"Missing Annual Quantity/Volume. [B1030]\", \"Fr-Message\" :  \"Quantité/Volume annuel manquant. [B1030]\" } ,\n{\"code\" : \"B1031\" , \"Eng-Message\" : \"Missing Unit of measurement. [B1031]\", \"Fr-Message\" :  \"Unité de mesure manquante. [B1031]\" } ,\n{\"code\" : \"B1032\" , \"Eng-Message\" : \"Missing Annual # of  Consignments. [B1032]\", \"Fr-Message\" :  \"Nombre annuel manquant d'envois. [B1032]\" } ,\n{\"code\" : \"B1033\" , \"Eng-Message\" : \"Site belong to another company. Please go through cliaming process. [B1033]\", \"Fr-Message\" :  \"Le site appartient à une autre société. Veuillez passer par le processus de réclamation. [B1033]\" } ,\n{\"code\" : \"B1034\" , \"Eng-Message\" : \"Once site address is established it cannot be changed.[B1034]\", \"Fr-Message\" :  \"Une fois l'adresse du site établie, elle ne peut plus être modifiée.[B1034]\" } \n\n]"
            },
            "Parse_Messages_to_JSON": {
              "runAfter": {
                "Messaages": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7167db6-5d1d-4c49-8959-e8ed51425a00"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('Messaages')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "Eng-Message": {
                        "type": "string"
                      },
                      "Fr-Message": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "code",
                      "Eng-Message",
                      "Fr-Message"
                    ]
                  }
                }
              }
            },
            "Check_Language": {
              "actions": {
                "Select_-_English_Language": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2f87aa54-460c-45c4-a069-00ea3dbd7bf2"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Parse_Messages_to_JSON')",
                    "select": {
                      "code": "@item()['code']",
                      "Message": "@item()['Eng-Message']"
                    }
                  }
                },
                "Apply_to_each_English_Message": {
                  "foreach": "@body('Select_-_English_Language')",
                  "actions": {
                    "Append_to_array_variable_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "e34d2bba-d320-4f5a-9b95-0e2454bf437e"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "Messages_Array",
                        "value": "@items('Apply_to_each_English_Message')"
                      }
                    }
                  },
                  "runAfter": {
                    "Select_-_English_Language": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "21b64a4a-96fd-4540-b578-86cee5235ab6"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Parse_Messages_to_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Select_-_French_Language": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "7e1b1002-0ea0-4737-81cd-7a7ddee851b1"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('Parse_Messages_to_JSON')",
                      "select": {
                        "code": "@item()['code']",
                        "Message": "@item()['Fr-Message']"
                      }
                    }
                  },
                  "for_each_French_message": {
                    "foreach": "@body('Select_-_French_Language')",
                    "actions": {
                      "Append_to_array_variable_French_Message": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "6ca892ec-2f00-4e9c-9c07-db6a700f96df"
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "Messages_Array",
                          "value": "@items('for_each_French_message')"
                        }
                      }
                    },
                    "runAfter": {
                      "Select_-_French_Language": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "1b147b98-4f69-4ed0-a0b3-3d01bf011e07"
                    },
                    "type": "Foreach"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('Language')",
                  "@'918640001'"
                ]
              },
              "metadata": {
                "operationMetadataId": "95a1b3cb-7717-4242-95b3-e1d926135492"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "check_if__contact_language_is_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "579a4345-0777-4a5f-8e95-463e308bb3c1"
          },
          "type": "Scope"
        },
        "Initialize_Message_Array": {
          "runAfter": {
            "Initialize_variable_-_Error_Message": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9c2fcec6-947b-4396-aa5d-63b3262a276f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Messages_Array",
                "type": "array"
              }
            ]
          }
        },
        "Get_bulk_activities_log_summary_by_ID": {
          "runAfter": {
            "Get_a_account_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ac95dd8f-6edc-4bfd-975a-6c9c22d7f655"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cid_bulkactivitylogsummaries",
              "recordId": "@triggerOutputs()?['body/cid_bulkactivitylogsummaryid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Error_Message": {
          "runAfter": {
            "Error_flag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb9a8ba4-4adb-48fa-9736-b2febfa6d858"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_Message",
                "type": "string"
              }
            ]
          }
        },
        "totalNumberOferrors": {
          "runAfter": {
            "Check_if_Validation_should_start_on_the_Modified_event": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28a8735f-bcb1-4554-b08a-6e429977b8d7"
          },
          "type": "Compose",
          "inputs": "@ length(variables('Error_List')) "
        },
        "totalNumberOfSites": {
          "runAfter": {
            "totalNumberOferrors": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e482b88-0e20-4cfb-9a9d-59d8799d6efa"
          },
          "type": "Compose",
          "inputs": "@length(body('Filter_table_-_get_none_empty_cells_sites_for_insert_'))"
        },
        "NumberOfUnNumbers": {
          "runAfter": {
            "totalNumberOfSites": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "958aedd2-980b-4aeb-806d-5de021c93c57"
          },
          "type": "Compose",
          "inputs": "@length(body('Filter_table_-_Get_None_empty_cells_Extended_Table'))"
        },
        "Convert_time_zone": {
          "runAfter": {
            "NumberOfUnNumbers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f74cfa7b-9df9-43ef-a39a-8f7a83c4e844"
          },
          "type": "Expression",
          "kind": "ConvertTimeZone",
          "inputs": {
            "baseTime": "@outputs('Get_bulk_activities_log_summary_by_ID')?['body/createdon']",
            "formatString": "yyyy-MM-dd hh:mm",
            "sourceTimeZone": "Eastern Standard Time",
            "destinationTimeZone": "Eastern Standard Time"
          }
        },
        "define_basic_info_sheet_columns_2": {
          "actions": {
            "SiteName": {
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b319d79-94cf-4ca6-bb49-3374fdd972f0"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Site']"
            },
            "Address1": {
              "runAfter": {
                "SiteName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f93a4c9-5519-4834-b9a6-fb3d5764c2eb"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 1']"
            },
            "City": {
              "runAfter": {
                "Address1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dbe26cc1-4c9c-4ba8-b85d-cb64eef8faef"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['City']"
            },
            "Province": {
              "runAfter": {
                "City": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e975e0f1-f06a-4dca-9047-e47503e2782b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Province']"
            },
            "PostalCode": {
              "runAfter": {
                "Province": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75282f2f-4b8b-4689-9ea9-3782d51058df"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Postal Code']"
            },
            "Address2": {
              "runAfter": {
                "PostalCode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f6a122f-c20c-4d83-b063-3be620089848"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 2']"
            },
            "Address3": {
              "runAfter": {
                "Address2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4026d79c-ae18-4b94-8b1d-296b3690cda9"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Address 3']"
            },
            "LLDProvince": {
              "runAfter": {
                "Address3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6cdb4c23-56ba-41ce-a13f-03aebdcb78b7"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['ProvinceLLD']"
            },
            "Quarter": {
              "runAfter": {
                "LLDProvince": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a29b5c9a-fe60-4d35-be55-454356d40e4f"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Quarter']"
            },
            "Section": {
              "runAfter": {
                "Quarter": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "42869346-d816-4923-b26b-e3ac7c3bb620"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Section']"
            },
            "TownShip": {
              "runAfter": {
                "Section": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cdc284ff-1f84-471b-95da-6eddcc7e3427"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Township']"
            },
            "Range": {
              "runAfter": {
                "TownShip": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f5b44d03-0ea1-4322-ad2e-ea6a9fda2fd5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Range']"
            },
            "Meridian": {
              "runAfter": {
                "Range": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "794f7754-6314-4932-bb63-f299ce9974c5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Meridian']"
            },
            "Lat": {
              "runAfter": {
                "Meridian": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3abf2572-b339-4126-a607-688e09d752f9"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Latitude']"
            },
            "Long": {
              "runAfter": {
                "Lat": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "855c0461-a4e4-4454-8a28-ead74c94fb7a"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Longitude']"
            },
            "Air": {
              "runAfter": {
                "Long": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "129357ef-35ce-4762-8f3f-2f1339fcc145"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Air']"
            },
            "Marine": {
              "runAfter": {
                "Air": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "33fb1f99-04f8-4e73-b7c2-71a74178883b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Marine']"
            },
            "Rail": {
              "runAfter": {
                "Marine": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b70f0b0e-5265-4b61-8963-fc1b4b8f8b4e"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Rail']"
            },
            "Road": {
              "runAfter": {
                "Rail": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "67efa3fd-0019-4731-ab45-38562b1c3afe"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Road']"
            },
            "Handle": {
              "runAfter": {
                "Road": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "87ed0437-464f-4d68-8884-f0aaa8cc4909"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Handle']"
            },
            "OfferForTransport": {
              "runAfter": {
                "Handle": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a075538b-4938-451b-aa5c-b0b909e8bceb"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Offer for Transport']"
            },
            "Transport": {
              "runAfter": {
                "OfferForTransport": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4be5c4d6-7fd5-425e-9fd7-93ec3d499774"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Transport']"
            },
            "Import": {
              "runAfter": {
                "Transport": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b5d428ee-008d-48b7-af90-7003164339a4"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Import']"
            },
            "Class": {
              "runAfter": {
                "Import": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8301325-ecf8-44e1-addf-9c005e8daae5"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Class']"
            },
            "extendedYN": {
              "runAfter": {
                "Class": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a3f56429-de62-4db0-8ac3-2f7dba91b8e2"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Extended-Information-Site']"
            },
            "LineNumber": {
              "runAfter": {
                "extendedYN": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "87e59482-f129-418f-b5a6-66cf15fa34a4"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['Row number']"
            },
            "SiteFullAddress": {
              "runAfter": {
                "LineNumber": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "097c3321-7f83-4634-9681-c902ac84dd3a"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['SiteFullAddress']"
            },
            "SiteGUID": {
              "runAfter": {
                "SiteFullAddress": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5f6eb9ca-7a27-41e2-b0a5-851101b1f606"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')['site-GUID']"
            },
            "Parse_JSON": {
              "runAfter": {
                "ExclJsonStringColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f62b9eb-4bd6-419b-953f-ba6f2c27ef27"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('ExclJsonStringColumns')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "UserAction": {
                      "type": "string"
                    },
                    "Site Name": {
                      "type": "string"
                    },
                    "Address 1": {
                      "type": "string"
                    },
                    "City": {
                      "type": "string"
                    },
                    "Province": {
                      "type": "string"
                    },
                    "Postal Code ": {
                      "type": "string"
                    },
                    "Address 2": {
                      "type": "string"
                    },
                    "Address 3": {
                      "type": "string"
                    },
                    "Province  ": {
                      "type": "string"
                    },
                    "Quarter ": {
                      "type": "string"
                    },
                    "Section": {
                      "type": "string"
                    },
                    "Township": {
                      "type": "string"
                    },
                    "Range": {
                      "type": "string"
                    },
                    "Meridian": {
                      "type": "string"
                    },
                    "Latitude": {
                      "type": "string"
                    },
                    "Longitude": {
                      "type": "string"
                    },
                    " Air": {
                      "type": "string"
                    },
                    "Marine": {
                      "type": "string"
                    },
                    "Rail": {
                      "type": "string"
                    },
                    "Road": {
                      "type": "string"
                    },
                    "Handle": {
                      "type": "string"
                    },
                    "Offer for Transport": {
                      "type": "string"
                    },
                    "Transport": {
                      "type": "string"
                    },
                    "Import": {
                      "type": "string"
                    },
                    "Class/Division ": {
                      "type": "string"
                    },
                    "Extended Information Site ": {
                      "type": "string"
                    },
                    "Row number": {
                      "type": "string"
                    },
                    "SiteFullAddress": {
                      "type": "string"
                    },
                    "site-GUID": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "ExclJsonStringColumns": {
              "runAfter": {
                "Filter_array-environmentsetting-getExcelSiteColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6c280618-ef32-4af0-90e1-8d8d3ad762f4"
              },
              "type": "Compose",
              "inputs": "@body('Filter_array-environmentsetting-getExcelSiteColumns')?[0]['qm_value']"
            },
            "Filter_array-environmentsetting-getExcelSiteColumns": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "41f6f1a2-74a5-40a3-8f7a-1c9d91283a64"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()['qm_name'], 'CID_BulkUpload_Sites_Columns_In_Excel')"
              }
            }
          },
          "runAfter": {
            "Filter_environment-CID_Flow_Environment_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4375930-3c4d-472c-a8b9-7d72d1b358f5"
          },
          "type": "Scope"
        },
        "define_extended_columns_in_excel_sheet_2": {
          "actions": {
            "ExtendedSite": {
              "runAfter": {
                "ExtendedAction": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0b319d79-94cf-4ca6-bb49-3374fdd972f0"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['Site']"
            },
            "ExtendedUNNumber": {
              "runAfter": {
                "ExtendedSite": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1f93a4c9-5519-4834-b9a6-fb3d5764c2eb"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['unnumber']"
            },
            "ExtendedQuantity": {
              "runAfter": {
                "ExtendedUNNumber": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dbe26cc1-4c9c-4ba8-b85d-cb64eef8faef"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['Quantity']"
            },
            "ExtendedUnitOfMeasure": {
              "runAfter": {
                "ExtendedQuantity": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e975e0f1-f06a-4dca-9047-e47503e2782b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['Unit of Measure']"
            },
            "ExtendedAnnulaConsignment": {
              "runAfter": {
                "ExtendedUnitOfMeasure": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "75282f2f-4b8b-4689-9ea9-3782d51058df"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['Consignments']"
            },
            "ExtendedGUID": {
              "runAfter": {
                "ExtendedAnnulaConsignment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f6a122f-c20c-4d83-b063-3be620089848"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['UN-GUID']"
            },
            "Filter_array-environmentsetting-getExcelUNColumns": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "41f6f1a2-74a5-40a3-8f7a-1c9d91283a64"
              },
              "type": "Query",
              "inputs": {
                "from": "@outputs('get-environment-settings')?['body/value']",
                "where": "@equals(item()['qm_name'], 'CID_BulkUpload_Extended_Columns_In_Excel')"
              }
            },
            "ExtendedAction": {
              "runAfter": {
                "Parse_JSON-ExtendedColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a1598679-b359-4995-8082-c3ab58b5ce7b"
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON-ExtendedColumns')['UserAction']"
            },
            "ExclJsonUNStringColumns": {
              "runAfter": {
                "Filter_array-environmentsetting-getExcelUNColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6c280618-ef32-4af0-90e1-8d8d3ad762f4"
              },
              "type": "Compose",
              "inputs": "@body('Filter_array-environmentsetting-getExcelUNColumns')?[0]['qm_value']"
            },
            "Parse_JSON-ExtendedColumns": {
              "runAfter": {
                "ExclJsonUNStringColumns": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3f62b9eb-4bd6-419b-953f-ba6f2c27ef27"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@outputs('ExclJsonUNStringColumns')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "UserAction": {
                      "type": "string"
                    },
                    "Site": {
                      "type": "string"
                    },
                    "unnumber": {
                      "type": "string"
                    },
                    "Quantity": {
                      "type": "string"
                    },
                    "Unit of Measure": {
                      "type": "string"
                    },
                    "Consignments": {
                      "type": "string"
                    },
                    "UN-GUID": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "define_basic_info_sheet_columns_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4375930-3c4d-472c-a8b9-7d72d1b358f5"
          },
          "type": "Scope"
        },
        "Get_a_account_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "bb1a479b-b31f-40f5-be89-cc058b06769e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerOutputs()?['body/_cid_company_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_Language": {
          "runAfter": {
            "Initialize_Message_Array": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d2b5b076-4638-4722-bf77-d73e9f825659"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "string",
                "value": "@{outputs('get_contact_email')?['body/cid_languageofcorrespondence']}"
              }
            ]
          }
        },
        "check_if__contact_language_is_null": {
          "actions": {
            "Set_variable_set_language_to_english": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "424cc111-ee2e-411b-95f1-56cd7b0c8997"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Language",
                "value": "918640001"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_SiteRemoveWarnning": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(trim(variables('Language')))",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "04cbdb0a-9a6d-4a06-ba70-c4e67bd5e67c"
          },
          "type": "If"
        },
        "Error_flag": {
          "runAfter": {
            "Initialize_variable_LanguageCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af9c01db-59f3-46fa-826e-e24fc2c82cca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsErrorFree",
                "type": "boolean",
                "value": "@true"
              }
            ]
          }
        },
        "Row_Number_vailable": {
          "runAfter": {
            "Initialize_variable_Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "396871f6-9db7-4572-ac20-9b39cc12d51a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RowNumber",
                "type": "integer",
                "value": 3
              }
            ]
          }
        },
        "Error_List_Variable": {
          "runAfter": {
            "Row_Number_vailable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a10a3b39-9550-46b6-b00c-75dd826be0a2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Error_List",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_Environment_folder_variable": {
          "runAfter": {
            "Error_List_Variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc5c3dd6-8d62-49cb-befd-838a6faaacca"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Environment_Folder",
                "type": "string",
                "value": "@{body('Filter_environment-CID_Flow_Environment_Folder')[0]['qm_value']}"
              }
            ]
          }
        },
        "Filter_environment-CID_Flow_Environment_Folder": {
          "runAfter": {
            "get-environment-settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e744065-88c2-4338-956b-7400a9256a6e"
          },
          "type": "Query",
          "inputs": {
            "from": "@outputs('get-environment-settings')?['body/value']",
            "where": "@equals(item()?['qm_name'], 'CID_Flow_Environment_Folder')"
          }
        },
        "Get_Bulk_Upload_Messages": {
          "runAfter": {
            "define_extended_columns_in_excel_sheet_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e6ba2658-3ccd-4e8b-9e91-5ff910d21c81"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "annotations",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"annotation\">\n<attribute name=\"subject\"/>\n<attribute name=\"notetext\"/>\n<attribute name=\"filename\"/>\n<attribute name=\"documentbody\"/>\n<attribute name=\"annotationid\"/>\n<order attribute=\"subject\" descending=\"false\"/>\n<link-entity name=\"adx_webfile\" from=\"adx_webfileid\" to=\"objectid\" link-type=\"inner\" alias=\"ab\">\n<filter type=\"and\">\n<condition attribute=\"adx_name\" operator=\"eq\" value=\"Sites_Bulk_Upload_Messages\"/>\n</filter>\n</link-entity>\n</entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Bulk-Messages-From-webFile": {
          "runAfter": {
            "Get_Bulk_Upload_Messages": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddf0f80b-60bc-48e8-acae-bbbf45c463c5"
          },
          "type": "Compose",
          "inputs": "@base64ToString(outputs('Get_Bulk_Upload_Messages')?['body/value'][0]['documentbody'])"
        },
        "Parse_JSON_Messages_From_Web": {
          "runAfter": {
            "Bulk-Messages-From-webFile": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62b7748b-a94f-4e8e-8870-77fadef79885"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Bulk-Messages-From-webFile')",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "Eng-Message": {
                    "type": "string"
                  },
                  "Fr-Message": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "order": {
                    "type": "string"
                  },
                  "MessageType": {
                    "type": "string"
                  },
                  "SheetNameInEnglish": {
                    "type": "string"
                  },
                  "SheetNameInFrench": {
                    "type": "string"
                  },
                  "ErrorLog": {
                    "type": "string"
                  }
                },
                "required": [
                  "code",
                  "Eng-Message",
                  "Fr-Message",
                  "id",
                  "order",
                  "MessageType",
                  "SheetNameInEnglish",
                  "SheetNameInFrench",
                  "ErrorLog"
                ]
              }
            }
          }
        },
        "Initialize_variable_LanguageCode": {
          "runAfter": {
            "Parse_JSON_Messages_From_Web": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6242064e-36ce-42ef-b72c-2a48e9250e8b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LanguageCode",
                "type": "integer",
                "value": 1033
              }
            ]
          }
        },
        "Initialize_variable_SiteRemoveWarnning": {
          "runAfter": {
            "Initialize_Environment_folder_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "507975a6-9d19-49f8-91b2-5ef4e8e6414d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SiteRemoveWarnning",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}