Solutions/TDGFlow/unpack/Workflows/TDGInspections-WorkOrderRevisedQuarterRequestviaAc-FFEDF481-AEAE-EB11-8236-000D3AE91CE1.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_revised_quarter_request_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"ovs_revisedquarterrequest","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_Base_Work_Order_URL":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Base Work Order URL","type":"string","value":"https://rom-dev-tcd365.crm3.dynamics.com/main.aspx?appid=692b6903-2003-eb11-a813-000d3af3a7a7&pagetype=entity&etn=msdyn_workorder&id="}]}},"Initialize_Revised_Quarter_Requested_Substatus_GUID":{"runAfter":{"Initialize_Base_Work_Order_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Revised Quarter Requested GUID","type":"string","value":"45b50d4e-4836-eb11-a813-000d3af3a7a7"}]}},"Initialize_Approval_Result":{"runAfter":{"Initialize_Revised_Quarter_Requested_Substatus_GUID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approval Result","type":"string","value":"Rejected"}]}},"Get_Related_Work_Order":{"runAfter":{"Initialize_Approval_Result":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@triggerOutputs()?['body/_regardingobjectid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Owner_of_Revised_Quarter_Request":{"runAfter":{"Get_Related_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Work_Order_Owner":{"runAfter":{"Get_Owner_of_Revised_Quarter_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Related_Work_Order')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Update_Substatus_of_Work_Order":{"runAfter":{"Get_Owner's_Manager":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@outputs('Get_Related_Work_Order')?['body/msdyn_workorderid']","item/msdyn_substatus@odata.bind":"msdyn_workordersubstatuses(@{variables('Revised Quarter Requested GUID')})"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Update_Substatus_of_Work_Order":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Work Order @{outputs('Get_Related_Work_Order')?['body/msdyn_name']} - Revised Quarter Request","WebhookApprovalCreationInput/assignedTo":"@{outputs('Get_Owner''s_Manager')?['body/internalemailaddress']};","WebhookApprovalCreationInput/details":"*Rational*:  @{triggerOutputs()?['body/_ovs_bookingdiscrepancyrational_label']}\n*Comments*: @{triggerOutputs()?['body/ovs_notes']}","WebhookApprovalCreationInput/itemLink":"@{variables('Base Work Order URL')}@{outputs('Get_Related_Work_Order')?['body/msdyn_workorderid']}","WebhookApprovalCreationInput/itemLinkDescription":"Click here to view Work Order","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Approval_Response":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_Revised_Quarter_Request_as_Note":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Revised Quarter Request - @{triggerOutputs()?['body/ovs_bookingdiscrepancyrational']} - @{items('Apply_to_each_Approval_Response')?['approverResponse']}","item/notetext":"To: @{outputs('Get_Owner_of_Revised_Quarter_Request')?['body/firstname']} @{outputs('Get_Owner_of_Revised_Quarter_Request')?['body/lastname']}\nFrom: @{outputs('Get_Work_Order_Owner')?['body/firstname']} @{outputs('Get_Work_Order_Owner')?['body/lastname']}\nComments: @{items('Apply_to_each_Approval_Response')?['comments']}","item/objectid_msdyn_workorder@odata.bind":"msdyn_workorders(@{outputs('Get_Related_Work_Order')?['body/msdyn_workorderid']})"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_Approval_Result_-_Approved":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Approval Result","value":"Approved"}}},"runAfter":{"Create_a_Revised_Quarter_Request_as_Note":["Succeeded"]},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"Foreach"},"Check_if_Approval_Response_is_equal_to_Approved":{"actions":{"Update_Work_Order_with_Revised_Quarter":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@outputs('Get_Related_Work_Order')?['body/msdyn_workorderid']","item/ovs_RevisedQuarterId@odata.bind":"/quotes/@{triggerOutputs()?['body/_ovs_revisedquarter_value']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_Approval_Response":["Succeeded"]},"expression":{"equals":["@variables('Approval Result')","Approved"]},"type":"If"},"Unrelate_Revised_Quarter_Requested_Substatus_from_Work_Order":{"runAfter":{"Check_if_Approval_Response_is_equal_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workordersubstatuses","recordId":"@variables('Revised Quarter Requested GUID')","associationEntityRelationship":"msdyn_msdyn_workordersubstatus_msdyn_workorder_Status","$id":"@outputs('Update_Work_Order_with_Revised_Quarter')?['body/msdyn_workorderid']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Owner_of_Revised_Quarter_Request')?['body/internalemailaddress']","emailMessage/Subject":"Request for Revised Quarter @{variables('Approval Result')}","emailMessage/Body":"<p>Work Order @{outputs('Update_Work_Order_with_Revised_Quarter')?['body/msdyn_name']} has been @{variables('Approval Result')} for Cancellation<br>\n<br>\nComments: @{items('Apply_to_each')?['comments']}<br>\n<br>\n@{variables('Base Work Order URL')}@{outputs('Get_Related_Work_Order')?['body/msdyn_workorderid']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Change_Activity_Status_to_closed":["Succeeded"]},"type":"Foreach"},"Change_Activity_Status_to_closed":{"runAfter":{"Unrelate_Revised_Quarter_Requested_Substatus_from_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ovs_revisedquarterrequests","recordId":"@triggerOutputs()?['body/activityid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Get_Owner's_Manager":{"runAfter":{"Get_Work_Order_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Work_Order_Owner')?['body/_parentsystemuserid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}