Solutions/TDGFlow/unpack/Workflows/TDGInspections-NoticeOfDirectionToRemedyNon-Compli-0F89ABA9-98AF-EB11-8236-000D3AE8B65A.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_wordonlinebusiness_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_wordonlinebusiness"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"dynamicscrmonline.organizationName":{"defaultValue":"","type":"String"},"dynamicscrmonline.entityName":{"defaultValue":"","type":"String"},"Notice of Direction to Remedy Non Compliance EN":{"defaultValue":"-NDRNC-AOPMC-","type":"String","metadata":{"schemaName":"ovs_NoticeofDirectiontoRemedyNonComplianceEN"}}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ovs_cyaction","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode,statecode"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerOutputs()?['body/ovs_actiontype'],918640001)"}]}},"actions":{"Get_file_content":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fGeneral%252fIIS%2bReports%252fFoxPro%2bVersion%2bof%2bIIS%2bCompleted%2bRail%2bReport%2b-%2bRDIMS-%25237082637-v1-50030-2011-07-20-CANADIAN_NATIONAL_RAILWAY-COMPLIANCE_INSPECTION.pdf":"/Shared Documents/General/IIS Reports/FoxPro Version of IIS Completed Rail Report - RDIMS-#7082637-v1-50030-2011-07-20-CANADIAN_NATIONAL_RAILWAY-COMPLIANCE_INSPECTION.pdf","%252fShared%2bDocuments%252fInspection%2bReport%2bTemplates%252fSA_NOTICE_OF_DIRECTION.doc":"/Shared Documents/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.doc","%252fShared%2bDocuments%252fInspection%2bReport%2bTemplates%252fSA_NOTICE_OF_DIRECTION.docx":"/Shared Documents/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","%252fShared%2bDocuments%252fInspection%2bReport%2bTemplates%252fSA_NOTICE_OF_DIRECTION_REVISED.docx":"/Shared Documents/Inspection Report Templates/SA_NOTICE_OF_DIRECTION_REVISED.docx","%252fShared%2bDocuments%252fInspection%2bReport%2bTemplates%252fNOTICE_OF_DIRECTION_TO_REMEDY_NON-COMPLIANCE.docx":"/Shared Documents/Inspection Report Templates/NOTICE_OF_DIRECTION_TO_REMEDY_NON-COMPLIANCE.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","id":"%252fShared%2bDocuments%252fInspection%2bReport%2bTemplates%252fNOTICE_OF_DIRECTION_TO_REMEDY_NON-COMPLIANCE.docx","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Populate_a_Microsoft_Word_template":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","folderPath":"/Shared Documents/Inspection Report Templates/Temp","name":"@{variables('FileName')}.docx","body":"@base64(outputs('Populate_a_Microsoft_Word_template')?['body'])"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_Word_Document_to_PDF":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness_1","operationId":"GetFilePDF","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"/Inspection Report Templates/Temp/@{outputs('Create_file')?['body/Name']}"},"authentication":"@parameters('$authentication')"}},"Delete_file":{"runAfter":{"Create_Note_on_Work_Order":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DeleteFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://034gc.sharepoint.com/sites/SamuraiTeam","id":"@outputs('Create_file')?['body/Id']"},"authentication":"@parameters('$authentication')"}},"Populate_a_Microsoft_Word_template":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"01QZYBJ7D7WBS5TYFRDBFJATRQHL6XCCML":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","01QZYBJ7DTQ2GUAAHEAJAITVFVVFDUTBGI":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","01QZYBJ7GFZLBSXRBVQNBKOGXWPX5RXECQ":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","01QZYBJ7F4ZXWRC5UCRBDIFFIY2UL4GH62":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","01QZYBJ7ERBOETFHDABRDZ2B7MGMOC6OSB":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION.docx","01QZYBJ7BNM2HRCH43WVHISSOI37TPHJG6":"/Inspection Report Templates/SA_NOTICE_OF_DIRECTION_REVISED.docx","01QZYBJ7DPRAZQ6TC7VJEKOL5EIQG4RHBO":"/Inspection Report Templates/NOTICE_OF_DIRECTION_TO_REMEDY_NON-COMPLIANCE.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness_1","operationId":"CreateFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"sites/034gc.sharepoint.com,140da73b-4423-4443-a812-e623d6d857c4,f2a2589e-2eec-4642-9280-443640f88211","drive":"b!O6cNFCNEQ0SoEuYj1thXxJ5YovLsLkJGkoBENkD4ghHOwr7dpePzS7BlI7DR0NOV","file":"01QZYBJ7DPRAZQ6TC7VJEKOL5EIQG4RHBO","dynamicFileSchema/220326055":"@triggerOutputs()?['body/ovs_designatedperson']","dynamicFileSchema/690186090":"@variables('closingInspectorBadge')","dynamicFileSchema/878509874":"@variables('closingInspectorTitle')","dynamicFileSchema/1134297212":"@{outputs('Get_Inspector_Details')?['body/firstname']} @{outputs('Get_Inspector_Details')?['body/lastname']}","dynamicFileSchema/1171604637":"@outputs('Get_Inspector_Details')?['body/address1_fax']","dynamicFileSchema/1223643435":"@outputs('Get_Work_Order_Details')?['body/msdyn_name']","dynamicFileSchema/1227957053":"  @{variables('closingInspectorName')}","dynamicFileSchema/1563210458":"@variables('ReleaseDate')","dynamicFileSchema/1566602880":"@body('Get_Inspector_Details')?['systemuser_bookableresource_UserId'][0]['ovs_registeredinspectornumberrin']","dynamicFileSchema/1566754733":"@triggerOutputs()?['body/ovs_noncompliancedetailstxt']","dynamicFileSchema/1573465195":"@{outputs('Get_Work_Order_Details')?['body/msdyn_city']}, @{outputs('Get_Work_Order_Details')?['body/msdyn_stateorprovince']}","dynamicFileSchema/1854989054":"@variables('RevocationText')","dynamicFileSchema/1895389775":"@outputs('Get_Primary_Contact_For_Account')?['body/primarycontactid/fullname']","dynamicFileSchema/1976571402":"@variables('LocalTime')","dynamicFileSchema/-2097462769":"@triggerOutputs()?['body/ovs_actionnumber']","dynamicFileSchema/-1395809158":"@outputs('Get_Primary_Contact_For_Account')?['body/ovs_legalname']","dynamicFileSchema/-745960806":"@{outputs('Get_Primary_Contact_For_Account')?['body/address1_line1']} @{outputs('Get_Primary_Contact_For_Account')?['body/address1_city']} @{outputs('Get_Primary_Contact_For_Account')?['body/address1_stateorprovince']} @{outputs('Get_Primary_Contact_For_Account')?['body/address1_postalcode']}","dynamicFileSchema/-1713186279":"@outputs('Get_Primary_Contact_For_Account')?['body/primarycontactid/emailaddress1']","dynamicFileSchema/-183747007":"@outputs('Get_Primary_Contact_For_Account')?['body/primarycontactid/telephone1']","dynamicFileSchema/-1755352695":"@outputs('Get_Primary_Contact_For_Account')?['body/primarycontactid/fax']","dynamicFileSchema/-761756268":"@outputs('Get_Inspector_Details')?['body/title']","dynamicFileSchema/-502672078":"@outputs('Get_Inspector_Details')?['body/address1_composite']","dynamicFileSchema/-848561687":"@outputs('Get_Inspector_Details')?['body/internalemailaddress']","dynamicFileSchema/-935824125":"@outputs('Get_Inspector_Details')?['body/address1_telephone1']","dynamicFileSchema/-1742393533":"@formatDateTime(triggerOutputs()?['body/ovs_actiondate'],'dd-MMM-yyyy')","dynamicFileSchema/-1755735195":"@body('Get_Inspector_Details')?['systemuser_bookableresource_UserId'][0]['ovs_badgenumber']","dynamicFileSchema/-1208326396":"@triggerOutputs()?['body/ovs_designatedpersontitle']","dynamicFileSchema/-2058928123":"@variables('DirectionText')","dynamicFileSchema/-43916254":"@variables('closingInspectorRINN')"},"authentication":"@parameters('$authentication')"}},"Get_Inspector_Details":{"runAfter":{"Get_Primary_Contact_For_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Work_Order_Details')?['body/_ownerid_value']","$select":"firstname,lastname,internalemailaddress,address1_composite,address2_telephone1,address1_telephone1,address1_postalcode,address1_fax,title","$expand":"systemuser_bookableresource_UserId($select=ovs_registeredinspectornumberrin,ovs_badgenumber)"},"authentication":"@parameters('$authentication')"}},"Create_Note_on_Work_Order":{"runAfter":{"Convert_Word_Document_to_PDF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Notice Of Direction To Remedy Non-Compliance","item/isdocument":true,"item/documentbody":"@base64(outputs('Convert_Word_Document_to_PDF')?['body'])","item/filename":"@{variables('FileName')}.pdf","item/objectid_msdyn_workorder@odata.bind":"/msdyn_workorders/@{outputs('Get_Work_Order_Details')?['body/msdyn_workorderid']}"},"authentication":"@parameters('$authentication')"}},"Get_Work_Order_Details":{"runAfter":{"Init_-_Violations_Array":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_workorders","recordId":"@triggerOutputs()?['body/_regardingobjectid_value']","$expand":"msdyn_serviceaccount($select=name,emailaddress1,telephone1,_primarycontactid_value,fax,address1_composite;$expand=primarycontactid($select=fullname))"},"authentication":"@parameters('$authentication')"}},"Get_List_of_Violations":{"runAfter":{"Init_-_Designated_Person_Title":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"qm_syresults","$select":"qm_violationcount,qm_externalcomments","$filter":"_qm_workorderid_value eq '@{outputs('Get_Work_Order_Details')?['body/msdyn_workorderid']}'","$expand":"qm_rclegislationId($select=qm_name)"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_List_of_Violations')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"ViolationsArray","value":{"ViolationName":"@items('Apply_to_each')?['qm_rclegislationid/qm_name']","ViolationCount":"@items('Apply_to_each')?['qm_violationcount']","ExternalComment":"@items('Apply_to_each')?['qm_externalcomments']"}}}},"runAfter":{"Get_List_of_Violations":["Succeeded"]},"type":"Foreach"},"Init_-_Designated_Person_Name":{"runAfter":{"Condition":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DesignatedPersonName","type":"string"}]}},"Init_-_Designated_Person_Title":{"runAfter":{"Init_-_Designated_Person_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DesignatedPersonTitle","type":"string"}]}},"Init_-_Direction_Text":{"runAfter":{"Continue_If_Status_Is_Active_Or_Confirmation_Received_On_Time":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DirectionText","type":"string"}]}},"Init_-_Violations_Array":{"runAfter":{"If_Status_is_Active":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ViolationsArray","type":"array"}]}},"Init_-_Revocation_Text":{"runAfter":{"Init_-_Direction_Text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RevocationText","type":"string"}]}},"If_Status_is_Active":{"actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"DirectionText","value":"@triggerOutputs()?['body/ovs_directiontxt']"}}},"runAfter":{"Get_Closing_Inspector_Details":["Succeeded"]},"else":{"actions":{"If_Status_Reason_is_Confirmation_Received_On_Time":{"actions":{"Set_Revocation_Text":{"runAfter":{},"type":"SetVariable","inputs":{"name":"RevocationText","value":"@triggerOutputs()?['body/ovs_revocationjustificationtxt']"}},"Set_Direction_Text":{"runAfter":{"Set_Revocation_Text":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DirectionText","value":"@triggerOutputs()?['body/ovs_directiontxt']"}},"Set_Closing_Inspector_Name":{"runAfter":{"Set_Direction_Text":["Succeeded"]},"type":"SetVariable","inputs":{"name":"closingInspectorName","value":" @{outputs('Get_Closing_Inspector_Details')?['body/firstname']} @{outputs('Get_Closing_Inspector_Details')?['body/lastname']}"}},"Set_Closing_Inspector_Badge":{"runAfter":{"Set_Closing_Inspector_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"closingInspectorBadge","value":"@{body('Get_Closing_Inspector_Details')?['systemuser_bookableresource_UserId'][0]['ovs_badgenumber']}"}},"Set_Closing_Inspector_RINN":{"runAfter":{"Set_Closing_Inspector_Badge":["Succeeded"]},"type":"SetVariable","inputs":{"name":"closingInspectorRINN","value":"@{body('Get_Closing_Inspector_Details')?['systemuser_bookableresource_UserId'][0]['ovs_registeredinspectornumberrin']}"}},"Set_Closing_Inspector_Title":{"runAfter":{"Set_Closing_Inspector_RINN":["Succeeded"]},"type":"SetVariable","inputs":{"name":"closingInspectorTitle","value":"@outputs('Get_Closing_Inspector_Details')?['body/title']"}},"Set_LocalTime":{"runAfter":{"Set_Closing_Inspector_Title":["Succeeded"]},"type":"SetVariable","inputs":{"name":"LocalTime","value":"@{formatDateTime(triggerOutputs()?['body/ovs_localtime'], 'HH:mm:ss')}"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",918640000]},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",4]},"type":"If"},"Get_Closing_Inspector_Details":{"runAfter":{"Init_-_LocalTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_modifiedby_value']","$select":"firstname,lastname,internalemailaddress,address1_composite,address2_telephone1,address1_telephone1,address1_postalcode,address1_fax,title","$expand":"systemuser_bookableresource_UserId($select=ovs_registeredinspectornumberrin,ovs_badgenumber)"},"authentication":"@parameters('$authentication')"}},"Init_-_closingInspectorName":{"runAfter":{"Init_-_Revocation_Text":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"closingInspectorName","type":"string"}]}},"Init_-_closingInspectorBadge":{"runAfter":{"Init_-_closingInspectorName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"closingInspectorBadge","type":"string"}]}},"Init_-_closingInspectorRINN":{"runAfter":{"Init_-_closingInspectorTitle":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"closingInspectorRINN","type":"string"}]}},"Condition":{"actions":{"Set_Release_Date":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ReleaseDate","value":"@triggerOutputs()?['body/ovs_releasedate']"}}},"runAfter":{"Get_Inspector_Details":["Succeeded"]},"expression":{"greater":["@length(body('Get_Closing_Inspector_Details')?['systemuser_bookableresource_UserId'])",0]},"type":"If"},"Init_-_File_Name":{"runAfter":{"Init_-_closingInspectorRINN":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FileName","type":"string","value":"@{triggerOutputs()?['body/ovs_actionnumber']}@{parameters('Notice of Direction to Remedy Non Compliance EN')}@{formatDateTime(utcNow(),'ddMMyyyyhhmmfff')}"}]}},"Continue_If_Status_Is_Active_Or_Confirmation_Received_On_Time":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate_2":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/statuscode']",918640000]},{"equals":["@triggerOutputs()?['body/statuscode']",4]}]},"type":"If"},"Get_Primary_Contact_For_Account":{"runAfter":{"Get_Work_Order_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Work_Order_Details')?['body/_msdyn_serviceaccount_value']","$select":"name,emailaddress1,accountid,address1_line1,address1_city,address1_postalcode,ovs_legalname,address1_stateorprovince","$expand":"primarycontactid($select=jobtitle,fullname,emailaddress1,telephone1,fax)"},"authentication":"@parameters('$authentication')"}},"Init_-_Release_Date":{"runAfter":{"Init_-_File_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ReleaseDate","type":"string"}]}},"Init_-_LocalTime":{"runAfter":{"Init_-_Release_Date":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"LocalTime","type":"string"}]}},"Init_-_closingInspectorTitle":{"runAfter":{"Init_-_closingInspectorBadge":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"closingInspectorTitle","type":"string"}]}}}}},"schemaVersion":"1.0.0.0"}